<div [formGroup]="forgotForm" *ngIf="currentStep == Steps.general">
  <div class="dialog-header">
    <div class="modal-header-step-two">
      <div (click)="goToLoginWithEmail()" class="icon-control back-margin">
        <img class="close-button" src="assets/icons/arrow-back.svg" alt="" />
      </div>
      <h2 class="heading-2">{{ 'forgot-forgot-your-password' | translate }}</h2>
    </div>
    <div (click)="closeModal()" class="icon-control">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
    <div class="dialog-sub-title">
      <p class="paragraph-small">{{ 'forgot-forgot-subheader' | translate }}</p>
    </div>
  </div>
  <div class="dialog-body">
    <div class="phone-number-container">
      <div
        [ngClass]="{
          'phone-number-error':
            forgotForm.controls.phoneNumber.getError('errorPhone') || forgotForm.controls.phoneNumber.getError('exist')
        }"
        class="phone-number"
      >
        <app-phone-code-select
          [options]="phoneCodes"
          formControlName="phoneCode"
          appendTo="body"
        ></app-phone-code-select>
        <p class="paragraph-regular code-phone">+ {{ forgotForm?.value?.phoneCode?.phone_code }}</p>
        <input
          appNumeric
          numericType="number"
          [ngClass]="{
            'icon-input-error':
              forgotForm.controls.phoneNumber.getError('errorPhone') ||
              forgotForm.controls.phoneNumber.getError('exist')
          }"
          formControlName="phoneNumber"
          (blur)="blurPhone()"
          (input)="sanitizePhoneNumber()"
          class="input input-def input-margin"
          type="text"
          placeholder="{{ 'register-modal-your-phone' | translate }}"
        />
      </div>
      <p *ngIf="forgotForm.controls.phoneNumber.getError('errorPhone') == true" class="paragraph-small error-lable">
        {{ 'phone-rule' | translate }}
      </p>
      <p *ngIf="forgotForm.controls.phoneNumber.getError('notExist') == true" class="paragraph-small error-lable">
        {{ 'phone-does-not-exist' | translate }}
      </p>
    </div>

    <button (click)="forgot()" class="btn-large btn-def">{{ 'forgot-confirm' | translate }}</button>
  </div>
  <div class="dialog-footer dialog-footer--justify-center">
    <p class="paragraph-small">{{ 'forgot-remember-password' | translate }} &nbsp;</p>
    <a class="link" (click)="goToLoginWithEmail()" [routerLink]="">{{ 'forgot-modal-go-back' | translate }}</a>
  </div>
</div>

<div *ngIf="currentStep == Steps.confEmail">
  <div class="dialog-header">
    <div class="modal-header-step-two">
      <div (click)="goToGeneralStep()" class="icon-control back-margin">
        <img class="close-button" src="assets/icons/arrow-back.svg" alt="" />
      </div>
      <h2 class="heading-2">{{ 'forgot-modal-heading-step-conf-email' | translate }}</h2>
    </div>
    <div (click)="closeModal()" class="icon-control">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>

    <div class="dialog-sub-title">
      <p
        class="paragraph-small"
        [innerHTML]="
          'forgot-modal-conf-phone'
            | translate: { phoneCode: forgotForm.value.phoneCode.phone_code, phoneNumber: forgotForm.value.phoneNumber }
        "
      ></p>
    </div>
  </div>

  <div class="dialog-body">
    <div class="input-icon-container">
      <div
        [ngClass]="{ 'icon-input-error': codeInput.getError('required') || codeInput.getError('invalid') }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{ 'input-error': codeInput.getError('required') || codeInput.getError('invalid') }"
        (blur)="blurCode()"
        [(ngModel)]="code"
        class="input input-margin"
        type="text"
        placeholder="{{ 'register-code' | translate }}"
      />
      <p *ngIf="codeInput.getError('required') == true" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
      <p *ngIf="codeInput.getError('invalid') == true" class="paragraph-small error-lable">
        {{ 'register-code-invalid' | translate }}
      </p>
    </div>

    <div class="input-icon-container">
      <div
        [ngClass]="{ 'icon-input-error': passwordInput.getError('passwordError') }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{ 'input-error': passwordInput.getError('passwordError') }"
        (blur)="blurPassword()"
        [(ngModel)]="forgotInfo['password']"
        class="input input-margin"
        type="password"
        placeholder="{{ 'register-modal-your-password' | translate }}"
      />
      <p *ngIf="passwordInput.getError('passwordError') == true" class="paragraph-small error-lable">
        {{ 'pass-rule' | translate }}
      </p>
    </div>
    <div class="input-icon-container">
      <div
        [ngClass]="{ 'icon-input-error': repasswordInput.getError('passwordError') }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{ 'input-error': repasswordInput.getError('passwordError') }"
        (blur)="blurRepassword()"
        [(ngModel)]="forgotInfo['repassword']"
        class="input input-margin"
        type="password"
        placeholder="{{ 'register-modal-your-repassword' | translate }}"
      />
      <p *ngIf="repasswordInput.getError('passwordError') == true" class="paragraph-small error-lable">
        {{ 'pass-difference' | translate }}
      </p>
    </div>

    <div
      class="resend-button"
      [ngClass]="{
        'resend-button-disabled': resendTimer > 0
      }"
      (click)="resendConfirmCode()"
    >
      {{ 'registration-resend-code' | translate }}
      <ng-container *ngIf="resendTimer > 0">({{ resendTimer }}{{ 'short-symbol-seconds' | translate }})</ng-container>
    </div>

    <button (click)="forgotChange()" class="btn-large btn-def">{{ 'forgot-confirm' | translate }}</button>
  </div>
  <div class="dialog-footer dialog-footer--justify-center">
    <p class="paragraph-small">{{ 'forgot-modal-not-your' | translate }} &nbsp;</p>
    <a class="link" (click)="goToGeneralStep()" [routerLink]="">{{ 'forgot-modal-go-back' | translate }}</a>
  </div>
</div>
