@import '../../../../../variables.scss';

.email-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 64px;
  margin-bottom: 16px;
}

.forgot-header-text {
  margin-top: 16px;
}

.modal-header-step-two {
  display: flex;

  .back-margin {
    margin-right: 18px;
    width: 29px;
    height: 29px;
  }
}

button {
  width: 100%;
  color: #ffffff;
}

.soc-g-button {
  background: #eb6960;
  border-radius: 3px;
}

.soc-fb-button {
  background: #4879b4;
  border-radius: 3px;
  margin-top: 16px;
}

.margin-bottom-input {
  margin-bottom: 25px;
}

.remember-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.email-conf {
  color: $color-brand-blue;
}

.input-icon-container {
  margin-bottom: 25px;
}

.phone-number-container {
  margin-bottom: 25px;

  .phone-number {
    display: flex;
    align-items: center;
    border: 2px solid $color-stroke;
    border-radius: 3px;
    max-height: 48px;

    .select-header {
      min-height: 44px !important;
      border-radius: 0 !important;
    }

    .code-phone {
      padding-left: 8px;
    }

    &:hover {
      border: 2px solid $color-stroke-hover;
    }

    input {
      margin: 0;
      border: 0;
    }
  }

  .phone-number-error {
    border: 2px solid $color-warn-red !important;

    .code-phone {
      border-left: 2px solid $color-warn-red !important;
    }
    input {
      color: $color-warn-red !important;
      &::placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }
    }
  }
}

.resend-button {
  padding-bottom: 16px;
  color: #186fda;
  font-weight: 600;
  cursor: pointer;

  &-disabled {
    color: rgba(#3e3e3e, 0.5);
    cursor: not-allowed;
  }
}