@import "../../../../variables.scss";

.product-card {
  display: flex;
  width: 100%;
  border-radius: 3px;
  border: 1px solid var(--light-gray, #F5F5F5);
  background: var(--pure-white, #FFF);
  box-shadow: 0 5px 20px 0 rgba(10, 55, 112, 0.05);

  padding: 16px;
  margin-bottom: 8px;

  @media (max-width: 480px) {
    flex-direction: column !important;

    .r-side {
      flex-direction: row-reverse !important;
      margin-top: 12px;
      .buyed-btn {
        margin-left: 12px;
      }
    }
  }

  .l-side,.r-side {
    display: flex;
    flex-direction: column;
  }

  .l-side {
    width: 100%;
    .title {
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;
      padding-bottom: 6px;

    }
    .sub-info {
      display: flex;
      padding-bottom: 6px;
      .separator {
        margin-left: 12px;
        margin-right: 12px;
        height: 100%;
        width: 1px;
        background-color: $color-light-gray;
      }
    }
  }

  .r-side {
    button {
      min-width: 80px;
      display: flex;
      float: right;
    }
    b {
      display: flex;
      justify-content: flex-end;
      margin-top: 6px;
    }
  }

  .buyed-btn {
    background-color: transparent;
    color: $color-text-black-trans-65;
    cursor: initial;

    b {
      min-width: 80px;
    }
  }

  .text-nowrap {
    text-wrap: nowrap;
  }
}
