<div *ngIf="type == productType.SUBSCRIPTIONS" class="product-card">
    <div class="l-side">
        <p class="title">{{data['title']}}</p>
        <div class="sub-info">
            <ng-container *ngIf="!enablePaymentMode">
                <span *ngIf="data['limit'] == -1">{{'unlimited' | translate}}</span>
                <span *ngIf="data['limit'] != -1">{{ data['limit'] }} {{ 'visits' | translate }}</span>
                <div class="separator"></div>
                <a (click)="emitDetails(data)" href="javascript:;">{{ 'sub-relations' | translate }}</a>
            </ng-container>
            <ng-container *ngIf="enablePaymentMode">
                <span>{{ 'used-visits' | translate }}: {{data['count']}}&ensp;/&ensp;</span>
                <span *ngIf="data['limit'] != -1">{{data['limit']}}</span>
                <span *ngIf="data['limit'] == -1">{{'unlimited' | translate}}</span>
            </ng-container>
        </div>
        <span *ngIf="data['description']" [innerText]="data['description'] | utf8decode"></span>
    </div>
    <div class="r-side">
        <div class="buyed-btn" *ngIf="enablePurchase && !enablePaymentMode">
            <ng-container *ngIf="!clientProducts.includes(data['id'])">
                <span *ngIf="!data['online_sale']" class="buyed-btn" style="text-align: right"><b>{{'p-online-sale-disabled' | translate}}</b></span>
                <button *ngIf="data['online_sale']" (click)="emitSelect(data)" class="btn-regular btn-positive">{{'buy' | translate}}</button>
            </ng-container>
        </div>
        <div class="buyed-btn" *ngIf="enablePaymentMode && !enablePurchase">
            <button (click)="emitSelect(data)" class="btn-regular btn-positive">{{'select' | translate}}</button>
        </div>
        <span *ngIf="clientProducts.includes(data['id'])" class="buyed-btn"><b>{{'p-purchased' | translate}}</b></span>
        <b *ngIf="data['price'] >= 0" class="text-nowrap">{{(data['price']) ? data['price']/100 + ' ' + data['currency'] : 'free' | translate}}</b>
    </div>
</div>

<div *ngIf="type == productType.COURSE && Object.keys(data).length" class="product-card">
    <div class="l-side">
        <p *ngIf="!data?.is_onetime_payment" class="title">{{data['title']}}</p>
        <p *ngIf="data?.is_onetime_payment" class="title">{{data['title'] | translate }}</p>
        <div *ngIf="!enablePaymentMode" class="sub-info">
            <span *ngIf="data['limit'] != -1">{{ data['limit'] }} {{ 'sessions' | translate }}</span>
            <div class="separator"></div>
            <a (click)="emitDetails(data)" href="javascript:;">{{ 'course-relations' | translate }}</a>
        </div>
        <ng-container *ngIf="enablePaymentMode && data['limit']">
            <span>{{ 'used-visits' | translate }}: {{data['count']}} / {{data['limit']}}</span>
        </ng-container>
        <span *ngIf="data['description'] && !data?.is_onetime_payment">{{data['description'] | utf8decode}}</span>
        <span *ngIf="data['description'] && data?.is_onetime_payment">{{data['description'] | translate}}</span>
    </div>
    <div class="r-side">
        <div class="buyed-btn" *ngIf="enablePurchase && !enablePaymentMode">
            <ng-container *ngIf="!clientProducts.includes(data['id'])">
                <span *ngIf="!data['online_sale']" class="buyed-btn" style="text-align: right"><b>{{'p-online-sale-disabled' | translate}}</b></span>
                <button *ngIf="data['online_sale']" (click)="emitSelect(data)" class="btn-regular btn-positive">{{'buy' | translate}}</button>
            </ng-container>
        </div>
        <div class="buyed-btn" *ngIf="enablePaymentMode && !enablePurchase">
            <button (click)="emitSelect(data)" class="btn-regular btn-positive">{{'select' | translate}}</button>
        </div>
        <span *ngIf="clientProducts.includes(data['id'])" class="buyed-btn"><b>{{'p-purchased' | translate}}</b></span>
        <b *ngIf="data['price'] >= 0" class="text-nowrap">{{(data['price']) ? data['price']/100 + ' ' + data['currency'] : 'free' | translate}}</b>
    </div>
</div>
