<div [formGroup]="registerForm">
  <div class="block-wrapper">
    <!-- Имя -->
    <app-input
      formControlName="name"
      [placeholder]="'register-modal-your-name' | translate"
      [icon]="'profile'"
      [iconPosition]="'left'"
      [errors]="isSubmitted ? registerForm.get('name').errors : null"
    ></app-input>

    <!-- Фамилия -->
    <app-input
            formControlName="surname"
            [placeholder]="'register-modal-your-surname' | translate"
            [icon]="'profile'"
            [iconPosition]="'left'"
            [errors]="isSubmitted ? registerForm.get('surname').errors : null"
    ></app-input>

    <!-- Номер телефона -->
    <div class="phone-number-container">
      <div
        [ngClass]="{
          'phone-number-error':
            registerForm.get('phoneNumber').getError('phone-rule') ||
            registerForm.get('phoneNumber').getError('phone-used')
        }"
        class="phone-number"
      >
        <app-phone-code-select
          [options]="phoneCodes"
          formControlName="phoneCode"
          appendTo="body"
        ></app-phone-code-select>
        <p class="paragraph-regular code-phone">{{ registerForm.get('phoneCode').value?.phone_code }}</p>
        <input
          type="number"
          [ngClass]="{
            'icon-input-error':
              registerForm.get('phoneNumber').getError('phone-rule') ||
              registerForm.get('phoneNumber').getError('phone-used')
          }"
          formControlName="phoneNumber"
          class="input input-def input-margin"
          placeholder="{{ 'register-modal-your-phone' | translate }}"
        />
      </div>
      <p *ngIf="registerForm.get('phoneNumber').getError('phone-rule') == true" class="paragraph-small error-lable">
        {{ 'phone-rule' | translate }}
      </p>
      <p *ngIf="registerForm.get('phoneNumber').getError('phone-used') == true" class="paragraph-small error-lable">
        {{ 'phone-used' | translate }}
      </p>
    </div>

    <!-- Эл. почта -->
    <app-input
      formControlName="email"
      [placeholder]="'register-modal-your-email' | translate"
      [icon]="'email'"
      [iconPosition]="'left'"
      [errors]="isSubmitted && registerForm.get('email').errors"
    ></app-input>

    <!-- Пароль -->
    <app-input
      formControlName="password"
      type="password"
      [placeholder]="'register-modal-your-password' | translate"
      [icon]="'password'"
      [iconPosition]="'left'"
      [errors]="isSubmitted && registerForm.get('password').errors"
    ></app-input>

    <!-- Чекбокс согласия с условиями использования -->
    <div class="mb-3">
      <div class="checkbox-container">
        <div class="checkbox" [ngClass]="{ 'checkbox-error': registerForm.get('iAgree').getError('apply-terms') }">
          <input type="checkbox" formControlName="iAgree" id="checkbox" />
          <label for="checkbox" class="icon-success icon-small icon-left"></label>
        </div>
        <label for="checkbox" class="paragraph-small"
          >{{ 'register-modal-i-agree' | translate }}
          <a class="link" href="https://bodywell.io/TermsOfUse.html">{{ 'register-modal-terms' | translate }}</a>
          {{ 'register-modal-and' | translate }}
          <a class="link" href="https://bodywell.io/PrivacyPolicy.html">{{
            'register-modal-privacy-policy' | translate
          }}</a></label
        >
      </div>
      <p *ngIf="registerForm.get('iAgree').getError('apply-terms') == true" class="paragraph-small error-lable">
        {{ 'apply-terms' | translate }}
      </p>
    </div>

    <button (click)="onSubmit()" class="btn-large btn-def">{{ 'register-modal-create-profile' | translate }}</button>
  </div>
  <div class="block-wrapper">
    <div class="flex justify-center">
      <span class="paragraph-small">{{ 'register-modal-have-account' | translate }} &nbsp;</span>
      <a class="link" (click)="goToLogin.emit()">{{ 'sign-in' | translate }}</a>
    </div>
  </div>
</div>
