<div [ngClass]="{ 'search-container-border': router.url == '/' }" class="search-container">
  <div [ngClass]="{ 'inputs-container-mini': mode == 2 }" class="inputs-container">
    <!-- <div (click)="toggleMenu()" [ngClass]="{'search-select-mini': mode == 2}" class="search-select">
      <span class="paragraph-regular">{{selectedTypeText | translate}}</span>
      <img [ngStyle]="{'transform': isShowMenu == true ? 'rotate(-180deg)' : 'rotate(0deg)'}"
        src="assets/icons/Select.svg" alt="">
      <div *ngIf="isShowMenu" class="custom-select-items paragraph-small">
        <div (click)="selectItemMenu(2)" class="custom-select-item">
          {{'search-services' | translate}}
        </div>
        <div (click)="selectItemMenu(1)" class="custom-select-item">
          {{'search-businesses' | translate}}
        </div>
        <div (click)="selectItemMenu(3)" class="custom-select-item">
          {{'search-specialists' | translate}}
        </div>
      </div>
    </div> -->
    <div #searchWrapper [ngClass]="{ 'search-input-container-mini': mode == 2 }" class="search-input-container">
      <img src="assets/icons/Search.svg" alt="" />
      <input
        [(ngModel)]="searchText"
        (input)="autocomplete()"
        type="text"
        (keydown.enter)="searchClick()"
        placeholder="{{ 'search-placeholder-services' | translate }} {{
          locationService.selectedLocation.city | translate
        }}, {{ locationService.selectedLocation.country | translate }}"
      />
      <div *ngIf="isShowAutocomplete" class="custom-select-items paragraph-small">
        <div *ngFor="let item of autocompleteItems" (click)="selectAutocompleteItem(item)" class="custom-select-item">
          {{ item }}
        </div>
      </div>
    </div>
    <!-- <div [ngClass]="{'search-input-location-container-mini': mode == 2}" class="search-input-location-container">
      <img src="assets/icons/Location.svg" alt="">
      <input #addresstext [(ngModel)]="autocompleteInput" type="text" placeholder="Choose location..." value="">
    </div> -->
    <!--<div (click)="toggleLocationMenu()" [ngClass]="{'search-select-mini': mode == 2}" class="search-select city-select">
      <span
        class="paragraph-regular city-label">{{ !selectedLocation['city'] ? ('search-placeholder-location' | translate) : selectedLocation['city'] + ', ' + selectedLocation['country']}}
      </span>
      <img [ngStyle]="{'transform': isShowMenu == true ? 'rotate(-180deg)' : 'rotate(0deg)'}"
        src="assets/icons/Select.svg" alt="">
      <div *ngIf="isShowLocationMenu" class="custom-select-items paragraph-small">
        <ng-container *ngFor="let item of locations">
          <div *ngFor="let city of item['cities']" (click)="selectLocationItemMenu(city, item['country'])"
            class="custom-select-item">
            {{city}}, {{item['country']}}
          </div>
        </ng-container>
      </div>
    </div>-->
  </div>
  <button (click)="searchClick()" [ngClass]="{ 'search-button-mini': mode == 2 }" class="search-button">
    {{ 'search-button' | translate }}
  </button>
</div>
