@import '../../../../../variables.scss';

.search-container {
    border-radius: 3px;
    display: flex;

    .search-button {
        background-color: $color-brand-blue;
        color: white;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        padding: 21px 57px 21px 57px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        margin-left: -1px;
        font-weight: 600;

        &:hover:enabled {
            background: $color-blue-hover;
            box-shadow: 0px 5px 10px rgba(47, 138, 251, 0.2);
        }
    
        &:active:enabled {
            background: $color-blue-pressed;
            box-shadow: 0px 5px 10px rgba(16, 96, 195, 0.2);
        }
    
        &:disabled, [disabled] {
            background: #EFEFEF;
            color: $color-text-black;
            opacity: 0.65;
            cursor: not-allowed;
        }
    }

    .search-button-mini {
        margin-left: 16px;
        padding: 12px 16px 12px 16px !important;
        border-radius: 3px;
    }

    .inputs-container {
        display: flex;
        background: white;
        box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        width: 100%;

        .city-select {
            width: 100% !important;
            display: flex;
            justify-content: space-between;

            .custom-select-items {
                max-height: 400px;
                overflow: auto;
                width: 100%;
            }
        }

        .search-select {
            position: relative;
            display: flex;
            align-items: center;
            padding: 21px 18px 21px 18px;
            // border-right: 1px solid $color-light-gray;
            cursor: pointer;
    
            span {
                margin-right: 8px;
            }

           
        }

        .search-select-mini {
            padding: 12px 18px 12px 18px !important;
        }
    
        .search-input-container {
            display: flex;
            align-items: center;
            border-right: 1px solid $color-light-gray;
            width: 100%;
            position: relative;
            // Эту штуку нужно поправить, она ломает поиск на странице результатов
            padding: 21px 18px 21px 18px;
            .custom-select-items {
                position: absolute;
                top: 66px;
                left: 0;
                background-color: white;
                border-radius: 3px;
                box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                min-width: 200px;
                z-index: 100;
                width: 100%;
            }
            input {
                outline:none;
                border: none;
                font-size: 16px;
                line-height: 24px;
                margin-right: 18px;
                color: $color-text-black;
                width: 100%;
    
                &::placeholder {
                    opacity: .65;
                }
            
                &:-ms-input-placeholder {
                    opacity: .65;
                }
            
                &:-ms-input-placeholder {
                    opacity: .65;
                }
            }
    
            img {
                margin-right: 18px;
            }
        }

        .search-input-container-mini {
            padding: 12px 18px 12px 18px !important;
        }
    
        .search-input-location-container {
            display: flex;
            align-items: center;
            border-right: 1px solid $color-light-gray;
            width: 100%;
            // Эту штуку нужно поправить, она ломает поиск на странице результатов
            padding: 21px 18px 21px 18px;

            input {
                outline:none;
                border: none;
                font-size: 16px;
                line-height: 24px;
                margin-right: 18px;
                color: $color-text-black;
                width: 100%;

                &::placeholder {
                    opacity: .65;
                }

                &:-ms-input-placeholder {
                    opacity: .65;
                }

                &:-ms-input-placeholder {
                    opacity: .65;
                }
            }
    
            img {
                margin-right: 18px;
            }
        }
        .search-input-location-container-mini {
            padding: 12px 18px 12px 18px !important;
        }
    }

    .inputs-container-mini {
        box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2) !important;
        border-radius: 3px !important;
    }
    
}

.search-container-border {
    border: 3px solid $color-pure-white-30;
}


@media only screen and (max-width: 1024px) {
    .search-container {
        flex-direction: column;
        border: 0px;

        .search-button {
            border-radius: 3px;
            margin-top: 16px;
            font-weight: 600;
         }
         .search-button-mini {
            margin-left: 0;
            padding: 21px 18px 21px 18px !important;
        }
       
        .inputs-container {
            flex-direction: column;
            border-radius: 3px;

            .search-select-mini {
                border: 0;
                border-bottom: 1px solid $color-light-gray;
                padding: 21px 18px 21px 18px !important;
            }

            .search-select {
                border-bottom: 1px solid $color-light-gray;
                display: flex;
                justify-content: space-between;
            }

            .search-input-container {
                border: 0;
                border-bottom: 1px solid $color-light-gray;
                width: 100% !important;
                
            }
            .search-input-container-mini {
                padding: 21px 18px 21px 18px !important;
            }
            .search-input-location-container-mini {
                padding: 21px 18px 21px 18px !important;
                border: 0;
            }
        }
        

    }
}

.city-label {
    white-space: nowrap;
}

.custom-select-items {
    position: absolute;
    top: 66px;
    left: 0;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
    min-width: 200px;
    z-index: 100;
}
.custom-select-item {
    padding: 16px;
    border-bottom: 1px solid $color-light-gray;
    &:hover {
        background-color: $color-bg-blue-dk;
    }
}