<div class="footer">
  <div class="top-level">
    <div class="container">
      <div class="content">
        <div class="left">
          <div (click)="toggleLanguageMenu()" id="language-menu" class="language-select">
            <img
              *ngIf="translate.currentLang == 'UA'"
              class="language-general-icon"
              src="assets/flags/145-ukraine.svg"
              alt=""
            />
            <img
              *ngIf="translate.currentLang == 'EN'"
              class="language-general-icon"
              src="assets/flags/226-united-states.svg"
              alt=""
            />
            <img
              *ngIf="translate.currentLang == 'FR'"
              class="language-general-icon"
              src="assets/flags/195-france.svg"
              alt=""
            />
            <img
              *ngIf="translate.currentLang == 'DE'"
              class="language-general-icon"
              src="assets/flags/162-germany.svg"
              alt=""
            />
            <p class="paragraph-small-accent-lightened">{{ translate.currentLang }}</p>
            <div *ngIf="isShowLanguageMenu" class="language-items">
              <div (click)="setLanguage('EN')" class="language-item">
                <div class="language-item-container">
                  <img src="assets/flags/226-united-states.svg" alt="" class="language-item-img" />
                  <p class="paragraph-small-accent-lightened">EN</p>
                </div>
              </div>
              <div (click)="setLanguage('UA')" class="language-last-item">
                <div class="language-item-container">
                  <img src="assets/flags/145-ukraine.svg" alt="" class="language-item-img" />
                  <p class="paragraph-small-accent-lightened">UA</p>
                </div>
              </div>
              <div (click)="setLanguage('FR')" class="language-last-item">
                <div class="language-item-container">
                  <img src="assets/flags/195-france.svg" alt="" class="language-item-img" />
                  <p class="paragraph-small-accent-lightened">FR</p>
                </div>
              </div>
              <div (click)="setLanguage('DE')" class="language-last-item">
                <div class="language-item-container">
                  <img src="assets/flags/162-germany.svg" alt="" class="language-item-img" />
                  <p class="paragraph-small-accent-lightened">DE</p>
                </div>
              </div>
            </div>
          </div>
          <!-- <a class="paragraph-small-accent-lightened footer-link"
            [routerLink]="">{{'footer-links-blog' | translate}}</a> -->
          <a
            class="paragraph-small-accent-lightened footer-link"
            target="_blank"
            href="https://bodywell.io/contacts.html"
            >{{ 'footer-links-contacts' | translate }}</a
          >
          <a
            class="paragraph-small-accent-lightened footer-link"
            href="https://bodywell.io/Home.html"
            target="_blank"
            >{{ 'footer-links-register-business' | translate }}</a
          >
        </div>
        <div class="right">
          <div class="right-button">
            <a target="_blank" href="https://facebook.com/bodywellioru">
              <img src="/assets/icons/fb.svg" alt="" />
            </a>
          </div>
          <div class="right-button">
            <a target="_blank" href="https://www.instagram.com/bodywell.ru/">
              <img src="/assets/icons/insta.svg" alt="" />
            </a>
          </div>
          <div class="right-button">
            <a target="_blank" href="https://twitter.com/bodywellio">
              <img src="/assets/icons/twit.svg" alt="" />
            </a>
          </div>
          <div class="right-button">
            <a target="_blank" href="https://youtube.com">
              <img src="/assets/icons/youtube.svg" alt="" />
            </a>
          </div>
          <div class="right-button">
            <a target="_blank" href="https://www.linkedin.com/company/bodywellio">
              <img src="/assets/icons/linkedin.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-level">
    <div class="container">
      <div class="content">
        <div class="left">
          <p class="paragraph-small">{{ 'footer-legal-info' | translate }}</p>
        </div>
        <div class="right">
          <a
            class="paragraph-small-accent-lightened footer-link"
            target="_blank"
            href="https://bodywell.io/PrivacyPolicy.html"
            >{{ 'footer-legal-privacy' | translate }}</a
          >
          <a
            class="paragraph-small-accent-lightened footer-link no-margin"
            target="_blank"
            href="https://bodywell.io/TermsOfUse.html"
            >{{ 'footer-legal-terms' | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-mobile">
  <div class="top-level">
    <div class="container">
      <div class="content">
        <div class="left">
          <!-- <a class="paragraph-small-accent-lightened footer-link"
            [routerLink]="">{{'footer-links-blog' | translate}}</a> -->
          <a
            class="paragraph-small-accent-lightened footer-link"
            target="_blank"
            href="https://bodywell.io/contacts.html"
            >{{ 'footer-links-contacts' | translate }}</a
          >
          <a
            class="paragraph-small-accent-lightened footer-link"
            href="https://bodywell.io/Home.html"
            target="_blank"
            >{{ 'footer-links-register-business' | translate }}</a
          >
          <div (click)="toggleLanguageMenu()" id="language-menu" class="language-select">
            <img
              *ngIf="translate.currentLang == 'UA'"
              class="language-general-icon"
              src="assets/flags/145-ukraine.svg"
              alt=""
            />
            <img
              *ngIf="translate.currentLang == 'EN'"
              class="language-general-icon"
              src="assets/flags/226-united-states.svg"
              alt=""
            />
            <img
              *ngIf="translate.currentLang == 'FR'"
              class="language-general-icon"
              src="assets/flags/195-france.svg"
              alt=""
            />
            <img
              *ngIf="translate.currentLang == 'DE'"
              class="language-general-icon"
              src="assets/flags/162-germany.svg"
              alt=""
            />
            <p class="paragraph-small-accent-lightened">{{ translate.currentLang }}</p>
            <div *ngIf="isShowLanguageMenu" class="language-items">
              <div (click)="setLanguage('EN')" class="language-item">
                <div class="language-item-container">
                  <img src="assets/flags/226-united-states.svg" alt="" class="language-item-img" />
                  <p class="paragraph-small-accent-lightened">EN</p>
                </div>
              </div>
              <div (click)="setLanguage('UA')" class="language-last-item">
                <div class="language-item-container">
                  <img src="assets/flags/145-ukraine.svg" alt="" class="language-item-img" />
                  <p class="paragraph-small-accent-lightened">UA</p>
                </div>
              </div>
              <div (click)="setLanguage('FR')" class="language-last-item">
                <div class="language-item-container">
                  <img src="assets/flags/195-france.svg" alt="" class="language-item-img" />
                  <p class="paragraph-small-accent-lightened">FR</p>
                </div>
              </div>
              <div (click)="setLanguage('DE')" class="language-last-item">
                <div class="language-item-container">
                  <img src="assets/flags/162-germany.svg" alt="" class="language-item-img" />
                  <p class="paragraph-small-accent-lightened">DE</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="right">
            <div class="right-button">
              <a target="_blank" href="https://facebook.com/bodywellioru">
                <img src="/assets/icons/fb.svg" alt="" />
              </a>
            </div>
            <div class="right-button">
              <a target="_blank" href="https://www.instagram.com/bodywell.ru/">
                <img src="/assets/icons/insta.svg" alt="" />
              </a>
            </div>
            <div class="right-button">
              <a target="_blank" href="https://twitter.com/bodywellio">
                <img src="/assets/icons/twit.svg" alt="" />
              </a>
            </div>
            <div class="right-button">
              <a target="_blank" href="https://youtube.com">
                <img src="/assets/icons/youtube.svg" alt="" />
              </a>
            </div>
            <div class="right-button">
              <a target="_blank" href="https://www.linkedin.com/company/bodywellio">
                <img src="/assets/icons/linkedin.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="top-level">
    <div class="container">
      <div class="content">
        <div class="right right-mobile-second">
          <a
            class="paragraph-small-accent-lightened footer-link"
            target="_blank"
            href="https://bodywell.io/PrivacyPolicy.html"
            >{{ 'footer-legal-privacy' | translate }}</a
          >
          <a
            class="paragraph-small-accent-lightened footer-link no-margin"
            target="_blank"
            href="https://bodywell.io/TermsOfUse.html"
            >{{ 'footer-legal-terms' | translate }}</a
          >
        </div>
        <div class="left">
          <p class="paragraph-small copany-info-mobile">{{ 'footer-legal-info' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
