@import "../../../variables.scss";

.footer {
    display: flex;
    flex-direction: column;
/*    margin-top: 96px;*/
    
    .top-level {
        display: flex;
        justify-content: center;
        border-top: 1px solid $color-light-gray;
        .container {
           
            width: 1280px;
           
            .content {
                display: flex;
                justify-content: space-between;
                padding: 0 55px;
                height: 95px;
                .footer-link {
                    margin-right: 24px;
                    text-decoration: none;
    
                    &:hover {
                        color: $color-text-black;
                    }
                }
                .left {
                    display: flex;
                    align-items: center;
                    .language-select {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 24px;
                        cursor: pointer;
        
                        .language-general-icon {
                            width: 16px;
                            margin-right: 8px;
                        }
        
                        .language-items {
                            position: absolute;
                            top: -220px;
                            left: -16px;
                            background-color: white;
                            border-radius: 3px;
                            box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                            z-index: 100;
                        }
                        .language-item {
                            padding: 16px;
                            border-bottom: 1px solid $color-light-gray;
                            &:hover {
                                background-color: $color-bg-blue-dk;
                            }
                        }
                        
                        .language-last-item {
                            padding: 16px;
                            &:hover {
                                background-color: $color-bg-blue-dk;
                            }
                        }
                        .language-item-container {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .language-item-img {
                                margin-right: 5px;
                                width: 16px;
                           }
                        }
                    }
                }
                .right {
                    display: flex;
                    align-items: center;

                    .right-button {
                        width: 32px;
                        height: 32px;
                        border-radius: 50px;
                        margin-left: 24px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.footer-mobile {
    display: none;
}

.no-margin {
    margin: 0 !important;
}


@media only screen and (max-width: 1024px) {
    .footer {
        display: none;
    }
    .footer-mobile {
        display: flex;
        flex-direction: column;
        margin-top: 32px;
        .top-level {
            display: flex;
            justify-content: center;
            border-top: 1px solid $color-light-gray;
            width: 100%;
            .container {
                padding: 40px 0;
                .content {
                    display: flex;
                    flex-direction: column;
                    padding: 0 24px;
                    align-items: center;
                    a {
                        padding-bottom: 16px;
                    }
                    .footer-link {
                        text-decoration: none;
        
                        &:hover {
                            color: $color-text-black;
                        }
                    }

                    .left {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .language-select {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
            
                            .language-general-icon {
                                width: 16px;
                                margin-right: 8px;
                            }
            
                            .language-items {
                                position: absolute;
                                top: 35px;
                                left: -16px;
                                background-color: white;
                                border-radius: 3px;
                                box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                                z-index: 100;
                            }
                            .language-item {
                                padding: 16px;
                                border-bottom: 1px solid $color-light-gray;
                                &:hover {
                                    background-color: $color-bg-blue-dk;
                                }
                            }
                            
                            .language-last-item {
                                padding: 16px;
                                &:hover {
                                    background-color: $color-bg-blue-dk;
                                }
                            }
                            .language-item-container {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .language-item-img {
                                    margin-right: 5px;
                                    width: 16px;
                               }
                            }
                        }
                        .copany-info-mobile {
                            padding-top: 24px;
                        }
                    }
                    .right {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 248px;
                        margin-top: 30px;
                        .right-button {
                            width: 32px;
                            height: 32px;
                            border-radius: 50px;
                            cursor: pointer;
                        }
                    }
                    .right-mobile-second {
                        flex-direction: column;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
