:host {
  width: 100%;
  max-width: 290px;
}

.bw-datepicker {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 3px;

}

.bw-navigation {
  padding-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-date-left {
    .bw-navigation-arrow-left {
      margin-right: 16px;
      margin-left: auto;
      order: 2;
    }

    .bw-navigation-view-date {
      order: 1;
    }

    .bw-navigation-arrow-right {
      order: 3;
    }
  }
}

.bw-navigation-view-date {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.bw-weekdays {
  padding-bottom: 8px;
  display: flex;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  div {
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
  }
}

.bw-view {
  width: 100%;
}

.bw-view-content {
  [class$='--active'],
  [class$='--selected'] {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--hidden {
    display: none;
  }
}

.bw-view-week-row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;

  &--hover {
    &:hover {
      background-color: rgba(#186fda, 0.05);
    }
    .bw-view-content-item {
      cursor: pointer;
    }
  }
}

.bw-view-content-item {
  display: flex;
  height: 35px;
  justify-content: center;
  align-items: center;
  border-radius: 3px;

  &:not([class$='--hover']) {
    cursor: default;
  }

  &--hover {
    &:hover {
      background-color: rgba(#186fda, 0.05);
      cursor: pointer;
    }
  }
}

.bw-view-months-month {
  width: calc(100% / 3);
  height: 35px;
  cursor: pointer;

  &--active {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #186fda;
    border-radius: 3px;
  }
}

.bw-view-month-days-day {
  position: relative;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;

  &--other-month {
    color: rgba(#2e2e2e, 0.65);
  }

  &--disabled {
    color: rgba(#2e2e2e, 0.65);
    cursor: not-allowed;
  }

  &--active {
    width: 34px;
    height: 34px;
    color: #fff;
    background-color: #186fda;
    border-radius: 50%;
  }

  &--selected {
    width: 100%;
    height: 34px;
    background-color: rgba(#186fda, 0.05);
  }

  &--today {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    border: 1px solid #afd1f9;
    border-radius: 9999px;
  }

  &--start-selected,
  &--end-selected {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background-color: rgba(#186fda, 0.05);
  }

  &--start-selected {
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
  }
  &--end-selected {
    border-top-right-radius: 9999px;
    border-bottom-right-radius: 9999px;
  }
}

@media (max-width: 767px) {
  .bw-datepicker {
    flex-direction: column !important;
    justify-content: center !important;

    .bw-navigation {
      padding-top: 4px;
      padding-bottom: 4px;
    }
    .bw-weekdays {
      justify-content: center !important;
    }
    .bw-view-content {
      .bw-view-week-row {
        justify-content: center !important;
      }
    }
  }
}
