<div class="bw-datepicker">
  <div class="bw-datepicker-container" *ngFor="let month of months">
    <!-- Start Navigation -->
    <div
            *ngIf="header_type !== 'select-controls'"
            class="bw-navigation"
            [ngClass]="{ 'bw-navigation-date-left': header_type === 'date-left' }"
    >
      <button class="bw-navigation-arrow-left btn-white btn-small btn-circle" (click)="prev()" *ngIf="!disabled">
        <i class="icon-chevron icon--size-s" style="transform: rotate(90deg)"></i>
      </button>

      <div class="bw-navigation-view-date">
        {{
        moment()
                .month(month.month)
                .year(month.year) | amDateFormat: 'MMMM YYYY'
        }}
      </div>

      <button class="bw-navigation-arrow-right btn-white btn-small btn-circle" (click)="next()" *ngIf="!disabled">
        <i class="icon-chevron icon--size-s" style="transform: rotate(-90deg)"></i>
      </button>
    </div>

    <div *ngIf="header_type === 'select-controls'" class="bw-navigation">
      <ng-select
              [items]="select_month"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              [clearable]="false"
              class="bw-datepicker custom-select months"
              [(ngModel)]="selected_month"
              (change)="monthSelected($event)"
      >
      </ng-select>
      <ng-select
              [items]="select_year"
              bindLabel="label"
              bindValue="value"
              [searchable]="false"
              [clearable]="false"
              class="bw-datepicker custom-select years"
              [(ngModel)]="selected_year"
              (change)="yearSelected($event)"
      >
      </ng-select>
    </div>
    <!-- End Navigation -->

    <!-- Start Calendar VIew -->
    <div class="bw-view">
      <div>
        <div class="bw-weekdays">
          <div>
            {{
            moment()
                    .weekday(0)
                    .format('ddd')
            }}
          </div>
          <div>
            {{
            moment()
                    .weekday(1)
                    .format('ddd')
            }}
          </div>
          <div>
            {{
            moment()
                    .weekday(2)
                    .format('ddd')
            }}
          </div>
          <div>
            {{
            moment()
                    .weekday(3)
                    .format('ddd')
            }}
          </div>
          <div>
            {{
            moment()
                    .weekday(4)
                    .format('ddd')
            }}
          </div>
          <div>
            {{
            moment()
                    .weekday(5)
                    .format('ddd')
            }}
          </div>
          <div>
            {{
            moment()
                    .weekday(6)
                    .format('ddd')
            }}
          </div>
        </div>

        <div class="bw-view-content">
          <div
                  class="bw-view-week-row"
                  *ngFor="let week of month.dates"
                  (click)="select(week)"
                  [ngClass]="{
              'bw-view-week-row--hover': range === 'week'
            }"
          >
            <div
                    class="bw-view-content-item bw-view-month-days-day"
                    [ngClass]="{
                'bw-view-content-item--hover': date.selectable && (range === 'day' || range === 'custom') && !disabled
              }"
                    *ngFor="let date of week; index as i"
                    (click)="select(date)"
            >
              <div
                      [ngClass]="{
                  'bw-view-month-days-day--disabled': !date.selectable,
                  'bw-view-month-days-day--other-month': date.otherMonth,
                  'bw-view-month-days-day--active': dateCheck(date),
                  'bw-view-month-days-day--selected': isSelected(date)
                }"
              >
                <div
                        [ngClass]="{
                    'bw-view-month-days-day--today': date.today && !dateCheck(date),
                    'bw-view-month-days-day--start-selected': isStartSelected(date),
                    'bw-view-month-days-day--end-selected': isEndSelected(date)
                  }"
                ></div>
                <div style="z-index: 1">
                  {{ date.day }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Calendar VIew -->

    <!-- Start Footer -->
    <ng-template [ngTemplateOutlet]="footerTemplate"></ng-template>
    <!-- End Footer -->
  </div>
</div>
