<div class="background">
    <div class="gradient">
        <div class="modal-container">
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="title">
                            <span>{{'subscriptions' | translate}}</span>
                            <div (click)="closeModal()" class="icon-control">
                                <img alt="" class="close-button" src="assets/icons/close.svg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                      <div class="body-title">
                          <span>{{'modal-sub-desc' | translate}}</span>
                          <span class="bold">{{product['title'] || product['product_title']}}</span>
                      </div>
                      <div class="pass" *ngFor="let pass of subcriptions">
                          <span class="title">{{pass['title']}}</span>
                          <div class="pass-info">
                              <span *ngIf="!pass['price']" class="price">{{'free' | translate}}</span>
                              <span *ngIf="pass['price']" class="price">{{currency}} {{pass['price'] / 100}}</span>
                              <span class="limit" *ngIf="pass['limit'] != -1">{{pass['limit']}}&ensp;{{'visits' | translate}}</span>
                              <span class="limit" *ngIf="pass['limit'] == -1">{{'unlimited' | translate}}</span>
                              <p class="mt-1">{{pass['description'] | utf8decode}}</p>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
