@import '../../../../../variables.scss';

.background {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 101;

  .gradient {
    height: 100vh;
    width: 100%;
    background: linear-gradient(253.3deg, rgba(85, 102, 116, 0.7) 0%, rgba(4, 25, 56, 0.7) 100%);
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.modal-container {
  max-width: 500px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
  border-radius: 3px;
  padding: 40px;
  margin: 18px;

  .modal-content {
    .modal-header {
      margin-bottom: 16px;
      .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 16px;
        span {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
        }
      }
    }
    .modal-body {
      overflow-y: auto;
      max-height: 480px;
      margin-right: -40px;
      padding-right: 40px;

      b {
        font-size: 16px;
      }

      .body-title {
        display: flex;
        flex-direction: column;
        padding-bottom: 24px;
        border-bottom: 1px solid $color-light-gray;
        .bold {
          font-weight: 600;
        }
      }

      .pass {
        padding-top: 24px;
        border-bottom: 1px solid $color-light-gray;
        padding-bottom: 24px;

        .title {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 12px;
        }

        .pass-info {
          margin-top: 8px;
          .price {
            padding-right: 12px;
            border-right: 1px solid $color-light-gray;
          }
          .limit {
            margin-left: 12px;
          }
        }
      }
    }
  }
}