.stub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;

    img {
      width: 64px;
      height: auto;
    }

    .heading {
        margin-top: 16px;
    }
    .text {
        margin-top: 8px;
    }
}