<div class="stub">
  <img src="{{img}}" alt="">
  <p *ngIf="mode != 'min'" class="paragraph-regular-accent heading"> {{heading | translate }}</p>
  <p *ngIf="text" class="paragraph-regular text">{{text | translate }}</p>
  <ng-content></ng-content>
</div>
