<div class="header">
  <div class="header-back-button" (click)="prevStep()">
    <svg class="svg-icon svg-icon--size-m svg-icon--color-gray" style="transform: rotate(90deg)">
      <use xlink:href="assets/icons/icons-sprite.svg#ArrowDown"></use>
    </svg>
  </div>
  <div class="header-title">{{ 'booking-employee-step-title' | translate }}</div>
</div>

<div
  class="block-wrapper"
  [ngClass]="{
    'block--active': !selectedEmployee
  }"
  (click)="nextStep()"
>
  <div class="block">
    <div class="block-avatar-wrapper">
      <div class="block-avatar">
        <svg class="svg-icon svg-icon--size-xxl svg-icon--color-gray">
          <use xlink:href="assets/icons/icons-sprite.svg#AnyAvailable"></use>
        </svg>
      </div>
    </div>
    <div>
      <div class="block-title">{{ 'booking-employee-step-any-allowed' | translate }}</div>
      <div *ngIf="!isService" class="block-description">
        {{ 'booking-employee-step-any-allowed-description' | translate }}
      </div>
      <div *ngIf="isService" class="block-description">
        {{ 'booking-employee-next-date' | translate }}
        <span *ngIf="!generalNearestDate && generalBookings.length" class="link">{{ generalBookings[0].from_time | amDateFormat: 'MMMM, DD' }}</span>
        <span *ngIf="generalNearestDate" class="link">{{ generalNearestDate | translate }}</span>
        <span class="font-semibold" *ngIf="!generalBookings.length">{{ '' | translate }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="isService && generalBookings.length" class="block-times">
    <button
      class="btn-small btn-ghost mr-3"
      *ngFor="let time of generalBookings"
      (click)="selectedTime(time, time?.employees, $event)"
    >
      {{ time.from_time | amDateFormat: 'HH:mm' }}
    </button>
  </div>
</div>

<div
  class="block-wrapper"
  *ngFor="let employee of employees"
  (click)="nextStep(employee)"
  [ngClass]="{
    'block--active': selectedEmployee && employee.id === selectedEmployee.id
  }"
>
  <div class="block">
    <div class="block-avatar-wrapper">
      <div
        class="block-avatar"
        [style.backgroundImage]="'url(' + apiUrl + '/company/employee/avatar?employee_id=' + employee['id'] + ')'"
      ></div>
    </div>

    <div>
      <div class="block-title">{{ employee.first_name }} {{ employee.last_name }}</div>
      <div *ngIf="isService || isPersonalProduct" class="block-description">
        {{ 'booking-employee-next-date' | translate }}
        <span *ngIf="employee.bookings?.length && !employee.timeLabel" class="link">{{
          employee.bookings[0].from_time | amDateFormat: 'MMMM, DD'
        }}</span>
        <span *ngIf="employee.bookings?.length && employee.timeLabel" class="link">{{
          employee.timeLabel | translate
        }}</span>
        <span class="font-semibold" *ngIf="!employee.bookings?.length">{{ '' | translate }}</span>
      </div>
    </div>
  </div>
  <div *ngIf="(isService || isPersonalProduct) && employee.bookings?.length" class="block-times">
    <button
      class="btn-small btn-ghost mr-3"
      *ngFor="let time of employee.bookings"
      (click)="selectedTime(time, [employee], $event)"
    >
      {{ time.from_time | amDateFormat: 'HH:mm' }}
    </button>
  </div>
</div>
