@import '../../../variables.scss';

:host {
  display: flex;
  border-bottom: 1px solid $color-light-gray;
  overflow: auto;
}
.tab-item {
  margin-right: 25px;
  padding-bottom: 15px;
  cursor: pointer;
  white-space: nowrap;
}

.tab-active {
  font-weight: 600;

  p {
    color: $color-brand-blue;
  }

  border-bottom: 2px solid $color-brand-blue;
}
