@import '../../../../../variables.scss';
.container {
  .top-container {
    display: flex;
    justify-content: center;
    background-color: $color-light-gray;

    .top-content-container {
      width: 1280px;

      .top-content {
        padding: 24px 55px;

        .heading-content {
          .heading-text {
            h4 {
              font-weight: normal;
              margin-top: 16px;
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }

  .container-body {
    display: flex;
    justify-content: center;

    .content-container {
      width: 1280px;
      margin-top: 30px;
      .content {
        padding: 0 55px 0 55px;
        display: flex;

        .menu {
          width: 100%;
          max-width: 270px;
          margin-right: 30px;
        }

        .page-content {
          width: 100%;
          max-width: 870px;
          .head-container {
            h2 {
              margin-bottom: 30px;
            }
          }

          .body-content {
            width: 100%;
            max-width: 630px;
            margin-top: 32px;
            display: flex;
            flex-direction: column;

            .session-container {
              display: flex;

              .info-container {
                width: 100%;
                display: flex;
                flex-direction: column;
                padding-bottom: 24px;
                margin-bottom: 24px;
                border-bottom: 1px solid $color-light-gray;

                .head-container {
                  display: flex;
                  cursor: pointer;

                  img {
                    width: 48px;
                    height: 48px;
                    border-radius: 3px;
                  }

                  .head-title {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-left: 16px;
                  }
                }

                .session-info {
                  display: flex;
                  justify-content: space-between;
                  margin-top: 30px;
                  align-items: center;

                  .chips {
                    border-radius: 50px;
                    color: white;
                    display: flex;
                    align-items: center;
                    height: 24px;
                    padding: 0px 8px;
                  }
                  .chips-green {
                    background: $color-brand-green;
                  }
                  .chips-yello {
                    background: #ffcd2d;
                    color: #3e3e3e;
                  }
                }

                .place-container {
                  margin-top: 26px;
                }

                .date-container {
                  margin-top: 26px;
                  display: flex;

                  .date-info {
                    margin-right: 40px;
                  }
                }

                .cancel-container {
                  margin-top: 24px;
                  .cancel-button {
                    color: $color-warn-red;
                    font-weight: 600;
                    cursor: pointer;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal-content {
  width: 100%;

  .modal-head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-light-gray;
    margin-bottom: 32px;

    .close-container {
      display: flex;
      justify-content: center;
      align-content: center;
      cursor: pointer;
      border: 8px solid transparent;
      border-radius: 50%;

      img {
        cursor: pointer;
      }
      &:hover {
        background-color: #f5f5f5;
        border: 8px solid #f5f5f5;
        border-radius: 50%;
      }
    }
  }

  .modal-body {
    margin-bottom: 32px;

    .cancel-modal {
      .warning {
        margin-top: 32px;
      }
    }

    .review-modal {
      .head-container {
        display: flex;

        img {
          width: 48px;
          height: 48px;
          border-radius: 3px;
        }

        .head-title {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 16px;
        }
      }

      .rewiew-container {
        margin-top: 19px;
      }

      .comment-container {
        padding: 16px 0;

        textarea {
          margin-top: 8px;
          width: 100%;
          border: 2px solid rgb(215, 222, 229);
          border-radius: 3px;
          resize: none;
          padding: 16px;
        }
      }
    }
  }

  .modal-footer {
    display: flex;
    justify-content: space-between;

    .rewiew-send-button {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    .top-container {
      position: relative;
      display: flex;
      justify-content: center;
      display: none;

      .background-fake {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-light-gray;
        z-index: -2;
      }

      .top-content-container {
        width: 1280px;
        position: relative;

        .top-content {
          padding: 24px 55px;

          .heading-content {
            .heading-text {
              h4 {
                font-weight: normal;
                margin-top: 16px;
                margin-bottom: 32px;
              }
            }
          }
        }
      }
    }

    .container-body {
      display: flex;
      justify-content: center;

      .content-container {
        width: 1280px;
        margin-top: 30px;
        overflow: hidden;
        .content {
          padding: 0 24px 0 24px;
          display: flex;

          .menu {
            width: 100%;
            max-width: 270px;
            margin-right: 30px;
            display: none;
          }

          .page-content {
            width: 100%;
            max-width: 870px;
            .head-container {
              h2 {
                margin-bottom: 30px;
              }
            }

            .body-content {
              width: 100%;
              max-width: 630px;
              margin-top: 32px;
              display: flex;
              flex-direction: column;

              .session-container {
                display: flex;

                .info-container {
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  padding-bottom: 24px;
                  margin-bottom: 24px;
                  border-bottom: 1px solid $color-light-gray;

                  .head-container {
                    display: flex;
                    cursor: pointer;

                    img {
                      width: 48px;
                      height: 48px;
                      border-radius: 3px;
                    }

                    .head-title {
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      margin-left: 16px;
                    }
                  }

                  .session-info {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 30px;
                    align-items: center;

                    .chips {
                      border-radius: 50px;
                      color: white;
                      display: flex;
                      align-items: center;
                      height: 24px;
                      padding: 0px 8px;
                    }
                    .chips-green {
                      background: $color-brand-green;
                    }
                    .chips-yello {
                      background: #ffcd2d;
                      color: #3e3e3e;
                    }
                  }

                  .place-container {
                    margin-top: 26px;
                  }

                  .date-container {
                    margin-top: 26px;
                    display: flex;
                    flex-direction: column;

                    .date-info {
                      margin-right: 0;
                    }
                    .time-info {
                      margin-top: 26px;
                    }
                  }

                  .cancel-container {
                    margin-top: 24px;
                    .cancel-button {
                      color: $color-warn-red;
                      font-weight: 600;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .modal-content {
    width: 100%;

    .modal-head {
      display: flex;
      justify-content: space-between;
      padding-bottom: 24px;
      border-bottom: 1px solid $color-light-gray;
      margin-bottom: 32px;

      .close-container {
        display: flex;
        justify-content: center;
        align-content: center;
        cursor: pointer;
        border: 8px solid transparent;
        border-radius: 50%;

        img {
          cursor: pointer;
        }
        &:hover {
          background-color: #f5f5f5;
          border: 8px solid #f5f5f5;
          border-radius: 50%;
        }
      }
    }

    .modal-body {
      margin-bottom: 32px;

      .cancel-modal {
        .warning {
          margin-top: 32px;
        }
      }

      .review-modal {
        .head-container {
          display: flex;

          img {
            width: 48px;
            height: 48px;
            border-radius: 3px;
          }

          .head-title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 16px;
          }
        }

        .rewiew-container {
          margin-top: 19px;
        }

        .comment-container {
          padding: 16px 0;

          textarea {
            margin-top: 8px;
            width: 100%;
            border: 2px solid rgb(215, 222, 229);
            border-radius: 3px;
            resize: none;
            padding: 16px;
          }
        }
      }
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;

      .rewiew-send-button {
        width: 100%;
      }
    }
  }
}
