<div class="container">
  <div class="top-container">
    <div class="top-content-container">
      <div class="top-content">
        <div class="heading-content">
          <app-search [mode]="2"></app-search>
        </div>
      </div>
    </div>
  </div>

  <div class="container-body">
    <div class="content-container">
      <div class="content">
        <div class="menu">
          <app-profile-menu></app-profile-menu>
        </div>
        <div class="page-content">
          <div class="head-container">
            <h2 class="heading-2">{{ 'profile-appointments-heading' | translate }}</h2>
            <app-tab [tabs]="tabs" [activeTabId]="tabs[0]['id']" (clickTabEvent)="changeTab($event)"></app-tab>
          </div>
          <div class="body-content">
            <ng-container *ngIf="tabs[0]['id'] == activeTab">
              <app-stub
                *ngIf="!waiting.length"
                [heading]="'profile-appointments-waiting-empty-heading'"
                [text]="'profile-appointments-waiting-empty-info'"
                [img]="'assets/icons/no-appointments.svg'"
              >
              </app-stub>
              <ng-container *ngFor="let session of waiting">
                <div class="session-container">
                  <div class="info-container">
                    <div class="head-container" [routerLink]="['/card', session.company_id, session.branch_id]">
                      <img src="{{session['logo']}}" alt="" style="border-radius: 33px;" />
                      <div class="head-title">
                        <h3 class="heading-3">{{ session['company_title'] }}</h3>
                        <p class="paragraph-small-lightened">{{ session['company_industry_title'] | translate }}</p>
                      </div>
                    </div>
                    <div class="session-info">
                      <h4 class="heading-4">{{ session['product_title'] }}</h4>
                      <div *ngIf="session['status'] === 2 && session['client_status'] !== 0" class="chips chips-green">
                        <h5 class="heading-6">{{ 'appointment-status-in-progress' | translate }}</h5>
                      </div>
                      <div *ngIf="session['status'] === 1 && session['client_status'] !== 0" class="chips chips-yello">
                        <h5 class="heading-6">{{ 'profile-appointments-tab-waiting' | translate }}</h5>
                      </div>
                      <div *ngIf="session['client_status'] === 0" class="chips chips-yello">
                        <h5 class="heading-6">{{ 'appointment-status-pending' | translate }}</h5>
                      </div>
                    </div>
                    <div class="place-container">
                      <p class="paragraph-regular-lightened">{{ 'card-info-location' | translate }}</p>
                      <a class="link">{{ session['branch_city'] }}, {{ session['branch_street'] }}</a>
                    </div>
                    <div class="date-container">
                      <div class="date-info">
                        <p class="paragraph-regular-lightened">{{ 'booking-confirm-date' | translate }}</p>
                        <p class="paragraph-regular">{{ session['from_date'].split(' ')[0] }}</p>
                      </div>
                      <div class="time-info">
                        <p class="paragraph-regular-lightened">{{ 'booking-confirm-time' | translate }}</p>
                        <p class="paragraph-regular">{{ getTime(session['from_date']) }}</p>
                      </div>
                    </div>
                    <div class="cancel-container">
                      <p (click)="showCancelModal(session)" class="paragraph-regular cancel-button">
                        {{ 'profile-appointments-cancel' | translate }}
                      </p>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="tabs[1]['id'] == activeTab">
              <app-stub
                *ngIf="!completed.length"
                [heading]="'profile-appointments-completed-empty-heading'"
                [text]="'profile-appointments-completed-empty-info'"
                [img]="'assets/icons/no-appointments.svg'"
              >
              </app-stub>
              <ng-container *ngFor="let session of completed">
                <div class="session-container">
                  <div class="info-container">
                    <div class="head-container" [routerLink]="['/card', session.company_id, session.branch_id]">
                      <img src="{{ apiUrl }}/company/logo?company_id={{ session['company_id'] }}" alt="" />
                      <div class="head-title">
                        <h3 class="heading-3">{{ session['company_title'] }}</h3>
                        <p class="paragraph-small-lightened">{{ session['company_industry_title'] | translate }}</p>
                      </div>
                    </div>
                    <div class="session-info">
                      <h4 class="heading-4">{{ session['product_title'] }}</h4>
                      <button
                        *ngIf="session['is_comment'] == 0"
                        (click)="showReviewModal(session)"
                        class="btn-regular btn-def"
                      >
                        {{ 'profile-appointments-leave-review' | translate }}
                      </button>
                    </div>
                    <div class="place-container">
                      <p class="paragraph-regular-lightened">{{ 'card-info-location' | translate }}</p>
                      <a class="link">{{ session['branch_city'] }}, {{ session['branch_street'] }}</a>
                    </div>
                    <div class="date-container">
                      <div class="date-info">
                        <p class="paragraph-regular-lightened">{{ 'booking-confirm-date' | translate }}</p>
                        <p class="paragraph-regular">{{ session['from_date'].split(' ')[0] }}</p>
                      </div>
                      <div class="time-info">
                        <p class="paragraph-regular-lightened">{{ 'booking-confirm-time' | translate }}</p>
                        <p class="paragraph-regular">{{ getTime(session['from_date']) }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="tabs[2]['id'] == activeTab">
              <app-stub
                *ngIf="!cancelled.length"
                [heading]="'profile-appointments-cancelled-empty-heading'"
                [text]="'profile-appointments-cancelled-empty-info'"
                [img]="'assets/icons/no-appointments.svg'"
              >
              </app-stub>
              <ng-container *ngFor="let session of cancelled">
                <div class="session-container">
                  <div class="info-container">
                    <div class="head-container" [routerLink]="['/card', session.company_id, session.branch_id]">
                      <img src="{{ apiUrl }}/company/logo?company_id={{ session['company_id'] }}" alt="" />
                      <div class="head-title">
                        <h3 class="heading-3">{{ session['company_title'] }}</h3>
                        <p class="paragraph-small-lightened">{{ session['company_industry_title'] | translate }}</p>
                      </div>
                    </div>
                    <div class="session-info">
                      <h4 class="heading-4">{{ session['product_title'] }}</h4>
                      <!-- <button (click)="showReviewModal()" class="btn-regular btn-def"> Оставьте отзыв </button> -->
                    </div>
                    <div class="place-container">
                      <p class="paragraph-regular-lightened">{{ 'card-info-location' | translate }}</p>
                      <a class="link">{{ session['branch_city'] }}, {{ session['branch_street'] }}</a>
                    </div>
                    <div class="date-container">
                      <div class="date-info">
                        <p class="paragraph-regular-lightened">{{ 'booking-confirm-date' | translate }}</p>
                        <p class="paragraph-regular">{{ session['from_date'].split(' ')[0] }}</p>
                      </div>
                      <div class="time-info">
                        <p class="paragraph-regular-lightened">{{ 'booking-confirm-time' | translate }}</p>
                        <p class="paragraph-regular">{{ getTime(session['from_date']) }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal [isOpen]="isShowModal" #modal [overlayStyle]="{ padding: '16px' }" [contentStyle]="{ width: '100%', 'max-width': '500px' }">
  <div class="modal-content">
    <ng-container *ngIf="isShowCancelModal">
      <div class="modal-head">
        <h2 class="heading-2">{{ 'modal-confirmation' | translate }}</h2>
        <div (click)="hideCancelModal()" class="close-container">
          <img src="assets/icons/close.svg" alt="" />
        </div>
      </div>
      <div class="modal-body">
        <div class="cancel-modal">
          <p class="paragraph-regular">{{ 'modal-cancel-sure' | translate }}</p>
          <p class="paragraph-regular warning">{{ 'modal-cancel-warning' | translate }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="hideCancelModal()" class="btn-large btn-smooth">{{ 'modal-go-back' | translate }}</button>
        <button (click)="cancelBook()" class="btn-large btn-warn">
          {{ 'profile-appointments-cancel' | translate }}
        </button>
      </div>
    </ng-container>
    <ng-container *ngIf="isShowReviewModal">
      <div class="modal-head">
        <h2 class="heading-2">{{ 'modal-review-heading' | translate }}</h2>
        <div (click)="hideReviewModal()" class="close-container">
          <img src="assets/icons/close.svg" alt="" />
        </div>
      </div>
      <div class="modal-body">
        <div class="review-modal">
          <div class="head-container">
            <img src="{{ apiUrl }}/company/logo?company_id={{ reviewItem['id'] }}" alt="" />
            <div class="head-title">
              <h3 class="heading-3">{{ reviewItem['company_title'] }}</h3>
              <p class="paragraph-small-lightened">{{ reviewItem['company_industry_title'] | translate }}</p>
            </div>
          </div>
          <div class="rewiew-container">
            <p class="paragraph-regular">{{ 'modal-review-rate' | translate }}</p>
            <bar-rating (rateChange)="rateChange($event)" [rate]="1" [max]="5"></bar-rating>
          </div>
          <div class="comment-container">
            <p class="paragraph-regular">{{ 'modal-review-comment' | translate }}</p>
            <textarea
              [(ngModel)]="descriptionReview"
              rows="5"
              placeholder="{{ 'modal-review-comment-placeholder' | translate }}"
            ></textarea>
          </div>
          <p class="paragraph-small-lightened">{{ 'modal-review-warning' | translate }}</p>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="sendReview()" class="btn-large btn-positive rewiew-send-button">
          {{ 'modal-review-send' | translate }}
        </button>
      </div>
    </ng-container>
  </div>
</app-modal>
