<div class="container">
  <div class="top-container">
    <div class="top-content-container">
      <div class="top-content">
        <div class="heading-content">
          <app-search [mode]="2"></app-search>
        </div>
      </div>
    </div>
  </div>

  <div class="container-body">
    <div class="content-container">
      <div class="content">
        <div class="menu">
          <app-profile-menu></app-profile-menu>
        </div>
        <div class="page-content">
          <div class="head-container">
            <h2 class="heading-2">{{ 'profile-settings-heading' | translate }}</h2>
            <app-tab [tabs]="tabs" [activeTabId]="tabs[0]['id']" (clickTabEvent)="changeTab($event)"> </app-tab>
          </div>
          <div class="body-content">
            <ng-container *ngIf="tabs[0]['id'] == activeTab">
              <ng-container *ngIf="Object.keys(userInfo).length">
                <div class="avatar-container">
                  <div class="uloader-container">
                    <div (click)="showUploadAvatarModal()" class="upload-icon">
                      <img src="assets/icons/upload-avatar-icon.svg" alt="" />
                    </div>

                    <img
                      src="{{
                        apiUrl + '/account/user/avatar?user_id=' + userInfo['id'] + '&version=' + avatarVersion
                      }}"
                      alt=""
                    />
                  </div>
                  <div class="avatar-info">
                    <p class="paragraph-regular-accent head">{{ 'profile-settings-avatar' | translate }}</p>
                    <p class="paragraph-small-lightened">{{ 'profile-settings-avatar-info' | translate }}</p>
                  </div>
                </div>

                <div class="input-container">
                  <div class="input-group">
                    <!-- Имя -->
                    <div class="input-icon">
                      <div class="input-icon-container">
                        <input
                          [(ngModel)]="userInfo['first_name']"
                          class="input input-def"
                          type="text"
                          id="input-label"
                          placeholder="{{ 'profile-settings-name' | translate }}"
                        />
                      </div>
                      <div class="input-labels">
                        <label class="paragraph-regular" for="input-label">{{
                          'profile-settings-name' | translate
                        }}</label>
                      </div>
                    </div>

                    <!-- Фамилия -->
                    <div class="input-icon">
                      <div class="input-icon-container">
                        <input
                          [(ngModel)]="userInfo['last_name']"
                          class="input input-def"
                          type="text"
                          id="input-label"
                          placeholder="{{ 'profile-settings-lastname' | translate }}"
                        />
                      </div>
                      <div class="input-labels">
                        <label class="paragraph-regular" for="input-label">{{
                          'profile-settings-lastname' | translate
                        }}</label>
                      </div>
                    </div>
                  </div>
                  <div class="input-group">
                    <!-- Пол -->
                    <div class="select-sex">
                      <div class="input-labels">
                        <label class="paragraph-regular" for="input-label">{{
                          'profile-settings-gender' | translate
                        }}</label>
                      </div>
                      <ng-container *ngIf="userInfo['first_name']">
                        <app-select
                          [(ngModel)]="userInfo['sex']"
                          [selected]="userInfo['sex']"
                          [data]="sexList"
                          [mode]="'normal'"
                        >
                        </app-select>
                      </ng-container>
                    </div>
                    <!-- Дата рождения -->
                    <div class="input-icon">
                      <div class="input-icon-container" #targetField>
                        <input
                          [value]="userInfo['birth_date'] | amDateFormat : 'DD-MM-YYYY'"
                          class="input input-def"
                          type="text"
                          placeholder="Дата рождения"
                          readonly
                          (click)="birthdayCalendar.show($event, targetField)"
                        />
                      </div>
                      <div class="input-labels">
                        <label class="paragraph-regular" for="input-label">{{
                          'profile-settings-birth' | translate
                        }}</label>
                      </div>
                    </div>
                  </div>
                  <p-overlayPanel [appendTo]="'body'" #birthdayCalendar>
                    <div style="padding: 16px; background-color: #fff">
                      <app-daterange-picker
                        (toggle)="birthdayCalendar.hide()"
                        [date]="userInfo['birth_date']"
                        [header_type]="'select-controls'"
                        (modelChange)="setDate($event)"
                        [disabledDays]="setDisabledDays"
                        [max_date]="birthdayCalendarMaxDate"
                      >
                      </app-daterange-picker>
                    </div>
                  </p-overlayPanel>
                  <div class="input-group">
                    <!-- Адрес -->
                    <div class="address-container">
                      <div class="input-icon">
                        <input
                          class="input input-def"
                          [(ngModel)]="userInfo.address"
                          (keydown.enter)="$event.preventDefault()"
                          autocorrect="off"
                          autocapitalize="off"
                          spellcheck="off"
                          type="text"
                          #search
                        />

                        <div class="input-labels">
                          <label class="paragraph-regular" for="input-label">{{
                            'profile-settings-address' | translate
                          }}</label>
                        </div>
                      </div>
                      <div class="find-my-position" (click)="setCurrentLocation()">
                        <svg class="svg-icon svg-icon--size-m svg-icon--color-blue mr-2">
                          <use xlink:href="assets/icons/icons-sprite.svg#Location"></use>
                        </svg>
                        {{ 'profile-settings-address-find-my-position' | translate }}
                      </div>
                      <div class="paragraph-regular-lightened">
                        {{ 'profile-settings-address-description' | translate }}
                      </div>
                      <div class="gmap">
                        <agm-map
                          [latitude]="userInfo?.latitude"
                          [longitude]="userInfo?.longitude"
                          [zoom]="zoom"
                          [fullscreenControl]="true"
                        >
                          <agm-marker [latitude]="userInfo?.latitude" [longitude]="userInfo?.longitude"></agm-marker>
                        </agm-map>
                      </div>
                    </div>
                    <!-- Телефон -->
                    <div #phoneWrapper class="phone-number-container">
                      <div class="input-labels">
                        <label class="paragraph-regular" for="input-label">{{
                          'profile-settings-phone' | translate
                        }}</label>
                      </div>
                      <div class="phone-number disabled">
                        <app-phone-code-select
                          [options]="phoneCodes"
                          [(ngModel)]="userInfo['phone_code']"
                          disabled
                        ></app-phone-code-select>
                        <p class="paragraph-regular code-phone">{{ userInfo['phone_code']['phone_code'] }}</p>
                        <input
                          appNumeric
                          numericType="number"
                          [(ngModel)]="userInfo['phone_number']"
                          class="input input-def input-margin phone-number-input"
                          type="text"
                          disabled
                          placeholder="{{ 'register-modal-your-phone' | translate }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="tabs[1]['id'] == activeTab">
              <div class="email-container">
                <!-- Почта -->
                <div class="input-icon email-input">
                  <div
                    [ngClass]="{ 'icon-input-error': changeEmailInput.getError('errorEmail') }"
                    class="input-icon-container"
                  >
                    <input
                      [(ngModel)]="newEmail"
                      class="input input-def"
                      type="text"
                      id="input-label"
                      [disabled]="userInfo?.google_reg"
                      [ngClass]="{ 'input-error': changeEmailInput.getError('errorEmail') }"
                    />
                    <div *ngIf="userInfo['email'] && !userInfo['is_email']" class="paragraph-small-lightened">
                      {{ 'profile-settings-need-cofirm-email' | translate }}
                    </div>
                    <div *ngIf="userInfo['email'] && userInfo['is_email']" class="paragraph-small-lightened">
                      {{ 'profile-settings-email-confirmed' | translate }}
                    </div>

                    <p *ngIf="changeEmailInput.getError('errorValidEmail') == true" class="paragraph-small error-lable">
                      {{ 'profile-settings-email-wrong' | translate }}
                    </p>
                    <p *ngIf="changeEmailInput.getError('errorUsedEmail') == true" class="paragraph-small error-lable">
                      {{ 'email-used' | translate }}
                    </p>
                  </div>
                  <div class="input-labels">
                    <label class="paragraph-regular" for="input-label">
                      {{ 'forgot-modal-your-email' | translate }}
                    </label>
                  </div>
                </div>

                <!-- Пароль -->
                <!-- <div class="input-icon email-change-password-input">
                  <div
                    [ngClass]="{ 'icon-input-error': changeEmailPasswordInput.getError('passwordError') }"
                    class="input-icon-container"
                  >
                    <input
                      [(ngModel)]="changeEmailPassword"
                      class="input input-def"
                      type="password"
                      [ngClass]="{ 'input-error': changeEmailPasswordInput.getError('passwordError') }"
                      placeholder="{{ 'auth-modal-your-password' | translate }}"
                    />
                    <p
                      *ngIf="changeEmailPasswordInput.getError('passwordError') == true"
                      class="paragraph-small error-lable"
                    >
                      {{ 'invalid-pass' | translate }}
                    </p>
                  </div>
                  <div class="input-labels">
                    <label class="paragraph-regular" for="input-label">{{
                      'auth-modal-your-password' | translate
                    }}</label>
                  </div>
                </div> -->
              </div>
            </ng-container>
            <ng-container *ngIf="tabs[2]['id'] == activeTab">
              <div class="password-container">
                <h4 class="heading-4">{{ 'profile-settings-pass-heading' | translate }}</h4>
                <div class="input-icon password-input">
                  <div
                    [ngClass]="{ 'icon-input-error': passwordInput.getError('passwordError') }"
                    class="input-icon-container"
                  >
                    <input
                      type="password"
                      [(ngModel)]="userPasswords['password']"
                      [ngClass]="{ 'input-error': passwordInput.getError('passwordError') }"
                      class="input input-def"
                      type="text"
                      id="input-label"
                      placeholder="{{ 'profile-settings-pass-current' | translate }}"
                    />
                    <p *ngIf="passwordInput.getError('passwordError') == true" class="paragraph-small error-lable">
                      {{ 'invalid-pass' | translate }}
                    </p>
                  </div>
                  <div class="input-labels">
                    <label class="paragraph-regular" for="input-label">{{
                      'profile-settings-pass-current' | translate
                    }}</label>
                  </div>
                </div>
                <div class="input-icon password-input">
                  <div
                    [ngClass]="{ 'icon-input-error': passwordNewInput.getError('passwordError') }"
                    class="input-icon-container"
                  >
                    <input
                      type="password"
                      [(ngModel)]="userPasswords['passwordnew']"
                      [ngClass]="{ 'input-error': passwordNewInput.getError('passwordError') }"
                      class="input input-def"
                      type="text"
                      id="input-label"
                      placeholder="{{ 'profile-settings-pass-new' | translate }}"
                    />
                    <p *ngIf="passwordNewInput.getError('passwordError') == true" class="paragraph-small error-lable">
                      {{ 'pass-rule' | translate }}
                    </p>
                  </div>
                  <div class="input-labels">
                    <label class="paragraph-regular" for="input-label">{{
                      'profile-settings-pass-new' | translate
                    }}</label>
                  </div>
                </div>
                <div class="input-icon password-input">
                  <div
                    [ngClass]="{ 'icon-input-error': repasswordNewInput.getError('passwordError') }"
                    class="input-icon-container"
                  >
                    <input
                      type="password"
                      [(ngModel)]="userPasswords['repasswordnew']"
                      [ngClass]="{ 'input-error': repasswordNewInput.getError('passwordError') }"
                      class="input input-def"
                      type="text"
                      id="input-label"
                      placeholder="{{ 'profile-settings-pass-new-repeat' | translate }}"
                    />
                    <p *ngIf="repasswordNewInput.getError('passwordError') == true" class="paragraph-small error-lable">
                      {{ 'pass-difference' | translate }}
                    </p>
                  </div>
                  <div class="input-labels">
                    <label class="paragraph-regular" for="input-label">{{
                      'profile-settings-pass-new-repeat' | translate
                    }}</label>
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="tabs[3]['id'] == activeTab">
              <div *ngIf="userInfo?.email" class="password-container">
                <h4 class="heading-4 pb-4">
                  {{ 'profile-settings-email-notify-heading' | translate : { email: userInfo.email } }}
                </h4>

                <div class="checkbox-container pb-4">
                  <div class="checkbox checkbox-regular">
                    <input
                      type="checkbox"
                      id="email-notif-booking-request"
                      [checked]="userEmailNotifySettings['email_notif_booking_request']"
                      (change)="changeSetting('email_notif_booking_request', $event.target.checked)"
                    />
                    <label for="email-notif-booking-request" class="icon-success icon-small icon-left"></label>
                  </div>
                  <label for="email-notif-booking-request" class="paragraph-regular">
                    {{ 'profile-settings-email-notif-booking-request' | translate }}
                  </label>
                </div>
                <div class="checkbox-container pb-4">
                  <div class="checkbox checkbox-regular">
                    <input
                      type="checkbox"
                      id="email-notif-booking-accept"
                      [checked]="userEmailNotifySettings['email_notif_booking_accept']"
                      (change)="changeSetting('email_notif_booking_accept', $event.target.checked)"
                    />
                    <label for="email-notif-booking-accept" class="icon-success icon-small icon-left"></label>
                  </div>
                  <label for="email-notif-booking-accept" class="paragraph-regular">
                    {{ 'profile-settings-email-notif-booking-accept' | translate }}
                  </label>
                </div>
                <div class="checkbox-container pb-4">
                  <div class="checkbox checkbox-regular">
                    <input
                      type="checkbox"
                      id="email-notif-booking-reject"
                      [checked]="userEmailNotifySettings['email_notif_booking_reject']"
                      (change)="changeSetting('email_notif_booking_reject', $event.target.checked)"
                    />
                    <label for="email-notif-booking-reject" class="icon-success icon-small icon-left"></label>
                  </div>
                  <label for="email-notif-booking-reject" class="paragraph-regular">
                    {{ 'profile-settings-email-notif-booking-reject' | translate }}
                  </label>
                </div>
                <div class="checkbox-container pb-4">
                  <div class="checkbox checkbox-regular">
                    <input
                      type="checkbox"
                      id="email-notif-booking-cancel"
                      [checked]="userEmailNotifySettings['email_notif_booking_cancel']"
                      (change)="changeSetting('email_notif_booking_cancel', $event.target.checked)"
                    />
                    <label for="email-notif-booking-cancel" class="icon-success icon-small icon-left"></label>
                  </div>
                  <label for="email-notif-booking-cancel" class="paragraph-regular">
                    {{ 'profile-settings-email-notif-booking-cancel' | translate }}
                  </label>
                </div>
                <div class="checkbox-container pb-4">
                  <div class="checkbox checkbox-regular">
                    <input
                      type="checkbox"
                      id="email-notif-booking-complete"
                      [checked]="userEmailNotifySettings['email_notif_booking_complete']"
                      (change)="changeSetting('email_notif_booking_complete', $event.target.checked)"
                    />
                    <label for="email-notif-booking-complete" class="icon-success icon-small icon-left"></label>
                  </div>
                  <label for="email-notif-booking-complete" class="paragraph-regular">
                    {{ 'profile-settings-email-notif-booking-complete' | translate }}
                  </label>
                </div>
              </div>

              <div class="email-notify-empty" *ngIf="!userInfo?.email">
                <div>
                  <img src="../../../../../assets/icons/Passes-Empty.svg" alt="">
                </div>
                <div class="email-notify-empty-title">{{'profile-settings-email-notify-empty-title' | translate}}</div>
                <div class="email-notify-empty-desc">{{'profile-settings-email-notify-empty-desc' | translate}}</div>
              </div>
            </ng-container>
            <div class="button-container">
              <button *ngIf="tabs[0]['id'] == activeTab" (click)="saveUserSettings()" class="btn-large btn-positive">
                {{ 'button-update-info' | translate }}
              </button>
              <button *ngIf="tabs[1]['id'] == activeTab" (click)="changeEmail()" class="btn-large btn-positive">
                {{ 'button-update-info' | translate }}
              </button>
              <button *ngIf="tabs[2]['id'] == activeTab" (click)="changePassword()" class="btn-large btn-positive">
                {{ 'button-update-info' | translate }}
              </button>
              <button
                *ngIf="tabs[3]['id'] == activeTab && userInfo?.email"
                (click)="submitEmailNotifySettings()"
                class="btn-large btn-positive"
              >
                {{ 'button-update-info' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal
  [isOpen]="isShowModal"
  [overlayStyle]="{ padding: '16px' }"
  [contentStyle]="{ width: '100%', 'max-width': '650px' }"
>
  <ng-container *ngIf="isAvatarUploadModal">
    <div class="dialog-header">
      <h2 class="heading-2">{{ 'profile-avatar-heading' | translate }}</h2>
      <div (click)="closeUploadAvatarModal()" class="close-container">
        <img src="assets/icons/close.svg" alt="" />
      </div>
    </div>
    <div class="dialog-body">
      <div (click)="avatar.click()">
        <ngx-file-drop
          dropZoneClassName="ngx-file-drop__drop-zone"
          dropZoneLabel="Drop files here"
          (onFileDrop)="dropped($event)"
        >
          <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <div class="drop-zone-container">
              <img class="pb-3 ml-auto mr-auto" src="assets/icons/upload-avatar.svg" alt="" />
              <h4 class="heading-4 ml-auto mr-auto">{{ 'profile-avatar-modal-header' | translate }}</h4>
              <div class="drop-zone-footer">
                <p class="py-3 paragraph-regular-lightened">{{ 'or' | translate }}</p>
                <button class="btn-regular btn-def">
                  {{ 'profile-avatar-download-img' | translate }}
                </button>
                <p class="paragraph-small pt-3">{{ 'profile-avatar-format' | translate }}</p>
              </div>
            </div>
          </ng-template>
        </ngx-file-drop>
        <input (change)="fileChangeEvent($event)" #avatar type="file" style="display: none" />
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="isShowAvaratCroper">
    <div class="dialog-header">
      <h2 class="heading-2">{{ 'Загрузка фотографии' | translate }}</h2>
      <div (click)="closeAvatarCropModal()" class="close-container">
        <img src="assets/icons/close.svg" alt="" />
      </div>
    </div>
    <div class="dialog-body">
      <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [imageFile]="imageFile"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 4"
        [resizeToWidth]="128"
        format="png"
        (imageCropped)="imageCropped($event)"
      >
      </image-cropper>
    </div>
    <div class="dialog-footer dialog-footer--justify-right">
      <button (click)="backStepAvatarUloader()" class="paragraph-regular-accent-lightened">
        {{ 'register-modal-go-back' | translate }}
      </button>
      <button (click)="uploadAvatar()" class="btn-large btn-positive">{{ 'forgot-confirm' | translate }}</button>
    </div>
  </ng-container>
</app-modal>
