@import '../../../../../variables.scss';
.container {
  .top-container {
    display: flex;
    justify-content: center;
    background-color: $color-light-gray;

    .top-content-container {
      width: 1280px;

      .top-content {
        padding: 24px 55px;

        .heading-content {
          .heading-text {
            h4 {
              font-weight: normal;
              margin-top: 16px;
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }

  .container-body {
    display: flex;
    justify-content: center;

    .content-container {
      width: 1280px;
      margin-top: 30px;
      .content {
        padding: 0 55px 0 55px;
        display: flex;

        .menu {
          width: 100%;
          max-width: 270px;
          margin-right: 30px;
        }

        .page-content {
          width: 100%;
          max-width: 870px;
          .head-container {
            h2 {
              margin-bottom: 30px;
            }
          }

          .body-content {
            margin-top: 32px;
            position: relative;

            .avatar-container {
              display: flex;

              .uloader-container {
                display: flex;
                .upload-icon {
                  display: none;
                  position: absolute;
                  background: rgba(0, 0, 0, 0.65);
                  opacity: 0.65;
                  width: 128px;
                  height: 128px;
                  border-radius: 50%;
                  cursor: pointer;
                  img {
                    position: absolute;
                    width: 16px;
                    height: 38px;
                    left: 56px;
                    top: 45px;
                  }
                }

                img {
                  width: 128px;
                  height: 128px;
                  border-radius: 50%;
                  margin-right: 24px;
                  cursor: pointer;
                }

                &:hover {
                  .upload-icon {
                    display: block;
                  }
                }
              }
              .avatar-info {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 258px;

                .head {
                  margin-bottom: 8px;
                }
              }
            }
            .input-container {
              display: flex;
              flex-direction: column;
              margin-top: 22px;
              border-bottom: 1px solid $color-light-gray;
              padding-bottom: 10px;
              margin-bottom: 32px;

              .input-group {
                width: 100%;
                max-width: 660px;
                display: flex;
                margin-bottom: 22px;

                .gmap {
                  margin-top: 16px;
                  width: 100%;

                  agm-map {
                    height: 96px;
                  }
                }

                .find-my-position {
                  padding-top: 8px;
                  padding-bottom: 8px;
                  display: flex;
                  align-items: center;
                  font-weight: 600;
                  color: #186fda;
                  cursor: pointer;
                }

                .select-sex {
                  width: 100%;
                  margin-right: 30px;
                }

                .phone-number-container {
                  width: 100%;
                  margin-right: 30px;
                  .phone-number {
                    position: relative;
                    display: flex;
                    align-items: center;
                    border: 2px solid $color-stroke;
                    border-radius: 3px;
                    max-height: 48px;

                    &:hover:not(.disabled) {
                      border: 2px solid $color-stroke-hover;
                    }

                    .phone-number-input {
                      margin: 0;
                      border: 0;
                    }

                    .code-phone {
                      padding: 13px 0 13px 16px;
                      line-height: 18px;
                      background-color: #f5f5f5;
                      cursor: not-allowed;
                    }

                    app-select {
                      border-radius: 3px;
                      border-top-right-radius: 0;
                      border-bottom-right-radius: 0;
                    }
                  }

                  .phone-number-error {
                    border: 2px solid $color-warn-red !important;

                    .code-phone {
                      border-left: 2px solid $color-warn-red !important;
                    }
                    input {
                      color: $color-warn-red !important;
                      &::placeholder {
                        color: $color-warn-red-65;
                      }

                      &:-ms-input-placeholder {
                        color: $color-warn-red-65;
                      }

                      &:-ms-input-placeholder {
                        color: $color-warn-red-65;
                      }
                    }
                  }
                }

                .input-icon {
                  width: 100%;
                  margin-right: 30px;
                }
              }
            }

            .address-container {
              width: 100%;
              margin-right: 30px;
            }

            .email-container {
              border-bottom: 1px solid $color-light-gray;
              padding-bottom: 10px;
              margin-bottom: 32px;
              .text-info {
                margin-top: 16px;
                width: 100%;
                max-width: 630px;
              }
              .email-input {
                margin-top: 38px;
                width: 100%;
                max-width: 300px;
                margin-bottom: 22px;
              }
              .email-change-password-input {
                margin-top: 24px;
                width: 100%;
                max-width: 300px;
                margin-bottom: 22px;
              }
            }

            .password-container {
              border-bottom: 1px solid $color-light-gray;
              padding-bottom: 10px;
              margin-bottom: 32px;

              .password-input {
                margin-top: 22px;
                margin-bottom: 22px;
                width: 100%;
                max-width: 300px;
              }
            }

            .button-container {
              margin-bottom: 128px;
            }
          }
        }
      }
    }
  }
}

.select-header {
  min-height: 44px !important;
  border-radius: 0 !important;
}

.drop-zone-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.drop-zone-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.modal-background {
  position: fixed;
  overflow: auto;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(246.24deg, rgba(85, 102, 116, 0.7) 0%, rgba(4, 25, 56, 0.7) 100%);
  display: flex;
  justify-content: center;
}
.modal-container-settings {
  display: flex;
  justify-content: center;
  .modal {
    display: flex;
    position: absolute;
    top: 0;
    z-index: 1;
    margin-top: 190px;
    width: 650px;
    height: fit-content;
    background-color: white;
    border-radius: 3px;
    padding: 40px;

    .modal-content {
      width: 100%;

      .modal-head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 24px;
        border-bottom: 1px solid $color-light-gray;
        margin-bottom: 32px;

        .close-container {
          display: flex;
          justify-content: center;
          align-content: center;
          cursor: pointer;
          border: 8px solid transparent;
          border-radius: 50%;
          z-index: 2;

          img {
            cursor: pointer;
          }
          &:hover {
            background-color: #f5f5f5;
            border: 8px solid #f5f5f5;
            border-radius: 50%;
          }
        }
      }

      .modal-body {
        margin-bottom: 32px;

        .upload-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 305px;

          img {
            margin-bottom: 24px;
          }

          h4 {
            margin-bottom: 16px;
          }

          p {
            margin-bottom: 16px;
          }

          button {
            margin-bottom: 32px;
          }
        }

        .cancel-modal {
          .warning {
            margin-top: 32px;
          }
        }

        .review-modal {
          .head-container {
            display: flex;

            img {
              width: 48px;
              height: 48px;
              border-radius: 3px;
            }

            .head-title {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 16px;
            }
          }

          .rewiew-container {
            margin-top: 19px;
          }

          .comment-container {
            padding: 16px 0;

            textarea {
              margin-top: 8px;
              width: 100%;
              border: 2px solid rgb(215, 222, 229);
              border-radius: 3px;
              resize: none;
              padding: 16px;
            }
          }
        }
      }

      .modal-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        p {
          cursor: pointer;
          margin-right: 24px;
          &:hover {
            color: #3e3e3e;
          }
        }

        .rewiew-send-button {
          width: 100%;
        }
      }
    }
  }
}

.ngx-file-drop__drop-zone {
  background: #f5f5f5 !important;
  border: 2px dashed #d7dee5 !important;
  box-sizing: border-box !important;
  border-radius: 3px !important;
  height: 420px !important;
}

@media only screen and (max-width: 1024px) {
  .container {
    .top-container {
      position: relative;
      display: flex;
      justify-content: center;
      display: none;

      .background-fake {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-light-gray;
        z-index: -2;
      }

      .top-content-container {
        width: 1280px;
        position: relative;

        .top-content {
          padding: 24px 55px;

          .heading-content {
            .heading-text {
              h4 {
                font-weight: normal;
                margin-top: 16px;
                margin-bottom: 32px;
              }
            }
          }
        }
      }
    }

    .container-body {
      display: flex;
      justify-content: center;

      .content-container {
        width: 1280px;
        margin-top: 30px;
        .content {
          padding: 0 24px 0 24px;
          display: flex;

          .menu {
            width: 100%;
            max-width: 270px;
            margin-right: 30px;
            display: none;
          }

          .page-content {
            width: 100%;
            max-width: 100%;
            .head-container {
              h2 {
                margin-bottom: 30px;
              }
            }

            .body-content {
              margin-top: 32px;
              position: relative;

              .avatar-container {
                display: flex;

                .uloader-container {
                  display: flex;
                  .upload-icon {
                    display: none;
                    position: absolute;
                    background: rgba(0, 0, 0, 0.65);
                    opacity: 0.65;
                    width: 128px;
                    height: 128px;
                    border-radius: 50%;
                    cursor: pointer;
                    img {
                      position: absolute;
                      width: 16px;
                      height: 38px;
                      left: 56px;
                      top: 45px;
                    }
                  }

                  img {
                    width: 128px;
                    height: 128px;
                    border-radius: 50%;
                    margin-right: 24px;
                    cursor: pointer;
                  }

                  &:hover {
                    .upload-icon {
                      display: block;
                    }
                  }
                }
                .avatar-info {
                  display: flex;
                  flex-direction: column;
                  width: 100%;
                  max-width: 258px;

                  .head {
                    margin-bottom: 8px;
                  }
                }
              }
              .input-container {
                display: flex;
                flex-direction: column;
                margin-top: 22px;
                border-bottom: 1px solid $color-light-gray;
                padding-bottom: 10px;
                margin-bottom: 32px;

                .input-group {
                  width: 100%;
                  max-width: 100%;
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 0;

                  .select-sex {
                    width: 100%;
                    max-width: 100%;
                  }

                  .phone-number-container {
                    width: 100%;
                    margin-right: 30px;
                    margin-bottom: 24px;

                    .phone-number {
                      display: flex;
                      align-items: center;
                      border: 2px solid $color-stroke;
                      border-radius: 3px;
                      max-height: 48px;

                      &:hover {
                        border: 2px solid $color-stroke-hover;
                      }

                      .phone-number-input {
                        margin: 0;
                        border: 0;
                      }

                      .code-phone {
                        padding: 13px 0 13px 16px;
                        line-height: 18px;
                      }
                    }

                    .phone-number-error {
                      border: 2px solid $color-warn-red !important;

                      .code-phone {
                        border-left: 2px solid $color-warn-red !important;
                      }
                      input {
                        color: $color-warn-red !important;
                        &::placeholder {
                          color: $color-warn-red-65;
                        }

                        &:-ms-input-placeholder {
                          color: $color-warn-red-65;
                        }

                        &:-ms-input-placeholder {
                          color: $color-warn-red-65;
                        }
                      }
                    }
                  }

                  .input-icon {
                    width: 100%;
                    margin-right: 30px;
                    margin-bottom: 24px;
                  }

                  .address-container {
                    width: 100%;
                  }
                }
              }

              .email-container {
                border-bottom: 1px solid $color-light-gray;
                padding-bottom: 10px;
                margin-bottom: 32px;
                .text-info {
                  margin-top: 16px;
                  width: 100%;
                  max-width: 630px;
                }
                .email-input {
                  margin-top: 38px;
                  width: 100%;
                  max-width: 100%;
                  margin-bottom: 22px;
                }
                .email-change-password-input {
                  margin-top: 24px;
                  width: 100%;
                  max-width: 100%;
                  margin-bottom: 22px;
                }
              }

              .password-container {
                border-bottom: 1px solid $color-light-gray;
                padding-bottom: 10px;
                margin-bottom: 32px;

                .password-input {
                  margin-top: 22px;
                  margin-bottom: 22px;
                  width: 100%;
                  max-width: 100%;
                }
              }

              .button-container {
                margin-bottom: 128px;

                button {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  .modal-container-settings {
    display: flex;
    justify-content: center;
    .modal {
      display: flex;
      position: absolute;
      top: 0;
      z-index: 1;
      margin-top: 190px;
      width: 100%;
      max-width: calc(100% - 32px);
      height: fit-content;
      background-color: white;
      border-radius: 3px;
      padding: 24px;

      .modal-content {
        width: 100%;

        .modal-head {
          display: flex;
          justify-content: space-between;
          padding-bottom: 24px;
          border-bottom: 1px solid $color-light-gray;
          margin-bottom: 32px;

          .close-container {
            display: flex;
            justify-content: center;
            align-content: center;
            cursor: pointer;
            border: 8px solid transparent;
            border-radius: 50%;
            z-index: 2;

            img {
              cursor: pointer;
            }
            &:hover {
              background-color: #f5f5f5;
              border: 8px solid #f5f5f5;
              border-radius: 50%;
            }
          }
        }

        .modal-body {
          margin-bottom: 32px;

          .upload-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 305px;
            padding-left: 12px;
            padding-right: 12px;

            img {
              margin-bottom: 24px;
            }

            h4 {
              margin-bottom: 16px;
            }

            p {
              margin-bottom: 16px;
            }

            button {
              margin-bottom: 32px;
            }
          }

          .cancel-modal {
            .warning {
              margin-top: 32px;
            }
          }

          .review-modal {
            .head-container {
              display: flex;

              img {
                width: 48px;
                height: 48px;
                border-radius: 3px;
              }

              .head-title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 16px;
              }
            }

            .rewiew-container {
              margin-top: 19px;
            }

            .comment-container {
              padding: 16px 0;

              textarea {
                margin-top: 8px;
                width: 100%;
                border: 2px solid rgb(215, 222, 229);
                border-radius: 3px;
                resize: none;
                padding: 16px;
              }
            }
          }
        }

        .modal-footer {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          p {
            cursor: pointer;
            margin-right: 24px;
            &:hover {
              color: #3e3e3e;
            }
          }

          .rewiew-send-button {
            width: 100%;
          }
        }
      }
    }
  }
}

.email-notify-empty {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;

  img {
    padding-bottom: 12px;
    width: 64px;
    height: auto;
  }

  &-title {
    padding-bottom: 12px;
    font-weight: 600;
    font-size: 16px;
  }

  &-desc {
    font-size: 16px;
  }
}
