<div class="auth-header">
  <div class="flex align-items-center">
    <div *ngIf="step !== steps.main" class="auth-back-button" (click)="back.emit()">
      <svg class="svg-icon svg-icon--size-m svg-icon--color-gray" style="transform: rotate(90deg)">
        <use xlink:href="assets/icons/icons-sprite.svg#ArrowDown"></use>
      </svg>
    </div>
    <h2 class="auth-title">{{ title | translate }}</h2>
  </div>
  <div (click)="close.emit()" class="icon-control">
    <img class="close-button" src="assets/icons/close.svg" alt="" />
  </div>
</div>
