.auth-header {
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-back-button {
  margin-right: 12px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e8e8e8;
  border-radius: 9999px;
  cursor: pointer;

  svg {
    fill: #b0b9c2;
  }
}

.auth-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
