@import '../../../../../variables.scss';

:host {
  height: 100%;
}

.header {
  height: 80px;
  /*margin-bottom: 24px;*/
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;

  &-title {
    font-size: 24px;
    font-weight: 600;
  }
}

.block {
  margin-bottom: 8px;
  padding: 24px;
  display: flex;
  align-items: center;
  border: 1px solid #f5f5f5;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(#000, 0.1);
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 130px;
  }

  &-avatar-wrapper {
    flex-shrink: 0;
    margin-right: 16px;
    border-radius: 9999px;
    overflow: hidden;
    background-color: rgba(#186fda, 0.15);
  }

  &-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    border-radius: 9999px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    svg {
      fill: #7998BE;
    }
  }

  &-title {
    font-size: 18px;
    font-weight: 800;
  }

  &-description {
    padding-top: 8px;
    color: rgba(#3e3e3e, 0.65);
    font-size: 14px;
  }

  &:hover {
    background-color: rgba(24, 111, 218, 0.03);
  }

  &--active {
    color: #186fda;
    background-color: rgba(24, 111, 218, 0.03);
    border: 2px solid rgba(24, 111, 218, 0.35);
    transition: border-color 0.3s ease;
  }
}
