<div class="header">
  <div *ngIf="isWidget" class="header-title">{{ companyTitle }}</div>
  <div *ngIf="!isWidget" class="header-title">{{ 'booking-type-step-title' | translate }}</div>
</div>
<app-widget-tabs *ngIf="isWidget"></app-widget-tabs>
<div class="block mt-4" (click)="nextStep(0)">
  <div class="block-avatar-wrapper">
    <div class="block-avatar">
      <svg class="svg-icon svg-icon--size-xxl">
        <use xlink:href="assets/icons/icons-sprite.svg#BookGroup"></use>
      </svg>
    </div>
  </div>

  <div>
    <div class="block-title">{{ 'booking-type-step-group' | translate }}</div>
    <div class="block-description">{{ 'booking-type-step-group-description' | translate }}</div>
  </div>
</div>

<div *ngIf="hasPersonalGroups" class="block" (click)="nextStep(1)">
  <div class="block-avatar-wrapper">
    <div class="block-avatar">
      <svg class="svg-icon svg-icon--size-xxl">
        <use xlink:href="assets/icons/icons-sprite.svg#BookPersonal"></use>
      </svg>
    </div>
  </div>

  <div>
    <div class="block-title">{{ 'booking-type-step-personal' | translate }}</div>
    <div class="block-description">{{ 'booking-type-step-personal-description' | translate }}</div>
  </div>
</div>
