@import "../../../variables.scss";
.header-mobile {
    display: none;
}
.withe-header {
    background-color: white !important;
}
.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid $color-light-gray;
    background-color: $color-pure-white;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 55px;
        height: 100%;
        width: 1170px;

        .home-link {
            width: 125px;
            min-width: 125px;
            display: flex;
            // cursor: pointer;
        }

        .locate {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .location-select {
                position: relative;
                display: flex;
                margin-right: 24px;
                cursor: pointer;
                align-items: center;

                .geoposition-tooltip {
                  position: absolute;
                  z-index: 1000;
                  top: 40px;

                  padding: 4px 8px;
                  width: 300px;
                  background-color: rgba(#2e2e2e, 0.95);
                  border-radius: 5px;
                  color: #fff;
                  opacity: 0;
                  display: none;
                  transition: opacity ease 0.6s;

                  * {
                    line-height: 150%;
                  }

                  &.show {
                    opacity: 1;
                    transition: opacity ease 0.4s;
                  }
                }

                .arrow-icon {
                    transform: rotate(0deg);
                    margin-left: 6px;
                    width: 16px;
                    height: auto;
                }

                .paragraph-small-accent-lightened {
                    display: flex;
                    align-items: center;
                    color: $color-brand-blue;
                }

                .location-general-icon {
                    width: 16px;
                    margin-right: 8px;
                }

                .location-items {
                    position: absolute;
                    top: 35px;
                    left: 0px;
                    background-color: white;
                    border-radius: 3px;
                    box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                    z-index: 100;
                }
                .location-item {
                    white-space: nowrap;
                    padding: 16px;
                    border-bottom: 1px solid $color-light-gray;
                    &:hover {
                        background-color: $color-bg-blue-dk;
                    }
                }

                .location-last-item {
                    padding: 16px;
                    &:hover {
                        background-color: $color-bg-blue-dk;
                    }
                }
                .location-item-container {
                    display: flex;
                    .location-item-img {
                        margin-right: 5px;
                        width: 16px;
                    }
                }
            }
            .language-select {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .language-general-icon {
                    width: 16px;
                    margin-right: 8px;
                }

                .language-items {
                    position: absolute;
                    top: 35px;
                    left: -16px;
                    background-color: white;
                    border-radius: 3px;
                    box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                    z-index: 100;
                }
                .language-item {
                    padding: 16px;
                    border-bottom: 1px solid $color-light-gray;
                    &:hover {
                        background-color: $color-bg-blue-dk;
                    }
                }

                .language-last-item {
                    padding: 16px;
                    &:hover {
                        background-color: $color-bg-blue-dk;
                    }
                }
                .language-item-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .language-item-img {
                        margin-right: 5px;
                        width: 16px;
                    }
                }
            }
        }

        .hr {
            border: .5px solid $color-light-gray;
            height: 40px;
            width: 1px;
            margin-left: 24px;
            margin-right: 24px;
        }

        .navigation {
            display: flex;
            align-items: center;
            white-space: nowrap;

            .notification-container {
                position: relative;
                .notification-flag {
                    position: absolute;
                    background: #FF552D;
                    border-radius: 50%;
                    width: 16px;
                    height: 16px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    top: -9px;
                    right: -11px;

                    p {
                        color: white;
                    }
                }
                .notification-items {
                    width: 370px;
                    height: 425px;
                    left: -325px !important;
                    cursor: default;


                    .notification-header {
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid $color-light-gray;
                        justify-content: space-between;
                        p {
                            margin: 16px;
                        }

                        img {
                            margin-right: 16px;
                            cursor: pointer;
                        }
                    }

                    .notifications-body {
                        margin: 16px;
                        display: flex;
                        flex-direction: column;
                        height: 340px;
                        overflow: auto;

                        .notification-item {
                            border-bottom: 1px solid $color-light-gray;
                            margin-top: 5px;

                            .paragraph-small {
                                white-space: normal;
                            }
                        }
                        .notification-time {
                            font-weight: normal;
                            margin-top: 16px;
                            margin-bottom: 16px;
                        }
                    }


                }
            }

            .icons-headers {
                margin-left: 41px;
                img {
                    height: 14px;
                    width: 14px;
                }
            }

            .login-link {
                margin-right: 24px;
            }

            .user-info {
                display: flex;
                align-items: center;
                cursor: pointer;
                position: relative;

                .select-title {
                    padding-right: 8px;
                }

                .avatar {
                    margin-left: 8px;
                    width: 40px;
                    border-radius: 50px;
                }

                &:hover {
                    .select-title {
                        color: $color-brand-blue;
                    }
                }
            }
            .custom-select-items {
                position: absolute;
                top: 35px;
                left: -65px;
                background-color: white;
                border-radius: 3px;
                box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                min-width: 200px;
                z-index: 100;
                display: flex;
                flex-direction: column;

                button {
                    width: 100%;
                    text-align: left;
                }
            }
            .custom-select-item {
                padding: 16px;
                border-bottom: 1px solid $color-light-gray;
                justify-content: flex-start;

                &:hover {
                    background-color: $color-bg-blue-dk;
                }
            }
            .custom-select-item-last {
                padding: 16px;
                color: $color-warn-red;
                justify-content: flex-start;

                &:hover {
                    background-color: $color-bg-blue-dk;
                }
            }
        }
    }

}

.border-line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.cookie {
    position: fixed;
    width: 100%;
    height: 72px;
    background: rgba(62, 62, 62, 0.9);
    bottom: 0;
    display: flex;
    padding-left: 55px;
    padding-right: 55px;
    justify-content: center;
    z-index: 100;
    .container {
        display: flex;
        justify-content: space-between;
        width: 1280px;
        .left {
            display: flex;
            align-items: center;
            p {
                color: white;
                margin-left: 24px;
                margin-right: 4px;
            }
            a {
                color: white;
            }
        }
        .right {
            display: flex;
            align-items: center;
        }

    }
}

.cookie-footer-notification {
    position: fixed;
    width: 100%;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: $color-pure-white;
    z-index: 101;
    padding: 24px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px -5px 15px 0px rgba(0, 0, 0, 0.05);

    .notification-text {
        display: flex;
        flex-direction: column;

        b {
            padding-bottom: 8px;
            display: flex;
            align-items: center;
            font-size: 18px;
            img {
                padding-right: 8px;
            }
        }

        span {
            font-size: 15px;
        }
    }

    .notification-controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 16px;

        button {
            text-wrap: nowrap;
        }
        button:not(:last-child) {
            margin-right: 16px;
        }
    }
}

@media only screen and (max-width: 640px) {
    .cookie-footer-notification {
        flex-direction: column;

        .notification-controls {
            margin-left: 0;
            padding-top: 16px;
        }
    }
}

@media only screen and (max-width: 768px) {
    .cookie-modal-settings {
        min-width: 420px !important;
    }
}

@media only screen and (max-width: 480px) {
    .cookie-modal-settings {
        min-width: 360px !important;
        left: 0 !important;
        max-height: 100% !important;
        transform: none !important;
        top: 0;
    }
}

.cookie-modal-settings {
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 101;
    background-color: $color-pure-white;
    max-width: 600px;
    min-width: 600px;
    left: 50%;
    transform: translate(-50%, 0%);
    max-height: 80%;
    border-radius: 3px;

    .modal-header {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $color-light-gray;
        padding: 17px 24px 17px 24px;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
    }

    .modal-body {
        display: flex;
        flex-direction: column;
        //max-height: 500px;
        overflow-y: auto;
        .section {
            padding: 24px 0 24px 0;
            margin: 0 24px 0 24px;
            font-size: 13px;

            .section-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding-bottom: 8px;

                .flex {
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                }

                b {
                    font-weight: 600;
                    font-size: 18px;
                }

                .circle-btn {
                    margin-right: 8px;
                }
            }

            .section-body {
                display: flex;
                flex-direction: column;
                font-size: 13px;
                .section-body-details {
                    margin-top: 8px;
                    padding: 16px;
                    background-color: $color-light-gray;
                    border-radius: 3px;

                    .item {
                        div {
                            display: flex;
                            flex-direction: row;
                            padding-bottom: 8px;
                        }
                        b {
                            font-size: 13px;
                            min-width: 120px;
                        }
                        span {
                            font-size: 13px;
                        }
                        div:last-of-type{
                            padding-bottom: 8px;
                            border-bottom: 1px solid $color-light-intense-gray;
                            margin-bottom: 8px;
                        }
                    }

                    .item:last-of-type {
                        div:last-of-type{
                            border-bottom: 0;
                            padding-bottom: 0;
                            margin-bottom: 0;
                        }
                    }
                }
            }

            .circle-btn {
                border-radius: 33px;
                border: 1px solid $color-icon-gray;
                width: 36px;
                height: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;

                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;

                img {
                    transform: rotate(-90deg);
                    filter: brightness(0.24);
                    transition: transform 0.1s;
                }

                &.active {
                    background-color: $color-icon-gray;
                }
                &.open {
                    background-color: $color-icon-gray;
                    img {
                        transform: rotate(0) !important;
                    }
                }
                &.open:hover {
                    background-color: $color-icon-gray !important;
                }
            }

            .circle-btn:hover {
                background-color: $color-light-gray;
                cursor: pointer;
            }
        }

        .section:not(:last-child) {
            border-bottom: 1px solid $color-light-gray;
        }
    }

   .modal-footer {
       display: flex;
       justify-content: space-between;
       padding: 12px 24px 12px 24px;
       align-items: center;
       border-top: 1px solid $color-light-gray;
   }
}

@media only screen and (max-width: 1024px) {
    .header {
        display: none;
    }
    .header-mobile {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top:0;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 72px;
        z-index: 1;

        .container {
            position: fixed;
            top: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 72px;
            width: 100%;
            border-bottom: 1px solid $color-light-gray;
            background: white;

            .locate {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-left: 24px;
                height: 100%;
                overflow: hidden;

                .location-select {
                  position: relative;
                  display: flex;
                  margin-right: 24px;
                  cursor: pointer;
                  align-items: center;

                  .geoposition-tooltip {
                    position: absolute;
                    z-index: 1000;
                    top: 40px;

                    padding: 4px 8px;
                    width: 300px;
                    background-color: rgba(#2e2e2e, 0.95);
                    border-radius: 5px;
                    color: #fff;
                    opacity: 0;
                    display: none;
                    transition: opacity ease 0.6s;

                    * {
                      line-height: 150%;
                    }

                    &.show {
                      opacity: 1;
                      transition: opacity ease 0.4s;
                    }
                  }

                  .arrow-icon {
                      transform: rotate(0deg);
                      margin-left: 6px;
                      width: 16px;
                      height: auto;
                  }

                  .paragraph-small-accent-lightened {
                      display: flex;
                      align-items: center;
                      color: $color-brand-blue;
                  }

                  .location-general-icon {
                      width: 16px;
                      margin-right: 8px;
                  }

                  .location-items {
                      position: absolute;
                      top: 35px;
                      left: 0px;
                      background-color: white;
                      border-radius: 3px;
                      box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                      z-index: 100;
                  }
                  .location-item {
                      white-space: nowrap;
                      padding: 16px;
                      border-bottom: 1px solid $color-light-gray;
                      &:hover {
                          background-color: $color-bg-blue-dk;
                      }
                  }

                  .location-last-item {
                      padding: 16px;
                      &:hover {
                          background-color: $color-bg-blue-dk;
                      }
                  }
                  .location-item-container {
                      display: flex;
                      .location-item-img {
                          margin-right: 5px;
                          width: 16px;
                      }
                  }
              }
                .language-select {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    .language-general-icon {
                        width: 16px;
                        margin-right: 8px;
                    }

                    .language-items {
                        position: absolute;
                        top: 35px;
                        left: 0px;
                        background-color: white;
                        border-radius: 3px;
                        box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                        z-index: 100;
                    }
                    .language-item {
                        padding: 16px;
                        border-bottom: 1px solid $color-light-gray;
                        &:hover {
                            background-color: $color-bg-blue-dk;
                        }
                    }

                    .language-last-item {
                        padding: 16px;
                        &:hover {
                            background-color: $color-bg-blue-dk;
                        }
                    }
                    .language-item-container {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .language-item-img {
                            margin-right: 5px;
                            width: 16px;
                        }
                    }
                }
            }
            .burger {
                cursor: pointer;
                margin-left: 24px;
                height: 24px;
                display: flex;
            }
            .nav {
                display: flex;
                height: 100%;
                .header-button {
                    display: flex;
                    align-items: center;
                    padding: 0 24px;
                    border-left: 1px solid $color-light-gray;
                    cursor: pointer;
                }

                .notif-container {
                    position: relative;
                    .notification-flag {
                        position: absolute;
                        background: #FF552D;
                        border-radius: 50%;
                        width: 16px;
                        height: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        top: 18px;
                        right: 18px;

                        p {
                            color: white;
                        }
                    }
                }

                .notification-items {
                    width: 100%;
                    height: calc(100vh - 72px);
                    left: 0px !important;
                    top: 72px !important;


                    .notification-header {
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid $color-light-gray;

                        h2 {
                            margin: 16px;
                        }

                        img {
                            margin-left: 16px;
                        }
                    }

                    .notifications-body {
                        margin: 16px;
                        display: flex;
                        flex-direction: column;
                        overflow: auto;
                        height: 840px;

                        .notification-item {
                            border-bottom: 1px solid $color-light-gray;
                            margin-top: 5px;

                            .paragraph-small {
                                white-space: normal;
                            }
                        }
                        .notification-time {
                            font-weight: normal;
                            margin-top: 16px;
                            margin-bottom: 16px;
                        }
                    }
                }
                .custom-select-items {
                    position: absolute;
                    top: 35px;
                    left: -65px;
                    background-color: white;
                    border-radius: 3px;
                    box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                    min-width: 200px;
                    z-index: 100;

                    button {
                        width: 100%;
                        text-align: left;
                    }
                }
                .custom-select-item {
                    padding: 16px;
                    border-bottom: 1px solid $color-light-gray;
                    &:hover {
                        background-color: $color-bg-blue-dk;
                    }
                }
                .custom-select-item-last {
                    padding: 16px;
                    color: $color-warn-red;
                    &:hover {
                        background-color: $color-bg-blue-dk;
                    }
                }
            }
            .nav-auth-buttons {
                .login-button {
                    margin-right: 8px;
                }
                .register-button {
                    margin-right: 24px;
                }
            }
        }
    }
    .mobile-menu {
        position: fixed;
        top: 72px;
        bottom: 0;
        left: 0;
        width: 300px;
        background: white;
        z-index: 4;

        .container {
            display: flex;
            flex-direction: column;
            padding: 24px;
            /*height: 100%;*/
            height: calc(100% - 54px);
            .content {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .no-auth-container {
                    span {
                        font-size: 16px;
                    }
                    button {
                        margin-top: 24px;
                    }
                }

                .bottom-items {
                    button {
                        width: 100%;
                    }
                }

                .top-items {
                    display: flex;
                    flex-direction: column;
                    .home-link {
                        margin-bottom: 24px;
                    }

                    .user-info {
                        display: flex;
                        align-items: center;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            margin-right: 16px;
                        }
                    }

                    .menu {
                        margin-top: 40px;
                        display: flex;
                        flex-direction: column;

                        .menu-item {
                            display: flex;
                            padding-top: 16px;
                            padding-bottom: 16px;
                            border-bottom: 1px solid $color-light-gray;
                            cursor: pointer;
                        }
                        .logout {
                            color: $color-warn-red;
                        }
                    }
                }
            }
        }
        .language-container {
            padding: 16px 24px;
            border-top: 1px solid $color-light-gray;

            .language-select {
                position: relative;
                display: flex;
                align-items: center;
                cursor: pointer;

                .language-general-icon {
                    width: 16px;
                    margin-right: 8px;
                }

                .language-items {
                    position: absolute;
                    bottom: 35px;
                    left: -16px;
                    background-color: white;
                    border-radius: 3px;
                    box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                    z-index: 100;
                }
                .language-item {
                    padding: 16px;
                    border-bottom: 1px solid $color-light-gray;
                    &:hover {
                        background-color: $color-bg-blue-dk;
                    }
                }

                .language-last-item {
                    padding: 16px;
                    &:hover {
                        background-color: $color-bg-blue-dk;
                    }
                }
                .language-item-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .language-item-img {
                        margin-right: 5px;
                        width: 16px;
                    }
                }
            }
        }
    }
    .cookie {
        position: fixed;
        width: 100%;
        height: fit-content;
        background: rgba(62, 62, 62, 0.9);
        bottom: 0;
        display: flex;
        padding: 24px 24px;
        justify-content: center;
        z-index: 100;
        .container {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            width: 100%;
            .left {
                display: flex;
                align-items: center;
                flex-direction: column;
                img {
                    margin-bottom: 12px;
                }
                p {
                    color: white;
                    margin-left: 0;
                    margin-right: 0;
                    text-align: center;
                }
                a {
                    color: white;
                }
            }
            .right {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 12px;

                button {
                    width: 100%;
                }
            }

        }
    }


}

 .menu-background {
     position: fixed;
     width: 100%;
     height: 100vh;
     background: rgba(29, 45, 68, 0.5);
     z-index: 3;
 }


 .modal {
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
  border-radius: 3px;
  width: calc(100% - 32px);
  max-width: 500px;
  z-index: 100;
  left: calc(50%);
  transform: translateX(-50%);
  top: 64px;

  .modal-content {
      display: flex;
      flex-direction: column;
      padding: 24px;

      @media (min-width: 768px) {
        padding: 40px;
      }

      .modal-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 16px;

          .modal-header-step-two {
              display: flex;

              .back-margin {
                  margin-right: 18px;
                  width: 29px;
                  height: 29px;
              }
          }
      }

      .email-conf {
        color: $color-brand-blue;
    }
      .forgot-header-text {
        padding-bottom: 24px;
      }

      .hr {
        border-top: 1px solid #f5f5f5;
        padding-bottom: 24px;
      }

      .modal-body {
          display: flex;
          flex-direction: column;

          .email-img {
              padding: 30px 0;
          }

          button {
              color: #FFFFFF;
          }

          .input-icon-container {
              margin-bottom: 25px;
          }

          .remember-container {
              margin-bottom: 18px;
          }
      }

      .modal-footer {
          display: flex;
          flex-direction: column;

          .modal-footer-body {
              display: flex;
              justify-content: center;
          }
      }
  }
}

.resend-button {
  padding-top: 16px;
  color: #186fda;
  font-weight: 600;
  cursor: pointer;

  &-disabled {
    color: rgba(#3e3e3e, 0.5);
    cursor: not-allowed;
  }
}

.background {
  width: 100%;
  height: 100%;
  background: linear-gradient(242.13deg, rgba(85, 102, 116, 0.7) 0%, rgba(4, 25, 56, 0.7) 100%);
  position: fixed;
  z-index: 50;
  top: 0;
}
