<div [ngClass]="{ 'border-line': router.url != '/' }" class="header">
  <div class="container">
    <a class="home-link" [routerLink]="['/']">
      <img class="logo" src="assets/icons/Logo.svg" alt="" />
    </a>

    <div class="hr"></div>

    <div class="locate">
      <div #geopositionSelect (click)="toggleModal(ModalType.SelectCity)" id="location-menu" class="location-select">
        <ng-container *ngIf="locationService.selectedLocation?.city">
          <i
            class="mr-2 flag flag-{{
              locationService.selectedLocation?.country_code || locationService.selectedLocation?.code | lowercase
            }}"
          ></i>
          <p class="paragraph-small-accent-lightened">
            {{ locationService.selectedLocation?.city }},
            {{ locationService.selectedLocation?.country }}
          </p>
          <img class="arrow-icon" src="assets/icons/Select.svg" />
        </ng-container>
        <ng-container *ngIf="locationService.selectedLocation?.country && !locationService.selectedLocation?.city">
          <i
            class="mr-2 flag flag-{{
              locationService.selectedLocation?.country_code || locationService.selectedLocation?.code | lowercase
            }}"
          ></i>
          <p class="paragraph-small-accent-lightened">
            {{ 'geoposition-all-country' | translate }}
            {{ locationService.selectedLocation?.country }}
          </p>
          <img class="arrow-icon" src="assets/icons/Select.svg" />
        </ng-container>
        <ng-container *ngIf="!locationService.selectedLocation?.country && !locationService.selectedLocation?.city">
          <p class="paragraph-small-accent-lightened">
            {{ 'geoposition-search-all' | translate }}
          </p>
          <img class="arrow-icon" src="assets/icons/Select.svg" />
        </ng-container>

        <div #geopositionTooltip class="geoposition-tooltip">
          <div class="font-semibold">
            <ng-container *ngIf="geopositionDefined === false">
              {{ 'geoposition-not-defined' | translate }}
            </ng-container>
            <ng-container
              *ngIf="
                geopositionDefined === true &&
                locationService.selectedLocation?.country &&
                !locationService.selectedLocation?.city
              "
            >
              {{ 'geoposition-no-business-in-city' | translate }}
            </ng-container>
            <ng-container
              *ngIf="
                geopositionDefined === true &&
                !locationService.selectedLocation?.country &&
                !locationService.selectedLocation?.city
              "
            >
              {{ 'geoposition-no-business-in-country' | translate }}
            </ng-container>
          </div>
          <div>{{ 'geoposition-position-search-complete' | translate }}:</div>
          <div class="font-semibold">
            <ng-container *ngIf="locationService.selectedLocation?.city">
              {{ locationService.selectedLocation?.city }},
              {{ locationService.selectedLocation?.country }}
            </ng-container>
            <ng-container *ngIf="locationService.selectedLocation?.country && !locationService.selectedLocation?.city">
              {{ 'geoposition-all-country' | translate }}
              {{ locationService.selectedLocation?.country }}
            </ng-container>
            <ng-container *ngIf="!locationService.selectedLocation?.country && !locationService.selectedLocation?.city">
              {{ 'geoposition-search-all' | translate }}
            </ng-container>
          </div>
        </div>
      </div>

      <div (click)="toggleLanguageMenu()" id="language-menu" class="language-select">
        <img
          *ngIf="translate.currentLang == 'UA'"
          class="language-general-icon"
          src="assets/flags/145-ukraine.svg"
          alt=""
        />
        <img
          *ngIf="translate.currentLang == 'EN'"
          class="language-general-icon"
          src="assets/flags/226-united-states.svg"
          alt=""
        />
        <img
          *ngIf="translate.currentLang == 'FR'"
          class="language-general-icon"
          src="assets/flags/195-france.svg"
          alt=""
        />
        <img
          *ngIf="translate.currentLang == 'DE'"
          class="language-general-icon"
          src="assets/flags/162-germany.svg"
          alt=""
        />
        <p class="paragraph-small-accent-lightened">{{ translate.currentLang }}</p>

        <div *ngIf="isShowLanguageMenu" class="language-items">
          <div (click)="setLanguage('EN')" class="language-item">
            <div class="language-item-container">
              <img src="assets/flags/226-united-states.svg" alt="" class="language-item-img" />
              <p class="paragraph-small-accent-lightened">EN</p>
            </div>
          </div>
          <div (click)="setLanguage('UA')" class="language-last-item">
            <div class="language-item-container">
              <img src="assets/flags/145-ukraine.svg" alt="" class="language-item-img" />
              <p class="paragraph-small-accent-lightened">UA</p>
            </div>
          </div>
          <div (click)="setLanguage('FR')" class="language-last-item">
            <div class="language-item-container">
              <img src="assets/flags/195-france.svg" alt="" class="language-item-img" />
              <p class="paragraph-small-accent-lightened">FR</p>
            </div>
          </div>
          <div (click)="setLanguage('DE')" class="language-last-item">
            <div class="language-item-container">
              <img src="assets/flags/162-germany.svg" alt="" class="language-item-img" />
              <p class="paragraph-small-accent-lightened">DE</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hr mr-5"></div>
    <div class="navigation">
      <a class="btn btn-regular btn-outline-gray login-link" href="https://bodywell.io/Home.html" target="_blank">
        {{ 'header-list-your-business' | translate }}
      </a>
      <button
        *ngIf="apiService.token == ''"
        (click)="toggleModal(ModalType.Auth, { authModalStep: authModalSteps.general })"
        class="btn-regular btn-ghost icon-profile icon-small icon-left"
      >
        {{ 'header-login-button' | translate }}
      </button>

      <ng-container *ngIf="apiService.token != ''">
        <div id="user-info-menu" (click)="toggleUserMenu()" class="user-info">
          <p class="paragraph-small-accent select-title">{{ apiService.user['first_name'] }}</p>
          <img
            [ngStyle]="{ transform: isShowUserMenu == true ? 'rotate(-180deg)' : 'rotate(0deg)' }"
            src="assets/icons/Select.svg"
            alt=""
          />
          <div *ngIf="isShowUserMenu" class="custom-select-items paragraph-small">
            <button [routerLink]="['/user-settings']" routerLinkActive="router-link-active" class="custom-select-item">
              {{ 'profile-settings' | translate }}
            </button>
            <button [routerLink]="['/user-sessions']" routerLinkActive="router-link-active" class="custom-select-item">
              {{ 'profile-appointments' | translate }}
            </button>
            <button [routerLink]="['/user-subscription']" class="custom-select-item">
              {{ 'profile-passes' | translate }}
            </button>
            <button [routerLink]="['/user-favorites']" class="custom-select-item">
              {{ 'profile-favorites' | translate }}
            </button>
            <button (click)="logOut()" class="custom-select-item-last">
              {{ 'profile-logout' | translate }}
            </button>
          </div>
          <img
            class="avatar"
            src="{{ apiUrl + '/account/user/avatar?user_id=' + apiService.user['id'] + '&version=' + avatarVersion }}"
            alt=""
          />
        </div>
        <div
          (click)="showNotificationMenu()"
          id="notification-menu"
          class="icon-control icons-headers notification-container"
        >
          <img src="assets/icons/Notification.svg" alt="" />
          <div *ngIf="countNewNotifications != 0" class="notification-flag">
            <p class="paragraph-extra-small">{{ countNewNotifications }}</p>
          </div>
          <div *ngIf="isShowNotificationMenu" class="custom-select-items paragraph-small notification-items">
            <div class="notification-header">
              <p class="paragraph-small-accent">{{ 'header-notifications' | translate }}</p>
              <img id="notification-close" (click)="closeNotificationMenu()" src="assets/icons/close.svg" alt="" />
            </div>
            <div class="notifications-body">
              <div *ngFor="let item of notifications" class="notification-item">
                <p *ngIf="item['type'] == 1" class="paragraph-small">
                  {{ 'notification-approve-accept-part1' | translate }}
                  {{ item['text']['product_title'] }}
                  ({{ item['text']['from_date'] }}) {{ 'notification-approve-accept-part2' | translate }}
                  {{ item['text']['company_title'] }} {{ 'notification-approve-accept-part3' | translate }}
                </p>

                <p *ngIf="item['type'] == 4 || item['type'] === 5" class="paragraph-small">
                  {{ 'notification-approve-cancel-part1' | translate }}
                  {{ item['text']['product_title'] }}
                  ({{ item['text']['from_date'] }}) {{ 'notification-approve-cancel-part2' | translate }}
                  {{ item['text']['company_title'] }} {{ 'notification-approve-cancel-part3' | translate }}
                </p>

                <p class="paragraph-small-accent-lightened notification-time">
                  {{ item['date'] }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="icon-control icons-headers">
              <img src="assets/icons/Heart.svg" alt="">
          </div> -->
      </ng-container>
    </div>
  </div>
</div>

<div class="header-mobile">
  <div class="container">
    <div class="locate">
      <div #geopositionSelect (click)="toggleModal(ModalType.SelectCity)" id="location-menu" class="location-select">
        <ng-container *ngIf="locationService.selectedLocation?.city">
          <i
            class="mr-2 flag flag-{{
              locationService.selectedLocation?.country_code || locationService.selectedLocation?.code | lowercase
            }}"
          ></i>
          <p class="paragraph-small-accent-lightened">
            {{ locationService.selectedLocation?.city }},
            {{ locationService.selectedLocation?.country }}
          </p>
          <img class="arrow-icon" src="assets/icons/Select.svg" />
        </ng-container>
        <ng-container *ngIf="locationService.selectedLocation?.country && !locationService.selectedLocation?.city">
          <i
            class="mr-2 flag flag-{{
              locationService.selectedLocation?.country_code || locationService.selectedLocation?.code | lowercase
            }}"
          ></i>
          <p class="paragraph-small-accent-lightened">
            {{ 'geoposition-all-country' | translate }}
            {{ locationService.selectedLocation?.country }}
          </p>
          <img class="arrow-icon" src="assets/icons/Select.svg" />
        </ng-container>
        <ng-container *ngIf="!locationService.selectedLocation?.country && !locationService.selectedLocation?.city">
          <p class="paragraph-small-accent-lightened">
            {{ 'geoposition-search-all' | translate }}
          </p>
          <img class="arrow-icon" src="assets/icons/Select.svg" />
        </ng-container>

        <div #geopositionTooltip class="geoposition-tooltip">
          <div class="font-semibold">
            <ng-container *ngIf="geopositionDefined === false">
              {{ 'geoposition-not-defined' | translate }}
            </ng-container>
            <ng-container
              *ngIf="
                geopositionDefined === true &&
                locationService.selectedLocation?.country &&
                !locationService.selectedLocation?.city
              "
            >
              {{ 'geoposition-no-business-in-city' | translate }}
            </ng-container>
            <ng-container
              *ngIf="
                geopositionDefined === true &&
                !locationService.selectedLocation?.country &&
                !locationService.selectedLocation?.city
              "
            >
              {{ 'geoposition-no-business-in-country' | translate }}
            </ng-container>
          </div>
          <div>{{ 'geoposition-position-search-complete' | translate }}:</div>
          <div class="font-semibold">
            <ng-container *ngIf="locationService.selectedLocation?.city">
              {{ locationService.selectedLocation?.city }},
              {{ locationService.selectedLocation?.country }}
            </ng-container>
            <ng-container *ngIf="locationService.selectedLocation?.country && !locationService.selectedLocation?.city">
              {{ 'geoposition-all-country' | translate }}
              {{ locationService.selectedLocation?.country }}
            </ng-container>
            <ng-container *ngIf="!locationService.selectedLocation?.country && !locationService.selectedLocation?.city">
              {{ 'geoposition-search-all' | translate }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="nav">
      <div class="header-button" [routerLink]="['/']"><img src="assets/icons/Search-header.svg" alt="" /></div>
      <div
        *ngIf="apiService.token != ''"
        (click)="showNotificationMenu()"
        id="notif-container"
        class="last-icon header-button notif-container"
      >
        <img src="assets/icons/mobile-notif.svg" alt="" />
        <div *ngIf="countNewNotifications != 0" class="notification-flag">
          <p class="paragraph-extra-small">{{ countNewNotifications }}</p>
        </div>
      </div>
      <div *ngIf="isShowNotificationMenu" class="custom-select-items paragraph-small notification-items">
        <div class="notification-header">
          <img id="notification-close" (click)="closeNotificationMenu()" src="assets/icons/arrow-back.svg" alt="" />
          <h2 class="heading-2">{{ 'header-notifications' | translate }}</h2>
        </div>
        <div class="notifications-body">
          <div *ngFor="let item of notifications" class="notification-item">
            <p *ngIf="item['type'] == 1" class="paragraph-small">
              {{ 'notification-approve-accept-part1' | translate }}
              {{ item['text']['product_title'] }}
              ({{ item['text']['from_date'] }}) {{ 'notification-approve-accept-part2' | translate }}
              {{ item['text']['company_title'] }} {{ 'notification-approve-accept-part3' | translate }}
            </p>

            <p *ngIf="item['type'] == 4 || item['type'] === 5" class="paragraph-small">
              {{ 'notification-approve-cancel-part1' | translate }}
              {{ item['text']['product_title'] }}
              ({{ item['text']['from_date'] }}) {{ 'notification-approve-cancel-part2' | translate }}
              {{ item['text']['company_title'] }} {{ 'notification-approve-cancel-part3' | translate }}
            </p>

            <p class="paragraph-small-accent-lightened notification-time">
              {{ item['date'] }}
            </p>
          </div>
        </div>
      </div>
      <div (click)="toggleMobileMenu()" class="header-button"><img src="assets/icons/Hamburger.svg" alt="" /></div>
    </div>
  </div>
</div>

<div *ngIf="isOpenMobileMenu" class="mobile-menu">
  <div class="container">
    <div class="content">
      <div class="top-items">
        <a class="home-link" [routerLink]="['/']" (click)="toggleMobileMenu()">
          <img
            routerLinkActive="router-link-active"
            routerLinkActive="router-link-active"
            class="logo"
            src="assets/icons/Logo.svg"
            alt=""
          />
        </a>
        <ng-container *ngIf="apiService.token != ''">
          <div class="user-info">
            <img
              src="{{ apiUrl + '/account/user/avatar?user_id=' + apiService.user['id'] + '&version=' + avatarVersion }}"
              alt=""
            />
            <p class="paragraph-regular-accent">
              {{ apiService.user['first_name'] }} {{ apiService.user['last_name'] }}
            </p>
          </div>
          <div (click)="isOpenMobileMenu = false" class="menu">
            <div
              [routerLink]="['/user-sessions']"
              routerLinkActive="router-link-active"
              class="menu-item"
              (click)="overflowOff()"
            >
              <p class="paragraph-regular">{{ 'profile-appointments' | translate }}</p>
            </div>
            <div [routerLink]="['/user-subscription']" class="menu-item" (click)="overflowOff()">
              <p class="paragraph-regular">{{ 'profile-passes' | translate }}</p>
            </div>
            <div [routerLink]="['/user-favorites']" class="menu-item" (click)="overflowOff()">
              <p class="paragraph-regular">{{ 'profile-favorites' | translate }}</p>
            </div>
            <div
              [routerLink]="['/user-settings']"
              routerLinkActive="router-link-active"
              class="menu-item"
              (click)="overflowOff()"
            >
              <p class="paragraph-regular">{{ 'profile-settings' | translate }}</p>
            </div>

            <div class="menu-item" [routerLink]="['/user-gcalendar']" routerLinkActive="router-link-active">
              <img class="mr-2" src="assets/icons/google.svg" alt="" />
              <p class="paragraph-regular">{{ 'profile-gcalendar' | translate }}</p>
            </div>
            <div (click)="logOut()" class="menu-item" (click)="overflowOff()">
              <p class="paragraph-regular logout">{{ 'profile-logout' | translate }}</p>
            </div>
          </div>
        </ng-container>
        <div *ngIf="apiService.token == ''" class="no-auth-container">
          <span>{{ 'auth-modal-heading' | translate }}</span>
          <button
            (click)="toggleModal(ModalType.Auth, { authModalStep: authModalSteps.general }); toggleMobileMenu()"
            class="btn-regular btn-ghost icon-profile icon-small icon-left register-button"
          >
            {{ 'header-login-button' | translate }}
          </button>
        </div>
      </div>
      <a class="btn btn-regular btn-outline-gray" href="https://bodywell.io/Home.html" target="_blank">
        {{ 'header-list-your-business' | translate }}</a
      >
    </div>
  </div>
  <div class="language-container">
    <div (click)="toggleLanguageMenu()" id="language-menu" class="language-select">
      <img
        *ngIf="translate.currentLang == 'UA'"
        class="language-general-icon"
        src="assets/flags/145-ukraine.svg"
        alt=""
      />
      <img
        *ngIf="translate.currentLang == 'EN'"
        class="language-general-icon"
        src="assets/flags/226-united-states.svg"
        alt=""
      />
      <img
        *ngIf="translate.currentLang == 'FR'"
        class="language-general-icon"
        src="assets/flags/195-france.svg"
        alt=""
      />
      <img
        *ngIf="translate.currentLang == 'DE'"
        class="language-general-icon"
        src="assets/flags/162-germany.svg"
        alt=""
      />
      <p class="paragraph-small-accent-lightened">{{ translate.currentLang }}</p>
      <div *ngIf="isShowLanguageMenu" class="language-items">
        <div (click)="setLanguage('EN')" class="language-item">
          <div class="language-item-container">
            <img src="assets/flags/226-united-states.svg" alt="" class="language-item-img" />
            <p class="paragraph-small-accent-lightened">EN</p>
          </div>
        </div>
        <div (click)="setLanguage('UA')" class="language-last-item">
          <div class="language-item-container">
            <img src="assets/flags/145-ukraine.svg" alt="" class="language-item-img" />
            <p class="paragraph-small-accent-lightened">UA</p>
          </div>
        </div>
        <div (click)="setLanguage('FR')" class="language-last-item">
          <div class="language-item-container">
            <img src="assets/flags/195-france.svg" alt="" class="language-item-img" />
            <p class="paragraph-small-accent-lightened">FR</p>
          </div>
        </div>
        <div (click)="setLanguage('DE')" class="language-last-item">
          <div class="language-item-container">
            <img src="assets/flags/162-germany.svg" alt="" class="language-item-img" />
            <p class="paragraph-small-accent-lightened">DE</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal
  #geopositionModal
  [overlayStyle]="{ padding: '16px' }"
  [contentStyle]="{ width: '100%', 'max-width': '500px' }"
  (hide)="geopositionModalClose()"
>
  <app-geoposition-modal *ngIf="geopositionStatus != null"
    [geopositionStatus]="geopositionStatus"
    (closeModalEvent)="geopositionModalClose()"
  ></app-geoposition-modal>
</app-modal>

<app-modal
  #modal
  [isOpen]="
    isModalOpen[ModalType.Auth] ||
    isModalOpen[ModalType.Registration] ||
    isModalOpen[ModalType.Forgot] ||
    isModalOpen[ModalType.ForgotFinish] ||
    isModalOpen[ModalType.SelectCity]
  "
  [overlayStyle]="{ padding: '16px' }"
  (hide)="authModalStepActive != 3 && toggleModal()"
  [contentStyle]="{ width: '100%', 'max-width': '500px' }"
>
  <app-auth-modal
    *ngIf="isModalOpen[ModalType.Auth]"
    (closeModalEvent)="toggleModal(ModalType.Auth)"
    [initStep]="authModalStepActive"
    (showForgotModalEvent)="toggleModal(ModalType.Forgot)"
    (showRegisterModalEvent)="toggleModal(ModalType.Registration);"
    (cancelPhoneAprove)="logOut(); toggleModal(ModalType.Registration);"
  >
  </app-auth-modal>

  <app-register-modal
    *ngIf="isModalOpen[ModalType.Registration]"
    (closeModalEvent)="toggleModal(ModalType.Registration)"
    (showLoginWithEmailModalEvent)="toggleModal(ModalType.Auth, { authModalStep: authModalSteps.loginPhone })"
  ></app-register-modal>

  <app-forgot-modal
    *ngIf="isModalOpen[ModalType.Forgot]"
    (showLoginWithEmailModalEvent)="toggleModal(ModalType.Auth, { authModalStep: authModalSteps.loginPhone })"
    (closeModalEvent)="toggleModal(ModalType.Forgot)"
  ></app-forgot-modal>

  <app-forgot-finish
    *ngIf="isModalOpen[ModalType.ForgotFinish]"
    [code]="forgotCode"
    (closeModalEvent)="toggleModal(ModalType.ForgotFinish)"
  >
  </app-forgot-finish>

  <app-select-city-modal
    *ngIf="isModalOpen[ModalType.SelectCity]"
    (closeModalEvent)="toggleModal(ModalType.SelectCity)"
  ></app-select-city-modal>
</app-modal>

<div *ngIf="isOpenMobileMenu" (click)="toggleMobileMenu()" class="menu-background"></div>

<!--<div *ngIf="cookie" class="cookie">
  <div class="container">
    <div class="left">
      <img src="assets/icons/Cookie.svg" alt="" />
      <p class="paragraph-regular">{{ 'cookies-message' | translate }}</p>

      <a target="_blank" href="https://bodywell.io/PrivacyPolicy.html">{{ 'cookies-more' | translate }}</a>
    </div>
    <div class="right">
      <button (click)="cookieApprove()" class="btn-regular btn-def">{{ 'cookies-accept' | translate }}</button>
    </div>
  </div>
</div>-->

<div *ngIf="cookiesAccepted == false && !displayCookieCustomizeModal" class="cookie-footer-notification">
  <div class="notification-text">
    <b><img src="./assets/icons/protect.png">{{'cookie-notification-title' | translate}}</b>
    <span>{{'cookie-notification-text' | translate }} <a href="https://bodywell.io/PrivacyPolicy.html" target="_blank">{{'cookie-notification-privacy-policy' | translate}}</a>.
    </span>
  </div>
  <div class="notification-controls">
    <button (click)="submitCookies(false)" class="btn-regular btn-standard">{{'cookie-notification-btn-deny' | translate}}</button>
    <button (click)="toggleCookieCustomizeModal(true)" class="btn-regular btn-standard">{{'cookie-notification-btn-customize' | translate}}</button>
    <button (click)="submitCookies(true)" class="btn-regular btn-def">{{'cookie-notification-btn-allow-all' | translate}}</button>
  </div>
</div>

<app-up-button></app-up-button>

<div *ngIf="!isEmailConfirm" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-header-step-two">
        <h2 class="heading-2">{{ 'register-confirm-code-title' | translate }}</h2>
      </div>
    </div>
    <div class="forgot-header-text">
      <p class="paragraph-small">
        {{ 'register-phone-code-info-part1' | translate }}
        <span class="email-conf">+{{ apiService['user']['phone_code'] }}{{apiService['user']['phone_number']}}</span>
        {{ 'register-phone-code-info-part2' | translate }}
      </p>
    </div>
    <div class="modal-body">
      <div class="input-icon-container">
        <div
          [ngClass]="{ 'icon-input-error': codeInput.getError('required') || codeInput.getError('invalid') }"
          class="icon-input icon-password icon-left"
        ></div>
        <input
          [ngClass]="{ 'input-error': codeInput.getError('required') || codeInput.getError('invalid') }"
          (blur)="blurCode()"
          [(ngModel)]="code"
          class="input input-margin"
          type="text"
          placeholder="{{ 'register-code' | translate }}"
        />
        <p *ngIf="codeInput.getError('required') == true" class="paragraph-small error-lable">
          {{ 'empty-field' | translate }}
        </p>
        <p *ngIf="codeInput.getError('invalid') == true" class="paragraph-small error-lable">
          {{ 'register-code-invalid' | translate }}
        </p>
        <div
          class="resend-button"
          [ngClass]="{
            'resend-button-disabled': resendTimer > 0
          }"
          (click)="resendConfirmCode()"
        >
          {{ 'registration-resend-code' | translate }}
          <ng-container *ngIf="resendTimer > 0">({{ resendTimer }}{{ 'short-symbol-seconds' | translate }})</ng-container>
        </div>
      </div>
      <button (click)="sendCode()" class="btn-large btn-def">{{ 'forgot-confirm' | translate }}</button>
    </div>
    <div class="hr"></div>
    <div class="modal-footer">
      <div class="modal-footer-body">
        <div class="paragraph-small-lightened pr-2">{{ 'confirm-code-wrong-phone' | translate }}</div>
        <div class="paragraph-small-accent text-blue cursor-pointer" (click)="cancelConfirm()">{{ 'confirm-code-go-back' | translate }}</div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="displayCookieCustomizeModal" class="cookie-modal-settings">
  <div class="modal-header">
    {{cookiesJson?.title | translate}}
    <div (click)="toggleCookieCustomizeModal(false);" class="icon-control ml-auto">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
  </div>

  <div class="modal-body">
    <div class="section">
      <div class="section-body">
        {{cookiesJson?.desc | translate}}
      </div>
    </div>

    <div *ngFor="let category of cookiesJson?.categories | keyvalue" class="section">
      <div class="section-title">
        <div *ngIf="category.value?.details" class="circle-btn" [ngClass]="{'open': category.value.is_open}"
             (click)="category.value.is_open = !category.value.is_open">
          <img src="assets/icons/Select.svg" alt=""/>
        </div>
        <div class="flex">
          <b style="cursor: pointer" (click)="category.value.is_open = !category.value.is_open">{{category.value?.title | translate}}</b>
          <label *ngIf="category.value?.details" class="switch">
            <input [(ngModel)]="category?.value.enabled" [disabled]="(category.value.required) ? true : null" type="checkbox" />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
      <div class="section-body">
        {{category.value?.desc | translate}}

        <div *ngIf="category.value?.details && category.value?.is_open" class="section-body-details">
          <div *ngFor="let item of category.value?.details | keyvalue" class="item">
            <div>
              <b>Cookies</b>
              <span>{{item.value.cookie}}</span>
            </div>
            <div>
              <b>Duration</b>
              <span>{{item.value.duration}}</span>
            </div>
            <div>
              <b>Description</b>
              <span>{{item.value.desc}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
      <button class="btn-regular btn-standard" (click)="submitCookies(false)">{{'cookie-notification-btn-reject' | translate}}</button>
      <button class="btn-regular btn-def" (click)="submitCookies(true)">{{'cookie-notification-btn-accept' | translate}}</button>
  </div>
</div>

<div *ngIf="!isEmailConfirm || displayCookieCustomizeModal" class="background"></div>
