<div *ngIf="target_id && target_title" class="p-1 purchase-target-title-container">
    <p *ngIf="type == productType.SUBSCRIPTIONS">{{'purchase-products-target-title-sub' | translate}}:</p>
    <p *ngIf="type == productType.COURSE">{{'purchase-products-target-title-course' | translate}}:</p>
    <p class="pb-4"><b>{{target_title}}</b></p>
</div>
<div class="purchase-products pb-4">
    <ng-container *ngFor="let product of Object.keys(products)">
        <app-product-card
                (showDetails)="showDetailsEvent($event)"
                (selectItem)="selectItem($event)"
                [type]="type"
                [data]="products[product]"
                [enablePurchase]="isEnabledPurchase"
        ></app-product-card>
    </ng-container>

    <div *ngIf="target_id && target_title && !Object.keys(products).length" class="purchase-products-not-found">
        <span *ngIf="type == productType.SUBSCRIPTIONS">{{'purchase-products-not-found-text-sub' | translate}}</span>
        <span *ngIf="type == productType.COURSE">{{'purchase-products-not-found-text-course' | translate}}</span>
    </div>
    <div *ngIf="!target_id && !Object.keys(products).length" class="purchase-products-not-found">
        <span>{{'purchase-products-not-found-text-any' | translate}}</span>
    </div>
</div>
