@import '../../../../../variables.scss';

.auth-info-block {
  padding-bottom: 32px;

  & > div {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      padding-bottom: 24px;
    }
  }
}

.input-icon-container {
  margin-bottom: 25px;
}

.phone-number-container {
  margin-bottom: 25px;

  .phone-number {
    display: flex;
    align-items: center;
    border: 2px solid $color-stroke;
    border-radius: 3px;
    max-height: 48px;

    .select-header {
      min-height: 44px !important;
      border-radius: 0 !important;
    }

    .code-phone {
      padding-left: 8px;
    }

    &:hover {
      border: 2px solid $color-stroke-hover;
    }

    input {
      margin: 0;
      border: 0;
    }
  }

  .phone-number-error {
    border: 2px solid $color-warn-red !important;

    .code-phone {
      border-left: 2px solid $color-warn-red !important;
    }
    input {
      color: $color-warn-red !important;
      &::placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }
    }
  }
}

.remember-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

button {
  width: 100%;
}

.soc-g-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: $color-text-black;
  border: 2px solid #d7dee5;
  border-radius: 3px;

  img {
    padding-right: 8px;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding: 16px;

  @media (min-width: 768px) {
    padding: 32px;
  }

  .info-modal-header {
    align-items: flex-start !important;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal-header-step-two {
      display: flex;

      .back-margin {
        margin-right: 18px;
        width: 29px;
        height: 29px;
      }
    }
    .modal-header-info {
      display: flex;
      flex-direction: column;
      .forgot-header-text {
        margin-top: 16px;
      }
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;

    .phone-number-container {
      margin-bottom: 25px;

      .phone-number {
        display: flex;
        align-items: center;
        border: 2px solid $color-stroke;
        border-radius: 3px;
        max-height: 48px;

        .select-header {
          min-height: 44px !important;
          border-radius: 0 !important;
        }
        &:hover {
          border: 2px solid $color-stroke-hover;
          .code-phone {
            border-left: 2px solid $color-stroke-hover;
          }
        }

        input {
          margin: 0;
          border: 0;
        }

        .code-phone {
          padding: 13px 0 13px 16px;
          line-height: 18px;
          border-left: 2px solid $color-stroke;
        }

        app-select {
          border-radius: 3px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }

      .phone-number-error {
        border: 2px solid $color-warn-red !important;

        .code-phone {
          border-left: 2px solid $color-warn-red !important;
        }
        input {
          color: $color-warn-red !important;
          &::placeholder {
            color: $color-warn-red-65;
          }

          &:-ms-input-placeholder {
            color: $color-warn-red-65;
          }

          &:-ms-input-placeholder {
            color: $color-warn-red-65;
          }
        }
      }
    }
  }
}

.devider {
  padding-top: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #f5f5f5;
}

.google-warning {
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #f4da95;
  border-radius: 3px;
  background-color: #fff9e9;
}

.resend-button {
  color: #186fda;
  font-weight: 600;
  cursor: pointer;

  &-disabled {
    color: rgba(#3e3e3e, 0.5);
    cursor: not-allowed;
  }
}