<!-- MAIN STEP -->

<div *ngIf="currentStep == Steps.general">
  <div class="dialog-header">
    <h2 class="dialog-title">{{ 'auth-modal-heading' | translate }}</h2>
    <div (click)="closeModal()" class="icon-control">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
  </div>

  <div class="dialog-body">
    <div class="auth-info-block">
      <div>
        <img class="mr-3" src="assets/icons/book-easily.svg" alt="" />
        <div>{{ 'auth-modal-login-text1' | translate }}</div>
      </div>
      <div>
        <img class="mr-3" src="assets/icons/Clock-auth.svg" alt="" />
        <div>{{ 'auth-modal-login-text2' | translate }}</div>
      </div>
      <div>
        <img class="mr-3" src="assets/icons/Heart-auth.svg" alt="" />
        <div>{{ 'auth-modal-login-text3' | translate }}</div>
      </div>
      <div>
        <img class="mr-3" src="assets/icons/Calendar-auth.svg" alt="" />
        <div>{{ 'auth-modal-login-text4' | translate }}</div>
      </div>
    </div>

    <button (click)="goToRegister()" class="btn-large btn-def">
      {{ 'auth-modal-create-client-profile' | translate }}
    </button>
    <div class="devider"></div>
    <button (click)="nextStep(Steps.loginPhone)" class="btn-large btn-ghost mb-3">
      {{ 'auth-modal-login-button' | translate }}
    </button>
    <div class="google-warning">
      <img class="mr-3" src="assets/icons/google.svg" alt="" />
      <div>{{ 'auth-modal-google-acc-warning' | translate }}</div>
    </div>
  </div>
</div>

<!-- PHONE STEP -->

<div [formGroup]="authForm" *ngIf="currentStep == Steps.loginPhone">
  <div class="dialog-header">
    <div (click)="goToGeneralStep()" class="icon-control mr-4">
      <img src="assets/icons/arrow-back.svg" alt="" />
    </div>
    <h2 class="heading-2">{{ 'auth-modal-login-title' | translate }}</h2>
    <div (click)="closeModal()" class="icon-control ml-auto">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
  </div>

  <div class="dialog-body">
    <div class="phone-number-container">
      <div [ngClass]="{ 'phone-number-error': hasPhoneNumberError() }" class="phone-number">
        <app-phone-code-select
          [options]="phoneCodes"
          formControlName="phoneCode"
          appendTo="body"
        ></app-phone-code-select>
        <p class="paragraph-regular code-phone">+ {{ authForm?.value?.phoneCode?.phone_code }}</p>
        <input
          appNumeric
          numericType="number"
          [ngClass]="{
            'icon-input-error':
              authForm.controls.phoneNumber.getError('errorPhone') || authForm.controls.phoneNumber.getError('exist')
          }"
          formControlName="phoneNumber"
          (blur)="blurPhone()"
          (input)="sanitizePhoneNumber()"
          class="input input-def input-margin"
          type="text"
          autocomplete="off"
          placeholder="{{ 'register-modal-your-phone' | translate }}"
        />
      </div>
      <p *ngIf="authForm.controls.phoneNumber.getError('errorPhone') == true" class="paragraph-small error-lable">
        {{ 'phone-rule' | translate }}
      </p>
      <p *ngIf="authForm.controls.phoneNumber.getError('exist') == true" class="paragraph-small error-lable">
        {{ 'phone-used' | translate }}
      </p>
      <p *ngIf="authForm.controls.phoneNumber.getError('notFound') == true" class="paragraph-small error-lable">
        {{ 'phone-does-not-exist' | translate }}
      </p>
    </div>

    <button (click)="checkPhonePassword()" class="btn-large btn-def">{{ 'next' | translate }}</button>
  </div>
  <div class="dialog-footer dialog-footer--justify-center">
    <p class="paragraph-small">{{ 'auth-modal-no-account' | translate }} &nbsp;</p>
    <a class="link" (click)="goToRegister()">{{ 'auth-modal-create-client-profile' | translate }}</a>
  </div>
</div>

<!-- PASSWORD STEP -->

<div [formGroup]="authForm" *ngIf="currentStep == Steps.loginPassword">
  <div class="dialog-header">
    <div (click)="nextStep(Steps.loginPhone)" class="icon-control mr-4">
      <img src="assets/icons/arrow-back.svg" alt="" />
    </div>
    <h2 class="heading-2">{{ 'auth-modal-login-title' | translate }}</h2>
    <div (click)="closeModal()" class="icon-control ml-auto">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
  </div>

  <div class="dialog-body">
    <div class="input-icon-container">
      <div
        [ngClass]="{ 'icon-input-error': authForm.controls.password.getError('password') }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        formControlName="password"
        class="input"
        [ngClass]="{ 'input-error': authForm.controls.password.getError('password') }"
        type="password"
        placeholder="{{ 'auth-modal-your-password' | translate }}"
      />
      <p *ngIf="authForm.controls.password.getError('password') == true" class="paragraph-small error-lable">
        {{ 'invalid-login-password-or-phone' | translate }}
      </p>
    </div>

    <button (click)="login()" class="btn-large btn-def">{{ 'sign-in' | translate }}</button>
  </div>
  <div class="dialog-footer dialog-footer--justify-center">
    <p class="paragraph-small">{{ 'auth-modal-forgot-password' | translate }} &nbsp;</p>
    <a class="link" (click)="goToForgot()">{{ 'auth-modal-restore-password' | translate }}</a>
  </div>
</div>

<!-- CREATE PASSWORD FOR GOOGLE ACCOUNT -->

<div [formGroup]="authForm" *ngIf="currentStep == Steps.loginCreatePassword">
  <div class="dialog-header">
    <div (click)="goToGeneralStep()" class="icon-control mr-4">
      <img src="assets/icons/arrow-back.svg" alt="" />
    </div>
    <h2 class="heading-2">{{ 'auth-modal-login-password-create-title' | translate }}</h2>
    <div (click)="closeModal()" class="icon-control ml-auto">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>

    <div class="google-warning">
      <img class="mr-3" src="assets/icons/google.svg" alt="" />
      <div>{{ 'auth-modal-password-google-acc-warning' | translate }}</div>
    </div>

    <div class="dialog-sub-title">
      <p
        class="paragraph-small"
        [innerHTML]="
          'forgot-modal-conf-phone'
            | translate : { phoneCode: authForm.value.phoneCode.phone_code, phoneNumber: authForm.value.phoneNumber }
        "
      ></p>
    </div>
  </div>

  <div class="dialog-body">
    <div class="input-icon-container">
      <div
        [ngClass]="{
          'icon-input-error':
            isSubmitted &&
            (authForm.controls.smsCode.getError('required') || authForm.controls.smsCode.getError('invalid'))
        }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{
          'input-error':
            isSubmitted &&
            (authForm.controls.smsCode.getError('required') || authForm.controls.smsCode.getError('invalid'))
        }"
        formControlName="smsCode"
        class="input input-margin"
        type="text"
        placeholder="{{ 'register-code' | translate }}"
      />
      <p *ngIf="isSubmitted && authForm.controls.smsCode.getError('required')" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
      <p *ngIf="isSubmitted && authForm.controls.smsCode.getError('invalid')" class="paragraph-small error-lable">
        {{ 'register-code-invalid' | translate }}
      </p>

      <!-- Отправить код повторно -->
      <div
        class="resend-button"
        [ngClass]="{
          'resend-button-disabled': resendTimer > 0
        }"
        (click)="resendConfirmCode()"
      >
        {{ 'registration-resend-code' | translate }}
        <ng-container *ngIf="resendTimer > 0">({{ resendTimer }}{{ 'short-symbol-seconds' | translate }})</ng-container>
      </div>
    </div>

    <!-- Пароль -->
    <div class="input-icon-container">
      <div
        [ngClass]="{
          'icon-input-error':
            isSubmitted &&
            (authForm.controls.password.getError('password') || authForm.controls.password.getError('required'))
        }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        formControlName="password"
        class="input"
        [ngClass]="{
          'input-error': isSubmitted && authForm.controls.password.getError('required')
        }"
        type="password"
        placeholder="{{ 'auth-modal-your-password' | translate }}"
      />
      <p *ngIf="isSubmitted && authForm.controls.password.getError('required')" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
    </div>

    <!-- Подтверждение пароля -->
    <div class="input-icon-container">
      <div
        [ngClass]="{
          'icon-input-error': isSubmitted && authForm.controls.password.value !== authForm.controls.password2.value
        }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        formControlName="password2"
        class="input"
        [ngClass]="{
          'input-error': isSubmitted && authForm.controls.password.value !== authForm.controls.password2.value
        }"
        type="password"
        placeholder="{{ 'register-modal-your-repassword' | translate }}"
      />
      <p
        *ngIf="isSubmitted && authForm.controls.password.value !== authForm.controls.password2.value"
        class="paragraph-small error-lable"
      >
        {{ 'auth-modal-wrong-confirm-password' | translate }}
      </p>
    </div>

    <button (click)="createPasswordAndLogin()" class="btn-large btn-def">
      {{ 'auth-modal-create-pass-confirm' | translate }}
    </button>
  </div>
  <div class="dialog-footer dialog-footer--justify-center">
    <p class="paragraph-small">{{ 'confirm-code-wrong-phone' | translate }} &nbsp;</p>
    <a class="link" (click)="nextStep(Steps.loginPhone)">{{ 'confirm-code-go-back' | translate }}</a>
  </div>
</div>

<div [formGroup]="authForm" *ngIf="currentStep == Steps.phoneNumber">
  <div class="dialog-header info-modal-header">
    <div class="modal-header-step-two modal-header-info">
      <h2 class="heading-2">{{ 'register-finish-title' | translate }}</h2>
      <div class="dialog-sub-title">
        <p class="paragraph-small">{{ 'register-finish-info' | translate }}</p>
      </div>
    </div>
  </div>
  <div class="dialog-body">
    <div class="phone-number-container">
      <div
        [ngClass]="{
          'phone-number-error':
            authForm.controls.phoneNumber.getError('errorPhone') || authForm.controls.phoneNumber.getError('exist')
        }"
        class="phone-number"
      >
        <app-phone-code-select
          [options]="phoneCodes"
          formControlName="phoneCode"
          appendTo="body"
        ></app-phone-code-select>
        <p class="paragraph-regular code-phone">+ {{ authForm?.value?.phoneCode?.phoneCode }}</p>
        <input
          appNumeric
          numericType="number"
          [ngClass]="{
            'icon-input-error':
              authForm.controls.phoneNumber.getError('errorPhone') || authForm.controls.phoneNumber.getError('exist')
          }"
          formControlName="phoneNumber"
          (blur)="blurPhone()"
          class="input input-def input-margin"
          type="text"
          placeholder="{{ 'register-modal-your-phone' | translate }}"
        />
      </div>
      <p *ngIf="authForm.controls.phoneNumber.getError('errorPhone') == true" class="paragraph-small error-lable">
        {{ 'phone-rule' | translate }}
      </p>
      <p *ngIf="authForm.controls.phoneNumber.getError('exist') == true" class="paragraph-small error-lable">
        {{ 'phone-used' | translate }}
      </p>
    </div>
    <div class="remember-container">
      <div class="checkbox-container">
        <div class="checkbox">
          <input type="checkbox" formControlName="iAgree" id="checkbox" />
          <label for="checkbox" class="icon-success icon-small icon-left"></label>
        </div>
        <label for="checkbox" class="paragraph-small"
          >{{ 'register-modal-i-agree' | translate }}
          <a class="link" href="https://bodywell.io/TermsOfUse.html" target="_blank">{{
            'register-modal-terms' | translate
          }}</a>
          {{ 'register-modal-and' | translate }}
          <a class="link" href="https://bodywell.io/PrivacyPolicy.html" target="_blank">{{
            'register-modal-privacy-policy' | translate
          }}</a></label
        >
      </div>
      <p *ngIf="iAgreeInput.getError('error') == true" class="paragraph-small error-lable">
        {{ 'apply-terms' | translate }}
      </p>
    </div>
  </div>
  <div class="dialog-footer dialog-footer--column">
    <button (click)="sendPhone()" class="btn-large btn-def register">
      {{ 'auth-modal-create-client-profile' | translate }}
    </button>
    <button class="paragraph-regular-lightened" (click)="logOut()">
      {{ 'profile-logout' | translate }}
    </button>
  </div>
</div>
