<app-purchase-product-details *ngIf="isLoaded && status == displayContent.PENDING"
                              [data]="detailsData"
                              (showDetailsModal)="showDetails()"
                              (selectProduct)="doPurchase()"
></app-purchase-product-details>

<div *ngIf="isLoaded && status != displayContent.PENDING" class="purchase-status-content">
    <div *ngIf="status == displayContent.PROCESSING" class="container">
        <ng-container *ngIf="!sessionId">
            <img class="mb-2" src="../../../../../assets/img/img-card.png">
            <b class="mb-2">{{'p-content-processing-text1' | translate}}</b>
            <p class="mb-2">{{'p-content-processing-text2' | translate}}</p>
            <!--<a class="link-warn" href="javascript:;">{{'p-content-processing-btn-cancel' | translate}}</a>-->
        </ng-container>
        <ng-container *ngIf="sessionId">
            <p class="mb-2">{{'p-content-processing-text3' | translate}}</p>
        </ng-container>
    </div>
    <div *ngIf="status == displayContent.PAYMENT_SUCCESS" class="container">
        <img class="mb-2" src="../../../../../assets/img/img-confirm.png">
        <p class="mb-2">{{'p-content-payment-success-text1' | translate}}</p>
    </div>
    <div *ngIf="status == displayContent.PAYMENT_ERROR" class="container">
        <img class="mb-2" src="../../../../../assets/img/img-fail.png">
        <p class="mb-2">{{'p-content-payment-error-text1' | translate}}</p>
        <a (click)="tryAgainEvent()" class="link-brand" href="javascript:;">{{'p-content-payment-error-btn' | translate}}</a>
    </div>
    <div *ngIf="status == displayContent.TOTAL" class="container mt-4">
        <img class="mb-4" src="../../../../../assets/img/booking-success@2x.png">
        <b class="mb-4">{{'p-content-total-text1' | translate}}</b>
        <p *ngIf="company.session" class="mb-4">{{'p-content-total-text2' | translate}}</p>
        <button (click)="redirectToBooking()" class="btn-large btn-def mb-4">
            {{ (company.session) ? 'p-content-btn-book' : 'p-content-btn-book-services' | translate}}
        </button>
        <div class="container-details">
            <b class="mb-4">{{'p-content-total-text3' | translate}}:</b>
            <app-purchase-product-details
                    [data]="detailsData"
                    [hideConfirmBtn]="true"
                    (showDetailsModal)="showDetails()"
            ></app-purchase-product-details>
            <p *ngIf="!isWidget" (click)="redirectToPersonalCabinet()" class="pt-4 link"><b>{{'p-content-total-btn-personal' | translate}}</b></p>
        </div>
    </div>
</div>
