@import "../../../../../variables.scss";

.purchase-status-content {

  display: flex;
  justify-content: center;

  * {
    font-size: 16px;
  }
  img {
    max-width: 120px;
  }
  a {
    font-weight: 600;
  }

  a:hover {
    text-decoration: underline;
  }

  .link-warn {
    color: $color-warn-red;
  }

  .link-brand {
    color: $color-brand-blue;
  }

  padding-bottom: 32px;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 770px;
    width: 100%;

    text-align: center;

    &-details {
      align-items: baseline;
      display: flex;
      flex-direction: column;
      background-color: $color-select-default;
      padding: 24px;
      width: 100%;
      max-width: 770px;
      border-radius: 3px;

      &-product {
        align-items: baseline;
        display: flex;
        flex-direction: column;
        background-color: $color-pure-white;
        padding: 16px;
      }
    }
  }
}
