.ngx-file-drop__drop-zone {
  height: initial !important;
  border-radius: 3px !important;
  border: 3px dashed #d7dee5 !important;
  background-color: #f5f5f5;
  padding-top: 72px;
  padding-bottom: 88px;
  height: initial !important;
}

.ngx-file-drop__content {
  height: initial !important;
}
