$corection: 4px;

.svg-icon {
  display: inline-block;

  fill: #b0b9c2;

  &--size {
    &-xs {
    }
    &-s {
      width: calc(8px + 4px);
      height: calc(8px + 4px);
    }
    &-m {
      width: calc(12px + 4px);
      height: calc(12px + 4px);
    }
    &-l {
    }
    &-xl {
    }
    &-xxl {
      width: calc(32px + 4px);
      height: calc(32px + 4px);

    }
  }

  &--color-gray {
    fill: rgba(#3e3e3e, 0.65);
  }

  &--color-blue {
    fill: #186fda;
  }
}
