.dialog-overlay {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  white-space: nowrap;
  background: linear-gradient(253.3deg, rgba(85, 102, 116, 0.7) 0%, rgba(4, 25, 56, 0.7) 100%);

  &::before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: '';
  }
}

.dialog-content {
  position: relative;
  margin-bottom: 48px;
  display: inline-block;
  overflow: hidden;
  width: calc(100% - 32px);
  text-align: left;
  vertical-align: middle;
  white-space: normal;
  background: rgb(255, 255, 255);
  border: 0;
  border-radius: 4px;
  outline: none;

  @media (min-width: 992px) {
    margin-bottom: 0;
    width: initial;
  }
}
.dialog-header,
.dialog-footer {
  display: flex;
  align-items: center;
  padding: 16px;

  @media (min-width: 992px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #f5f5f5;

  @media (min-width: 992px) {
    padding-top: 40px;
  }

  .dialog-title {
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;

    @media (min-width: 768px) {
      font-size: 24px;
    }
  }

  .dialog-sub-title {
    width: 100%;
    padding-top: 16px;
  }

  .icon-close {
    cursor: pointer;
  }
}

.dialog-body {
  padding: 16px;

  @media (min-width: 992px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.dialog-footer {
  padding-top: 16px;
  border-top: 1px solid #f5f5f5;

  @media (min-width: 992px) {
    padding-bottom: 40px;
  }

  button {
    &:not(:last-of-type) {
      margin-right: 16px;
    }
  }

  &--justify-left {
    justify-content: flex-start;
  }

  &--justify-right {
    justify-content: flex-end;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-center {
    justify-content: center;
  }

  &--column {
    display: flex;
    flex-wrap: wrap;

    button {
      width: 100%;

      &:not(:last-of-type) {
        margin-bottom: 1.6rem;
      }
    }
  }
}
