.alert.ui-toast-bottom-center {
  z-index: 999999;
  bottom: 80px;
  box-sizing: border-box;
  width: 300px;

  .ui-toast-message {
    text-align: center;
    color: #fff;
    background-color: rgba(#3e3e3e, 0.9);
    border-radius: 3px;
    box-shadow: 0 5px 21px 0 rgba(207, 218, 232, 0.4);
  }

  .ui-toast-message-text-content {
    margin-left: 0 !important;
  }
}

.notification.ui-toast-bottom-right {
  z-index: 999999;
  .ui-toast-message {
    background-color: #fff;
    border-left: 2px solid #64bf7c;
    border-radius: 3px;
    box-shadow: 0 5px 15px rgba(207, 218, 232, 0.35);
  }
  .ui-toast-message-content {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ui-toast-close-icon {
    position: relative;
    padding-right: 2rem;
    padding-left: 2rem;
    display: flex;
    align-items: center;
    color: #595959;
    background-color: transparent;
    border: none;
    border-left: 1px solid rgba(89, 89, 89, 0.05);
    cursor: pointer;
  }
}
