.ng-select.custom-select {
  &.ng-select-disabled {
    .ng-select-container {
      background-color: #f5f5f5;
      cursor: not-allowed;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .ng-arrow-wrapper {
      cursor: not-allowed;
    }
  }

  .ng-select-container {
    padding: 0;
    display: flex;
    overflow: initial;
    height: 40px;
    background-color: #f2f5f8;
    border: 0;
    border-radius: 3px !important;
    transition: background ease 0.3s;
    align-content: center;

    &:hover {
      background-color: #eaf1f8;
      box-shadow: none;
      transition: background ease 0.3s;
    }

    & * {
      outline: none;
      box-shadow: none;
    }

    .ng-value-container {
      padding-left: 0;
      height: 100%;
    }

    .ng-placeholder {
      padding-right: 1.6rem;
      padding-left: 1.6rem;
    }

    .ng-value {
      padding-right: 1.6rem;
      padding-left: 1.6rem;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .ng-arrow-wrapper .ng-arrow {
    border-width: 8px 6px 1.5px;
    border-color: #b0b9c2 transparent transparent;
    border-radius: 2px;
  }
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border-color: $color-stroke-active;
  box-shadow: none;
}

.ng-select-opened > .ng-select-container .ng-arrow {
  border-width: 0 6px 8px !important;
  border-color: transparent transparent $color-icon-gray !important;
  border-radius: 2px !important;
}

.ng-select-container .ng-arrow {
  border-width: 8px 6px 0 !important;
  border-color: $color-icon-gray transparent transparent !important;
  border-radius: 2px !important;
}

.input-group .ng-select.custom-select .ng-select-container {
  height: 3.8rem;
}

.ng-dropdown-panel {
  margin-top: 6px;
  background-color: #fff;
  border: 0;
  opacity: 1 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

  & .ng-dropdown-header {
    padding: 0 !important;
    border: 0;

    input {
      padding: 10px 16px;
      box-sizing: border-box;
      width: 100%;
      font-family: inherit;
      background-color: #fff;
      border: 1px solid #d7dee5;
      border-radius: 3px;
      outline: 0;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 40px;
      line-height: 24px;
      background-repeat: no-repeat;
      background-position-x: 16px;
      background-position-y: center;
      background-size: 12px;
    }
  }

  & .ng-dropdown-panel-items .ng-option {
    padding: 8px 12px;
    display: flex !important;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    white-space: normal !important;
    text-decoration: none;
    border-top: 1px solid rgb(245, 245, 245);

    .category-icon {
      padding: 1.6rem;
    }
    &.ng-option-marked {
      background-color: rgb(222, 235, 255);
    }
  }
}

.ng-select.bw-datepicker {
  &.years {
    .ng-select-container {
      width: 96px;
    }
  }
  &.months {
    .ng-select-container {
      width: 126px;
    }
  }
  .ng-dropdown-panel .ng-dropdown-panel-items {
    max-height: 196px;
  }
}
.ng-select.phone-select {
  height: 100% !important;

  .ng-select-container {
    height: 44px !important;
  }
}

.phone-select .ng-dropdown-panel, .phone-select.ng-dropdown-panel {
  margin-bottom: 4px;
  width: 260px !important;

  .ng-dropdown-header {
    padding: 1rem !important;
    border-bottom: 1px solid #f0f0f0;
  }

  .ng-dropdown-panel-items {
    .ng-option {
      justify-content: flex-start;
    }
  }
}

.phone-select .ui-dropdown-label-container,
.base-select .ui-dropdown-label-container {
  padding-right: 30px;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
