<div class="auth-wrapper">
  <app-auth-header
    [step]="step"
    [loginForm]="authForm.controls.login"
    (back)="back()"
    (close)="close.emit()"
  ></app-auth-header>

  <app-auth-main *ngIf="step === steps.main" (changeStep)="step = $event"></app-auth-main>

  <app-auth-login
    *ngIf="step === steps.login"
    (changeStep)="step = $event"
    [loginForm]="authForm.controls.login"
    [phoneCodes]="phoneCodes"
    (submit)="checkPhonePassword()"
  ></app-auth-login>

  <app-auth-login-password
    *ngIf="step === steps.loginPassword"
    (changeStep)="step = $event"
    [loginForm]="authForm.controls.login"
    [phoneCodes]="phoneCodes"
    (submit)="onLogin($event)"
  ></app-auth-login-password>

  <app-auth-login-create-password
    *ngIf="step === steps.createPassword"
    (changeStep)="step = $event"
    [loginForm]="authForm.controls.login"
    [phoneCodes]="phoneCodes"
    (submit)="createPasswordAndLogin()"
  ></app-auth-login-create-password>

  <app-auth-login-restore-password
    *ngIf="step === steps.restorePasswordStepOne || step === steps.restorePasswordStepTwo"
    [step]="step"
    (changeStep)="step = $event"
    [loginForm]="authForm.controls.login"
    [phoneCodes]="phoneCodes"
    (submit)="step = steps.main"
  ></app-auth-login-restore-password>

  <app-auth-register
    *ngIf="step === steps.register"
    (goToLogin)="step = steps.login"
    (submit)="register()"
    [registerForm]="authForm.controls.register"
    [phoneCodes]="phoneCodes"
  ></app-auth-register>

  <app-auth-phone-confirm *ngIf="step === steps.phoneConfirm"
  (submit)="confirmedPhoneAndLogin()"></app-auth-phone-confirm>

  <app-auth-address *ngIf="step === steps.address"></app-auth-address>
</div>
