<app-booking-header
  [title]="company?.title"
  [industry]="company?.industryTitle"
  [countReview]="company?.reviews"
  [rating]="company?.rating"
  [companyId]="companyId"
  [branchId]="branchId"
  [companyLogo]="company?.logo"
></app-booking-header>
<div class="booking-container">
  <div class="booking-content">
  <router-outlet></router-outlet>
  </div>
</div>
