@import "../../../variables.scss";

.booking-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .booking-content {
        width: 100%;
        max-width: 770px;

        .navigation {
            display: flex;
            margin-bottom: 36px;
           
            .arrow-back {
                margin-right: 30px;
                cursor: pointer;
            }
        }

        .finish {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 300px;
            padding-top: 2px;

            .finish-title {
              margin-bottom: 32px;
              padding-bottom: 24px;
              width: 100%;
              font-size: 24px;
              font-weight: 600;
              border-bottom: 1px solid $color-light-gray;
            }

            .finish-content {
                width: 100%;
                max-width: 529px;
                align-items: center;

                .top-content {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-bottom: 1px solid $color-light-gray;
                    margin-bottom: 24px;

                    p {
                        padding: 24px 0;
                    }
                }
                .bottom-content {
                    text-align: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {  
  
    .booking-container {
        width: 100%;
        display: flex;
        justify-content: center;
    
        .booking-content {
            padding-left: 24px;
            padding-right: 24px;
        }
    }
}