@import '../../../../../variables.scss';

.header {
  height: 80px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;

  &-title {
    font-size: 24px;
    font-weight: 600;
  }

  &-back-button {
    margin-right: 12px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 9999px;
    cursor: pointer;

    svg {
      fill: #b0b9c2;
    }
  }
}

.payment-booking-container {

}
