<div *ngIf="isLoaded" class="payment-booking-container mb-4">
    <div class="header">
        <div class="header-back-button" (click)="changeStep('confirm')">
            <svg class="svg-icon svg-icon--size-m svg-icon--color-gray" style="transform: rotate(90deg)">
                <use xlink:href="assets/icons/icons-sprite.svg#ArrowDown"></use>
            </svg>
        </div>
        <div *ngIf="Object.keys(activeSubscriptions).length" class="header-title">
            {{ 'booking-payment-step-title' | translate }}
        </div>
    </div>

    <div class="purchase-products">
        <ng-container *ngIf="Object.keys(activeSubscriptions).length">
            <p *ngIf="!showPurchaseLink && type == productType.COURSE" class="p-1 mb-3">{{'booking-payment-method-choose-course' | translate}}</p>
            <p *ngIf="!showPurchaseLink && type == productType.SUBSCRIPTIONS" class="p-1 mb-3">{{'booking-payment-method-choose-class' | translate}}</p>
        </ng-container>
        <ng-container *ngFor="let product of Object.keys(activeSubscriptions)">
            <app-product-card
                    (selectItem)="selectItem($event)"
                    [type]="type"
                    [data]="activeSubscriptions[product]"
                    [enablePaymentMode]="true"
            ></app-product-card>
        </ng-container>
    </div>
</div>

