<div *ngIf="filters.includes('search')" class="input-icon-container">
    <div class="icon-input icon-search icon-left"></div>
    <input class="input" type="text" placeholder="{{'search-name' | translate}}" [(ngModel)]="data['search']" (keyup)="emitSearch()" />
</div>
<div class="f-selectors">
    <ng-container *ngIf="filters.includes('employee')">
        <app-select
                [(ngModel)]="data['selectedEmployee']"
                [data]="data['employees']"
                [mode]="'employees'"
                [selected]="data['selectedEmployee']"
                (doSelect)="emitEmployee($event)"
                [ngStyle]="{'width': (filters.includes('product')) ? '50%' : '100%'}"
        >
        </app-select>
    </ng-container>
    <div *ngIf="filters.includes('employee') && filters.includes('product')" class="divider"></div>
    <ng-container *ngIf="filters.includes('product')">
        <app-select
                [(ngModel)]="data['selectedProduct']"
                [data]="data['products']"
                [mode]="'normal'"
                [selected]="data['selectedProduct']"
                (doSelect)="emitProduct($event)"
                [ngStyle]="{'width': (filters.includes('employee')) ? '50%' : '100%'}"
        >
        </app-select>
    </ng-container>
</div>
