.f-selectors {
  display: flex;
  flex-direction: row;
  padding-top: 24px;
  padding-bottom: 24px;

  app-select {
    width: 100%;
  }

  .divider {
    padding-right: 8px;
    padding-left: 8px;
  }

  app-select {
    padding-bottom: 0 !important;
  }
}

@media screen and (max-width: 600px) {
  .f-selectors {
    .divider {
      padding-right: 2px;
      padding-left: 2px;
    }

    app-select {
      padding-bottom: 24px;
      width: 50%;
    }

    ::ng-deep app-select .selected-container {
      width: 80%;

      p.paragraph-regular {
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}
