<div class="input-wrapper">
  <div
    [ngClass]="{ 'icon-input-error': parsedErrors.length }"
    class="icon-input icon-{{icon}} icon-{{iconPosition}}"
  ></div>
  <input
    [ngClass]="{ 'input-error': parsedErrors.length }"
    [formControl]="control"
    class="input input-margin"
    type="{{type}}"
    placeholder="{{placeholder}}"
  />
  <ng-container *ngIf="parsedErrors.length">
    <p *ngFor="let error of parsedErrors" class="paragraph-small error-lable">
      {{ error | translate }}
    </p>
  </ng-container>
  <ng-content></ng-content>
</div>
