<ng-container *ngIf="type === 'BLOCK'">
  <div [ngStyle]="{ 'border-bottom': isOpen == false ? 0 : null }" class="accordion">
    <div (click)="toggle()" [ngClass]="{ 'accordion-header-opened': isOpen }" class="accordion-header">
      <h4 class="heading-4">{{ category }}</h4>
      <div class="left-info">
        <img
          [ngStyle]="{ transform: isOpen == true ? 'rotate(-180deg)' : 'rotate(0deg)' }"
          src="assets/icons/Select.svg"
          alt=""
        />
      </div>
    </div>
    <div *ngIf="isOpen" class="accordion-items">
      <div *ngFor="let item of data" class="accordion-item">
        <div class="left">
          <div class="name">
            <p class="paragraph-regular-accent">{{ item['title'] }}</p>
          </div>
          <div class="time">
            <ng-container *ngIf="isPersonalClass">
              <ng-container *ngIf="item['h']">{{ item['h'] }} {{ 'hr' | translate }} </ng-container>
              <ng-container *ngIf="item['m']">{{ item['m'] }} {{ 'min' | translate }}</ng-container>
            </ng-container>
            <p *ngIf="!isPersonalClass" class="paragraph-small-lightened">
              {{ item['duration'] }} {{ 'min' | translate }}
            </p>
          </div>
        </div>
        <div class="right">
          <ng-container *ngIf="isPersonalClass && enableSubscriptionModal">
            <span (click)="viewPassInfo(item)" class="sub">{{ 'subscriptions' | translate }}</span>
          </ng-container>
          <ng-container *ngIf="!isPersonalClass">
            <p *ngIf="item['price_max'] == 0" class="paragraph-small">
              {{ 'from' | translate }} {{ item['price'] / 100 }} {{ currency }}.
            </p>
            <p *ngIf="item['price_max'] > 0" class="paragraph-small">
              {{ item['price'] / 100 }} - {{ item['price_max'] / 100 }} {{ currency }}.
            </p>
          </ng-container>
          <button (click)="select(item)" class="btn-regular btn-def">{{ 'book-button' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="type === 'SPACED'">
  <div class="accordion-groups">
    <div (click)="toggle()" [ngClass]="{ 'accordion-header-opened': isOpen }" class="accordion-groups-header">
      <div class="accordion-groups-button" [ngClass]="{ 'open': isOpen }">
        <img src="assets/icons/Select.svg" alt="" />
      </div>
      <h4 class="heading-4">{{ category }}</h4>
    </div>
    <div *ngIf="isOpen" class="accordion-items">
      <div *ngFor="let item of data" class="class-item">
        <div class="class-left">
          <div class="time">
            {{ item['fromDate'] | amDateFormat: 'HH:mm' }}
          </div>
          <div class="class-info">
            <div>
              <p class="paragraph-regular-accent">{{ item['title'] }}</p>
              <div class="info">
                <div class="master-info">
                  <img src="{{ apiUrl }}/company/employee/avatar?employee_id={{ item['employeeId'] }}" alt="" />
                  <p class="paragraph-small">{{ item['employeeName'] }}</p>
                </div>
                <div class="time-info">
                  <p class="paragraph-small">
                    <ng-container *ngIf="item['h']">{{ item['h'] }} {{ 'hr' | translate }} </ng-container>
                    <ng-container *ngIf="item['m']">{{ item['m'] }} {{ 'min' | translate }}</ng-container>
                  </p>
                </div>
                <div class="member-info">
                  <span>{{ 'members' | translate }}{{ item['clients'] }} / {{ item['limit'] }}</span>
                </div>
              </div>
            </div>
            <div class="class-right">
              <span (click)="subModalProductData = item; isShowSubModal = true" class="sub">{{
                'subscriptions' | translate
              }}</span>
              <button
                [attr.disabled]="item['clients'] == item['limit'] ? true : null"
                (click)="select(item)"
                class="btn-regular btn-def"
              >
                {{ 'book-button' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
