@import '../../../variables.scss';
.accordion {
  border: 2px solid $color-light-gray;
  border-radius: 3px;
  .accordion-header-opened {
    background-color: $color-light-gray;
  }
  .accordion-header {
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $color-light-gray;
    cursor: pointer;

    .left-info {
      display: flex;
      align-items: center;

      p {
        margin-right: 26px;
      }
    }
  }

  .accordion-items {
    .accordion-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px 25px;
      border-bottom: 1px solid $color-light-gray;

      .left {
        display: flex;
        flex-direction: column;
      }
      .right {
        display: flex;
        align-items: normal;
        flex-direction: column-reverse;

        @media (min-width: 1024px) {
          display: flex;
          align-items: center;
        }

        .sub {
          cursor: pointer;
          color: #186fda;
          padding-right: 14px;
        }

        p {
          text-align: right;
          margin-top: 8px;
          margin-right: 0;

          @media (min-width: 1024px) {
            margin-right: 16px;
          }
        }
      }
    }
    .accordion-item:last-child {
      border: 0;
    }
  }
}

.accordion-groups {
  border-bottom: 1px solid $color-light-gray;

  &-header {
    padding: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.accordion-groups-button {
  margin-right: 0.8rem;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(#D7DEE5, 0.5);
  border-radius: 9999px;
  transition: background-color ease-out 0.2s;
  cursor: pointer;

  img {
    transition: transform ease-out 0.2s;
    transform: rotate(-90deg);
  }

  &.open {
    background-color: rgba(#d7dee5, 0.25);
    transition: background-color ease-out 0.2s;

    img {
      transition: transform ease-out 0.2s;
      transform: rotate(0);
    }
  }
}

.class-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 0;
  //border-bottom: 1px solid $color-light-gray;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
  border-radius: 3px;
  padding: 16px 16px;
  margin-bottom: 8px;

  .class-left {
    width: 100%;
    display: flex;

    .time {
      display: flex;
      align-items: center;
      padding-left: 8px;
      padding-right: 24px;
      border-right: 1px solid #f5f5f5;
      margin-right: 24px;

      font-size: 16px;
      font-weight: 600;
    }

    .class-info {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    .info {
      display: flex;
      align-items: center;
      margin-top: 4px;
      .master-info {
        display: flex;
        align-items: center;
        padding-right: 12px;
        border-right: 1px solid #f5f5f5;
        img {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          border-radius: 50px;
        }
      }
      .time-info {
        display: flex;
        align-items: center;
        margin-left: 12px;
        padding-right: 12px;
        border-right: 1px solid #f5f5f5;

        p {
          white-space: nowrap;
        }

        img {
          margin-right: 8px;
        }
      }
      .member-info {
        margin-left: 12px;

        span {
          white-space: nowrap;
        }
      }
    }
  }
  .class-right {
    display: flex;
    align-items: center;

    p {
      margin-right: 16px;
    }
    .sub {
      cursor: pointer;
      color: #186fda;
      padding-right: 14px;
    }
  }
}