@import '../../../../../variables.scss';

.email-img {
  padding: 30px 0;
}

.forgot-header-text {
  margin-top: 16px;
}

.modal-header-step-two {
  display: flex;

  .back-margin {
    margin-right: 18px;
    width: 29px;
    height: 29px;
  }
}

button {
  width: 100%;
  color: #ffffff;
}

.soc-g-button {
  background: #eb6960;
  border-radius: 3px;
}

.soc-fb-button {
  background: #4879b4;
  border-radius: 3px;
  margin-top: 16px;
}

.margin-bottom-input {
  margin-bottom: 25px;
}

.remember-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.email-conf {
  color: $color-brand-blue;
}
