<div *ngIf="currentStep == Steps.general">
  <div class="dialog-header">
    <div class="modal-header-step-two">
      <h2 class="heading-2">{{ 'forgot-finish-header' | translate }}</h2>
    </div>
    <div (click)="closeModal()" class="icon-control">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
    <div class="dialog-sub-title">
      <p class="paragraph-small">{{ 'forgot-finish-pass-recovered' | translate }}</p>
    </div>
  </div>
  <div class="dialog-body">
    <div class="input-icon-container margin-bottom-input">
      <div
        [ngClass]="{ 'icon-input-error': passwordInput.getError('passwordError') }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{ 'input-error': passwordInput.getError('passwordError') }"
        (blur)="blurPassword()"
        [(ngModel)]="password"
        class="input input-margin"
        type="password"
        placeholder="{{ 'register-modal-your-password' | translate }}"
      />
      <p *ngIf="passwordInput.getError('passwordError') == true" class="paragraph-small error-lable">
        {{ 'pass-rule' | translate }}
      </p>
    </div>
    <div class="input-icon-container margin-bottom-input">
      <div
        [ngClass]="{ 'icon-input-error': repasswordInput.getError('passwordError') }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{ 'input-error': repasswordInput.getError('passwordError') }"
        (blur)="blurRepassword()"
        [(ngModel)]="repassword"
        class="input input-margin"
        type="password"
        placeholder="{{ 'register-modal-your-repassword' | translate }}"
      />
      <p *ngIf="repasswordInput.getError('passwordError') == true" class="paragraph-small error-lable">
        {{ 'pass-difference' | translate }}
      </p>
    </div>
    <button (click)="forgot()" class="btn-large btn-def">{{ 'forgot-confirm' | translate }}</button>
  </div>
</div>
<div *ngIf="currentStep == Steps.confEmail">
  <div class="dialog-header">
    <div class="modal-header-step-two">
      <div (click)="goToGeneralStep()" class="icon-control back-margin">
        <img class="close-button" src="assets/icons/arrow-back.svg" alt="" />
      </div>
      <h2 class="heading-2">{{ 'forgot-modal-heading-step-conf-email' | translate }}</h2>
    </div>
    <div (click)="closeModal()" class="icon-control">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
  </div>
  <div class="dialog-body">
    <img class="email-img" src="assets/icons/Email.svg" alt="" />
    <p class="paragraph-small">
      {{ 'forgot-modal-conf-email-part-1' | translate }} <span class="email-conf">{{ email }}</span>
      {{ 'forgot-modal-conf-email-part-2' | translate }}
    </p>
  </div>
  <div class="dialog-footer">
    <div class="modal-footer-body">
      <p class="paragraph-small">{{ 'forgot-modal-not-your' | translate }} &nbsp;</p>
      <a class="link" (click)="goToGeneralStep()" [routerLink]="">{{ 'forgot-modal-go-back' | translate }}</a>
    </div>
  </div>
</div>
