<div *ngIf="Object.keys(data).length" class="background">
    <div class="gradient">
        <div class="modal-container">
            <div class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="title">
                            <span>{{ data['title'] }}</span>
                            <div (click)="closeModal()" class="icon-control">
                                <img alt="" class="close-button" src="../../../../assets/icons/close.svg">
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <span>{{ data['description'] | utf8decode }}</span>
                        <div class="sub-desc">
                            <span *ngIf="data['price'] != 0">{{ currency }} {{ data['price'] / 100}}</span>
                            <span *ngIf="data['price'] == 0">{{'free' | translate}}</span>
                            <span *ngIf="data['limit'] != -1" class="desc-style">{{ ((Object.keys(data).includes('classes')) ? 'visits-limit' : 'sessions-limit') | translate }}: {{ data['limit'] }}</span>
                            <span *ngIf="data['limit'] == -1" class="desc-style">{{ 'unlimited' | translate}}</span>
                            <span>{{ data.time }}</span>
                        </div>
                        <b>{{ 'sub-relations-v2' | translate }}</b>
                        <ng-container *ngIf="Object.keys(data).includes('services')">
                            <div *ngFor="let service of Object.keys(data['services'])" class="class">
                                <div class="title">
                                    <span>{{ data['services'][service]['title'] }}</span>
                                    <span>{{ data['services'][service]['duration'] }} {{ 'min' | translate}}</span>
                                </div>
                                <span class="time">{{ data['services'][service]['time'] }}</span>
                                <span class="desc">{{ data['services'][service]['description'] | utf8decode }}</span>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="Object.keys(data).includes('classes')">
                            <div *ngFor="let class of Object.keys(data['classes'])" class="class">
                                <div class="title">
                                    <span>{{ data['classes'][class]['title'] }}</span>
                                    <span>{{ data['classes'][class]['duration'] }} {{ 'min' | translate}}</span>
                                </div>
                                <span class="time">{{ data['classes'][class]['time'] }}</span>
                                <span class="desc">{{ data['classes'][class]['description'] | utf8decode }}</span>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
