@import '../../../../variables';

.background {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 101;

  .gradient {
    height: 100vh;
    width: 100%;
    background: linear-gradient(253.3deg, rgba(85, 102, 116, 0.7) 0%, rgba(4, 25, 56, 0.7) 100%);
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.modal-container {
  max-width: 500px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
  border-radius: 3px;
  padding: 40px;

  .modal-content {
    .modal-header {
      margin-bottom: 16px;
      .title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 16px;
        span {
          font-weight: 600;
          font-size: 24px;
          line-height: 29px;
        }
      }
    }
    .modal-body {
      overflow-y: auto;
      max-height: 480px;
      margin-right: -40px;
      padding-right: 40px;

      b {
        font-size: 16px;
      }

      .sub-desc {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        margin-bottom: 42px;
        align-items: baseline;
        border-bottom: 1px solid $color-light-gray;

        span {
          font-size: 16px;
        }

        .desc-style {
          padding-right: 15px;
          padding-left: 15px;
          margin-left: 15px;
          margin-right: 15px;
          border-left: 1px solid $color-light-gray;
          border-right: 1px solid $color-light-gray;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
      .class {
        margin-top: 16px;
        border-top: 1px solid $color-light-gray;;
        display: flex;
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;

        .title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          span {
            font-size: 16px;

            &:first-of-type {
              font-weight: 600;
            }
          }
        }
        .time {
          padding-top: 10px;
          padding-bottom: 10px;
        }
        .desc {
          color: $color-text-black-trans-65;
        }
      }
    }
  }
}
