<div>
  <div class="block-wrapper">
    <div class="flex justify-center mb-4">
      <img src="assets/icons/Logo.svg" alt="" />
    </div>
    <div class="text-center font-semibold">{{ 'auth-modal-do-you-have-account' | translate }}</div>
  </div>

  <div class="block-wrapper">
    <button (click)="changeStep.emit(steps.login)" class="btn-large btn-ghost mb-3">
      {{ 'auth-modal-have-account-button' | translate }}
    </button>
    <button (click)="changeStep.emit(steps.register)" class="btn-large btn-def">
      {{ 'auth-modal-create-client-profile' | translate }}
    </button>
  </div>

  <div class="block-wrapper">
    <div class="auth-info-block">
      <div>
        <img class="mr-3" src="assets/icons/book-easily.svg" alt="" />
        <div>{{ 'auth-modal-login-text1' | translate }}</div>
      </div>
      <div>
        <img class="mr-3" src="assets/icons/Clock-auth.svg" alt="" />
        <div>{{ 'auth-modal-login-text2' | translate }}</div>
      </div>
      <div>
        <img class="mr-3" src="assets/icons/Heart-auth.svg" alt="" />
        <div>{{ 'auth-modal-login-text3' | translate }}</div>
      </div>
      <div>
        <img class="mr-3" src="assets/icons/Calendar-auth.svg" alt="" />
        <div>{{ 'auth-modal-login-text4' | translate }}</div>
      </div>
    </div>
  </div>
</div>
