@import '../../../../../variables.scss';

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  border-top: 1px solid $color-light-gray;

  & > * {
    width: 100%;
  }
}

.auth-info-block {
  & > div {
    display: flex;
    align-items: center;

    &:not(:last-of-type) {
      padding-bottom: 24px;
    }
  }
}
