<app-auth *ngIf="isAuth" (close)="onLogin()"></app-auth>
<div *ngIf="!isAuth" class="widget-close" (click)="closeWidget()">
  <img class="close-button" src="assets/icons/close.svg" alt="" />
</div>
<div class="booking-container">
  <div class="booking-content">
    <router-outlet></router-outlet>
  </div>
</div>
