@import '../../../variables.scss';

.booking-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .booking-content {
    width: 100%;
    max-width: 770px;
  }
}

.widget-close {
  position: absolute;
  top: 26px;
  right: 26px;
  
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  min-width: 28px;
  min-height: 28px;
  flex-shrink: 0;
  border: 8px solid transparent;
  border-radius: 50%;

  &:hover {
    background-color: $color-light-gray;
    border: 8px solid $color-light-gray;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 1024px) {
  .booking-container {
    width: 100%;
    display: flex;
    justify-content: center;

    .booking-content {
      padding-left: 24px;
      padding-right: 24px;
    }
  }
}
