<div class="widget-tabs">
    <div (click)="booking()" class="sign-tab" [ngClass]="{'active': !hasPurchaseSegment}">
        <img alt="" src="assets/icons/Classes-Today-Empty.svg"><span>{{'book-button' | translate}}</span>
    </div>
    <div (click)="purchase()" class="purchase-tab" [ngClass]="{'active': hasPurchaseSegment}">
        <img alt="" src="assets/icons/cart-empty.svg"><span>{{ (session) ? 'subscriptions' : 'service_packages' | translate}}</span>
    </div>
</div>
