@import '../../../../variables';

.widget-tabs {
  display: flex;

  .sign-tab, .purchase-tab {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    border-bottom: 1px solid #f5f5f5;
    cursor: pointer;
  }
  .sign-tab {
    border-right: 1px solid #f5f5f5;
  }

  .sign-tab.active, .purchase-tab.active {
    img {
      filter: invert(10%) brightness(25%) saturate(150);
    }

    color: $color-brand-blue;
    border-bottom: 2px solid $color-brand-blue;
  }

  img {
    filter: grayscale(1);
    max-width: 18px;
    margin-right: 6px;
  }
  span {
    font-size: 15px;
    font-weight: 600;
  }
}
