<div class="container">
    <div class="top-container">
        <div class="top-content-container">
            <div class="top-content">
                <div class="heading-content">
                    <app-search [mode]="2"></app-search>
                </div>
            </div>
        </div>
    </div>

    <div class="container-body">
        <div class="content-container">
            <div class="content">
                <div class="menu">
                    <app-profile-menu></app-profile-menu>
                </div>
                <div class="page-content">
                    <div class="head-container">
                        <h2 class="heading-2">{{'profile-gcalendar-heading' | translate}}</h2>
                    </div>
                    <div *ngIf="isInit" class="body-content">
                        <ng-container *ngIf="!googleEmail">
                            <span>{{'profile-gcalendar-title' | translate}}</span>
                            <img class="img-preview" src="../../../../../assets/img/calendar-marketplace-preview.jpg">
                            <b>{{'profile-gcalendar-text-1' | translate}}</b>
                            <div>
                                <button (click)="doSync(1)" class="btn-outline-gray btn-large sign-in-btn">
                                    <img src="assets/icons/google.svg" alt="">
                                    {{'profile-gcalendar-btn-enable' | translate}}
                                </button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="googleEmail">
                            <img class="img-preview" src="../../../../../assets/img/calendar-martketplace-active.jpg">
                            <span  *ngIf='syncAborted == false' innerHTML="{{'profile-gcalendar-text-2' | translate:({email: googleEmail})}}"></span>
                            <span *ngIf='syncAborted == true' innerHTML="{{ 'notifications-alert-gsync-expire' | translate}}"></span>
                            <div>
                                <button (click)="doSync(0)" class="btn-outline-gray btn-large sign-in-btn desync-btn">
                                    {{'profile-gcalendar-btn-disable' | translate}}
                                </button>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
