.up-button-container {
  position: fixed;
  right: 0;
  top: 0;
  margin-right: 54px;
  margin-top: 30%;
  z-index: 100;

  .up-button {
    background-color: #186FDA;
    color: white;
    box-shadow: 0px 10px 15px rgba(24, 111, 218, 0.15);
    border-radius: 62px;
    height: 56px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 38px;
      font-family: monospace;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .up-button-container {
    right: 24px;
    bottom: 96px;
    margin-top: 0;
    margin-right: 0;
    top: unset;
}
}