@import "../../../../../variables.scss";

:host {
  width: 100%;
}

.purchase-confirm-content {
  display: flex;
  flex-direction: column;
  text-align: initial;
  background-color: $color-pure-white;
  padding: 16px;
  border-radius: 3px;

  .content-title {
    font-size: 16px;
    padding-bottom: 4px;
    color: $color-text-black-trans-65;
  }

  .product-header, .product-desc, .product-provider, .product-price {
    display: flex;
    flex-direction: column;

    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid $color-light-gray;
  }

  .product-header, .product-price {
    b {
      font-size: 16px;
    }
  }

  .summary-btn {
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;

    span {
      padding-top: 24px;
      padding-bottom: 24px;
      font-size: 20px;
      font-weight: 600;
    }
  }

  .provider-container {
    display: flex;

    img {
      max-width: 32px;
      max-height: 32px;
      border-radius: 33px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-right: 8px;
    }
    div {
      display: flex;
      flex-direction: column;
      b, span {
        font-size: 16px;
      }
    }
  }
}
