<div class="purchase-confirm-content" [ngStyle]="{'box-shadow': (hideConfirmBtn) ? '0px 2px 2px 0px rgba(0, 0, 0, 0.10)' : null}">
    <div class="product-header">
        <span class="content-title">{{'p-product' | translate}}</span>
        <b>{{data['title']}} <a (click)="emitShowDetails()" href="javascript:;">
            {{ ((type == productType.SUBSCRIPTIONS) ? 'sub-relations' : 'course-relations') | translate }}</a>
        </b>
    </div>
    <div class="product-desc">
        <span class="content-title">{{'p-product-desc' | translate}}</span>
        <span>{{(data['description'].length ? (data['description'] | utf8decode) : '—')}}</span>
    </div>
    <div class="product-provider">
        <span class="content-title">{{'p-provider' | translate}}</span>
        <div class="provider-container">
            <img alt="" tabindex="0" src="{{data['api_url']}}/company/logo?company_id={{data['company_id']}}">
            <div>
                <b>{{data['company_title']}}</b>
                <span>{{data['branch_title']}}</span>
            </div>
        </div>
    </div>
    <div class="product-price" [ngStyle]="{
    'border-bottom': (hideConfirmBtn) ? 0 : null,
    'margin-bottom': (hideConfirmBtn) ? 0 : null,
    'padding-bottom': (hideConfirmBtn) ? 0 : null}">
        <span class="content-title">{{'p-price' | translate}}</span>
        <b *ngIf="data['price'] > 0">{{data['company_currency']}} {{data['price'] / 100}}</b>
        <b *ngIf="data['price'] == 0">{{'free' | translate}}</b>
    </div>

    <div *ngIf="!hideConfirmBtn" class="summary-btn">
        <span>{{'p-total' | translate}}:
            <ng-container *ngIf="data['price'] > 0">{{data['company_currency']}} {{data['price'] / 100}}</ng-container>
            <ng-container *ngIf="data['price'] == 0">{{'free' | translate}}</ng-container>
        </span>
        <button *ngIf="data['online_sale']" (click)="emitSelect()" class="btn-regular btn-positive">{{'p-btn-bnb' | translate}}</button>
        <button *ngIf="!data['online_sale']" disabled class="btn-regular btn-positive">{{'p-online-sale-disabled' | translate}}</button>
    </div>
</div>
