<div class="services-category">
  <div class="category-content" [ngClass]="{'open': isOpen}">
    <div class="category-title" (click)="toggle($event)">
      <div class="circle-btn">
        <img src="assets/icons/Select.svg" alt="" />
      </div>
      <h4 class="heading-4">{{ data['category_title'] }}</h4>
    </div>
    <ng-container *ngIf="isClasses">
      <div *ngFor="let item of data['bookings']" class="services-container">
        <div class="service-item">
          <ng-container *ngIf="isClasses">
            <div class="item-first">
              <h5 class="heading-5">{{ (item?.from_date | date: 'MMM') | translate }} {{item?.from_date | date: 'd'}}</h5>
              <h5 class="heading-5">{{ item?.from_date | date: 'HH:mm' }}</h5>
            </div>
            <div class="item-container">
              <div class="item-second">
                <h5 class="heading-5">{{ item?.product_title }}</h5>
                <div class="details">
                  <div class="employee">
                    <img
                            class="avatar"
                            src="{{ apiUrl }}/company/employee/avatar?employee_id={{ item?.employee_id }}"
                            alt="img"
                    />
                    <span>{{ item?.employee_first_name }} {{ item?.employee_last_name }}</span>
                  </div>
                  <div class="d-flex">
                    <p class="paragraph-small-lightened">
                      <ng-container *ngIf="(item?.product_duration / 60).toString()[0] != 0"
                      >{{ (item?.product_duration / 60).toString()[0] }} {{ 'hr' | translate }}
                      </ng-container>
                      <ng-container *ngIf="item?.product_duration % 60 != 0"
                      >{{ item?.product_duration % 60 }} {{ 'min' | translate }}</ng-container
                      >
                    </p>
                    <div class="members">
                      <span>{{ 'members' | translate }} {{ item?.clients }} / {{ item?.limit }}</span>
                    </div>
                  </div>
                </div>
                <div *ngIf="item?.prepayment_value == 2 || item?.prepayment_value == 1 && isCompanyClient == false" class="mb-2">
                  <span class="prepayment-marker">{{'NEED-SUBSCRIPTION' | translate}}</span>
                </div>
                <p *ngIf="item?.product_description" class="description" [innerText]="item?.product_description | utf8decode"></p>
              </div>
              <div class="item-third">
                <p (click)="viewPassInfo(item)" class="paragraph-small">{{ 'subscriptions' | translate }}</p>
                <button *ngIf="!widgetMode" (click)="select(item)" class="btn-regular btn-def">
                  {{ 'book-button' | translate }}
                </button>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <button *ngIf="(data.hasOwnProperty('count')) && data['count'] > 5 && data['bookings'].length < data['count']" class="btn-regular btn-smooth btn-look-more" (click)="onLazyLoad(data['category_id'])"> {{ 'btn-look-more' | translate }} </button>
    </ng-container>
    <ng-container *ngIf="!isClasses">
      <div *ngFor="let item of data['items']" class="services-container">
        <div class="service-item  s-mobile">
          <ng-container>
            <div class="item-left">
              <h4 class="heading-4">{{ item?.title }}</h4>
              <p class="paragraph-small-lightened">
                <ng-container *ngIf="(item?.duration / 60).toString()[0] != 0"
                >{{ (item?.duration / 60).toString()[0] }}{{ 'hr' | translate }}
                </ng-container>
                <ng-container *ngIf="item?.duration % 60 != 0"
                >{{ item?.duration % 60 }}{{ 'min' | translate }}</ng-container
                >
              </p>
              <div *ngIf="item?.prepayment_value == 2 || item?.prepayment_value == 1 && isCompanyClient == false" class="mb-2">
                <span class="prepayment-marker">{{((isPersonal) ? 'NEED-SUBSCRIPTION' : 'NEED-PREPAYMENT') | translate}}</span>
              </div>

              <p [innerText]="item?.description"></p>
            </div>
            <div class="item-right">
              <button *ngIf="!widgetMode" (click)="select(item)" class="btn-regular btn-def">
                {{ 'book-button' | translate }}
              </button>
              <ng-container *ngIf="!isPersonal">
                <p *ngIf="item['price_max'] == 0" class="paragraph-small">
                  <ng-container *ngIf="item['price'] != 0">{{ item['price'] / 100 }} {{ currency }}</ng-container>
                  <ng-container *ngIf="item['price'] == 0">{{'free-price' | translate}}</ng-container>
                </p>
                <p *ngIf="item['price_max'] > 0" class="paragraph-small">
                  {{ 'from' | translate }} {{ item['price'] / 100 }} {{ currency }}
                </p>
              </ng-container>
              <ng-container *ngIf="isPersonal">
                <p (click)="viewPassInfo(item)" class="paragraph-small sub">{{ 'subscriptions' | translate }}</p>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>
