@import '../../../variables.scss';

.services-category {
  display: flex;
  flex-direction: column;

  .category-content {
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    border-bottom: 1px solid $color-light-gray;

    .btn-look-more {
      display: none;
    }

    &.open {
      .circle-btn {
        background-color: $color-icon-gray;
        img {
          transform: rotate(0) !important;
        }
      }

      .circle-btn:hover {
        background-color: $color-icon-gray !important;
      }

      .btn-look-more {
        display: block;
      }

      .services-container {
        visibility: visible;
        opacity: 100;
        transition: max-height 1s;
        transition: opacity 0.4s;
        max-height: 9999px;
      }
    }

    .category-title {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      cursor: pointer;

      h4 {
        height: 100%;
        display: block;
        width: 100%;
        padding-left: 16px;
      }

      .circle-btn {
        border-radius: 33px;
        border: 1px solid $color-icon-gray;
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        img {
          transform: rotate(-90deg);
          filter: brightness(0.24);
          transition: transform 0.1s;
        }

        &.active {
          background-color: $color-icon-gray;
        }
      }

      .circle-btn:hover {
        background-color: $color-light-gray;
      }

      .heading-5 {
        padding-left: 16px;
      }
    }

    .services-container {
      visibility: hidden;
      opacity: 0;
      height: auto;
      max-height: 0;
      transition: max-height 0.1s;

      .service-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px;
        border: 1px solid $color-light-gray;
        border-radius: 3px;
        margin-bottom: 16px;
        box-shadow: 0 5px 20px rgba(10, 55, 112, 0.05);
        width: 100%;

        @media (max-width: 720px) {
          .item-container {
            flex-direction: column !important;

            .item-second {
              border-right: 0 !important;
            }

            .item-third {
              padding: 16px;
              justify-content: space-between;
              width: 100%;
            }
          }
        }

        .item-left {
          h4 {
            word-break: break-all;
            font-size: 16px !important;
          }
          
          p {
            padding-bottom: 10px;
          }
        }

        .item-right {
          padding-left: 10px;
          .paragraph-small {
            font-weight: 600;
            padding-top: 16px;
          }

          .sub {
            color: $color-brand-blue;
            cursor: pointer;
          }
        }

        .item-first {
          padding-right: 16px;
          border-right: 1px solid $color-light-gray;
          display: flex;
          flex-direction: column;
          justify-content: center;

          h5 {
            text-wrap: nowrap;
            padding-bottom: 2px;

            &:first-of-type {
              color: $color-text-black-trans-65;
            }
          }
        }

        .item-container {
          display: flex;
          flex-direction: row;
          width: 100%;

          .item-second {
            width: 100%;
            padding: 0 16px;
            border-right: 1px solid $color-light-gray;
            margin-right: 16px;

            display: flex;
            flex-direction: column;

            h5 {
              word-break: break-all;
              font-size: 16px !important;
              padding-bottom: 8px;
            }

            .details {
              display: flex;
              align-items: center;
              padding-bottom: 8px;

              .employee {
                display: flex;
                align-items: center;

                .avatar {
                  max-width: 32px;
                  border-radius: 33px;
                  margin-right: 16px;
                }
              }

              .paragraph-small-lightened {
                padding: 0 16px;
                margin: 0 16px;
                border-left: 1px solid $color-light-gray;
                border-right: 1px solid $color-light-gray;
              }
            }
          }

          .item-third {
            display: flex;
            flex-direction: row;
            align-items: center;

            p {
              padding-right: 16px;
              color: $color-brand-blue;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .prepayment-marker {
    background-color: $color-marker-warning;
    color: $color-pure-white;
    text-transform: uppercase;
    padding: 3px 4px 3px 4px;
    border-radius: 6px;
  }
}

@media (max-width: 480px) {
  .s-mobile {
    flex-direction: column !important;
    .item-right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row-reverse;

      .sub {
        padding: 0 !important;
      }
    }
  }

  .service-item {
    .item-container {
      .details {
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline !important;

        .d-flex {
          padding-top: 8px;
          padding-bottom: 8px;

          .paragraph-small-lightened {
            padding-left: 0px !important;
            margin-left: 0px !important;
            border-left: 0;
            border-right: 1px solid #F5F5F5;
            padding-right: 12px !important;
            margin-right: 12px !important;
          }
        }
      }
    }
  }

  .prepayment-marker {
    font-size: 12px;
  }
}
