<div [formGroup]="approveCode">
  <div class="block-wrapper">
    <p class="paragraph-small">
      {{ 'register-phone-code-info-part1' | translate }}
      <span class="email-conf">+{{ apiService['user']['phone_code'] }}{{ apiService['user']['phone_number'] }}</span>
      {{ 'register-phone-code-info-part2' | translate }}
    </p>
  </div>
  <div class="block-wrapper">
    <app-input
      formControlName="code"
      [placeholder]="'register-code' | translate"
      [icon]="'password'"
      [iconPosition]="'left'"
      [errors]="isSubmitted && approveCode.get('code').errors"
    >
      <div
        class="resend-button"
        [ngClass]="{
          'resend-button-disabled': resendTimer > 0
        }"
        (click)="resendConfirmCode()"
      >
        {{ 'registration-resend-code' | translate }}
        <ng-container *ngIf="resendTimer > 0">({{ resendTimer }}{{ 'short-symbol-seconds' | translate }})</ng-container>
      </div>
    </app-input>
    
    <button (click)="sendCode()" class="btn-large btn-def">{{ 'forgot-confirm' | translate }}</button>
  </div>
  <div class="block-wrapper">
    <div class="flex justify-center">
      <div class="paragraph-small-lightened pr-2">{{ 'confirm-code-wrong-phone' | translate }}</div>
      <div class="paragraph-small-accent text-blue cursor-pointer" (click)="changeStep.emit(steps.register)">
        {{ 'confirm-code-go-back' | translate }}
      </div>
    </div>
  </div>
</div>
