@import '../../../../../variables.scss';

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  border-top: 1px solid $color-light-gray;

  & > * {
    width: 100%;
  }
}

.resend-button {
  padding-top: 16px;
  color: #186fda;
  font-weight: 600;
  cursor: pointer;

  &-disabled {
    color: rgba(#3e3e3e, 0.5);
    cursor: not-allowed;
  }
}
