<div id="{{id}}" class="select">
  <div (click)="toggleSelect($event)" class="select-header">
      <div *ngIf="mode == 'normal'" class="selected-container">
        <img *ngIf="selectedImg != null" src="{{selectedImg}}" alt="">
        <p class="paragraph-regular">{{selectedValue | translate}}</p>
      </div>
      <div *ngIf="mode == 'countries'" class="selected-container">
        <img *ngIf="selectedImg != null" src="{{selectedImg}}" alt="">
      </div>
      <div *ngIf="mode == 'employees'" class="selected-container">
          <img *ngIf="selectedValue != null" class="avatar" src="{{apiUrl}}/company/employee/avatar?employee_id={{selectedKey}}" alt="">
          <p class="paragraph-regular">{{selectedValue | translate}}</p>
      </div>
      <img class="arrow" [ngStyle]="{'transform': isOpen == true ? 'rotate(-180deg)' : 'rotate(0deg)'}" src="assets/icons/Select.svg" alt="">
  </div>
  <div *ngIf="isOpen" class="select-items">
    <div (click)="selectElement(item)" *ngFor="let item of data" class="select-item paragraph-regular">
      <div class="item">
        <img *ngIf="item['img']" src="{{item['img']}}" alt="">
        <p class="paragraph-regular">{{item['value'] | translate}}</p>
      </div>
    </div>
  </div>
</div>
