@import "../../../variables.scss";

.select {
    position: relative;
}
.select-header {
    display: flex;
    justify-content: space-between;
    padding: 12px 0 12px 16px;
    background: $color-select-default;
    border-radius: 3px;
    min-height: 44px;
    cursor: pointer;

    &:hover {
        background-color: $color-select-hover;
    }

    .arrow {
        margin-right: 17px;
    }

    .selected-container {
        display: flex;
        align-items: center;

        img {
            margin-right: 16px;
            width: 16px;
        }

        .avatar {
            margin-right: 8px !important;
            border-radius: 33px;
            width: 100%;
            max-width: 24px;
        }
    }
}
.select-items {
    position: absolute;
    width: fit-content;
    background-color: $color-pure-white;
    box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
    border-radius: 3px;
    margin-top: 8px;
    z-index: 100;
    max-height: 250px;
    overflow: auto;

    .select-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 12px 16px 12px 16px;
        cursor: pointer;
        min-height: 48px;

        &:hover {
            background-color: $color-bg-blue-dk;
        }

        .item {
            display: flex;
            align-items: center;

            img {
                margin-right: 16px;
                width: 16px;
            }
        }
    }
}
