<app-company-header
  *ngIf="!isWidget"
  [title]="company?.title"
  [industry]="company?.industryTitle"
  [countReview]="company?.reviews"
  [rating]="company?.rating"
  [companyId]="companyId"
  [branchId]="branchId"></app-company-header>

<div class="purchase-container">
    <div class="purchase-content" [ngStyle]="{'padding': (isWidget) && '0'}">
        <div *ngIf="actualPaymentStatus != displayContent.TOTAL" class="header" [ngStyle]="{'margin-bottom': (isWidget) && '0'}">
            <div *ngIf="!isWidget || isWidget && actualPaymentStatus != displayContent.CHOICE" (click)="moveBack()" class="header-back-button">
                <svg class="svg-icon svg-icon--size-m svg-icon--color-gray" style="transform: rotate(90deg)">
                    <use xlink:href="assets/icons/icons-sprite.svg#ArrowDown"></use>
                </svg>
            </div>
            <div class="header-title">
                <ng-container *ngIf="actualPaymentStatus == displayContent.CHOICE">
                    <ng-container *ngIf="isWidget">{{company?.title}}</ng-container>
                    <ng-container *ngIf="!isWidget">
                        <ng-container *ngIf="type == productType.GOODS">{{ 'purchase-goods' | translate }}</ng-container>
                        <ng-container *ngIf="type == productType.SUBSCRIPTIONS">{{ 'purchase-sub' | translate }}</ng-container>
                        <ng-container *ngIf="type == productType.COURSE">{{ 'purchase-course' | translate }}</ng-container>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="actualPaymentStatus == displayContent.PENDING">{{ 'purchase-confirm' | translate }}</ng-container>
                <ng-container *ngIf="[
                displayContent.PROCESSING,
                displayContent.PAYMENT_SUCCESS,
                displayContent.PAYMENT_ERROR].includes(actualPaymentStatus)">{{ 'purchase-buying' | translate }}</ng-container>
            </div>
        </div>
        <app-widget-tabs class="mb-4" *ngIf="isWidget && actualPaymentStatus == displayContent.CHOICE"></app-widget-tabs>
        <router-outlet></router-outlet>
    </div>
</div>

<app-subscriptions-detailed-modal
        *ngIf="isOpenDetailsModal"
        [data]="detailsModalData"
        [currency]="company['currency']"
        (closeModalEvent)="closeDetailsModal()"
></app-subscriptions-detailed-modal>
