<div [formGroup]="loginForm" *ngIf="step === steps.restorePasswordStepOne">
  <div class="block-wrapper">
    <div class="phone-number-container">
      <div
        [ngClass]="{
          'phone-number-error':
            isSubmitted &&
            (loginForm.get('phoneNumber').getError('required') ||
              loginForm.get('phoneNumber').getError('phone-rule') ||
              loginForm.get('phoneNumber').getError('phone-does-not-exist'))
        }"
        class="phone-number"
      >
        <app-phone-code-select
          [options]="phoneCodes"
          formControlName="phoneCode"
          appendTo="body"
        ></app-phone-code-select>
        <p class="paragraph-regular code-phone">+ {{ loginForm?.value?.phoneCode?.phone_code }}</p>
        <input
          appNumeric
          numericType="number"
          [ngClass]="{
            'icon-input-error':
              isSubmitted &&
              (loginForm.get('phoneNumber').getError('required') ||
                loginForm.get('phoneNumber').getError('phone-rule') ||
                loginForm.get('phoneNumber').getError('phone-does-not-exist'))
          }"
          formControlName="phoneNumber"
          class="input input-def input-margin"
          type="text"
          placeholder="{{ 'register-modal-your-phone' | translate }}"
        />
      </div>
      <p
        *ngIf="isSubmitted && loginForm.get('phoneNumber').getError('phone-rule') == true"
        class="paragraph-small error-lable"
      >
        {{ 'phone-rule' | translate }}
      </p>
      <p *ngIf="isSubmitted && loginForm.get('phoneNumber').getError('required')" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
      <p
        *ngIf="isSubmitted && loginForm.get('phoneNumber').getError('phone-does-not-exist') == true"
        class="paragraph-small error-lable"
      >
        {{ 'phone-does-not-exist' | translate }}
      </p>
    </div>

    <button (click)="onPhoneSubmit()" class="btn-large btn-def">{{ 'forgot-confirm' | translate }}</button>
  </div>

  <div class="block-wrapper">
    <div class="flex justify-center">
      <p class="paragraph-small">{{ 'auth-modal-no-account' | translate }} &nbsp;</p>
      <a class="link" (click)="changeStep.emit(steps.register)">{{ 'auth-modal-create-client-profile' | translate }}</a>
    </div>
  </div>
</div>

<div [formGroup]="loginForm" *ngIf="step === steps.restorePasswordStepTwo">
  <div class="block-wrapper">
    <div class="input-icon-container">
      <div
        [ngClass]="{
          'icon-input-error':
            isSubmitted &&
            (loginForm.controls.smsCode.getError('required') || loginForm.controls.smsCode.getError('invalid'))
        }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{
          'input-error':
            isSubmitted &&
            (loginForm.controls.smsCode.getError('required') || loginForm.controls.smsCode.getError('invalid'))
        }"
        formControlName="smsCode"
        class="input input-margin"
        type="text"
        placeholder="{{ 'register-code' | translate }}"
      />
      <p *ngIf="isSubmitted && loginForm.controls.smsCode.getError('required')" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
      <p *ngIf="isSubmitted && loginForm.controls.smsCode.getError('invalid')" class="paragraph-small error-lable">
        {{ 'register-code-invalid' | translate }}
      </p>

      <!-- Отправить код повторно -->
      <div
        class="resend-button"
        [ngClass]="{
          'resend-button-disabled': resendTimer > 0
        }"
        (click)="onResendRestoreCode()"
      >
        {{ 'registration-resend-code' | translate }}
        <ng-container *ngIf="resendTimer > 0">({{ resendTimer }}{{ 'short-symbol-seconds' | translate }})</ng-container>
      </div>
    </div>

    <!-- Пароль -->
    <div class="input-icon-container">
      <div
        [ngClass]="{
          'icon-input-error':
            isSubmitted &&
            (loginForm.controls.password.getError('password') || loginForm.controls.password.getError('required'))
        }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        formControlName="password"
        class="input"
        [ngClass]="{
          'input-error': isSubmitted && loginForm.controls.password.getError('required')
        }"
        type="password"
        placeholder="{{ 'auth-modal-your-password' | translate }}"
      />
      <p *ngIf="isSubmitted && loginForm.controls.password.getError('required')" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
    </div>

    <!-- Подтверждение пароля -->
    <div class="input-icon-container">
      <div
        [ngClass]="{
          'icon-input-error': isSubmitted && loginForm.controls.password.value !== loginForm.controls.password2.value
        }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        formControlName="password2"
        class="input"
        [ngClass]="{
          'input-error': isSubmitted && loginForm.controls.password.value !== loginForm.controls.password2.value
        }"
        type="password"
        placeholder="{{ 'register-modal-your-repassword' | translate }}"
      />
      <p
        *ngIf="isSubmitted && loginForm.controls.password.value !== loginForm.controls.password2.value"
        class="paragraph-small error-lable"
      >
        {{ 'auth-modal-wrong-confirm-password' | translate }}
      </p>
    </div>

    <button (click)="onSubmitPassword()" class="btn-large btn-def">
      {{ 'forgot-confirm' | translate }}
    </button>
  </div>

  <div class="block-wrapper">
    <div class="flex justify-center">
      <p class="paragraph-small">{{ 'confirm-code-wrong-phone' | translate }} &nbsp;</p>
      <a class="link" (click)="changeStep.emit(steps.restorePasswordStepOne)">{{
        'confirm-code-go-back' | translate
      }}</a>
    </div>
  </div>
</div>
