@import '../../../../../variables.scss';

.finish {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2px;

  @media (min-width: 768px) {
    margin-bottom: 300px;
  }

  .finish-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
    padding-top: 24px;

    @media (min-width: 768px) {
      text-align: center;
    }


    &-img {
      margin-bottom: 24px;
      width: 112px;
      height: 112px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  .finish-title {
    width: 100%;
    padding-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
  }

  .finish-desc {
    width: 100%;
    padding-bottom: 16px;
  }

  .finish-content {
    width: 100%;

    .top-content {
      margin-left: -24px;
      margin-right: -24px;
      margin-bottom: 24px;
      padding: 24px;
      border-radius: 5px;
      background-color: #f2f5f8;

      @media (min-width: 768px) {
        margin-left: 0;
        margin-right: 0;
      }

      &-title {
        padding-bottom: 8px;
        font-size: 16px;
        font-weight: 600;
      }
    }
    .bottom-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 570px;
      display: flex;
      align-items: center;
      text-align: center;
      flex-direction: column;
      flex-grow: 1;
    }

    .info-container {
      margin-bottom: 16px;
      background-color: #fff;
      border: 1px solid #f5f5f5;
      box-shadow: 0 2px 2px rgba(#000, 0.1);

      .info-item-group {
        padding: 16px;

        &:not(:last-of-type) {
          border-bottom: 1px solid #f5f5f5;
        }
      }

      .info-item-row {
        display: flex;
        .info-item {
          padding-right: 50px;
        }
      }

      .info-item-title {
        padding-bottom: 4px;
        color: rgba(#3e3e3e, 0.65);
      }

      .info-item-value {
        font-weight: 600;
      }
    }

    .master-container {
      display: flex;
      align-items: center;
      margin-top: 8px;

      img {
        margin-right: 8px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
      }
    }
  }
}

.sign-in-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 48px !important;
  padding-left: 48px !important;

  img {
    padding-right: 8px;
  }
}

.desync-btn {
  color: $color-warn-red;
  font-weight: 600;
}
