<div class="finish">
  <div class="finish-header">
      <div *ngIf="finishType === 0" class="finish-header-img" [style.backgroundImage]="'url(/assets/img/booking-in-progress@2x.png)'"></div>
      <div *ngIf="finishType === 1" class="finish-header-img" [style.backgroundImage]="'url(/assets/img/booking-success@2x.png)'"></div>
    <div class="finish-title">
      <ng-container *ngIf="finishType === 0">{{ 'booking-request-pending-title' | translate }}</ng-container>
      <ng-container *ngIf="finishType === 1">{{ 'booking-request-confirm-title' | translate }}</ng-container>
    </div>
    <div class="finish-desc" *ngIf="finishType === 0">{{ 'booking-finish-step-request-pending' | translate }}</div>
    <div class="finish-desc" *ngIf="finishType === 1">{{ 'booking-finish-step-request-confirm' | translate }}</div>

    <div class="finish-desc">{{ 'booking-finish-header-user-profile-desc' | translate }}</div>
  </div>

  <div class="finish-content">
    <div class="top-content">
      <div class="top-content-title">{{ 'booking-finish-session-details' | translate }}</div>
      <div class="info-container">
        <div class="info-item-group">
          <div class="info-item pb-3">
            <div *ngIf="company?.session === 0" class="info-item-title">
              {{ 'booking-confirm-service' | translate }}
            </div>
            <div *ngIf="company?.session === 1" class="info-item-title">
              {{ 'booking-confirm-class' | translate }}
            </div>
            <p class="info-item-value">{{ product['title'] }}</p>
          </div>

          <div class="info-item-row">
            <div class="info-item">
              <div class="info-item-title">{{ 'booking-confirm-duration' | translate }}</div>
              <div class="info-item-value">{{ product['duration'] }} {{ 'min' | translate }}</div>
            </div>
            <div *ngIf="company?.session === 0" class="info-item">
              <div class="info-item-title">{{ 'booking-confirm-price' | translate }}</div>
              <div *ngIf="product['price'] >= 0 && product['price_max'] == 0" class="info-item-value">
                <ng-container *ngIf="product['price'] > 0">{{ 'from' | translate }} {{ product['price'] / 100 }} {{ company['currency'] }}.</ng-container>
                <ng-container *ngIf="product['price'] == 0">{{'free-price' | translate}}</ng-container>
              </div>
              <div *ngIf="product['price'] >= 0 && product['price_max'] > 0" class="info-item-value">
                {{ product['price'] / 100 }} - {{ product['price_max'] / 100 }} {{ company['currency'] }}.
              </div>
              <div *ngIf="!product['price'] && product['subscription_price']" class="info-item-value">
                {{ product['subscription_price'] / 100 }} {{ company['currency'] }}.
              </div>
            </div>
          </div>
        </div>

        <div class="info-item-group">
          <div class="info-item">
            <div class="info-item-title">{{ 'booking-confirm-specialist' | translate }}</div>
            <div class="master-container">
              <img src="{{ apiUrl }}/company/employee/avatar?employee_id={{ employee?.id }}" alt="" />
              <div class="info-item-value">
                {{ employee['employee_first_name'] || employee['first_name'] }} {{ employee['employee_last_name'] || employee['last_name'] }}
              </div>
            </div>
          </div>
        </div>

        <div class="info-item-group">
          <div class="info-item pb-3">
            <div class="info-item-title">{{ 'booking-confirm-date' | translate }}</div>
            <div class="info-item-value">{{ displayDate }}</div>
          </div>
          <div class="info-item">
            <div class="info-item-title">{{ 'booking-confirm-time' | translate }}</div>
            <div class="info-item-value">{{ time?.from_time | amDateFormat: 'HH:mm' }}</div>
          </div>
        </div>
      </div>

      <a *ngIf="!isWidget" class="link" routerLink="/user-sessions" routerLinkActive="router-link-active">
        {{ 'booking-finish-to-user-sessions' | translate }}
      </a>
    </div>
    <div *ngIf="!isWidget" class="bottom-content">
      <div class="pb-3">{{ 'booking-finish-sync-description' | translate }}</div>
      <div>
        <ng-container *ngIf="!googleEmail">
          <button (click)="doSync(1)" class="btn-outline-gray btn-large sign-in-btn">
            <img src="assets/icons/google.svg" alt="" />
            {{ 'profile-gcalendar-btn-enable' | translate }}
          </button>
        </ng-container>
        <ng-container *ngIf="googleEmail">
          <button (click)="doSync(0)" class="btn-outline-gray btn-large sign-in-btn desync-btn">
            {{ 'profile-gcalendar-btn-disable' | translate }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
