<div class="profile-menu">
  <button class="menu-item" [routerLink]="['/user-settings']">
      <a [ngClass]="{active: href == '/user-settings'}" class="paragraph-regular">{{'profile-settings' | translate}}</a>
  </button>
  <button class="menu-item" [routerLink]="['/user-sessions']">
      <a [ngClass]="{active: href == '/user-sessions'}" class="paragraph-regular">{{'profile-appointments' | translate}}</a>
  </button>
  <button class="menu-item" [routerLink]="['/user-subscription']">
      <a [ngClass]="{active: href == '/user-subscription'}"  class="paragraph-regular">{{'profile-passes' | translate}}</a>
  </button>
  <button class="menu-item" [routerLink]="['/user-favorites']">
      <a [ngClass]="{active: href == '/user-favorites'}" class="paragraph-regular">{{'profile-favorites' | translate}}</a>
  </button>
  <button class="menu-item" [routerLink]="['/user-gcalendar']">
      <img src="assets/icons/google.svg" alt="">
      <a [ngClass]="{active: href == '/user-gcalendar'}" class="paragraph-regular">{{'profile-gcalendar' | translate}}</a>
  </button>
  <button class="menu-item">
      <a (click)="logOut()" class="paragraph-regular exit">{{'profile-logout' | translate}}</a>
  </button>
</div>