@import "../../../../../variables.scss";

.profile-menu {
    width: 100%;
    display: flex;
    flex-direction: column;

    .menu-item {
        width: 100%;
        padding: 16px 0;
        border-bottom: 1px solid $color-light-gray;
        text-align: left;
        cursor: pointer;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            padding-right: 8px;
        }

        a {
            text-decoration: none;
        }
    }

    .active {
        font-weight: 600;
        color: $color-brand-blue;
    }

    .exit {
        color: $color-warn-red;
    }
}