@import '../../../../../variables.scss';

.header {
  height: 80px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f5f5f5;

  &-title {
    font-size: 24px;
    font-weight: 600;
  }

  &-back-button {
    margin-right: 12px;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e8e8e8;
    border-radius: 9999px;
    cursor: pointer;

    svg {
      fill: #b0b9c2;
    }
  }
}

.confirm-booking-container {
  .info-container {
    display: flex;
    align-items: flex-end;
    padding: 16px 0;
    border-bottom: 1px solid $color-light-gray;

    & > div:first-of-type {
      display: flex;
    }

    .info-item-wrapper {
      display: flex;

      .info-item:first-of-type {
        padding-right: 32px;
      }
    }
    .info-item {
      display: flex;
      flex-direction: column;
      margin-right: 64px;

      &.session-title {
        @media (min-width: 1024px) {
          max-width: 340px;
          margin-right: 96px;
        }
      }

      .master-container {
        display: flex;
        align-items: center;
        margin-top: 8px;

        img {
          margin-right: 8px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }
      }
    }

    .edit-icon {
      margin-left: auto;
      cursor: pointer;

      svg {
        fill: #b0b9c2;
      }
    }
  }

  .comment-container {
    padding: 24px 0;

    textarea {
      margin-top: 8px;
      width: 100%;
      border: 2px solid rgb(215, 222, 229);
      border-radius: 3px;
      resize: none;
      padding: 16px;
    }
  }

  .actions-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 130px;

    .info {
      display: flex;
      flex-direction: column;
    }
  }

  .processing-payment {
    display: flex;
    justify-content: center;
    padding-bottom: 32px;
    flex-direction: column;
    align-items: center;

    p, .link {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .confirm-booking-container {
    .info-container {
      display: flex;
      align-items: flex-start;
      padding-top: 24px;
      padding-bottom: 8px;
      border-bottom: 1px solid $color-light-gray;

      & > div:first-of-type {
        display: block;
      }

      .info-item {
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        margin-bottom: 16px;

        .master-container {
          display: flex;
          align-items: center;
          margin-top: 8px;

          img {
            margin-right: 8px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }
        }
      }
    }

    .comment-container {
      padding: 24px 0;
      border-top: 1px solid $color-light-gray;

      textarea {
        margin-top: 8px;
        width: 100%;
        border: 2px solid rgb(215, 222, 229);
        border-radius: 3px;
        resize: none;
        padding: 16px;
      }
    }

    .actions-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      button {
        width: 100%;
        margin-top: 16px;
      }

      .info {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.product-subscriptions {
  &-item {
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #f5f5f5;
  }

  &-title {
    padding-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
  }

  &-info {
    span:first-child {
      padding-right: 12px;
      margin-right: 12px;
      border-right: 1px solid #f5f5f5;
    }
  }
}

.gmap {
  margin-top: 16px;
  width: 100%;

  agm-map {
    height: 96px;
  }
}

.confirm-position {
  padding-top: 24px;
  width: 100%;

  button {
    width: 100%;
  }
}

.find-my-position {
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #186fda;
  cursor: pointer;
}
