<div *ngIf="isLoaded" class="confirm-booking-container">
  <div class="header">
    <div class="header-back-button" (click)="changeStep('time')">
      <svg class="svg-icon svg-icon--size-m svg-icon--color-gray" style="transform: rotate(90deg)">
        <use xlink:href="assets/icons/icons-sprite.svg#ArrowDown"></use>
      </svg>
    </div>
    <div class="header-title">{{'booking-confirm-step-title' | translate }}</div>
  </div>
  <ng-container *ngIf="!payment_processing">
    <div class="info-container">
      <div>
        <div class="info-item session-title">
          <p *ngIf="company?.session === 0" class="paragraph-regular-lightened">
            {{ 'booking-confirm-service' | translate }}
          </p>
          <p *ngIf="company?.session === 1" class="paragraph-regular-lightened">
            {{ 'booking-confirm-class' | translate }}
          </p>
          <p class="paragraph-regular-accent">{{ product['title'] }}</p>
        </div>

        <div class="info-item-wrapper">
          <div class="info-item">
            <p class="paragraph-regular-lightened">{{ 'booking-confirm-duration' | translate }}</p>
            <p class="paragraph-regular">{{ product['duration'] }} {{ 'min' | translate }}</p>
          </div>

          <div *ngIf="company?.session === 0" class="info-item">
            <p class="paragraph-regular-lightened">{{ 'booking-confirm-price' | translate }}</p>
            <p *ngIf="product['price'] >= 0 && product['price_max'] == 0" class="paragraph-regular">
              <ng-container *ngIf="product['price'] > 0">{{ 'from' | translate }} {{ product['price'] / 100 }} {{ company['currency'] }}.</ng-container>
              <ng-container *ngIf="product['price'] == 0">{{'free-price' | translate}}</ng-container>
            </p>
            <p *ngIf="product['price'] >= 0 && product['price_max'] > 0" class="paragraph-regular">
              {{ product['price'] / 100 }} - {{ product['price_max'] / 100 }} {{ company['currency'] }}.
            </p>
            <p *ngIf="!product['price'] && product['subscription_price']" class="paragraph-regular">
              {{ product['subscription_price'] / 100 }} {{ company['currency'] }}.
            </p>
          </div>
        </div>
      </div>

      <div class="edit-icon" (click)="changeStep('service')">
        <svg class="svg-icon svg-icon--size-m svg-icon--color-gray">
          <use xlink:href="assets/icons/icons-sprite.svg#Edit"></use>
        </svg>
      </div>
    </div>

    <div class="info-container">
      <div class="info-item">
        <p class="paragraph-regular-lightened">{{ 'booking-confirm-specialist' | translate }}</p>
        <div class="master-container">
          <img src="{{ apiUrl }}/company/employee/avatar?employee_id={{ employee?.id }}" alt="" />
          <p class="paragraph-regular">
            {{ employee?.first_name || employee?.employee_first_name }}
            {{ employee?.last_name || employee?.employee_last_name }}
          </p>
        </div>
      </div>

      <div class="edit-icon" (click)="changeStep('employee')">
        <svg class="svg-icon svg-icon--size-m svg-icon--color-gray">
          <use xlink:href="assets/icons/icons-sprite.svg#Edit"></use>
        </svg>
      </div>
    </div>

    <div class="info-container">
      <div>
        <div class="info-item-wrapper">
          <div class="info-item">
            <p class="paragraph-regular-lightened">{{ 'booking-confirm-date' | translate }}</p>
            <p class="paragraph-regular">{{ displayDate }}</p>
          </div>
          <div class="info-item">
            <p class="paragraph-regular-lightened">{{ 'booking-confirm-time' | translate }}</p>
            <p class="paragraph-regular">{{ time | amDateFormat: 'HH:mm' }}</p>
          </div>
        </div>
      </div>
      <div class="edit-icon" (click)="changeStep('time')">
        <svg class="svg-icon svg-icon--size-m svg-icon--color-gray">
          <use xlink:href="assets/icons/icons-sprite.svg#Edit"></use>
        </svg>
      </div>
    </div>
    <div class="comment-container">
      <p class="paragraph-regular">{{ 'booking-confirm-comment' | translate }}</p>
      <textarea
              [(ngModel)]="comment"
              rows="5"
              placeholder="{{ 'booking-confirm-comment-placeholder' | translate }}"
      ></textarea>
    </div>

    <div *ngIf="needPrepayment" class="alert-warning mb-4">
      <i class="icon-cart icon-small icon-left pr-2"></i>
      <span *ngIf="company?.session == 1">{{'alert-prepayment-warning-sub' | translate}}</span>
      <span *ngIf="company?.session == 0">{{'alert-prepayment-warning-service' | translate}}</span>
    </div>

    <div class="actions-container">
      <div *ngIf="company?.session === 0" class="info">
        <h3 *ngIf="product['price'] >= 0 && product['price_max'] == 0" class="heading-3">
          {{ 'confirm-booking-total-price' | translate }}: {{ product['price'] / 100 }} {{ company['currency'] }}.
        </h3>
        <h3 *ngIf="product['price'] >= 0 && product['price_max'] > 0" class="heading-3">
          {{ 'confirm-booking-total-price' | translate }}: {{ product['price'] / 100 }} -
          {{ product['price_max'] / 100 }} {{ company['currency'] }}.
        </h3>
        <h3 *ngIf="!product['price'] && product['subscription_price']" class="heading-3">
          {{ 'confirm-booking-total-price' | translate }}: {{ product['subscription_price'] / 100 }}
          {{ company['currency'] }}.
        </h3>
        <p class="paragraph-small-lightened">{{ 'booking-confirm-price-vary' | translate }}</p>
      </div>

      <div *ngIf="company?.session === 1">
        <div class="paragraph-regular-accent">{{ 'booking-confirm-subscriptions' | translate }}</div>
        <div class="link" (click)="modal.showModal()">{{ 'booking-confirm-show-subscriptions' | translate }}</div>
      </div>
      <div class="action">
        <button #btn_sign (click)="booking()" class="btn-large btn-positive">
          {{ ((!needPrepayment) ? 'booking-confirm-confirm' : 'booking-confirm-continue') | translate }}
        </button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="payment_processing">
    <div class="processing-payment">
      <p *ngIf="!signErrorText" class="mb-2">{{'p-content-processing-text3' | translate}}</p>
      <ng-container *ngIf="signErrorText">
        <p class="mb-2">{{ this.signErrorText | translate}}</p>
        <button (click)="changeStep('time')" class="link">{{ 'btn-back' | translate}}</button>
      </ng-container>
    </div>
  </ng-container>
</div>

<app-modal
  #modal
  [overlayStyle]="{ padding: '16px' }"
  [contentStyle]="{ width: '100%', 'max-width': '500px' }"
  (hide)="modal.hideModal()"
>
  <div class="dialog-header">
    <div class="dialog-title">{{ 'subscriptions' | translate }}</div>
    <div (click)="modal.hideModal()" class="icon-control">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
    <div class="dialog-sub-title">
      <p
        class="paragraph-small"
        [innerHTML]="'subscriptions-modal-sub-title' | translate: { class: product?.title }"
      ></p>
    </div>
  </div>
  <div class="dialog-body product-subscriptions" *ngIf="product?.subscriptions?.length">
    <div class="product-subscriptions-item" *ngFor="let sub of product.subscriptions">
      <div class="product-subscriptions-title">{{ sub.title }}</div>
      <div class="product-subscriptions-info">
        <span
          >{{ sub.price / 100 | currency: undefined:'':'1.2-2'
          }}<ng-container *ngIf="sub?.price_max"
            > - {{ sub.price_max | currency: undefined:'':'1.2-2' }}</ng-container
          ></span
        >
        <span>
          <ng-container *ngIf="sub.limit > 0">
            {{ sub.limit }}
            {{
              helperService.plural(sub.limit, ['classes-plural-1', 'classes-plural-2', 'classes-plural-3']) | translate
            }}
          </ng-container>
          <ng-container *ngIf="sub.limit < 0">{{ 'unlimited' | translate }}</ng-container>
        </span>
      </div>
    </div>
  </div>
</app-modal>

<app-modal
  #locationModal
  [overlayStyle]="{ padding: '16px' }"
  [contentStyle]="{ width: '100%', 'max-width': '500px' }"
  (hide)="closePositionModal()"
>
  <div class="dialog-header">
    <div class="dialog-title">{{ 'booking-confirm-set-position-title' | translate }}</div>
    <div (click)="closePositionModal()" class="icon-control">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
    <div class="dialog-sub-title">
      <p class="paragraph-small">{{ 'booking-confirm-set-position-sub-title' | translate }}</p>
    </div>
  </div>
  <div class="dialog-body">
    <div class="address-container">
      <div class="input-icon-container">
        <div class="input-labels">
          <label class="paragraph-regular" for="input-label">{{ 'profile-settings-address' | translate }}</label>
        </div>
        <div class="input-icon">
          <div class="icon-input icon-left icon-locationpoint"></div>
          <input
            class="input input-margin"
            [(ngModel)]="address"
            (keydown.enter)="$event.preventDefault()"
            autocorrect="off"
            autocapitalize="off"
            spellcheck="off"
            type="text"
            placeholder="{{ 'placeholder-location-search' | translate }}"
            #search
          />
        </div>
      </div>

      <div class="paragraph-small-lightened">
        {{ 'booking-confirm-search-field-description' | translate }}
      </div>
      <div class="find-my-position" (click)="setCurrentLocation()">
        <svg class="svg-icon svg-icon--size-m svg-icon--color-blue mr-2">
          <use xlink:href="assets/icons/icons-sprite.svg#Location"></use>
        </svg>
        {{ 'profile-settings-address-find-my-position' | translate }}
      </div>
      <div class="gmap">
        <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [fullscreenControl]="true">
          <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
        </agm-map>
      </div>

      <div class="confirm-position">
        <button
          (click)="confirmPosition()"
          class="btn-large btn-def"
          [attr.disabled]="!address || address !== selectedAddress || !latitude || !longitude ? 'true' : null"
        >
          {{ 'forgot-confirm' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="dialog-footer dialog-footer--justify-center">
    <p class="paragraph-small">{{ 'booking-confirm-cancel-confirm-desc' | translate }} &nbsp;</p>
    <a class="link" (click)="cancelBooking()" [routerLink]="">{{ 'booking-confirm-cancel-booking' | translate }}</a>
  </div>
</app-modal>
