<div class="home-page">
    <div class="top-container">
        <div class="slider-mobile">
            <ng-container *ngFor="let slide of mobileSlides; let i = index">
                <div *ngIf="i + 1 === currentSlide"
                     class="slide"
                     [ngStyle]="{ 'background-image': slide }"
                     @carouselAnimation
                >
                </div>
            </ng-container>
            <div class="slider-background"></div>
        </div>
        <div class="slider-pc">
            <ng-container *ngFor="let slide of slides; let i = index">
                <div *ngIf="i + 1 === currentSlide"
                     class="slide"
                     [ngStyle]="{ 'background-image': slide }"
                     @carouselAnimation
                >
                </div>
            </ng-container>
            <div class="slider-background"></div>
        </div>
        <div class="top-content-container">
            <div class="top-content">
                <div class="heading-content">
                    <div class="heading-text">
                        <h1 class="heading-1 first-heading">
                            {{'header-title-part1' | translate}}</h1>
<!--                        <h4 class="heading-4 last-heading">-->
<!--                            {{'header-subtitle' | translate}}-->
<!--                        </h4>-->
                    </div>
                    <app-search (search)="search($event)" [mode]="1"></app-search>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-popular-content></app-popular-content> -->
    <div class="container-categories">
        <div class="content-container">
            <div class="content">
                <div class="categories-container">
                    <h2 class="heading-2">{{'explore-near' | translate}}</h2>
                    <div class="categories">
                        <div class="categories-column">
                            <div (click)="openBeauty = !openBeauty" class="categories-column-header">
                                <div class="header-content">
                                    <img src="assets/icons/beauty.svg" alt="">
                                    <h3 class="heading-3">{{'explore-beauty' | translate}}</h3>
                                </div>
                                <img class="select-img" src="assets/icons/Select.svg" alt="">
                            </div>
                            <div (click)="openBeauty = !openBeauty" class="categories-column-body-mobile">
                                <p class="paragraph-small-lightened">{{'explore-beauty-mobile' | translate}}</p>
                            </div>
                            <div *ngIf="(mobile && openBeauty) || !mobile" class="categories-column-body">
                                <!-- <div class="categories-item">
                                        <p class="paragraph-regular">All Beauty Businesses </p> 
                                         &nbsp; <p
                                            class="paragraph-regular-lightened">(2000+)</p> 
                                    </div> -->

                                <div (click)="searchIndustries('1,3,4,26')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-beauty-haircut' | translate}}</p>
                                    <!-- &nbsp; 
                                            <p class="paragraph-regular-lightened">(100+)</p> -->
                                </div>
                                <div (click)="searchIndustries('27,2')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-beauty-nailservice' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('7,32')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-beauty-cosmetology' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('1,28,29,26')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-beauty-beautyservices' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('5,34')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-beauty-spa' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('33,5,6')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-beauty-massage' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('31,9')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-beauty-pirsing' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('8,30')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-beauty-tattoo' | translate}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="categories-column">
                            <div (click)="openHealth = !openHealth" class="categories-column-header">
                                <div class="header-content">
                                    <img src="assets/icons/health.svg" alt="">
                                    <h3 class="heading-3">{{'explore-health' | translate}}</h3>
                                </div>
                                <img class="select-img" src="assets/icons/Select.svg" alt="">
                            </div>
                            <div (click)="openHealth = !openHealth" class="categories-column-body-mobile">
                                <p class="paragraph-small-lightened">{{'explore-health-mobile' | translate}}</p>
                            </div>
                            <div *ngIf="(mobile && openHealth) || !mobile" class="categories-column-body">
                                <!-- <div class="categories-item">
                                        <p class="paragraph-regular">All Medical Businesses</p> 
                                        &nbsp; <p
                                            class="paragraph-regular-lightened">(400+)</p> 
                                    </div> -->

                                <div (click)="searchIndustries('10,35,37,38')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-health-medservices' | translate}}</p>
                                    <!-- &nbsp; 
                                            <p class="paragraph-regular-lightened">(100+)</p> -->
                                </div>
                                <div (click)="searchIndustries('36,11')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-health-dental' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('12,41')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-health-massage' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('39')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-health-nontraditional' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('13,42')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-health-aesthethic' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('43,14')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-health-veterinary' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('40,10')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-health-dietology' | translate}}</p>
                                </div>
                            </div>

                        </div>
                        <div class="categories-column">
                            <div (click)="openSport = !openSport" class="categories-column-header">
                                <div class="header-content">
                                    <img src="assets/icons/sport.svg" alt="">
                                    <h3 class="heading-3">{{'explore-sport' | translate}}</h3>
                                </div>
                                <img class="select-img" src="assets/icons/Select.svg" alt="">
                            </div>
                            <div (click)="openSport = !openSport" class="categories-column-body-mobile">
                                <p class="paragraph-small-lightened">{{'explore-sport-mobile' | translate}}</p>
                            </div>
                            <div *ngIf="(mobile && openSport) || !mobile" class="categories-column-body">
                                <!-- <div class="categories-item">
                                        <p class="paragraph-regular">All Sport Businesses</p> 
                                         &nbsp; <p
                                            class="paragraph-regular-lightened">(1000+)</p>
                                    </div> -->

                                <div (click)="searchIndustries('17,44')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-sport-fitness' | translate}}</p>
                                    <!-- &nbsp; 
                                            <p class="paragraph-regular-lightened">(100+)</p> -->
                                </div>
                                <div (click)="searchIndustries('46,16')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-sport-pilates' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('45,15')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-sport-yoga' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('48,18')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-sport-dance' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('19')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-sport-gym' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('20,47')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-sport-martial' | translate}}</p>
                                </div>

                            </div>

                        </div>
                        <div class="categories-column">
                            <div (click)="openEducation = !openEducation" class="categories-column-header">
                                <div class="header-content">
                                    <img src="assets/icons/education.svg" alt="">
                                    <h3 class="heading-3">{{'explore-education' | translate}}</h3>
                                </div>
                                <img class="select-img" src="assets/icons/Select.svg" alt="">
                            </div>
                            <div (click)="openEducation = !openEducation" class="categories-column-body-mobile">
                                <p class="paragraph-small-lightened">{{'explore-education-mobile' | translate}}</p>
                            </div>
                            <div *ngIf="(mobile && openEducation) || !mobile" class="categories-column-body">
                                <!-- <div class="categories-item">
                                        <p class="paragraph-regular">All Education Businesses</p> 
                                         &nbsp; <p
                                            class="paragraph-regular-lightened">(500+)</p>
                                    </div> -->

                                <div (click)="searchIndustries('49,21')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-education-languages' | translate}}</p>
                                    <!-- &nbsp; 
                                        <p class="paragraph-regular-lightened">(100+)</p> -->
                                </div>

                                <div (click)="searchIndustries('52')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-education-tutors' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('22,50')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-education-psychology' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('53')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-education-coaching' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('25')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-education-business' | translate}}</p>
                                </div>
                                <div (click)="searchIndustries('51,23,24')" class="categories-item">
                                    <p class="paragraph-regular">{{'explore-education-arts' | translate}}</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- <div *ngIf="!showAllIndustries" class="show-all-categories">
                            <div class="line"></div>
                            <a [routerLink]="" (click)="showAllIndustries = true" class="link"> Show all categories </a>
                            <div class="line"></div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- <app-recommended-content [enableBackground]="true"></app-recommended-content> -->
</div>
