@import "../../../variables.scss";

.home-page {
    .top-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: 520px;
        background-size: cover;
        background-position: center;
        //overflow: hidden;

        .slider-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -4;
            background-color: #6D6D6D;
        }

        .slider-mobile {
            @media (min-width: 1024px) {
                display: none;
            }
        }

        .slider-pc {
            display: none;

            @media (min-width: 1024px) {
                display: block;
            }
        }

        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -3;
            background-size: cover;
            background-position: center;
        }


        .top-content-container {
            width: 1280px;

            .top-img {
                position: absolute;
                right: 129px;
                z-index: -1;
            }

            .top-content {
                padding: 0 55px;

                .heading-content {
                    padding-top: 80px;

                    @media (min-width: 768px) {
                        padding-top: 130px;
                    }

                    .heading-text {
                        h4 {
                            font-weight: normal;
                            margin-top: 16px;
                            margin-bottom: 32px;
                        }

                        .first-heading {
                            max-width: 650px;
                            color: $color-pure-white;
                            text-shadow: 0 0 50px rgba(#000000, 0.35);
                            padding-bottom: 24px;
                        }
                        .last-heading {
                            color: $color-pure-white;
                            text-shadow: 0 0 25px #000000;
                        }
                    }
                }
            }
        }
    }

    .container-categories {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        border-bottom: 1px solid $color-light-gray;
        .content-container {
            width: 1280px;
            .content {
                padding: 0 55px 0 55px;

                .categories-container {
                    .categories {
                        margin-top: 32px;
                        margin-bottom: 32px;
                        display: flex;
                        justify-content: space-between;
                        .categories-column {
                            .categories-column-body-mobile {
                                display: none;
                            }
                            .categories-column-header {
                                display: flex;
                                justify-content: space-between;
                                .select-img {
                                    display: none;
                                }
                                .header-content {
                                    display: flex;
                                }
                                img {
                                    margin-right: 8px;
                                }
                            }
                            .categories-column-body {
                                margin-top: 32px;
                                .categories-item {
                                    display: flex;
                                    padding: 16px 0;
                                    border-bottom: 1px solid $color-light-gray;
                                    cursor: pointer;

                                    &:hover {
                                        p {
                                            color: $color-brand-blue;
                                        }
                                        
                                    }
                                }
                            }
                        }
                    }

                    .show-all-categories {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // margin-top: 32px;
                        margin-bottom: 64px;
                        a {
                            font-size: 16px;
                            line-height: 24px;
                            font-weight: 600;
                            white-space: nowrap;
                            padding: 0px 16px;
                        }
                        .line {
                            width: 100%;
                            border-top: 1px solid $color-brand-blue-trans-35;
                        }
                    }
                }
            }
        }
    }

    .container-businesses {
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
        margin-top: 64px;
        border-bottom: 1px solid $color-light-gray;
        .content-container {
            width: 1280px;
            .content {
                padding: 0 55px 0 55px;
                .businesses-container {
                    display: flex;
                    flex-direction: column;
                    .businesses {
                        margin-top: 32px;
                        display: flex;
                        justify-content: space-between;
                        .businesses-column {
                            cursor: pointer;
                            .businesses-column-header {
                                img {
                                    width: 270px;
                                    height: 170px;
                                }
                                border-radius: 3px;
                            }
                            .businesses-column-body {
                                margin-top: 16px;

                                h3 {
                                    margin-bottom: 8px;
                                }

                                p {
                                    max-width: 270px;
                                }
                            }

                            &:hover {
                                h3 {
                                    color: $color-brand-blue;
                                }
                                .businesses-column-header {
                                    box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
                                }
                            }
                        }
                    }
                    a {
                        font-size: 16px;
                        line-height: 24px;
                        font-weight: 600;
                        white-space: nowrap;
                        margin-top: 32px;
                        margin-bottom: 64px;
                    }
                }
            }
        }
    }
}

.no-border {
    border: none !important;
}



@media only screen and (max-width: 1024px) {
    .home-page {
   
        .top-container {
            background-position: center;
            background-size: cover;
            .top-content-container {
                .top-img {
                    display: none;
                }
                .top-content {
                    padding: 0 24px;
                    .heading-content {
                        padding-top: 80px;
                        .heading-text {
                            h1 {
                                font-size: 24px !important;
                                text-shadow: 0 0 50px #000000;
                            }
                            h4 {
                                font-size: 16px;
                                line-height: 24px;
                                margin-top: 8px;
                                margin-bottom: 24px;
                                text-shadow: 0 0 25px #000000;
                            }
                        }
                    }
                }
            }
        }
    }

    .container-categories {
        display: flex;
        justify-content: center;
        margin-top: 64px;
        border-bottom: 1px solid $color-light-gray;
        .content-container {
            width: 1280px;
            .content {
                padding: 0 24px 0 24px !important;

                .categories-container {
                    .categories {
                        justify-content: normal;
                        flex-direction: column;
                        .categories-column {
                            margin-top: 24px;
                            cursor: pointer;
                            .categories-column-header {
                                display: flex;
                                .select-img {
                                    display: block !important;
                                }
                                img {
                                    margin-right: 8px;
                                }
                            }
                            .categories-column-body {
                              margin-top: 0px !important;
                            }
                            .categories-column-body-mobile {
                                display: block !important;
                                padding: 16px 0;
                                padding-right: 90px;
                                margin-bottom: 24px;
                                border-bottom: 1px solid #F5F5F5;
                            }
                        }
                    }

                    .show-all-categories {
                        display: none !important;
                    }
                }
            }
        }
    }

    .container-businesses {
        .content-container {
            .content {
                padding: 0 24px 0 24px !important;
                .businesses-container {
                    .businesses {
                        flex-direction: column;
                        align-items: center;

                        .businesses-column {
                            cursor: pointer;
                            width: 100%;
                            .businesses-column-header {
                                width: 100%;
                                img {
                                   width: 100% !important;
                                   height: 100% !important;
                                }
                                border-radius: 3px;
                            }
                            .businesses-column-body {
                                margin-top: 16px;

                                h3 {
                                    margin-bottom: 8px;
                                }

                                p {
                                    max-width: 270px;
                                }
                            }

                            &:hover {
                                h3 {
                                    color: $color-brand-blue;
                                }
                                .businesses-column-header {
                                    box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


