<div class="dialog-header">
  <span class="dialog-title">{{ 'select-city' | translate }}</span>
  <div (click)="closeModal()" class="icon-control">
    <img alt="" class="close-button" src="assets/icons/close.svg" />
  </div>
  <span class="dialog-sub-title">{{ 'select-city-modal-desc' | translate }}</span>
</div>
<div class="dialog-body">
  <div class="location-row" (click)="getCurrentPosition()">
    <object type="image/svg+xml" data="assets/icons/Location-blue.svg" class="blue mr-2"></object>
    <div class="text-blue">{{ 'geoposition-get-my-position' | translate }}</div>
  </div>
  <div class="location-row" (click)="searchEverywhere()">
    <object type="image/svg+xml" data="assets/icons/website.svg" class="blue mr-2"></object>
    <div>{{ 'geoposition-search-everywhere' | translate }}</div>
  </div>
  <ng-container *ngFor="let location of locations">
      <div class="location-row" (click)="toggleCoutry(location['country'])">
        <svg
          *ngIf="selectedCountry === location['country']"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11.8499 3.22889L6.5186 9.61991C6.3888 9.77524 6.19331 9.86572 5.98531 9.86572C5.77888 9.86572 5.58183 9.77524 5.45359 9.61991L0.150475 3.25604C-0.0856715 2.97253 -0.038755 2.55782 0.255255 2.33011C0.549264 2.10239 0.979331 2.14763 1.21548 2.43114L5.98688 8.15562L10.7849 2.40249C11.021 2.11898 11.4511 2.07374 11.7451 2.30145C11.9124 2.43265 12 2.62266 12 2.81569C12 2.96046 11.95 3.10674 11.8499 3.22889Z"
            fill="#186FDA"
          />
        </svg>

        <svg
          *ngIf="selectedCountry !== location['country']"
          width="12"
          height="12"
          viewBox="0 0 12 12"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M3.22889 0.150133L9.61991 5.4814C9.77524 5.6112 9.86572 5.80669 9.86572 6.01469C9.86572 6.22112 9.77524 6.41817 9.61991 6.54641L3.25604 11.8495C2.97253 12.0857 2.55782 12.0388 2.33011 11.7447C2.10239 11.4507 2.14763 11.0207 2.43114 10.7845L8.15562 6.01312L2.40249 1.21514C2.11898 0.978989 2.07374 0.548923 2.30145 0.254913C2.43265 0.0875778 2.62266 0 2.81569 0C2.96046 0 3.10674 0.0500441 3.22889 0.150133Z"
            fill="#B0B9C2"
          />
        </svg>

        <i class="mr-2 flag flag-{{ location['params']['code'] | lowercase }}"></i>
        <span [ngClass]="{ active: selectedCountry === location['country'] }">{{
          location['country'] | translate
        }}</span>
      </div>
      <div class="location-items" *ngIf="selectedCountry && selectedCountry === location['country']">
        <div (click)="selectLocation(null, location['country'], location['params']['code'])">
          {{ 'geoposition-all-country' | translate }} {{ location['country'] | translate }}
        </div>
        <div
          *ngFor="let city of location['cities']"
          (click)="selectLocation(city, location['country'], location['params']['code'])"
        >
          {{ city }}, {{ location['country'] }}
        </div>
      </div>
  </ng-container>
</div>
