.location-row {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;

  &:not(:first-child) {
    border-top: 1px solid #f5f5f5;
  }

  svg {
    margin-right: 16px;
  }

  object {
    width: 14px;
  }

  .active {
    color: #186fda;
  }
}

.location-items {
  padding-left: 28px;

  div {
    padding-bottom: 16px;
    cursor: pointer;

    &:hover {
      color: #186fda;
    }
  }
}
