@import "../../../variables.scss";

.button-switch-container {
  background-color: $color-select-default;
  display: flex;
  border-radius: 3px;
  margin-bottom: 28px;

  button {
    width: 100%;
    border-radius: 3px;
    height: 32px;
    margin: 4px;
    color: $color-text-black-trans-65;
    font-size: 15px;
    font-weight: 600;
  }

  button.active {
    color: $color-brand-blue;
    background-color: $color-pure-white;
    box-shadow: 0 1px 1px rgba(46, 46, 46, 0.1);
  }
}
