@import "../../../../variables.scss";

.head-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid $color-light-gray;
  .head-content {
    width: 1280px;
    padding: 12px 55px;
    .head {
      width: 100%;
      display: flex;
      justify-content: space-between;


      .title-container {
        display: flex;

        img {
          width: 48px;
          height: 48px;
          border-radius: 10px;
          cursor: pointer;
        }
        .title-info {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-left: 16px;
          cursor: pointer;
        }
      }
      .raiting-container {
        display: flex;
        align-items: center;
        .rating-info {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            text-align: right;
            width: 100%;
            padding-top: 8px;
            padding-right: 6px;
          }
        }
        a {
          margin-left: 24px;
        }
        .favorites {
          cursor: pointer;
          display: flex;
          width: 48px;
          height: 48px;
          justify-content: center;
          align-items: center;
          margin-left: 24px;

          &:hover {
            background-color: $color-light-gray;
            border-radius: 50%;
          }
        }
        .head-button-booking {
          margin-left: 24px;
        }

      }
    }
  }
}


@media only screen and (max-width: 1024px) {
  .head-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $color-light-gray;
    .head-content {
      width: 1280px;
      padding: 15px 24px;
      .head {
        width: 100%;
        display: flex;
        justify-content: space-between;


        .title-container {
          display: flex;
          img {
            width: 56px;
            height: 56px;
            border-radius: 3px;
            cursor: pointer;
          }
          .title-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 16px;
            cursor: pointer;
          }
        }
        .raiting-container {
          display: none;
        }
      }
    }
  }

}
