<div class="head-container">
    <div class="head-content">
        <div class="head">
            <div class="title-container">
                <img routerLink="/card/{{companyId}}/{{branchId}}" src="{{apiUrl}}/company/logo?company_id={{companyId}}" alt="">
                <div routerLink="/card/{{companyId}}/{{branchId}}" class="title-info">
                    <h2 class="heading-3">{{title}}</h2>
                    <p class="paragraph-regular-lightened">{{industry}}</p>
                </div>
            </div>
            <div class="raiting-container">
                <div class="rating-info">
                    <bar-rating [readOnly]="true" [rate]="rating" [max]="5"></bar-rating>
                    <p class="paragraph-small-lightened reviews">{{countReview}} {{'reviews' | translate}}</p>
                </div>
                <a routerLink="/card/{{companyId}}/{{branchId}}" routerLinkActive="router-link-active"  class="link">{{'go-to-business-page' | translate}}</a>
            </div>
        </div>
    </div>
</div>
