<div class="sub-header">
  <div class="google-warning">
    <img class="mr-3" src="assets/icons/google.svg" alt="" />
    <div>{{ 'auth-modal-password-google-acc-warning' | translate }}</div>
  </div>

  <div class="dialog-sub-title">
    <p
      class="paragraph-small"
      [innerHTML]="
        'forgot-modal-conf-phone'
          | translate : { phoneCode: loginForm.value.phoneCode.phone_code, phoneNumber: loginForm.value.phoneNumber }
      "
    ></p>
  </div>
</div>
<div [formGroup]="loginForm">
  <div class="block-wrapper">
    <div class="input-icon-container">
      <div
        [ngClass]="{
          'icon-input-error':
            isSubmitted &&
            (loginForm.controls.smsCode.getError('required') || loginForm.controls.smsCode.getError('invalid'))
        }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{
          'input-error':
            isSubmitted &&
            (loginForm.controls.smsCode.getError('required') || loginForm.controls.smsCode.getError('invalid'))
        }"
        formControlName="smsCode"
        class="input input-margin"
        type="text"
        placeholder="{{ 'register-code' | translate }}"
      />
      <p *ngIf="isSubmitted && loginForm.controls.smsCode.getError('required')" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
      <p *ngIf="isSubmitted && loginForm.controls.smsCode.getError('invalid')" class="paragraph-small error-lable">
        {{ 'register-code-invalid' | translate }}
      </p>

      <!-- Отправить код повторно -->
      <div
        class="resend-button"
        [ngClass]="{
          'resend-button-disabled': resendTimer > 0
        }"
        (click)="resendConfirmCode()"
      >
        {{ 'registration-resend-code' | translate }}
        <ng-container *ngIf="resendTimer > 0">({{ resendTimer }}{{ 'short-symbol-seconds' | translate }})</ng-container>
      </div>
    </div>

    <!-- Пароль -->
    <div class="input-icon-container">
      <div
        [ngClass]="{
          'icon-input-error':
            isSubmitted &&
            (loginForm.controls.password.getError('password') || loginForm.controls.password.getError('required'))
        }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        formControlName="password"
        class="input"
        [ngClass]="{
          'input-error':
            isSubmitted &&
            (loginForm.controls.password.getError('password') || loginForm.controls.password.getError('required'))
        }"
        type="password"
        placeholder="{{ 'auth-modal-your-password' | translate }}"
      />
      <p
        *ngIf="
          isSubmitted &&
          (loginForm.controls.password.getError('password') || loginForm.controls.password.getError('required'))
        "
        class="paragraph-small error-lable"
      >
        {{ 'invalid-login-password-or-phone' | translate }}
      </p>
    </div>

    <!-- Подтверждение пароля -->
    <div class="input-icon-container">
      <div
        [ngClass]="{
          'icon-input-error': isSubmitted && loginForm.controls.password.value !== loginForm.controls.password2.value
        }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        formControlName="password2"
        class="input"
        [ngClass]="{
          'input-error': isSubmitted && loginForm.controls.password.value !== loginForm.controls.password2.value
        }"
        type="password"
        placeholder="{{ 'register-modal-your-repassword' | translate }}"
      />
      <p
        *ngIf="isSubmitted && loginForm.controls.password.value !== loginForm.controls.password2.value"
        class="paragraph-small error-lable"
      >
        {{ 'auth-modal-wrong-confirm-password' | translate }}
      </p>
    </div>

    <button (click)="createPasswordAndLogin()" class="btn-large btn-def">
      {{ 'auth-modal-create-pass-confirm' | translate }}
    </button>
  </div>

  <div class="block-wrapper">
    <div class="flex justify-center">
      <p class="paragraph-small">{{ 'confirm-code-wrong-phone' | translate }} &nbsp;</p>
      <a class="link" (click)="changeStep.emit(steps.login)">{{ 'confirm-code-go-back' | translate }}</a>
    </div>
  </div>
</div>
