@import '../../../../../variables.scss';

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  border-top: 1px solid $color-light-gray;

  & > * {
    width: 100%;
  }
}

.input-icon-container {
  margin-bottom: 25px;
}

.phone-number-container {
  margin-bottom: 25px;

  .phone-number {
    display: flex;
    align-items: center;
    border: 2px solid $color-stroke;
    border-radius: 3px;
    max-height: 48px;

    .select-header {
      min-height: 44px !important;
      border-radius: 0 !important;
    }

    .code-phone {
      display: flex;
      align-items: center;
      height: 44px;
      padding-left: 8px;
    }

    &:hover {
      border: 2px solid $color-stroke-hover;
    }

    input {
      margin: 0;
      border: 0;
    }
  }

  .phone-number-error {
    border: 2px solid $color-warn-red !important;

    .code-phone {
      border-left: 2px solid $color-warn-red !important;
    }
    input {
      color: $color-warn-red !important;
      &::placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }
    }
  }
}
.resend-button {
  color: #186fda;
  font-weight: 600;
  cursor: pointer;

  &-disabled {
    color: rgba(#3e3e3e, 0.5);
    cursor: not-allowed;
  }
}

.sub-header {
  width: 100%;
  padding: 24px;
  border-top: 1px solid #f5f5f5;
}

.google-warning {
  margin-bottom: 16px;
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  border: 1px solid #f4da95;
  border-radius: 3px;
  background-color: #fff9e9;
}
