<div class="container">
  <div class="top-container">
    <div class="top-content-container">
      <div class="top-content">
        <div class="heading-content">
          <app-search [mode]="2"></app-search>
        </div>
      </div>
    </div>
  </div>

  <div class="container-body">
    <div class="content-container">
      <div class="content">
        <div class="menu">
          <app-profile-menu></app-profile-menu>
        </div>
        <div class="page-content">
          <div class="head-container">
            <h2 class="heading-2">{{'profile-passes-heading' | translate}}</h2>
            <app-tab [tabs]="tabs" [activeTabId]="tabs[0]['id']" (clickTabEvent)="changeTab($event)">
            </app-tab>
          </div>
          <div class="body-content">
            <ng-container *ngIf="tabs[0]['id'] == activeTab">
              <app-stub *ngIf="active.length == 0" [heading]="'profile-pass-active-empty-heading'" [text]="'profile-pass-active-empty-info'"
                [img]="'assets/icons/Passes-Empty.svg'">
              </app-stub>
              <ng-container *ngFor="let item of active">
                <div class="subscription-container">
                  <div class="info-container">
                    <div class="head-container">
                      <img src="{{apiUrl}}/company/logo?company_id={{item['company_id']}}" alt="">
                      <div class="head-title" [routerLink]="['/card', item.company_id, item.branch_id]">
                        <h3 class="heading-3">{{item['company_title']}}</h3>
                        <p class="paragraph-small-lightened">
                          {{item['industry_title'] | translate}}</p>
                      </div>
                    </div>
                    <div class="sub-info">
                      <h4 class="heading-4">{{item['title']}}
                      <span *ngIf="item['start_date'] == 0 || item['start_date'] == null"><br>({{ 'sub_not_activated_yet' | translate }})</span>
                      </h4>
                    </div>
                    <div *ngIf="item['start_date'] == null || item['start_date'] == 0" class="date-container">
                      <div class="date-info">
                        <p class="paragraph-regular-lightened">
                          {{'profile-passes-expiration-date' | translate}}</p>
                        <p class="paragraph-regular"> - </p>
                      </div>
                      <div class="time-info">
                        <p class="paragraph-regular-lightened">
                          {{'profile-passes-purchase-date' | translate}}</p>
                        <p class="paragraph-regular"> {{item['date']}} </p>
                      </div>
                    </div>
                    <div *ngIf="item['start_date'] != null && item['start_date'] != 0" class="date-container">
                      <div *ngIf="item['type'] == 2" class="date-info">
                        <p class="paragraph-regular-lightened">
                          {{'profile-passes-expiration-date' | translate}}</p>
                        <p class="paragraph-regular"> {{item['end_date']}} </p>
                      </div>
                      <div class="time-info" [ngClass]="{'date-info' : item['type'] == 4}">
                        <p class="paragraph-regular-lightened">
                          {{'profile-passes-purchase-date' | translate}}</p>
                        <p class="paragraph-regular"> {{item['date']}} </p>
                      </div>
                      <div *ngIf="item['type'] == 4" class="time-info">
                        <p class="paragraph-regular-lightened">
                          {{'profile-passes-used' | translate}}
                        <p class="paragraph-regular"> {{item['count']}} /
                        <ng-container *ngIf="item['limit'] == -1">-</ng-container>
                        <ng-container *ngIf="item['limit'] != -1">{{item['limit']}}</ng-container> </p>
                      </div>
                    </div>
                    <div *ngIf="item['type'] != 4 && item['start_date'] != null && item['start_date'] != 0" class="place-container">
                      <p class="paragraph-regular-lightened">{{'profile-passes-used' | translate}}
                      </p>
                      <p class="paragraph-regular">{{item['count']}} /
                        <ng-container *ngIf="item['limit'] == -1">-</ng-container>
                        <ng-container *ngIf="item['limit'] != -1">{{item['limit']}}
                        </ng-container>
                      </p>
                    </div>

                  </div>
                </div>
              </ng-container>

            </ng-container>
            <ng-container *ngIf="tabs[1]['id'] == activeTab">
              <app-stub *ngIf="inactive.length == 0" [heading]="'profile-pass-inactive-empty-heading'"
                [text]="'profile-pass-inactive-empty-info'" [img]="'assets/icons/Passes-Empty.svg'">
              </app-stub>
              <ng-container *ngFor="let item of inactive">
                <div class="subscription-container">
                  <div class="info-container">
                    <div class="head-container" [routerLink]="['/card', item.company_id, item.branch_id]">
                      <img src="{{apiUrl}}/company/logo?company_id={{item['company_id']}}" alt="">
                      <div class="head-title">
                        <h3 class="heading-3">{{item['company_title']}}</h3>
                        <p class="paragraph-small-lightened">
                          {{item['industry_title'] | translate}}</p>
                      </div>
                    </div>
                    <div class="sub-info">
                      <h4 class="heading-4">{{item['title']}}</h4>
                    </div>
                    <div *ngIf="item['start_date'] == null" class="date-container">
                      <div class="date-info">
                        <p class="paragraph-regular-lightened">
                          {{'profile-passes-expiration-date' | translate}}</p>
                        <p class="paragraph-regular time-over"> - </p>
                      </div>
                      <div class="time-info">
                        <p class="paragraph-regular-lightened">
                          {{'profile-passes-purchase-date' | translate}}</p>
                        <p class="paragraph-regular"> - </p>
                      </div>
                    </div>
                    <div *ngIf="item['start_date'] != null" class="date-container">
                      <div class="date-info">
                        <p class="paragraph-regular-lightened">
                          {{'profile-passes-expiration-date' | translate}}</p>
                        <p class="paragraph-regular time-over">
                          {{item['end_date']}} </p>
                      </div>
                      <div class="time-info">
                        <p class="paragraph-regular-lightened">
                          {{'profile-passes-purchase-date' | translate}}</p>
                        <p class="paragraph-regular"> {{item['start_date']}} </p>
                      </div>
                    </div>
                    <div class="place-container">
                      <p class="paragraph-regular-lightened">{{'profile-passes-used' | translate}}
                      </p>
                      <p class="paragraph-regular">{{item['count']}} /
                        <ng-container *ngIf="item['limit'] == -1">-</ng-container>
                        <ng-container *ngIf="item['limit'] != -1">{{item['limit']}}
                        </ng-container>
                      </p>

                    </div>

                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
