<div [formGroup]="loginForm">
  <div class="block-wrapper">
    <div class="google-warning">
      <img class="mr-3" src="assets/icons/google.svg" alt="" />
      <div>{{ 'auth-modal-google-acc-warning' | translate }}</div>
    </div>

    <div class="phone-number-container">
      <div
        [ngClass]="{
          'phone-number-error':
            loginForm.get('phoneNumber').getError('phone-rule') ||
            loginForm.get('phoneNumber').getError('phone-used') ||
            loginForm.get('phoneNumber').getError('phone-does-not-exist')
        }"
        class="phone-number"
      >
        <app-phone-code-select
          [options]="phoneCodes"
          formControlName="phoneCode"
          appendTo="body"
        ></app-phone-code-select>
        <p class="paragraph-regular code-phone">+ {{ loginForm?.value?.phoneCode?.phone_code }}</p>
        <input
          appNumeric
          numericType="number"
          [ngClass]="{
            'icon-input-error':
              loginForm.get('phoneNumber').getError('phone-rule') ||
              loginForm.get('phoneNumber').getError('phone-used') ||
              loginForm.get('phoneNumber').getError('phone-does-not-exist')
          }"
          formControlName="phoneNumber"
          class="input input-def input-margin"
          type="text"
          placeholder="{{ 'register-modal-your-phone' | translate }}"
        />
      </div>
      <p *ngIf="loginForm.get('phoneNumber').getError('phone-rule') == true" class="paragraph-small error-lable">
        {{ 'phone-rule' | translate }}
      </p>
      <p *ngIf="loginForm.get('phoneNumber').getError('phone-used') == true" class="paragraph-small error-lable">
        {{ 'phone-used' | translate }}
      </p>
      <p *ngIf="loginForm.get('phoneNumber').getError('phone-does-not-exist') == true" class="paragraph-small error-lable">
        {{ 'phone-does-not-exist' | translate }}
      </p>
    </div>

    <button (click)="onSubmit()" class="btn-large btn-def">{{ 'sign-in' | translate }}</button>
  </div>

  <div class="block-wrapper">
    <div class="flex justify-center">
      <p class="paragraph-small">{{ 'auth-modal-no-account' | translate }} &nbsp;</p>
      <a class="link" (click)="changeStep.emit(steps.register)">{{ 'auth-modal-create-client-profile' | translate }}</a>
    </div>
  </div>
</div>
