<div class="dialog-header">
  <h2 *ngIf="geopositionStatus === 'GEOPOSITION_OFF'" class="dialog-title">
    {{ 'geoposition-modal-off-heading' | translate }}
  </h2>
  <h2 *ngIf="!geopositionStatus" class="dialog-title">
    {{ 'geoposition-modal-pending-heading' | translate }}
  </h2>
  <div (click)="closeModal()" class="icon-control">
    <img class="close-button" src="assets/icons/close.svg" alt="" />
  </div>
</div>

<div class="hr"></div>

<div class="dialog-body">
  <ng-container *ngIf="geopositionStatus === 'GEOPOSITION_OFF'">
    <div>
      <span class="semibold">{{ 'geoposition-modal-off-google-pc' | translate }}:</span>
      {{ 'geoposition-modal-off-google-pc-desc' | translate }}
    </div>
    <div>
      <span class="semibold">{{ 'geoposition-modal-off-google-android' | translate }}:</span>
      {{ 'geoposition-modal-off-google-android-desc' | translate }}
    </div>
    <div>
      <span class="semibold">{{ 'geoposition-modal-off-google-safari-ios' | translate }}:</span>
      {{ 'geoposition-modal-off-google-safari-ios-desc' | translate }}
    </div>
  </ng-container>

  <ng-container *ngIf="!geopositionStatus">
    <div>
      {{ 'geoposition-modal-pending-desk' | translate }}
    </div>
  </ng-container>
</div>

<div class="dialog-footer">
  <figure>
    <img
      *ngIf="geopositionStatus === 'GEOPOSITION_OFF'"
      srcset="assets/img/geo-block@1x.png, assets/img/geo-block@2x.png 2x"
      src="assets/img/geo-block@1x.png"
      alt=""
    />
    <img
      *ngIf="!geopositionStatus"
      srcset="assets/img/geo-share@1x.png, assets/img/geo-share@2x.png 2x"
      src="assets/img/geo-share@1x.png"
      alt=""
    />
  </figure>
</div>
