<div>
  <div class="header">
    <p class="paragraph-regular-accent">
      {{ getLocateDateLongString(selectedDay) }} {{ getLocateMonthLongString(selectedDay) }}
      {{ selectedDay?.getDate() }}
    </p>
    <button (click)="goToday()" class="link">{{ 'set-to-today' | translate }}</button>
  </div>

  <div class="range-select">
    <div class="week-switcher">
      <button class="week-switcher-control" (click)="previousWeek()">
        <svg class="svg-icon svg-icon--size-s svg-icon--color-gray" style="transform: rotate(90deg)">
          <use xlink:href="assets/icons/icons-sprite.svg#Select"></use>
        </svg>
      </button>
      <div class="week-switcher-date">
        {{ getWeekRangeShortString() }}
      </div>
      <button class="week-switcher-ccontrol" (click)="nextWeek()">
        <svg class="svg-icon svg-icon--size-s svg-icon--color-gray" style="transform: rotate(-90deg)">
          <use xlink:href="assets/icons/icons-sprite.svg#Select"></use>
        </svg>
      </button>
    </div>
    <button class="range-select-datepicker-button" (click)="calendar.show($event)">
      <svg class="svg-icon svg-icon--size-s svg-icon--color-gray">
        <use xlink:href="assets/icons/icons-sprite.svg#Calendar"></use>
      </svg>
    </button>
  </div>

  <div class="date-select">
    <button
      class="date-select-day"
      [ngClass]="{ active: isSelected(date), current: isToday(date) }"
      *ngFor="let date of weekDays"
      (click)="selectDay(date)"
    >
      <span>{{ getLocateDateShortString(date) }}</span>
      <span>{{ getDate(date) }}</span>
    </button>
  </div>
</div>

<p-overlayPanel [appendTo]="'body'" #calendar>
  <div style="padding: 16px; background-color: #fff">
    <app-daterange-picker
      [range]="'day'"
      (toggle)="calendar.hide()"
      [date]="selectedDay"
      [header_type]="'select-controls'"
      (modelChange)="goCalendarDate($event)"
      [max_date]="maxDate"
      [min_date]="minDate"
    ></app-daterange-picker>
  </div>
</p-overlayPanel>
