@import '../../../variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;

  a {
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
  }

  .link {
    font-size: 16px;
  }
}

.range-select {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;

  .icon {
    display: flex;
    background-position: center;
    background-repeat: no-repeat;
  }

  .week-switcher {
    display: flex;
    width: 100%;
    height: 48px;
    margin-right: 8px;

    button {
      background-color: #f2f5f8;
      width: 46px;

      &:first-of-type {
        margin-right: 2px;
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
      }

      &:last-of-type {
        margin-left: 2px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
      }
    }

    &-date {
      width: 100%;
      display: flex;
      font-size: 16px;
      justify-content: center;
      align-items: center;
      background: #f2f5f8;
    }
  }

  &-datepicker-button {
    width: 48px;
    height: 48px;
    background-color: #f2f5f8;
  }
}

.date-select {
  display: flex;
  justify-content: space-between;

  &-day {
    width: calc((100% / 7) - 4px);
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f5f8;
    border-radius: 3px;

    @media (min-width: 768px) {
      width: calc((100% / 7) - 8px);
    }

    span:first-of-type {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      text-transform: uppercase;
      color: rgba(#3e3e3e, 0.65);
    }

    span:last-of-type {
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }

    &.active {
      border: 2px solid $color-stroke-active;

      span {
        color: #186fda;
      }
    }

    &.current {
      span {
        color: #186fda;
      }
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 770px;

  .header {
    display: flex;
    justify-content: space-between;

    a {
      font-size: 16px;
      line-height: 24px;
      cursor: pointer;
    }
  }
  .body {
    display: flex;
    justify-content: space-between;
    padding: 16px 10px;
    border-top: 1px solid $color-light-gray;
    border-bottom: 1px solid $color-light-gray;
    background-color: $color-weak-light-gray;
    margin-top: 10px;
    img {
      cursor: pointer;
    }

    .dates {
      display: flex;

      .date {
        padding: 9px 0;
        width: 96px;
        text-align: center;
        border-radius: 3px;
        cursor: pointer;
        border: 2px solid transparent;
        h5 {
          margin-bottom: 8px;
          opacity: 0.65;
        }
        &:hover {
          border: 2px solid $color-stroke-hover;
        }
      }
      .today {
        border: 2px solid $color-light-gray;
        background-color: $color-pure-white;

        h5 {
          color: $color-brand-blue;
          opacity: 1;
        }
        p {
          color: $color-brand-blue;
        }
        &:hover {
          border: 2px solid $color-stroke-hover;
        }
      }
      .active {
        background: rgba(24, 111, 218, 0.05);

        border: 2px solid $color-stroke-active;

        h5 {
          color: $color-brand-blue;
          opacity: 1;
        }
        p {
          color: $color-brand-blue;
        }
      }
      .disabled {
        h5 {
          color: $color-text-black-trans-65;
          opacity: 0.65;
        }
        p {
          color: $color-text-black-trans-65;
          opacity: 0.65;
        }
        &:hover {
          border: 2px solid transparent;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 770px;
    .header {
      display: flex;
      justify-content: space-between;

      a {
        font-size: 16px;
        line-height: 24px;
        cursor: pointer;
      }
    }
    .body {
      display: flex;
      justify-content: space-between;
      padding: 16px 0;
      border-top: 1px solid $color-light-gray;
      border-bottom: 1px solid $color-light-gray;

      img {
        cursor: pointer;
      }

      .dates {
        display: flex;
        width: 100%;
        overflow: scroll;
        margin: 0 8px;
        .date {
          padding: 9px 0;
          width: 100%;
          min-width: 96px;
          text-align: center;
          border-radius: 3px;
          cursor: pointer;
          border: 2px solid transparent;
          h5 {
            margin-bottom: 8px;
            opacity: 0.65;
          }
          &:hover {
            border: 2px solid $color-stroke-hover;
          }
        }
        .today {
          border: 2px solid $color-light-gray;

          h5 {
            color: $color-brand-blue;
            opacity: 1;
          }
          p {
            color: $color-brand-blue;
          }
          &:hover {
            border: 2px solid $color-stroke-hover;
          }
        }
        .active {
          background: rgba(24, 111, 218, 0.05);

          border: 2px solid $color-stroke-active;

          h5 {
            color: $color-brand-blue;
            opacity: 1;
          }
          p {
            color: $color-brand-blue;
          }
        }
        .disabled {
          h5 {
            color: $color-text-black-trans-65;
            opacity: 0.65;
          }
          p {
            color: $color-text-black-trans-65;
            opacity: 0.65;
          }
          &:hover {
            border: 2px solid transparent;
          }
        }
      }
    }
  }
}
