<div class="container">
  <div class="top-container">
    <div class="top-content-container">
      <div class="top-content">
        <div class="heading-content">
          <app-search [mode]="2"></app-search>
        </div>
      </div>
    </div>
  </div>

  <div class="container-body">
    <div class="content-container">
      <div class="content">
        <div class="menu">
          <app-profile-menu></app-profile-menu>
        </div>
        <div class="page-content">
          <div class="head-container">
            <h2 class="heading-2">{{'profile-favorites-heading' | translate}}</h2>
          </div>
          <div class="body-content">
              <app-stub *ngIf="(apiService.user['companies_saves'] && apiService.user['companies_saves'].length == 0) || !apiService.user['companies_saves']" [heading]="'profile-favorites-empty-heading'" [text]="'profile-favorites-empty-info'" [img]="'assets/icons/Favorites-Empty.svg'"></app-stub>
            <ng-container *ngIf="apiService.user['companies_saves']">
              <div *ngFor="let item of apiService.user['companies_saves']" class="head-container">
                <div class="info">
                  <img src="{{apiUrl}}/company/logo?company_id={{item['company_id']}}" alt="">
                  <div class="head-title">
                    <h3 class="heading-3">{{item['company_title']}}</h3>
                    <p class="paragraph-small-lightened">{{item['company_industry_title'] | translate}}</p>
                  </div>
                </div>
                <div (click)="deleteFavorites(item['company_id'])" class="favorites">
                  <img src="assets/icons/active-heart.svg" alt="">
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>