@import "../../../../../variables.scss";
.container {
    .top-container {
        display: flex;
        justify-content: center;
        background-color: $color-light-gray;
    
        .top-content-container {
            width: 1280px;

            .top-content {
                padding: 24px 55px;
    
                .heading-content {
    
                    .heading-text {
                        h4 {
                            font-weight: normal;
                            margin-top: 16px;
                            margin-bottom: 32px;
                        }
                    }
                }
            }
        }
    }

    .container-body {
        display: flex;
        justify-content: center;

        .content-container {
            width: 1280px;
            margin-top: 30px;
            .content {
                padding: 0 55px 0 55px;
                display: flex;
                

                .menu {
                    width: 100%;
                    max-width: 270px;
                    margin-right: 30px;
                }

                .page-content {
                    width: 100%;
                    max-width: 870px;
                    .head-container {
                        h2 {
                            margin-bottom: 30px;
                        }
                    }

                    .body-content {
                        margin-top: 32px;
                        margin-bottom: 100px;
                        width: 100%;
                        max-width: 630px;
                        

                        .head-container {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-bottom: 1px solid $color-light-gray;
                            padding: 18px 0;
                            .info {
                                display: flex;

                                img {
                                    width: 48px;
                                    height: 48px;
                                }
    
                                .head-title {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    margin-left: 16px;
                                }
                            }

                            .favorites {
                                cursor: pointer;
                                display: flex;
                                width: 48px;
                                height: 48px;
                                justify-content: center;
                                align-items: center;
                                margin-left: 24px;
                                &:hover {
                                    background-color: $color-light-gray;
                                    border-radius: 50%;
                                  }
                            }
                           
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .container {
        .top-container {
            position: relative;
            display: flex;
            justify-content: center;
            display: none;
        
            .background-fake {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-light-gray;
                z-index: -2;
            }
        
            .top-content-container {
                width: 1280px;
                position: relative;
        
                .top-content {
                    padding: 24px 55px;
        
                    .heading-content {
        
                        .heading-text {
                            h4 {
                                font-weight: normal;
                                margin-top: 16px;
                                margin-bottom: 32px;
                            }
                        }
                    }
                }
            }
        }
    
        .container-body {
            display: flex;
            justify-content: center;
    
            .content-container {
                width: 1280px;
                margin-top: 30px;
                .content {
                    padding: 0 24px 0 24px;
                    display: flex;
                    
    
                    .menu {
                        width: 100%;
                        max-width: 270px;
                        margin-right: 30px;
                        display: none;
                    }
    
                    .page-content {
                        width: 100%;
                        max-width: 870px;
                        .head-container {
                            h2 {
                                margin-bottom: 30px;
                            }
                        }
    
                        .body-content {
                            margin-top: 32px;
                            margin-bottom: 100px;
                            width: 100%;
                            max-width: 100%;
                            
    
                            .head-container {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-bottom: 1px solid $color-light-gray;
                                padding: 18px 0;
                                .info {
                                    display: flex;
    
                                    img {
                                        width: 48px;
                                        height: 48px;
                                    }
        
                                    .head-title {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        margin-left: 16px;
                                    }
                                }
    
                                .favorites {
                                    cursor: pointer;
                                    display: flex;
                                    width: 48px;
                                    height: 48px;
                                    justify-content: center;
                                    align-items: center;
                                    margin-left: 24px;
                                    &:hover {
                                        background-color: $color-light-gray;
                                        border-radius: 50%;
                                      }
                                }
                               
                            }
                        }
                    }
                }
            }
        }
    }
}