<div class="choice-container">
  <div class="header">
    <div *ngIf="companyType && !isWidget" class="header-back-button" (click)="prevStep()">
      <svg class="svg-icon svg-icon--size-m svg-icon--color-gray" style="transform: rotate(90deg)">
        <use xlink:href="assets/icons/icons-sprite.svg#ArrowDown"></use>
      </svg>
    </div>
    <div *ngIf="isWidget" class="header-title">{{companyTitle}}</div>
    <ng-container *ngIf="!isWidget">
      <div *ngIf="!companyType" class="header-title">{{ 'booking-service-step-title' | translate }}</div>
      <div *ngIf="companyType" class="header-title">{{ 'booking-class-step-title' | translate }}</div>
    </ng-container>
  </div>
  <app-widget-tabs *ngIf="isWidget"></app-widget-tabs>
  <app-booking-filters
          [data]="bookingFilterData"
          [filters]="['search', 'employee']"
          (result)="filterResult($event)"
  ></app-booking-filters>
  <div *ngFor="let service of services" class="accordion">
    <app-accordion2
      [data]="service"
      [currency]="currency"
      [isCompanyClient]="(Object.keys(apiService.user).length && apiService.user['relation_branches'].includes(branchId))"
      (selectItem)="next($event)"
      [isOpen]="isFiltered"
    ></app-accordion2>
  </div>
  <div class="stub-text"  *ngIf="isFiltered && !services.length">
    <span>{{ 'booking-filters-no-match' | translate }}</span>
  </div>
</div>
