@import './variables.scss';

@font-face {
  font-family: 'fontello';
  src: url('/assets/fonts/fontello.eot?97480427');
  src: url('/assets/fonts/fontello.eot?97480427#iefix') format('embedded-opentype'),
    url('/assets/fonts/fontello.woff2?97480427') format('woff2'),
    url('/assets/fonts/fontello.woff?97480427') format('woff'),
    url('/assets/fonts/fontello.ttf?97480427') format('truetype'),
    url('/assets/fonts/fontello.svg?97480427#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?97480427#fontello') format('svg');
    }
  }
  */

[class*='icon-']:before {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 14px;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*='icon-']:after {
  font-family: 'fontello';
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: 14px;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;

  font-variant: normal;
  text-transform: none;

  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-small:before,
.icon-small:after {
  font-size: 12px !important;
}
.icon-input:before {
  position: absolute !important;
  left: 16px !important;
  top: 18px !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  font-size: 12px !important;
  color: $color-icon-gray;
}
.icon-input-error:before {
  color: $color-warn-red !important;
}

.icon-input-small:before {
  position: absolute !important;
  left: 16px !important;
  top: 14px !important;
  width: 0 !important;
  height: 0 !important;
  padding: 0 !important;
  font-size: 12px !important;
  color: $color-icon-gray;
}

.icon-left::after {
  display: none;
}
.icon-right::before {
  display: none;
}

.icon {
  &--size {
    &-xxs {
      font-size: 0.8rem;
    }

    &-xs {
      font-size: 1rem;
    }

    &-s {
      font-size: 1.2rem;
    }

    &-m {
      font-size: 1.4rem;
    }

    &-xm {
      font-size: 1.8rem;
    }

    &-l {
      font-size: 2.4rem;
    }

    &-xxl {
      font-size: 6rem;
    }
  }
}

.icon-attention:before,
.icon-attention:after {
  content: '\e800';
}
.icon-beauty:before,
.icon-beauty:after {
  content: '\e801';
} /* '' */
.icon-bodywell-symbol:before,
.icon-bodywell-symbol:after {
  content: '\e802';
} /* '' */
.icon-bills:before,
.icon-bills:after {
  content: '\e803';
} /* '' */
.icon-bodywell-text:before,
.icon-bodywell-text:after {
  content: '\e804';
} /* '' */
.icon-bodywellfull:before,
.icon-bodywellfull:after {
  content: '\e805';
} /* '' */
.icon-booking:before,
.icon-booking:after {
  content: '\e806';
} /* '' */
.icon-calendar:before,
.icon-calendar:after {
  content: '\e807';
} /* '' */
.icon-camera:before,
.icon-camera:after {
  content: '\e808';
} /* '' */
.icon-cart:before,
.icon-cart:after {
  content: '\e809';
} /* '' */
.icon-cashflow:before,
.icon-cashflow:after {
  content: '\e80a';
} /* '' */
.icon-chevron:before,
.icon-chevron:after {
  content: '\e80b';
} /* '' */
.icon-clients:before,
.icon-clients:after {
  content: '\e80c';
} /* '' */
.icon-clock:before,
.icon-clock:after {
  content: '\e80d';
} /* '' */
.icon-close:before,
.icon-close:after {
  content: '\e80e';
} /* '' */
.icon-cosmetology:before,
.icon-cosmetology:after {
  content: '\e80f';
} /* '' */
.icon-dayoff:before,
.icon-dayoff:after {
  content: '\e810';
} /* '' */
.icon-duration:before,
.icon-duration:after {
  content: '\e811';
} /* '' */
.icon-ebitda:before,
.icon-ebitda:after {
  content: '\e812';
} /* '' */
.icon-edit:before,
.icon-edit:after {
  content: '\e813';
} /* '' */
.icon-education:before,
.icon-education:after {
  content: '\e814';
} /* '' */
.icon-email:before,
.icon-email:after {
  content: '\e815';
} /* '' */
.icon-eye:before,
.icon-eye:after {
  content: '\e816';
} /* '' */
.icon-facebook:before,
.icon-facebook:after {
  content: '\e817';
} /* '' */
.icon-female:before,
.icon-female:after {
  content: '\e818';
} /* '' */
.icon-fitness:before,
.icon-fitness:after {
  content: '\e819';
} /* '' */
.icon-frontdesk:before,
.icon-frontdesk:after {
  content: '\e81a';
} /* '' */
.icon-gift:before,
.icon-gift:after {
  content: '\e81b';
} /* '' */
.icon-gym:before,
.icon-gym:after {
  content: '\e81c';
} /* '' */
.icon-heart:before,
.icon-heart:after {
  content: '\e81d';
} /* '' */
.icon-home:before,
.icon-home:after {
  content: '\e81e';
} /* '' */
.icon-image:before,
.icon-image:after {
  content: '\e81f';
} /* '' */
.icon-incomedown:before,
.icon-incomedown:after {
  content: '\e820';
} /* '' */
.icon-incomeup:before,
.icon-incomeup:after {
  content: '\e821';
} /* '' */
.icon-info:before,
.icon-info:after {
  content: '\e822';
} /* '' */
.icon-instagram:before,
.icon-instagram:after {
  content: '\e823';
} /* '' */
.icon-location-aim-1:before,
.icon-location-aim-1:after {
  content: '\e824';
} /* '' */
.icon-location-aim:before,
.icon-location-aim:after {
  content: '\e825';
} /* '' */
.icon-location:before,
.icon-location:after {
  content: '\e826';
} /* '' */
.icon-locationpoint:before,
.icon-locationpoint:after {
  content: '\e827';
} /* '' */
.icon-logout:before,
.icon-logout:after {
  content: '\e828';
} /* '' */
.icon-male:before,
.icon-male:after {
  content: '\e829';
} /* '' */
.icon-menu:before,
.icon-menu:after {
  content: '\e82a';
} /* '' */
.icon-new-user:before,
.icon-new-user:after {
  content: '\e82b';
} /* '' */
.icon-notification:before,
.icon-notification:after {
  content: '\e82c';
} /* '' */
.icon-password:before,
.icon-password:after {
  content: '\e82d';
} /* '' */
.icon-percent:before,
.icon-percent:after {
  content: '\e82e';
} /* '' */
.icon-phone:before,
.icon-phone:after {
  content: '\e82f';
} /* '' */
.icon-plus:before,
.icon-plus:after {
  content: '\e830';
} /* '' */
.icon-profile:before,
.icon-profile:after {
  content: '\e831';
} /* '' */
.icon-refresh:before,
.icon-refresh:after {
  content: '\e832';
} /* '' */
.icon-remove:before,
.icon-remove:after {
  content: '\e833';
} /* '' */
.icon-reports:before,
.icon-reports:after {
  content: '\e834';
} /* '' */
.icon-rocket:before,
.icon-rocket:after {
  content: '\e835';
} /* '' */
.icon-scissors:before,
.icon-scissors:after {
  content: '\e836';
} /* '' */
.icon-search:before,
.icon-search:after {
  content: '\e837';
} /* '' */
.icon-service:before,
.icon-service:after {
  content: '\e838';
} /* '' */
.icon-sendemail:before,
.icon-sendemail:after {
  content: '\e839';
} /* '' */
.icon-spa:before,
.icon-spa:after {
  content: '\e83a';
} /* '' */
.icon-settings:before,
.icon-settings:after {
  content: '\e83b';
} /* '' */
.icon-success:before,
.icon-success:after {
  content: '\e83c';
} /* '' */
.icon-supportchat:before,
.icon-supportchat:after {
  content: '\e83d';
} /* '' */
.icon-upload:before,
.icon-upload:after {
  content: '\e83e';
} /* '' */
.icon-wallet:before,
.icon-wallet:after {
  content: '\e83f';
} /* '' */
.icon-website:before,
.icon-website:after {
  content: '\e840';
} /* '' */
.icon-yoga:before,
.icon-yoga:after {
  content: '\e841';
} /* '' */
