@import './variables.scss';
@import './icon.scss';
@import '~ngx-bar-rating/themes/br-default-theme';
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeng/resources/themes/nova-light/theme.css';
@import './assets/css/core/index.scss';
@import '../node_modules/primeicons/primeicons.css';
@import './assets/css/flags.scss';
@import './assets/css/components/index.scss';
@import '~@ng-select/ng-select/themes/default.theme.css';

@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('/assets/fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/assets/fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('/assets/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('/assets/fonts/ProximaNova-Semibold.ttf') format('truetype'),
    url('/assets/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg');
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova';
  line-height: 21px;
  font-size: 14px;
  font-synthesis: none;
  -moz-font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.br-default .br-unit:after {
  color: $color-icon-gray;
}
.br-default .br-selected:after {
  color: $color-brand-blue;
}
.br-default .br-active:after {
  color: $color-brand-blue;
}

*,
::before,
::after {
  box-sizing: border-box;
}

/*#region Heading */

.heading-1 {
  line-height: normal;
  font-size: 36px;
  color: $color-text-black;
  font-weight: 600;
}

.heading-2 {
  line-height: normal;
  font-size: 24px;
  color: $color-text-black;
  font-weight: 600;
}

.heading-3 {
  line-height: normal;
  font-size: 20px;
  color: $color-text-black;
  font-weight: 600;
}

.heading-4 {
  line-height: 27px;
  font-size: 18px;
  color: $color-text-black;
  font-weight: 600;
}

.heading-5 {
  line-height: normal;
  font-size: 14px;
  font-weight: 600;
}

.heading-6 {
  line-height: normal;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

/*#endregion Typography Styles */

/*#region Paragraph */

.paragraph-large {
  line-height: 27px;
  font-size: 18px;
  color: $color-text-black;
}

.paragraph-regular {
  line-height: 24px;
  font-size: 16px;
  color: $color-text-black;
}

.paragraph-regular-lightened {
  line-height: 24px;
  font-size: 16px;
  color: $color-text-black-trans-65;
}

.paragraph-regular-accent {
  line-height: 24px;
  font-size: 16px;
  color: $color-text-black;
  font-weight: 600;
}

.paragraph-regular-accent-lightened {
  line-height: 24px;
  font-size: 16px;
  color: $color-text-black-trans-65;
  font-weight: 600;
}

.paragraph-small {
  line-height: 21px;
  font-size: 14px;
  color: $color-text-black;
}

.paragraph-small-lightened {
  line-height: 21px;
  font-size: 14px;
  color: $color-text-black-trans-65;
}

.paragraph-small-accent {
  line-height: 21px;
  font-size: 14px;
  color: $color-text-black;
  font-weight: 600;
}

.paragraph-small-accent-lightened {
  line-height: 21px;
  font-size: 14px;
  color: $color-text-black-trans-65;
  font-weight: 600;
}

.paragraph-extra-small {
  line-height: 18px;
  font-size: 12px;
  color: $color-text-black;
}

.paragraph-extra-small-lightened {
  line-height: 18px;
  font-size: 12px;
  color: $color-text-black-trans-65;
}

.paragraph-extra-small-accent {
  line-height: 18px;
  font-size: 12px;
  color: $color-text-black;
  font-weight: 600;
}

.paragraph-extra-small-accent-lightened {
  line-height: 18px;
  font-size: 12px;
  color: $color-text-black-trans-65;
  font-weight: 600;
}

.font-semibold {
  font-weight: 600;
}

/*#endregion Paragraph */

/*#region Buttons */

button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* отображаем курсор в виде руки при наведении; */
  cursor: pointer;
}
.btn,
button:active,
button:focus {
  outline: none;
}
.btn,
button::-moz-focus-inner {
  border: 0;
}

.btn-small {
  line-height: 14px;
  font-size: 14px;
  padding: 8px 16px;
  font-weight: 600;
  transition: 0.1s;
}

.btn-regular {
  line-height: 14px;
  font-size: 14px;
  padding: 13px 16px;
  font-weight: 600;
  transition: 0.1s;
}

.btn-large {
  line-height: 16px;
  font-size: 16px;
  padding: 16px 16px;
  font-weight: 600;
  transition: 0.1s;
}

.btn-def {
  background: $color-brand-blue;
  border-radius: 3px;
  color: $color-pure-white;

  &:hover:enabled {
    background: $color-blue-hover;
    box-shadow: 0px 5px 10px rgba(47, 138, 251, 0.2);
  }

  &:active:enabled {
    background: $color-blue-pressed;
    box-shadow: 0px 5px 10px rgba(16, 96, 195, 0.2);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-text-black;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-smooth {
  background: rgba(24, 111, 218, 0.05);
  border-radius: 3px;
  color: $color-brand-blue;

  &:hover:enabled {
    background: rgba(24, 111, 218, 0.1);
  }

  &:active:enabled {
    background: rgba(24, 111, 218, 0.15);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-text-black;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-outline-gray {
  background: transparent;
  border-radius: 3px;
  border: 1px solid $color-secondary;
  box-sizing: border-box;
  color: $color-text-black;

  &:hover:enabled {
    background: transparent;
    border: 1px solid $color-secondary-hover;
    box-sizing: border-box;
  }

  &:active:enabled {
    background: transparent;
    border: 1px solid $color-secondary-active;
    box-sizing: border-box;
  }

  &:disabled,
  [disabled] {
    background: transparent;
    color: $color-text-black-trans-65;
    border: 1px solid rgba(62, 62, 62, 0.35);
    box-sizing: border-box;
    cursor: not-allowed;
  }
}

.btn-ghost {
  background: transparent;
  border-radius: 3px;
  border: 1px solid $color-brand-blue-trans-35;
  box-sizing: border-box;
  color: $color-brand-blue;

  &:hover:enabled {
    background: transparent;
    border: 1px solid $color-brand-blue-trans-65;
    box-sizing: border-box;
  }

  &:active:enabled {
    background: transparent;
    border: 1px solid $color-brand-blue;
    box-sizing: border-box;
  }

  &:disabled,
  [disabled] {
    background: transparent;
    color: $color-text-black-trans-65;
    border: 1px solid rgba(62, 62, 62, 0.35);
    box-sizing: border-box;
    cursor: not-allowed;
  }
}

.btn-standard {
  background: transparent;
  border-radius: 3px;
  border: 1px solid $color-stroke;
  box-sizing: border-box;
  box-shadow: 0 1px 3px 0 rgba(62, 62, 62, 0.20);
  color: $color-text-black;

  &:hover:enabled {
    background: transparent;
    border: 1px solid $color-text-black-trans-65;
    box-sizing: border-box;
  }

  &:active:enabled {
    background: transparent;
    border: 1px solid $color-text-black-trans-65;
    box-sizing: border-box;
  }

  &:disabled,
  [disabled] {
    background: transparent;
    color: $color-text-black-trans-65;
    border: 1px solid rgba(62, 62, 62, 0.35);
    box-sizing: border-box;
    cursor: not-allowed;
  }
}

.btn-positive {
  background: $color-brand-green;
  border-radius: 3px;
  color: $color-pure-white;

  &:hover:enabled {
    background: $color-pos-hover;
    box-shadow: 0px 5px 10px rgba(104, 222, 135, 0.2);
  }

  &:active:enabled {
    background: $color-pos-pressed;
    box-shadow: 0px 5px 10px rgba(78, 169, 102, 0.2);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-text-black;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-positive-outline {
  border: 1px solid;
  border-color: $color-brand-green;
  border-radius: 3px;
  color: $color-brand-green;
  img {
    filter: initial;
  }

  &:hover:enabled {
    background: $color-pos-hover;
    box-shadow: 0px 5px 10px rgba(104, 222, 135, 0.2);
    color: $color-pure-white
  }

  &:active:enabled {
    background: $color-pos-pressed;
    box-shadow: 0px 5px 10px rgba(78, 169, 102, 0.2);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-text-black;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-warn {
  background: $color-warn-red;
  border-radius: 3px;
  color: $color-pure-white;

  &:hover:enabled {
    background: $color-warn-hover;
    box-shadow: 0px 5px 10px rgba(255, 111, 77, 0.2);
  }

  &:active:enabled {
    background: $color-warn-pressed;
    box-shadow: 0px 5px 10px rgba(226, 81, 46, 0.2);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-text-black;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

.btn-attent {
  background: $color-yellow;
  border-radius: 3px;
  color: $color-text-black;

  &:hover:enabled {
    background: $color-atntn-hover;
    box-shadow: 0px 5px 10px rgba(255, 215, 88, 0.2);
  }

  &:active:enabled {
    background: $color-atntn-pressed;
    box-shadow: 0px 5px 10px rgba(236, 185, 22, 0.2);
  }

  &:disabled,
  [disabled] {
    background: #efefef;
    color: $color-text-black;
    opacity: 0.65;
    cursor: not-allowed;
  }
}

/*#endregion Buttons */

/*#region check radio */

.checkbox-container {
  display: flex;

  label {
    cursor: pointer;
  }
}
.radio-container {
  display: flex;

  label {
    cursor: pointer;
  }
}
.checkbox {
  display: inline-block;
  margin-top: 3px;
  transition: 0.1s;
  input[type='checkbox'] {
    display: none;

    & + label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border: 2px solid $color-stroke;
      border-radius: 3px;
      margin-right: 8px;
      cursor: pointer;

      &:before {
        color: white;
        font-size: 10px !important;
        opacity: 0;
      }
    }

    &:hover + label {
      opacity: 1;
      background: rgba(24, 111, 218, 0.15);
      border: 2px solid rgba(24, 111, 218, 0.65);
    }

    &:checked + label {
      background: $color-brand-blue;
      border: 1px solid transparent;
      opacity: 1;

      &:before {
        opacity: 1;
      }
    }
  }

  &-error input[type='checkbox'] {
    & + label {
      border: 2px solid $color-warn-red;
    }
  }
}
.checkbox.checkbox-regular {
  input[type='checkbox'] {
    & + label {
      width: 18px;
      height: 18px;
    }
    &:before {
      font-size: 10px !important;
    }
  }
}

.radio {
  display: inline-block;
  margin-top: 3px;
  transition: 0.1s;
  input[type='radio'] {
    display: none;

    & + label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 16px;
      border: 2px solid $color-stroke;
      border-radius: 50%;
      margin-right: 8px;
      cursor: pointer;

      &:before {
        color: white;
        font-size: 10px !important;
        opacity: 0;
      }
    }

    &:hover + label {
      opacity: 1;
      background: rgba(24, 111, 218, 0.15);
      border: 2px solid rgba(24, 111, 218, 0.65);
    }

    &:checked + label {
      background: $color-pure-white;
      border: 4px solid $color-brand-blue;
      opacity: 1;
      &:before {
        opacity: 1;
      }
    }
  }
}
.checkbox.checkbox-regular {
  input[type='checkbox'] {
    & + label {
      width: 18px;
      height: 18px;
    }
    &:before {
      font-size: 10px !important;
    }
  }
}

.radio.radio-regular {
  input[type='radio'] {
    & + label {
      width: 18px;
      height: 18px;
    }
  }
}

/*#endregion check radio */

/*#region input */
.input {
  outline: none;
  width: 100%;
  border: 2px solid $color-stroke;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  padding: 13px 0 13px 43px;
  color: $color-text-black;
  transition: 0.1s;

  &::placeholder {
    color: $color-text-black-trans-65;
  }

  &:-ms-input-placeholder {
    color: $color-text-black-trans-65;
  }

  &:-ms-input-placeholder {
    color: $color-text-black-trans-65;
  }

  &:hover:enabled {
    border: 2px solid $color-stroke-hover;
  }

  &:focus:enabled {
    border: 2px solid $color-stroke-active;
  }

  &:disabled {
    background-color: $color-light-gray;
    cursor: not-allowed;
  }
}
.error-lable {
  color: $color-warn-red;
}
.input-def {
  padding-left: 16px;
}
.input-small {
  font-size: 14px;
  line-height: 16px;
  padding: 10px 0 10px 43px;
}
.input-error {
  border: 2px solid $color-warn-red !important;
  color: $color-warn-red !important;

  &::placeholder {
    color: $color-warn-red-65;
  }

  &:-ms-input-placeholder {
    color: $color-warn-red-65;
  }

  &:-ms-input-placeholder {
    color: $color-warn-red-65;
  }
}
.input-icon-container {
  position: relative;
  margin-top: 24px;

  &:focus-within + .input-labels label {
    color: $color-brand-blue;
  }
}
.input-icon {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
}
.input-labels {
  display: flex;
  justify-content: space-between;
}
/*#endregion input */

.link {
  text-decoration: none;
  font-size: 14px;
  line-height: 21px;
  color: $color-brand-blue;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    color: $color-blue-pressed;
  }
}

.icon-control {
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  min-width: 28px;
  min-height: 28px;
  flex-shrink: 0;
  border: 8px solid transparent;
  border-radius: 50%;

  &:hover {
    background-color: $color-light-gray;
    border: 8px solid $color-light-gray;
    border-radius: 50%;
  }
}

.review-modal {
  .br-default .br-unit {
    font-size: 44px;
    margin-right: 25px;
  }
}

.mobile-rating-body {
  .br-default .br-unit {
    margin-right: 30px;
    font-size: 44px;
  }
}

.dp-picker-input {
  outline: none !important;
  width: 100% !important;
  border: 2px solid #d7dee5 !important;
  box-sizing: border-box !important;
  border-radius: 3px !important;
  font-size: 16px !important;
  line-height: 18px !important;
  padding: 13px 0 13px 16px !important;
  color: #3e3e3e !important;
  transition: 0.1s !important;
  height: 48px !important;
}
.dp-material {
  width: 100% !important;
}

.si-content {
  width: 100% !important;
  max-width: none !important;
  max-height: none !important;
}

.si-close-button {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.text-blue {
  color: #186fda;
}

.cursor-pointer {
  cursor: pointer;
}

// Исключает зум на мобильных iOS устройствах при фокусе на поле
input[type='color'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'],
select:focus,
textarea {
  font-size: 16px;

  @media (min-width: 768px) {
    font-size: 15px;
  }
}

.br-default {
  margin: 0 !important;
}

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}


.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $color-brand-blue;
}

input:focus + .slider {
  box-shadow: 0 0 1px $color-brand-blue;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}


.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.alert-warning {
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $color-warning;
  border-radius: 3px;
  i {
    color: $color-icon-warning;
  }
}

.skeleton-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e0e0e0;
  animation: shimmer 1.5s infinite;
}

.skeleton-line {
  width: 100%;
  height: 24px;
  background-color: #e0e0e0;
  border-radius: 4px;
  animation: shimmer 1.5s infinite;
  margin-bottom: 16px;
}

.skeleton-line.short {
  width: 60%;
}

@keyframes shimmer {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}
