
/*#region Colors */

$color-brand-blue-trans-35: unquote('#186FDA59');
$color-brand-blue-trans-65: unquote('#186FDAA6');

$color-text-black: unquote('#3E3E3E');
$color-text-black-trans-65: unquote('#3E3E3EA6');

$color-bg-blue-dk: unquote('#F4F8FC');
$color-bg-blue-lt: unquote('#F9FCFF');

$color-icon-gray: unquote('#B0B9C2');
$color-light-intense-gray: unquote('#2E2E2E0D');
$color-light-gray: unquote('#F5F5F5');
$color-weak-light-gray: unquote('#FAFAFA');

$color-pure-white: unquote('#FFFFFF');
$color-pure-white-50: unquote('#FFFFFF7F');
$color-pure-white-30: unquote('#ffffff54');

$color-warning: unquote('#FFF9E9');
$color-icon-warning: unquote('#BD6E25');

$color-stroke: unquote('#D7DEE5');
$color-stroke-hover: unquote('#AFD1F9');
$color-stroke-active: unquote('#86B6F3');

$color-secondary: unquote('#D1DBE8');
$color-secondary-hover: unquote('#9b9b9b');
$color-secondary-active: unquote('#3E3E3E');

$color-select-default: unquote('#F2F5F8');
$color-select-hover: unquote('#EAF1F8');

$color-brand-blue: unquote('#186FDA');
$color-blue-hover: unquote('#398FF8');
$color-blue-pressed: unquote('#1060C3');
$color-blue-gradient: linear-gradient(315deg, #186FDA 0%, #4299ED 100%);

$color-marker-warning: unquote('#E28949');

$color-brand-green: unquote('#64BF7C');
$color-pos-hover: unquote('#67D484');
$color-pos-pressed: unquote('#4EA966');

$color-warn-red: unquote('#FF552D');
$color-warn-hover: unquote('#FF6E4C');
$color-warn-pressed: unquote('#E2512E');
$color-warn-red-65: unquote('#FF552DA6');

$color-yellow: unquote('#FFCD2D');
$color-atntn-hover: unquote('#FFD756');
$color-atntn-pressed: unquote('#F1BD17');
/*#endregion Colors */
