@import '../../../variables.scss';

:host {
  background-color: #fff;
}

.mobile-only {
  @media (min-width: 1024px) {
    display: none;
  }
}

.card-mobile {
  display: none;
}
.card {
  .top-container {
    position: relative;
    display: flex;
    justify-content: center;

    .background-fake {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color-light-gray;
      z-index: -2;
    }

    .top-content-container {
      width: 1280px;
      position: relative;

      .top-content {
        padding: 24px 55px;

        .heading-content {
          .heading-text {
            h4 {
              font-weight: normal;
              margin-top: 16px;
              margin-bottom: 32px;
            }
          }
        }
      }
    }
  }
  .head-container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $color-light-gray;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
    .head-content {
      width: 1280px;
      padding: 8px 55px;
      .head {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .title-container {
          display: flex;
          img {
            width: 48px;
            height: 48px;
            border-radius: 3px;
          }
          .title-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 16px;
          }
        }
        .raiting-container {
          display: flex;
          align-items: center;
          .rating-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            bar-rating {
              margin-top: -8px;
            }
            p {
              margin-top: -15px;
              text-align: right;
              width: 100%;
              padding-top: 8px;
              padding-right: 6px;
            }
          }
          .favorites {
            cursor: pointer;
            display: flex;
            width: 48px;
            height: 48px;
            justify-content: center;
            align-items: center;
            margin-left: 24px;

            &:hover {
              background-color: $color-light-gray;
              border-radius: 50%;
            }
          }
          .head-button-booking {
            margin-left: 24px;
            padding: 17px 24px 17px 24px;
          }
        }
      }
    }
  }
  .container-body {
    display: flex;
    justify-content: center;

    .content-container {
      width: 1280px;
      .content {
        padding: 33px 55px 0 55px;
        display: flex;

        .left-container {
          width: 100%;
          max-width: 770px;

          .photo-container {
            margin-bottom: 32px;

            div {
              width: 770px;
            }
          }
          .info-container {
            .info-heading {
              margin-bottom: 24px;
            }
            padding-bottom: 32px;
            border-bottom: 1px solid $color-light-gray;
            margin-bottom: 32px;
          }
          .booking-container {
            padding-bottom: 32px;
            border-bottom: 1px solid $color-light-gray;
            margin-bottom: 32px;
            .booking-heading {
              margin-bottom: 24px;
            }
            .booking-content {
              .accordion {
                margin-bottom: 8px;
              }
            }
          }
          .team-container {
            padding-bottom: 8px;
            border-bottom: 1px solid $color-light-gray;
            margin-bottom: 32px;
            .team-heading {
              margin-bottom: 24px;
            }
            .team-content {
              display: flex;
              flex-wrap: wrap;
              .team-person {
                display: flex;
                align-items: center;
                min-width: 385px;
                margin-bottom: 24px;
                img {
                  width: 96px;
                  margin-right: 24px;
                  border-radius: 50%;
                }
              }
            }
          }
          .location-container {
            padding-bottom: 8px;
            border-bottom: 1px solid $color-light-gray;
            margin-bottom: 32px;
            .location-heading {
              margin-bottom: 24px;
            }

            .location-content {
              display: flex;
              flex-wrap: wrap;
              .location-item {
                display: flex;
                flex-direction: column;
                margin-bottom: 24px;
                .location {
                  display: flex;
                  margin-bottom: 16px;
                  img {
                    margin-right: 8px;
                  }
                }
                .map {
                  margin-bottom: 16px;
                  width: 370px;
                  height: 155px;
                  agm-map {
                    width: 100%;
                    height: 100%;
                  }
                }
                a {
                  font-size: 16px;
                }
              }
              .location-item:nth-child(even) {
                margin-left: 30px;
              }
            }
          }
          .comment-container {
            display: flex;
            flex-direction: column;
            .comment-heading {
              display: flex;
              flex-direction: column;
            }

            .comment-items {
              display: flex;
              flex-direction: column;
              margin-top: 24px;
              .comment-item {
                display: flex;
                flex-direction: column;
                padding-bottom: 16px;
                margin-bottom: 16px;
                border-bottom: 1px solid $color-light-gray;
                .item-heading {
                  display: flex;
                  justify-content: space-between;
                  .user-info {
                    display: flex;
                    img {
                      width: 64px;
                      height: 64px;
                      border-radius: 50%;
                    }
                    .comment-info {
                      display: flex;
                      flex-direction: column;
                      justify-content: space-between;
                      margin-left: 16px;

                      .name {
                        margin-top: 8px;
                      }
                      .date {
                        margin-bottom: 8px;
                      }
                    }
                  }
                }
                .comment-text {
                  margin-top: 8px;
                  padding-left: 72px;
                  width: 580px;
                }
              }
            }
          }
          .classes-container {
            padding-bottom: 32px;
            border-bottom: 1px solid $color-light-gray;
            margin-bottom: 32px;
            .classes-heading {
              margin-bottom: 24px;
            }

            .classes-content {
              display: flex;
              flex-wrap: wrap;
              width: 100%;

              .classes-container-items {
                width: 100%;
                .stub-container {
                  margin-top: 24px;
                  margin-bottom: 32px;
                }
                .show-all-categories {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-top: 16px;
                  margin-bottom: 32px;
                  a {
                    font-size: 16px;
                    line-height: 24px;
                    font-weight: 600;
                    white-space: nowrap;
                    padding: 0px 16px;
                  }
                  .line {
                    width: 100%;
                    border-top: 1px solid $color-brand-blue-trans-35;
                  }
                }
                .class-item {
                  display: flex;
                  justify-content: space-between;
                  width: 100%;
                  padding: 16px 0;
                  //border-bottom: 1px solid $color-light-gray;
                  border: 1px solid #f5f5f5;
                  box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
                  border-radius: 3px;
                  padding: 16px 16px;
                  margin-bottom: 8px;

                  .class-left {
                    width: 100%;
                    display: flex;

                    .time {
                      display: flex;
                      align-items: center;
                      padding-left: 8px;
                      padding-right: 24px;
                      border-right: 1px solid #f5f5f5;
                      margin-right: 24px;

                      font-size: 16px;
                      font-weight: 600;
                    }

                    .class-info {
                      width: 100%;
                      display: flex;
                      justify-content: space-between;
                    }

                    .info {
                      display: flex;
                      align-items: center;
                      margin-top: 4px;
                      .master-info {
                        display: flex;
                        align-items: center;
                        padding-right: 12px;
                        border-right: 1px solid #f5f5f5;
                        img {
                          width: 24px;
                          height: 24px;
                          margin-right: 8px;
                          border-radius: 50px;
                        }
                      }
                      .time-info {
                        display: flex;
                        align-items: center;
                        margin-left: 12px;
                        padding-right: 12px;
                        border-right: 1px solid #f5f5f5;

                        p {
                          white-space: nowrap;
                        }

                        img {
                          margin-right: 8px;
                        }
                      }
                      .member-info {
                        margin-left: 12px;

                        span {
                          white-space: nowrap;
                        }
                      }
                    }
                  }
                  .class-right {
                    display: flex;
                    align-items: center;

                    p {
                      margin-right: 16px;
                    }
                    .sub {
                      cursor: pointer;
                      color: #186fda;
                      padding-right: 14px;
                    }
                  }
                }
              }
            }
          }
          .classes-container-personal {
            padding-bottom: 32px;
            border-bottom: 1px solid $color-light-gray;
            margin-bottom: 32px;
            .classes-heading {
              margin-bottom: 24px;
            }

            .accordion {
              padding-bottom: 8px;
            }
          }
          .subscriptions-container {
            margin-bottom: 32px;
          }
        }

        .right-container {
          width: 100%;
          height: 100%;
          max-width: 362px;
          margin-left: 30px;
          padding: 24px;
          box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
          border-radius: 3px;
          border: 1px solid $color-light-gray;

          .heading {
            margin-bottom: 16px;
          }
          .location-container {
            margin-bottom: 16px;
            .location {
              display: flex;

              img {
                margin-right: 8px;
              }
            }
            .map {
              margin-top: 16px;
              width: 314px;
              height: 130px;
              agm-map {
                width: 100%;
                height: 100%;
              }
            }
          }

          .work-time-container {
            .work-time-heading {
              margin-bottom: 16px;
            }
            .work-time-status {
              display: flex;
              padding-bottom: 16px;
              margin-bottom: 16px;
              border-bottom: 1px solid $color-light-gray;
              img {
                margin-right: 8px;
              }
            }
            .work-time {
              display: flex;
              justify-content: space-between;
              padding-bottom: 16px;
              margin-bottom: 16px;
              border-bottom: 1px solid $color-light-gray;
            }
          }
          .contacts-container {
            margin-top: 16px;
            .contacts-heading {
              margin-bottom: 16px;
            }
            .contact {
              display: flex;
              justify-content: space-between;
              padding-bottom: 16px;
              margin-bottom: 16px;
              border-bottom: 1px solid $color-light-gray;

              .contact-phones {
                display: flex;
                flex-direction: column;
              }
              .phone-number {
                color: $color-brand-blue;
              }
              .left {
              }
              .right {
                display: flex;
                align-items: center;

                img {
                  padding-left: 16px;
                  cursor: pointer;
                }
              }
            }
            .social {
              padding-bottom: 0;
              border-bottom: 0;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
.custom-pagination {
  display: flex;
  max-width: 300px;

  > div {
    flex: 1;
    font-size: 18px;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    max-width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3e3e3e;
    opacity: 0.65;
    font-family: 'Proxima Nova';
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    cursor: pointer;
    span {
      font-family: 'Proxima Nova';
      font-size: 14px;
      line-height: 17px;
      font-weight: 600;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
    }

    div {
      max-width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #186fda;

      span {
        font-family: 'Proxima Nova';
        font-size: 14px;
        line-height: 17px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
      }
    }
  }

  > div.current {
    background: rgba(24, 111, 218, 0.05);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    opacity: 1;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    display: none;
  }
  .card-mobile {
    display: block;
    .top-container {
      display: none !important;
      position: relative;
      display: flex;
      justify-content: center;

      .background-fake {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-light-gray;
        z-index: -2;
      }

      .top-content-container {
        width: 1280px;
        position: relative;

        .top-content {
          padding: 24px 55px;

          .heading-content {
            .heading-text {
              h4 {
                font-weight: normal;
                margin-top: 16px;
                margin-bottom: 32px;
              }
            }
          }
        }
      }
    }
    .head-container {
      display: flex;
      justify-content: center;
      border-bottom: 1px solid $color-light-gray;
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 72px;
      background: white;
      z-index: 2;
      filter: drop-shadow(0px 1px 2px rgba(62, 62, 62, 0.1));

      .head-content {
        width: 1280px;
        padding: 10px 24px;
        .head {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .title-container {
            display: flex;
            img {
              width: 48px;
              height: 48px;
              border-radius: 3px;
            }
            .title-info {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              margin-left: 16px;
            }
          }
          .raiting-container {
            display: flex;
            align-items: center;
            .rating-info {
              display: flex;
              flex-direction: column;
              align-items: center;
              bar-rating {
                margin-top: -8px;
              }
              p {
                margin-top: -15px;
                text-align: right;
                width: 100%;
                padding-top: 8px;
                padding-right: 6px;
              }
            }
            .favorites {
              cursor: pointer;
              display: flex;
              width: 48px;
              height: 48px;
              justify-content: center;
              align-items: center;
              margin-left: 24px;

              &:hover {
                background-color: $color-light-gray;
                border-radius: 50%;
              }
            }
            .head-button-booking {
              margin-left: 24px;
            }
          }
        }
      }
    }
    .container-body {
      display: flex;
      justify-content: center;

      .content-container {
        width: 100%;
        .content {
          padding: 33px 24px 0 24px;
          display: flex;

          .left-container {
            width: 100%;
            max-width: 100%;

            .photo-container {
              margin-bottom: 32px;

              div {
                width: 100%;
              }

              .rating-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 12px;
                div {
                  display: flex;
                  align-items: center;

                  p {
                    margin-left: 8px;
                    margin-top: 4px;
                  }
                }
              }

              .address-container {
                display: flex;
                flex-direction: column;
                padding-bottom: 16px;
                border-bottom: 1px solid #f5f5f5;
                .location {
                  display: flex;
                  img {
                    margin-right: 8px;
                  }
                }
                a {
                  margin-left: 22px;
                  font-size: 16px;
                  line-height: 24px;
                }
              }

              .time-container {
                display: flex;
                padding-bottom: 16px;
                margin-top: 16px;
                border-bottom: 1px solid #f5f5f5;

                img {
                  margin-right: 8px;
                }
              }

              .work-time-container {
                display: flex;
                flex-direction: column;
                padding-bottom: 16px;
                margin-top: 16px;
                border-bottom: 1px solid #f5f5f5;

                .title {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                }
                .work-time {
                  display: flex;
                  justify-content: space-between;
                  padding-top: 16px;
                  padding-bottom: 16px;
                }
              }
            }
            .info-container {
              .info-heading {
                margin-bottom: 24px;
              }
              padding-bottom: 32px;
              border-bottom: 1px solid $color-light-gray;
              margin-bottom: 32px;
            }
            .booking-container {
              padding-bottom: 32px;
              border-bottom: 1px solid $color-light-gray;
              margin-bottom: 32px;
              .booking-heading {
                margin-bottom: 24px;
              }
              .booking-content {
                .accordion {
                  margin-bottom: 8px;
                }
              }
            }

            .subscriptions-container {
              margin-bottom: 32px;
            }
            .contact-container {
              display: flex;
              flex-direction: column;
              margin-bottom: 32px;

              .contact-content {
                display: flex;
                flex-direction: column;

                .contact {
                  display: flex;
                  flex-direction: column;
                  padding-top: 16px;
                  padding-bottom: 16px;
                  border-bottom: 1px solid #f5f5f5;

                  .contact-phones {
                    display: flex;
                    flex-direction: column;
                  }
                }
                .phone-number {
                  color: #186fda;
                }

                .social {
                  display: flex;

                  img {
                    padding-right: 16px;
                    cursor: pointer;
                  }
                }
              }
            }
            .team-container {
              padding-bottom: 8px;
              border-bottom: 1px solid $color-light-gray;
              margin-bottom: 32px;
              .team-heading {
                margin-bottom: 24px;
              }
              .team-content {
                display: flex;
                flex-wrap: wrap;
                .team-person {
                  display: flex;
                  align-items: center;
                  min-width: 100%;
                  margin-bottom: 24px;
                  img {
                    width: 96px;
                    margin-right: 24px;
                    border-radius: 50%;
                  }
                }
              }
            }
            .location-container {
              padding-bottom: 8px;
              border-bottom: 1px solid $color-light-gray;
              margin-bottom: 32px;
              .location-heading {
                margin-bottom: 24px;
              }

              .location-content {
                display: flex;
                flex-direction: column;
                .location-item {
                  display: flex;
                  flex-direction: column;
                  margin-bottom: 24px;
                  .location {
                    display: flex;
                    margin-bottom: 16px;
                    img {
                      margin-right: 8px;
                    }
                  }
                  .map {
                    margin-bottom: 16px;
                    width: 100%;
                    height: 155px;
                    agm-map {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  a {
                    font-size: 16px;
                  }
                }
                .location-item:nth-child(even) {
                  margin-left: 0;
                }
              }
            }
            .comment-container {
              display: flex;
              flex-direction: column;
              margin-bottom: 32px;
              .comment-heading {
                display: flex;
                flex-direction: column;
              }

              .comment-items {
                display: flex;
                flex-direction: column;
                margin-top: 24px;
                .comment-item {
                  display: flex;
                  flex-direction: column;
                  padding-bottom: 16px;
                  margin-bottom: 16px;
                  border-bottom: 1px solid $color-light-gray;
                  .item-heading {
                    display: flex;
                    justify-content: space-between;
                    .user-info {
                      display: flex;
                      img {
                        width: 64px;
                        height: 64px;
                        border-radius: 50%;
                      }
                      .comment-info {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-left: 16px;

                        .name {
                          margin-top: 8px;
                        }
                        .date {
                          margin-bottom: 8px;
                        }
                      }
                    }
                  }
                  .comment-text {
                    margin-top: 8px;
                    padding-left: 72px;
                    width: 100%;
                  }
                }
              }
            }
            .classes-container {
              padding-bottom: 8px;
              border-bottom: 1px solid $color-light-gray;
              margin-bottom: 32px;
              .classes-heading {
                margin-bottom: 24px;
              }

              .classes-content {
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                app-date-picker {
                  width: 100%;
                }

                .classes-container-items {
                  width: 100%;
                  .stub-container {
                    margin-top: 24px;
                    margin-bottom: 32px;
                  }
                  .show-all-categories {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 16px;
                    margin-bottom: 32px;
                    a {
                      font-size: 16px;
                      line-height: 24px;
                      font-weight: 600;
                      white-space: nowrap;
                      padding: 0px 16px;
                    }
                    .line {
                      width: 100%;
                      border-top: 1px solid $color-brand-blue-trans-35;
                    }
                  }
                  .class-item {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 16px 0;
                    //border-bottom: 1px solid $color-light-gray;
                    border: 1px solid #f5f5f5;
                    box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
                    border-radius: 3px;
                    padding: 16px 16px;
                    margin-bottom: 8px;

                    .class-left {
                      width: 100%;
                      display: flex;
                      align-items: flex-start;

                      .class-info {
                        flex-wrap: wrap;
                      }

                      .time {
                        display: flex;
                        align-items: center;
                        min-height: 56px;
                        margin-top: 14px;
                        padding-right: 16px;
                        border-right: 1px solid #f5f5f5;
                        margin-right: 16px;
                      }

                      .info {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        .master-info {
                          width: 100%;
                          display: flex;
                          align-items: center;
                          min-width: 0;
                          border-right: 0;
                          padding-top: 4px;
                          padding-bottom: 6px;

                          img {
                            width: 24px;
                            height: 24px;
                            margin-right: 8px;
                            border-radius: 50px;
                          }
                        }

                        .time-info {
                          display: flex;
                          align-items: center;
                          margin-left: 0;
                          margin-right: 12px;
                          padding-right: 12px;
                          border-right: 1px solid #f5f5f5;

                          img {
                            margin-right: 8px;
                          }
                        }
                      }
                    }

                    .class-right {
                      width: 100%;
                      display: flex;
                      align-items: center;
                      padding-top: 16px;
                      span {
                        color: #186fda;
                        margin-right: 16px;
                      }
                    }
                  }
                }
              }
            }

            .classes-container-personal {
              .classes-heading {
                margin-bottom: 24px;
              }

              .accordion {
                padding-bottom: 8px;
              }
            }
          }
        }
      }
    }
    .book-btn {
      position: fixed;
      bottom: 24px;
      width: 100%;
      padding-right: 24px;
      padding-left: 24px;
      button {
        width: 100%;
        box-shadow: 0px 15px 25px rgba(24, 111, 218, 0.25);
        border-radius: 5px;
      }
    }
  }
}

.mobile-hidden {
  display: none;

  @media (min-width: 1024px) {
    display: block;
  }
}

.search {
  &-wrapper {
    display: none;
    padding: 12px 16px;
    background-color: #f5f5f5;

    @media (min-width: 1024px) {
      display: block;
    }

    @media (min-width: 1280px) {
      padding: 24px 55px;
    }
  }

  &-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
  }
}

.header-wrapper {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 72px;
  z-index: 2;
  border-bottom: 1px solid #f5f5f5;
  padding: 10px 16px;
  background-color: #fff;

  @media (min-width: 1024px) {
    top: 0;
  }

  @media (min-width: 1280px) {
    padding: 10px 55px;
  }
}

.header {
  margin-left: auto;
  margin-right: auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;

  & > div {
    display: flex;
    align-items: center;
  }

  .head-button-booking {
    display: flex;
    align-items: center;

    img {
      width: 22px;
      padding-right: 8px;
      filter: brightness(0) invert(1);
    }
  }

  .head-button-purchase {
    display: flex;
    align-items: center;

    img {
      width: 22px;
      padding-right: 8px;
    }
  }

  .head-button-purchase:hover {
    img {
      filter: brightness(0) invert(1);
    }
  }
}

.company-logo {
  width: 48px;
  height: 48px;
  margin-right: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 33px;
}

.rating {
  display: flex;
  align-items: center;

  .reviews {
    padding-top: 8px;
  }

  .favorites {
    cursor: pointer;

    @media (min-width: 1024px) {
      padding-left: 36px;
      padding-right: 36px;
    }
  }
}

.content-wrapper {
  padding: 0 16px;
}

.content {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 1170px;

  &-block {
    &-container {
      padding-bottom: 32px;

      &:not(:first-of-type) {

        //margin-bottom: 32px;
        //border-bottom: 1px solid #f5f5f5;
      }
    }

    &-header {
      padding-bottom: 24px;
    }
  }

  &-left-container {
    width: 100%;

    @media (min-width: 1024px) {
      padding-right: 38px;
    }

    .mobile-booking-button {
      padding-top: 24px;
      padding-bottom: 24px;
      width: 100%;

      button {
        width: 100%;
      }
    }

    .booking-content {
      .accordion {
        padding-bottom: 8px;
      }
    }

    .subscriptions-container {
      margin-bottom: 32px;
    }

    .info-container {
      .info-heading {
        margin-bottom: 24px;
      }
      padding-bottom: 32px;
      border-bottom: 1px solid $color-light-gray;
      margin-bottom: 32px;
    }

    .contact-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 32px;

      @media (min-width: 1024px) {
        display: none;
      }

      .contact-content {
        display: flex;
        flex-direction: column;

        .contact {
          display: flex;
          flex-direction: column;
          padding-top: 16px;
          padding-bottom: 16px;
          border-bottom: 1px solid #f5f5f5;

          .contact-phones {
            display: flex;
            flex-direction: column;
          }
        }
        .phone-number {
          color: #186fda;
        }

        .social {
          display: flex;

          img {
            padding-right: 16px;
            cursor: pointer;
          }
        }
      }
    }

    .team-container {
      padding-bottom: 8px;
      border-bottom: 1px solid $color-light-gray;
      margin-bottom: 32px;
      .team-heading {
        margin-bottom: 24px;
      }
      .team-content {
        display: flex;
        flex-wrap: wrap;
        .team-person {
          display: flex;
          align-items: center;
          min-width: 385px;
          margin-bottom: 24px;
          img {
            width: 96px;
            margin-right: 24px;
            border-radius: 50%;
          }
        }
      }
    }

    .location-container {
      padding-bottom: 8px;
      border-bottom: 1px solid $color-light-gray;
      margin-bottom: 32px;
      .location-heading {
        margin-bottom: 24px;
      }

      .location-content {
        display: flex;
        flex-wrap: wrap;
        .location-item {
          display: flex;
          flex-direction: column;
          margin-bottom: 24px;
          .location {
            display: flex;
            margin-bottom: 16px;
            img {
              margin-right: 8px;
            }
          }
          .map {
            margin-bottom: 16px;
            width: 100%;
            height: 155px;

            @media (min-width: 1024px) {
              width: 370px;
            }
            agm-map {
              width: 100%;
              height: 100%;
            }
          }
          a {
            font-size: 16px;
          }
        }

        @media (min-width: 1024px) {
          .location-item:nth-child(even) {
            margin-left: 30px;
          }
        }
      }
    }

    .comment-container {
      display: flex;
      flex-direction: column;
      .comment-heading {
        display: flex;
        flex-direction: column;
      }

      .comment-items {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        .comment-item {
          display: flex;
          flex-direction: column;
          padding-bottom: 16px;
          margin-bottom: 16px;
          border-bottom: 1px solid $color-light-gray;
          .item-heading {
            display: flex;
            justify-content: space-between;
            .user-info {
              display: flex;
              img {
                width: 64px;
                height: 64px;
                border-radius: 50%;
              }
              .comment-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-left: 16px;

                .name {
                  margin-top: 8px;
                }
                .date {
                  margin-bottom: 8px;
                }
              }
            }
          }
          .comment-text {
            margin-top: 8px;
            padding-left: 72px;
            width: 100%;
            max-width: 580px;
          }
        }
      }
    }

    & > div {
      width: 100%;
    }

    .rating-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 12px;

      div {
        display: flex;
        align-items: center;

        p {
          margin-left: 8px;
          margin-top: 4px;
        }
      }
    }

    .address-container {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
      border-bottom: 1px solid #f5f5f5;
      .location {
        display: flex;
        img {
          margin-right: 8px;
        }
      }
      a {
        margin-left: 22px;
        font-size: 16px;
        line-height: 24px;
      }
    }

    .time-container {
      display: flex;
      padding-bottom: 16px;
      margin-top: 16px;
      border-bottom: 1px solid #f5f5f5;

      img {
        margin-right: 8px;
      }
    }

    .work-time-container {
      display: flex;
      flex-direction: column;
      padding-bottom: 16px;
      margin-top: 16px;
      border-bottom: 1px solid #f5f5f5;

      .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .work-time {
        display: flex;
        justify-content: space-between;
        padding-top: 16px;
        padding-bottom: 16px;
      }
    }
  }

  &-right-container {
    display: none;
    max-width: 362px;
    width: 100%;
    padding: 24px;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(#0a3770, 0.05);

    @media (min-width: 1024px) {
      display: block;
    }
  }

  .location-container {
    margin-bottom: 16px;
    .location {
      display: flex;

      img {
        margin-right: 8px;
      }
    }
    .map {
      margin-top: 16px;
      width: 314px;
      height: 130px;
      agm-map {
        width: 100%;
        height: 100%;
      }
    }
  }

  .work-time-container {
    .work-time-heading {
      margin-bottom: 16px;
    }
    .work-time-status {
      display: flex;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid $color-light-gray;
      img {
        margin-right: 8px;
      }
    }
    .work-time {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid $color-light-gray;
    }
  }
  .contacts-container {
    margin-top: 16px;
    .contacts-heading {
      margin-bottom: 16px;
    }
    .contact {
      display: flex;
      justify-content: space-between;
      padding-bottom: 16px;
      margin-bottom: 16px;
      border-bottom: 1px solid $color-light-gray;

      .contact-phones {
        display: flex;
        flex-direction: column;
      }
      .phone-number {
        color: $color-brand-blue;
      }
      .left {
      }
      .right {
        display: flex;
        align-items: center;

        img {
          padding-left: 16px;
          cursor: pointer;
        }
      }
    }
    .social {
      padding-bottom: 0;
      border-bottom: 0;
      margin-bottom: 0;
    }
  }
}

.classes-content {
  .classes-container-items {
    width: 100%;
    .stub-container {
      margin-top: 24px;
      margin-bottom: 32px;
    }
    .show-all-categories {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 32px;
      a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        white-space: nowrap;
        padding: 0px 16px;
      }
      .line {
        width: 100%;
        border-top: 1px solid $color-brand-blue-trans-35;
      }
    }
    .class-item {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
      padding: 16px 0;
      //border-bottom: 1px solid $color-light-gray;
      border: 1px solid #f5f5f5;
      box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
      border-radius: 3px;
      padding: 16px 16px;
      margin-bottom: 8px;

      @media (min-width: 1024px) {
        flex-direction: row;
      }

      .class-left {
        width: 100%;
        display: flex;
        align-items: flex-start;

        @media (min-width: 1024px) {
          align-items: center;
        }

        .time {
          min-height: 56px;
          padding-left: 8px;
          padding-right: 24px;
          margin-right: 24px;
          display: flex;
          align-items: center;
          border-right: 1px solid #f5f5f5;

          font-size: 16px;
          font-weight: 600;

          @media (min-width: 1024px) {
            min-height: initial;
          }
        }

        .class-info {
          width: 100%;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;

          @media (min-width: 1024px) {
            flex-wrap: nowrap;
          }
        }

        .info {
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin-top: 4px;

          @media (min-width: 1024px) {
            flex-wrap: nowrap;
          }

          .master-info {
            width: 100%;
            display: flex;
            align-items: center;
            padding-right: 12px;

            @media (min-width: 1024px) {
              border-right: 1px solid #f5f5f5;
            }

            img {
              width: 24px;
              height: 24px;
              margin-right: 8px;
              border-radius: 50px;
            }
          }
          .time-info {
            display: flex;
            align-items: center;
            padding-right: 12px;
            border-right: 1px solid #f5f5f5;

            @media (min-width: 1024px) {
              margin-left: 12px;
            }

            p {
              white-space: nowrap;
            }

            img {
              margin-right: 8px;
            }
          }
          .member-info {
            margin-left: 12px;

            span {
              white-space: nowrap;
            }
          }
        }
      }
      .class-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 1.6rem;
        padding-right: 1.6rem;

        @media (min-width: 1024px) {
          padding-top: 0;
          width: initial;
        }

        p {
          margin-right: 16px;
        }
        .sub {
          cursor: pointer;
          color: #186fda;
          padding-right: 14px;
        }
      }
    }
  }
}

.date-container {
  padding-bottom: 24px;
}

.stub-text {
  padding-top: 16px;
  max-width: 370px;
  
  span {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
  }
}

.book-btn {
  position: fixed;
  bottom: 24px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;

  @media (min-width: 1024px) {
    display: none;
  }

  button {
    width: 100%;
    box-shadow: 0px 15px 25px rgba(24, 111, 218, 0.25);
    border-radius: 5px;
  }
}
