<div class="search-wrapper">
  <div class="search-container">
    <app-search [mode]="2"></app-search>
  </div>
</div>

<div class="header-wrapper">
  <div *ngIf="isLoading" class="header">
    <div>
      <div class="skeleton-avatar"></div>
      <div class="skeleton-line" style="width: 200px; margin-left: 16px; margin-bottom: 0"></div>
    </div>
    <!--<div class="skeleton-line"></div>-->
  </div>
  <div *ngIf="!isLoading" class="header">
    <div>
      <div
        class="company-logo"
        [style.backgroundImage]="'url(' + companyInfo['logo'] + ')'"
      ></div>
      <div>
        <h2 class="heading-4">{{ companyInfo['title'] }}</h2>
        <div class="paragraph-regular-lightened">
          <ng-container *ngFor="let title of companyInfo['industriesTitle']; let i = index">
            {{ title | translate }} {{ i + 1 < companyInfo['industriesTitle'].length ? ', ' : '' }}
          </ng-container>
        </div>
      </div>
    </div>

    <div class="">
      <div class="rating">
        <div class="rating-info mobile-hidden">
          <bar-rating [rate]="companyInfo['rating']" [readOnly]="true" [max]="5"></bar-rating>
          <p class="paragraph-small-lightened reviews">{{ config.totalItems }} {{ 'reviews' | translate }}</p>
        </div>
        <div class="favorites" *ngIf="!apiService.isFavorites(companyInfo['id'])" (click)="addToFavorites(companyInfo)">
          <img src="assets/icons/Heart.svg" alt="" />
        </div>
        <div
          class="favorites"
          *ngIf="apiService.isFavorites(companyInfo['id'])"
          (click)="deleteFavorites(companyInfo['id'])"
        >
          <img src="assets/icons/active-heart.svg" alt="" />
        </div>
      </div>
      <div class="mobile-hidden">
        <div class="d-flex">
          <button *ngIf="this.companyInfo['online_payment']" (click)="purchase()" class="btn-regular btn-positive-outline head-button-purchase mr-2">
            <img src="assets/icons/cart.svg" alt="" /> {{ 'purchase' | translate }}
          </button>
          <button (click)="booking()" class="btn-regular btn-def head-button-booking">
            <img src="assets/icons/Classes-Today-Empty.svg" alt="" /> {{ 'book-button' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-wrapper">
  <div class="content">
    <div  *ngIf="isLoading" class="content-left-container">
      <div class="content-block-container skeleton-line" style="height: 440px"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line" style="height: 48px"></div>
      <div class="skeleton-line" style="height: 48px"></div>
      <div class="skeleton-line" style="height: 48px"></div>
    </div>
    <div *ngIf="!isLoading" class="content-left-container">
      <!-- СЛАЙДЕР ФОТО КОМПАНИИ -->
      <div class="content-block-container">
        <app-photo-slider *ngIf="companyInfo['photos']" [photos]="companyInfo['photos']"></app-photo-slider>

        <div class="mobile-only">
          <div class="rating-info">
            <bar-rating [rate]="companyInfo['rating']" [readOnly]="true" [max]="5"></bar-rating>
            <p class="paragraph-small-lightened reviews">{{ config.totalItems }} {{ 'reviews' | translate }}</p>
          </div>
          <div class="mobile-booking-button">
            <button (click)="booking()" class="btn-large btn-def head-button-booking">
              {{ 'book-button' | translate }}
            </button>
          </div>
          <div class="address-container">
            <div class="location">
              <img src="assets/icons/Location.svg" alt="" />
              <p class="paragraph-regular">{{ branchInfo['city'] }}, {{ branchInfo['street'] }}</p>
            </div>
            <!-- <a href="" class="link">{{ 'card-show-on-map' | translate }}</a> -->
          </div>
          <div class="time-container">
            <img src="assets/icons/Clock.svg" alt="" />
            <p *ngIf="todayWorkTime != ''" style="color: #4fbc6d" class="paragraph-regular">
              {{ 'open_today_to' | translate }} {{ todayWorkTime }}
            </p>
            <p *ngIf="todayWorkTime == ''" style="color: #ff552d" class="paragraph-regular">
              {{ 'not_working_today' | translate }}
            </p>
          </div>
          <div class="work-time-container">
            <div (click)="isShowMobileWorkTime = !isShowMobileWorkTime" class="title">
              <p class="paragraph-regular">{{ 'card-opening-hours' | translate }}</p>
              <img src="assets/icons/Select.svg" alt="" />
            </div>
            <ng-container *ngIf="isShowMobileWorkTime">
              <ng-container *ngFor="let day of branchInfo['times']; let i = index">
                <div *ngIf="day['is_active'] == 1" class="work-time">
                  <p class="paragraph-regular-lightened">{{ days[i] | translate }}</p>
                  <p class="paragraph-regular">{{ day['time'] }}</p>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </div>
      </div>

      <!-- БУКИНГ НА УСЛУГИ -->
      <div
        class="content-block-container"
        *ngIf="branchInfo['services'] && branchInfo['services'].length > 0 && this.companyInfo['session'] == 0"
      >
        <div class="content-block-header">
          <h2 class="heading-2">{{ 'card-services' | translate }}</h2>
        </div>
        <div class="booking-content">
          <div *ngFor="let service of services" class="accordion">
            <app-accordion2
              [data]="service"
              [currency]="companyInfo['currency']"
              [isCompanyClient]="(Object.keys(apiService.user).length && apiService.user['relation_branches'].includes(branchId))"
              (selectItem)="selectService($event)"
            ></app-accordion2>
          </div>
        </div>
      </div>

      <!-- БУКИНГ НА ЗАНЯТИЯ -->
      <div
        *ngIf="branchInfo['groups'] && branchInfo['groups'].length > 0 && this.companyInfo['session'] == 1"
        class="content-block-container"
      >
        <div class="content-block-header">
          <h2 class="heading-2">{{ 'card-classes' | translate }}</h2>
        </div>
        <div class="classes-content">
          <app-btn-switch [array]="['list', 'schedule']" [selectedValue]="groupDisplayMode" (selected)="setGroupDisplayMode($event)"></app-btn-switch>
          <ng-container *ngIf="groupDisplayMode == 0">
              <div class="stub-container" *ngIf="!groups.length">
                  <app-stub
                          class="stub-container"
                          *ngIf="!groups.length"
                          [mode]="'min'"
                          [img]="'assets/icons/no-appointments.svg'"
                          [text]="'card-classes-empty'"
                  ></app-stub>
              </div>

              <!-- Список занятий-->
              <ng-container *ngIf="groups.length">
                  <app-accordion2 *ngFor="let item of groups"
                          [data]="item"
                          (selectItem)="selectGroup($event, false)"
                          [isClasses]="true"
                          [isCompanyClient]="(Object.keys(apiService.user).length && apiService.user['relation_branches'].includes(branchId))"
                          [currency]="companyInfo['currency']"
                          (showPassInfo)="showProductDetailedModal($event)"
                          (lazyLoad)="lazyLoad($event)"
                  ></app-accordion2>
              </ng-container>
          </ng-container>
          <ng-container *ngIf="groupDisplayMode == 1">
              <div class="date-container">
                  <app-date-picker
                      #datePicker
                      (selectedDate)="selectDate($event)"
                      [selectStartDay]="selectedDate"
                  ></app-date-picker>
              </div>
              <div class="classes-container-items">
                  <div class="stub-container" *ngIf="!groups.length">
                      <app-stub
                              class="stub-container"
                              *ngIf="!groups.length"
                              [mode]="'min'"
                              [img]="'assets/icons/no-appointments.svg'"
                              [text]="eventsNextDate && eventsNextDate.next_date.length ? null : 'card-classes-empty'"
                      >
                          <div class="stub-text" *ngIf="eventsNextDate && eventsNextDate.next_date.length">
                              <ng-container *ngIf="!eventsNextDate?.label">
                    <span>{{ 'card-classes-next-date' | translate }}</span
                    > <span class="link" (click)="datePicker.goCalendarDate(eventsNextDate.next_date)">{{
                                  nextDate
                                  }}</span>
                              </ng-container>
                              <ng-container *ngIf="eventsNextDate?.label">
                    <span>{{ 'card-classes-next-date' | translate }}</span
                    > <span class="link" (click)="datePicker.goCalendarDate(eventsNextDate.next_date)">{{
                                  eventsNextDate.label | translate
                                  }}</span>
                              </ng-container>
                          </div></app-stub>
                  </div>

                  <!-- Букинг на занятия -->
                  <ng-container *ngFor="let category of groups">
                      <app-accordion2
                              [data]="category"
                              (selectItem)="selectGroup($event, false)"
                              [isClasses]="true"
                              [isCompanyClient]="(Object.keys(apiService.user).length && apiService.user['relation_branches'].includes(branchId))"
                              [currency]="companyInfo['currency']"
                              (showPassInfo)="subModalProductData = $event; isShowSubModal = true"
                              (lazyLoad)="lazyLoad($event)"
                      ></app-accordion2>
                  </ng-container>

                  <div *ngIf="!showAllGroups && groups.length > 5" class="show-all-categories">
                      <div class="line"></div>
                      <a href="javascript:;" (click)="showAllGroups = true" class="link">{{
                          'card-classes-show' | translate
                          }}</a>
                      <div class="line"></div>
                  </div>
              </div>
          </ng-container>
        </div>
      </div>

      <!-- БУКИНГ НА ПЕРСОНАЛЬНЫЕ ЗАНЯТИЯ -->
      <div *ngIf="personalGroups.length > 0 && this.companyInfo['session'] == 1" class="content-block-container">
        <div class="content-block-header">
          <h2 class="heading-2">{{ 'card-personal-classes' | translate }}</h2>
        </div>
        <div class="booking-content">
          <div *ngFor="let group of personalGroups" class="accordion">
            <app-accordion2
              [data]="group"
              [isPersonal]="true"
              [isCompanyClient]="(Object.keys(apiService.user).length && apiService.user['relation_branches'].includes(branchId))"
              [currency]="companyInfo['currency']"
              (selectItem)="selectGroup($event, true)"
              (showPassInfo)="showProductDetailedModal($event)"
            ></app-accordion2>
          </div>
        </div>
      </div>
      <ng-container *ngIf="Object.keys(branchInfo).indexOf('service_packages') != -1"><div *ngIf="Object.keys(branchInfo['service_packages']).length" class="subscriptions-container">
        <h2 class="heading-2 pb-4">{{ 'service_packages' | translate }}</h2>
        <div class="service_packages">
            <ng-container *ngFor="let pack of Object.keys(branchInfo['service_packages']).slice(0, 3)">
                <app-product-card
                        (showDetails)="showSubDetailedModal($event)"
                        (selectItem)="redirectToPurchaseConfirm($event, productType.COURSE)"
                        [type]="productType.COURSE"
                        [data]="branchInfo['service_packages'][pack]"
                ></app-product-card>
            </ng-container>
        </div>
        <button (click)="redirectToPurchase(productType.COURSE)" *ngIf="Object.keys(branchInfo['service_packages']).length > 3" class="link pt-2">Смотреть всё</button>
      </div>
      </ng-container>
      <ng-container *ngIf="Object.keys(branchInfo).indexOf('subscriptions') != -1">
        <div *ngIf="Object.keys(branchInfo['subscriptions']).length" class="subscriptions-container">
          <h2 class="heading-2 pb-4">{{ 'subscriptions' | translate }}</h2>
          <div class="subscriptions">
              <ng-container *ngFor="let sub of Object.keys(branchInfo['subscriptions']).slice(0, 3)">
                  <app-product-card
                          (showDetails)="showSubDetailedModal($event)"
                          (selectItem)="redirectToPurchaseConfirm($event, productType.SUBSCRIPTIONS)"
                          [type]="productType.SUBSCRIPTIONS"
                          [data]="branchInfo['subscriptions'][sub]"
                          [enablePurchase]="isEnabledPurchase"
                  ></app-product-card>
              </ng-container>
          </div>
          <button (click)="redirectToPurchase(productType.SUBSCRIPTIONS)" *ngIf="Object.keys(branchInfo['subscriptions']).length > 3" class="link pt-2">Смотреть всё</button>
        </div>
      </ng-container>

      <div *ngIf="companyInfo['description'] != ''" class="info-container">
        <div class="info-heading">
          <h2 class="heading-2">{{ 'card-about' | translate }}</h2>
        </div>
        <div class="info">
          <p class="paragraph-regular" [innerText]="companyInfo['description']"></p>
        </div>
      </div>

      <div class="contact-container">
        <div class="contact-heading">
          <h2 class="heading-2">{{ 'footer-links-contacts' | translate }}</h2>
        </div>
        <div class="contact-content">
          <div *ngIf="companyInfo['email'] != ''" class="contact">
            <p class="paragraph-regular-lightened">{{ 'card-info-contacts-email' | translate }}</p>
            <p class="paragraph-regular">{{ companyInfo['email'] }}</p>
          </div>
          <div class="contact">
            <p class="paragraph-regular-lightened">{{ 'card-info-contacts-phone' | translate }}</p>
            <div class="contact-phones">
              <a
                *ngFor="let phone of branchInfo['phones']"
                href="tel:+{{ phone }}"
                class="paragraph-regular phone-number"
                >+{{ phone }}</a
              >
            </div>
          </div>

          <div
            *ngIf="
              (companyInfo['fb_url'] && companyInfo['fb_url'] != 'undefined') ||
              (companyInfo['ig_url'] && companyInfo['ig_url'] != 'undefined') ||
              (companyInfo['site_url'] && companyInfo['site_url'] != 'undefined')
            "
            class="contact social"
          >
            <div class="left">
              <p class="paragraph-regular-lightened">{{ 'card-info-contacts-social' | translate }}</p>
            </div>
            <div class="right">
              <a
                *ngIf="companyInfo['site_url'] && companyInfo['site_url'] != 'undefined'"
                href="{{ companyInfo['site_url'] }}"
                target="_blank"
              >
                <img src="assets/icons/website.svg" alt="" />
              </a>
              <a
                *ngIf="companyInfo['fb_url'] && companyInfo['fb_url'] != 'undefined'"
                href="https://www.facebook.com/{{ companyInfo['fb_url'] }}"
                target="_blank"
              >
                <img src="assets/icons/facebook.svg" alt="" />
              </a>
              <a
                *ngIf="companyInfo['ig_url'] && companyInfo['ig_url'] != 'undefined'"
                href="https://www.instagram.com/{{ companyInfo['ig_url'] }}"
                target="_blank"
              >
                <img src="assets/icons/Instagram.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="team && team.length > 0" class="team-container">
        <div class="team-heading">
          <h2 class="heading-2">{{ 'card-masters' | translate }}</h2>
        </div>
        <div class="team-content">
          <div *ngFor="let employee of team" class="team-person">
            <img src="{{ apiUrl }}/company/employee/avatar?employee_id={{ employee['id'] }}" alt="" />
            <h4 class="heading-4">{{ employee['first_name'] }} {{ employee['last_name'] }}</h4>
          </div>
        </div>
      </div>

      <div *ngIf="allBranches.length > 0" class="location-container">
        <div class="location-heading">
          <h2 class="heading-2">{{ 'card-all-locations' | translate }}</h2>
        </div>
        <div class="location-content">
          <div *ngFor="let bran of allBranches" class="location-item">
            <div class="map">
              <agm-map [zoom]="16" [latitude]="bran['lat']" [longitude]="bran['lon']">
                <agm-marker
                  [iconUrl]="'/assets/icons/marker.svg'"
                  [latitude]="bran['lat']"
                  [longitude]="bran['lon']"
                ></agm-marker>
              </agm-map>
            </div>
            <div class="location">
              <img src="assets/icons/Location.svg" alt="" />
              <p class="paragraph-regular">{{ bran['city'] }}, {{ bran['street'] }}</p>
            </div>
            <a class="link" [routerLink]="'/card/' + companyInfo['id'] + '/' + bran['id']" href="">{{
              'show-all-services' | translate
            }}</a>
          </div>
        </div>
      </div>

      <div *ngIf="config.totalItems > 0" class="comment-container">
        <div class="comment-heading">
          <h2 class="heading-2">{{ 'card-reviews-title' | translate }}</h2>
          <p class="paragraph-regular-lightened">
            {{ 'card-reviews-info' | translate }}
          </p>
        </div>
        <div class="comment-items">
          <div *ngFor="let item of comments | paginate : config" class="comment-item">
            <div class="item-heading">
              <div class="user-info">
                <img src="{{ apiUrl }}/account/user/avatar?user_id={{ item['user_id'] }}" alt="" />
                <div class="comment-info">
                  <p class="paragraph-regular-accent name">
                    {{ item['user_first_name'] }} {{ item['user_last_name'] }}
                  </p>
                  <p class="paragraph-small-lightened date">
                    {{ 'card-reviews-published' | translate }} {{ item['date'] }}
                  </p>
                </div>
              </div>
              <bar-rating [rate]="item['rating']" [readOnly]="true" [max]="5"></bar-rating>
            </div>
            <div class="comment-text">
              <p class="paragraph-regular">{{ item['description'] }}</p>
            </div>
          </div>
        </div>

        <div class="has-text-centered">
          <pagination-template #p="paginationApi" [id]="config.id" (pageChange)="changeCommentPage($event)">
            <div class="custom-pagination">
              <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
                <a *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </a>
              </div>
              <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                  <span>{{ page.label }}</span>
                </a>
                <div *ngIf="p.getCurrent() === page.value">
                  <span>{{ page.label }}</span>
                </div>
              </div>

              <div class="pagination-next" [class.disabled]="p.isLastPage()">
                <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
              </div>
            </div>
          </pagination-template>
        </div>
      </div>
    </div>

    <div *ngIf="isLoading" class="content-right-container">
      <div class="heading">
        <div class="skeleton-line"></div>
      </div>
      <div class="location-container">
        <div class="skeleton-line" style="height: 200px"></div>
      </div>
      <div class="work-time-container">
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
      </div>
      <div class="contacts-container" style="margin-top: 48px">
        <div class="skeleton-line"></div>
        <div class="skeleton-line"></div>
      </div>
    </div>
    <div *ngIf="!isLoading" class="content-right-container">
      <div class="heading">
        <h4 class="heading-4">{{ 'card-info-location' | translate }}</h4>
      </div>
      <div class="location-container">
        <div class="location">
          <img src="assets/icons/Location.svg" alt="" />
          <p class="paragraph-regular">{{ branchInfo['city'] }}, {{ branchInfo['street'] }}</p>
        </div>
        <div class="map">
          <agm-map
                  *ngIf="locationInfo.length != 0"
                  [zoom]="16"
                  [latitude]="locationInfo[0]"
                  [longitude]="locationInfo[1]"
          >
            <agm-marker
                    [iconUrl]="'/assets/icons/marker.svg'"
                    [latitude]="locationInfo[0]"
                    [longitude]="locationInfo[1]"
            >
            </agm-marker>
          </agm-map>
        </div>
      </div>
      <div class="work-time-container">
        <div class="work-time-heading">
          <h4 class="heading-4">{{ 'card-info-workhours' | translate }}</h4>
        </div>
        <div class="work-time-status">
          <img src="assets/icons/Clock.svg" alt="" />
          <p *ngIf="todayWorkTime != ''" style="color: #4fbc6d" class="paragraph-regular">
            {{ 'open_today_to' | translate }} {{ todayWorkTime }}
          </p>
          <p *ngIf="todayWorkTime == ''" style="color: #ff552d" class="paragraph-regular">
            {{ 'not_working_today' | translate }}
          </p>
        </div>
        <ng-container *ngFor="let day of branchInfo['times']; let i = index">
          <div *ngIf="day['is_active'] == 1" class="work-time">
            <p class="paragraph-regular-lightened">{{ days[i] | translate }}</p>
            <p class="paragraph-regular">{{ day['time'] }}</p>
          </div>
        </ng-container>
      </div>

      <div class="contacts-container">
        <div class="contacts-heading">
          <h4 class="heading-4">{{ 'card-info-contacts' | translate }}</h4>
        </div>
        <div *ngIf="companyInfo['email'] != ''" class="contact">
          <p class="paragraph-regular-lightened">{{ 'card-info-contacts-email' | translate }}</p>
          <p class="paragraph-regular">{{ companyInfo['email'] }}</p>
        </div>
        <div class="contact">
          <p class="paragraph-regular-lightened">{{ 'card-info-contacts-phone' | translate }}</p>
          <div class="contact-phones">
            <a *ngFor="let phone of branchInfo['phones']" href="tel:+{{ phone }}" class="paragraph-regular phone-number"
            >+{{ phone }}</a
            >
          </div>
        </div>

        <div
                *ngIf="
            (companyInfo['fb_url'] && companyInfo['fb_url'] != 'undefined') ||
            (companyInfo['ig_url'] && companyInfo['ig_url'] != 'undefined') ||
            (companyInfo['site_url'] && companyInfo['site_url'] != 'undefined')
          "
                class="contact social"
        >
          <div class="left">
            <p class="paragraph-regular-lightened">{{ 'card-info-contacts-social' | translate }}</p>
          </div>
          <div class="right">
            <a
                    *ngIf="companyInfo['site_url'] && companyInfo['site_url'] != 'undefined'"
                    href="{{ companyInfo['site_url'] }}"
                    target="_blank"
            >
              <img src="assets/icons/website.svg" alt="" />
            </a>
            <a
                    *ngIf="companyInfo['fb_url'] && companyInfo['fb_url'] != 'undefined'"
                    href="https://www.facebook.com/{{ companyInfo['fb_url'] }}"
                    target="_blank"
            >
              <img src="assets/icons/facebook.svg" alt="" />
            </a>
            <a
                    *ngIf="companyInfo['ig_url'] && companyInfo['ig_url'] != 'undefined'"
                    href="https://www.instagram.com/{{ companyInfo['ig_url'] }}"
                    target="_blank"
            >
              <img src="assets/icons/Instagram.svg" alt="" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="visibleBookBtn" class="book-btn" (click)="booking()">
  <button class="btn-regular btn-def">{{ 'book-button' | translate }}</button>
</div>

<app-subscriptions-detailed-modal
  *ngIf="isShowSubDetailedModal"
  [data]="subModalData"
  [currency]="companyInfo['currency']"
  (closeModalEvent)="closeSubDetailedModal()"
></app-subscriptions-detailed-modal>
<app-subscriptions-modal
  *ngIf="isShowSubModal"
  [product]="subModalProductData"
  [data]="branchInfo['subscriptions']"
  [currency]="companyInfo['currency']"
  (closeModalEvent)="closeSubModal()"
></app-subscriptions-modal>
