@import '../../../../../variables.scss';

.forgot-header-text {
  margin-top: 16px;
}

.modal-header-step-two {
  display: flex;

  .back-margin {
    margin-right: 18px;
    width: 29px;
    height: 29px;
  }
}

.email-img {
  padding: 30px 0;
}

button {
  width: 100%;
  color: #ffffff;
}
.soc-g-button {
  background: #eb6960;
  border-radius: 3px;
}
.soc-fb-button {
  background: #4879b4;
  border-radius: 3px;
  margin-top: 16px;
}

.input-icon-container {
  margin-bottom: 25px;
}
.phone-number-container {
  margin-bottom: 25px;

  .phone-number {
    display: flex;
    align-items: center;
    border: 2px solid $color-stroke;
    border-radius: 3px;
    max-height: 48px;

    &:hover {
      border: 2px solid $color-stroke-hover;
    }

    input {
      margin: 0;
      border: 0;
    }

    .code-phone {
      padding: 13px 0 13px 16px;
      line-height: 18px;
      border-left: 2px solid $color-stroke;
    }

    app-select {
      border-radius: 3px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .phone-number-error {
    border: 2px solid $color-warn-red !important;

    .code-phone {
      border-left: 2px solid $color-warn-red !important;
    }
    input {
      color: $color-warn-red !important;
      &::placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }
    }
  }
}

.remember-container {
  margin-bottom: 18px;
}

.select-header {
  min-height: 44px !important;
  border-radius: 0;
}
.email-conf {
  color: $color-brand-blue;
}
