<div *ngIf="currentStep == Steps.general">
  <div class="dialog-header">
    <div class="modal-header-step-two">
      <div (click)="goToLoginWithEmail()" class="icon-control back-margin">
        <img class="close-button" src="assets/icons/arrow-back.svg" alt="" />
      </div>
      <h2 class="heading-2">{{ 'register-modal-profile-creating' | translate }}</h2>
    </div>
    <div (click)="closeModal()" class="icon-control">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
  </div>

  <div class="dialog-body">
    <!-- Имя -->
    <div class="input-icon-container">
      <div
        [ngClass]="{ 'icon-input-error': nameInput.getError('required') }"
        class="icon-input icon-profile icon-left"
      ></div>
      <input
        [ngClass]="{ 'input-error': nameInput.getError('required') }"
        (blur)="blurFirstName()"
        [(ngModel)]="registerInfo['first_name']"
        class="input input-margin"
        type="text"
        placeholder="{{ 'register-modal-your-name' | translate }}"
      />
      <p *ngIf="nameInput.getError('required') == true" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
    </div>

    <!-- Фамилия -->
    <div class="input-icon-container">
      <div
              [ngClass]="{ 'icon-input-error': surnameInput.getError('required') }"
              class="icon-input icon-profile icon-left"
      ></div>
      <input
              [ngClass]="{ 'input-error': surnameInput.getError('required') }"
              (blur)="blurLastName()"
              [(ngModel)]="registerInfo['last_name']"
              class="input input-margin"
              type="text"
              placeholder="{{ 'register-modal-your-surname' | translate }}"
      />
      <p *ngIf="surnameInput.getError('required') == true" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
    </div>

    <!-- Номер телефона -->
    <div class="phone-number-container">
      <div
        [ngClass]="{ 'phone-number-error': phoneInput.getError('errorPhone') || phoneInput.getError('exist') }"
        class="phone-number"
      >
        <app-phone-code-select [options]="phoneCodes" [(ngModel)]="phoneCode" appendTo="body"></app-phone-code-select>
        <p class="paragraph-regular code-phone">{{ phoneCode['phone_code'] }}</p>
        <input
          appNumeric
          numericType="number"
          type="text"
          [ngClass]="{ 'icon-input-error': phoneInput.getError('errorPhone') || phoneInput.getError('exist') }"
          [(ngModel)]="registerInfo['phone_number']"
          (blur)="blurPhone()"
          class="input input-def input-margin"
          placeholder="{{ 'register-modal-your-phone' | translate }}"
        />
      </div>
      <p *ngIf="phoneInput.getError('errorPhone') == true" class="paragraph-small error-lable">
        {{ 'phone-rule' | translate }}
      </p>
      <p *ngIf="phoneInput.getError('exist') == true" class="paragraph-small error-lable">
        {{ 'phone-used' | translate }}
      </p>
    </div>

    <!-- Эл. почта -->
    <div class="input-icon-container">
      <div
        [ngClass]="{ 'icon-input-error': emailInput.getError('errorEmail') || emailInput.getError('exist') }"
        class="icon-input icon-email icon-left"
      ></div>
      <input
        [ngClass]="{ 'input-error': emailInput.getError('errorEmail') || emailInput.getError('exist') }"
        [(ngModel)]="registerInfo['email']"
        (blur)="blurEmail()"
        class="input input-margin"
        type="text"
        placeholder="{{ 'register-modal-your-email' | translate }}"
      />
      <p *ngIf="emailInput.getError('errorEmail') == true" class="paragraph-small error-lable">
        {{ 'invalid-email-format' | translate }}
      </p>
      <p *ngIf="emailInput.getError('exist') == true" class="paragraph-small error-lable">
        {{ 'email-used' | translate }}
      </p>
    </div>

    <!-- Пароль -->
    <div class="input-icon-container">
      <div
        [ngClass]="{ 'icon-input-error': passwordInput.getError('passwordError') }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{ 'input-error': passwordInput.getError('passwordError') }"
        (blur)="blurPassword()"
        [(ngModel)]="registerInfo['password']"
        class="input input-margin"
        type="password"
        placeholder="{{ 'register-modal-your-password' | translate }}"
      />
      <p *ngIf="passwordInput.getError('passwordError') == true" class="paragraph-small error-lable">
        {{ 'pass-rule' | translate }}
      </p>
    </div>

    <!-- Чекбокс согласия с условиями использования -->
    <div class="remember-container">
      <div class="checkbox-container">
        <div class="checkbox">
          <input type="checkbox" [(ngModel)]="iAgree" id="checkbox" />
          <label for="checkbox" class="icon-success icon-small icon-left"></label>
        </div>
        <label for="checkbox" class="paragraph-small"
          >{{ 'register-modal-i-agree' | translate }}
          <a class="link" href="https://bodywell.io/TermsOfUse.html">{{ 'register-modal-terms' | translate }}</a>
          {{ 'register-modal-and' | translate }}
          <a class="link" href="https://bodywell.io/PrivacyPolicy.html">{{
            'register-modal-privacy-policy' | translate
          }}</a></label
        >
      </div>
      <p *ngIf="iAgreeInput.getError('error') == true" class="paragraph-small error-lable">
        {{ 'apply-terms' | translate }}
      </p>
    </div>

    <button (click)="register()" class="btn-large btn-def">{{ 'register-modal-create-profile' | translate }}</button>
  </div>
  <div class="dialog-footer dialog-footer--justify-center">
    <p class="paragraph-small">{{ 'register-modal-have-account' | translate }} &nbsp;</p>
    <a class="link" (click)="goToLoginWithEmail()">{{ 'sign-in' | translate }}</a>
  </div>
</div>

<!-- <div *ngIf="currentStep == Steps.confEmail" class="modal">
        <div class="modal-content">
          <div class="modal-header">
              <div class="modal-header-step-two">
                  <div (click)="goToGeneralStep()" class="icon-control back-margin">
                    <img class="close-button" src="assets/icons/arrow-back.svg" alt="">
                  </div>
                  <h2 class="heading-2">{{'register-modal-heading-step-conf-email' | translate}}</h2>
              </div>
              <div (click)="closeModal()" class="icon-control">
                <img class="close-button" src="assets/icons/close.svg" alt="">
              </div>
          </div>
          <div class="hr"></div>
          <div class="modal-body">
             <img class="email-img" src="assets/icons/Email.svg" alt="">
             <p class="paragraph-small">{{'register-modal-conf-email-part-1' | translate}} <span class="email-conf">{{registerInfo['email']}}</span> {{'register-modal-conf-email-part-2' | translate}}</p>
          </div>
          <div class="hr"></div>
          <div class="modal-footer">
              <div class="modal-footer-body">
                  <p class="paragraph-small">{{'register-modal-not-your' | translate}}	&nbsp;</p> <a class="link" (click)="goToGeneralStep()" [routerLink]="">{{'register-modal-go-back' | translate}}</a>
              </div>
          </div>
        </div>
    </div> -->

<div *ngIf="currentStep == Steps.confEmail">
  <div class="dialog-header">
    <div class="modal-header-step-two">
      <div (click)="goToGeneralStep()" class="icon-control back-margin">
        <img class="close-button" src="assets/icons/arrow-back.svg" alt="" />
      </div>
      <h2 class="heading-2">{{ 'register-code' | translate }}</h2>
    </div>
    <div (click)="closeModal()" class="icon-control">
      <img class="close-button" src="assets/icons/close.svg" alt="" />
    </div>
    <div class="dialog-sub-title">
      <p class="paragraph-small">
        {{ 'register-code-info-part1' | translate }}
        <span class="email-conf">{{ registerInfo['email'] }}</span>
        {{ 'register-code-info-part2' | translate }}
      </p>
    </div>
  </div>
  <div class="dialog-body">
    <div class="input-icon-container">
      <div
        [ngClass]="{ 'icon-input-error': codeInput.getError('required') || codeInput.getError('invalid') }"
        class="icon-input icon-password icon-left"
      ></div>
      <input
        [ngClass]="{ 'input-error': codeInput.getError('required') || codeInput.getError('invalid') }"
        (blur)="blurCode()"
        [(ngModel)]="code"
        class="input input-margin"
        type="text"
        placeholder="{{ 'register-code' | translate }}"
      />
      <p *ngIf="codeInput.getError('required') == true" class="paragraph-small error-lable">
        {{ 'empty-field' | translate }}
      </p>
      <p *ngIf="codeInput.getError('invalid') == true" class="paragraph-small error-lable">
        {{ 'register-code-invalid' | translate }}
      </p>
    </div>
    <button (click)="sendCode()" class="btn-large btn-def">{{ 'forgot-confirm' | translate }}</button>
  </div>
  <div class="dialog-footer dialog-footer--justify-center">
    <p class="paragraph-small">{{ 'register-modal-not-your' | translate }} &nbsp;</p>
    <a class="link" (click)="goToGeneralStep()" [routerLink]="">{{ 'register-modal-go-back' | translate }}</a>
  </div>
</div>
