.photo-slieder {
    position: relative;
    display: flex;
    cursor: pointer;

    .activePhoto {
        width: 100%;
        //height: 300px;
        background-position-x: 50%;
        background-position-y: 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: black;
    }
   
    .left-button {
      display: none;
    }
    .right-button {
        display: none;
    }
    
    
    .button {
       
        position: absolute;
        height: 100%;
        width: 107px;
        top: 0;
        div {
            position: absolute;
            width: 107px;
            height: 4px;
            background: white;
            border-radius: 1px;
            bottom: 24px;
            opacity: 0.65;
        }
       
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 3px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
    }
}

.small-mode {
    min-width: 520px;
}


@media only screen and (max-width: 1024px) {
    .photo-slieder {
        position: relative;
        display: flex;
        min-width: 0;
        cursor: pointer;
       
        .left-button {
            display: block;
            position: absolute;
            top: calc(50% - 15px);
            width: 30px;
            margin-left: 12px;
            img {
                background: none;
            }
        }
        .right-button {
            display: block;
            position: absolute;
            top: calc(50% - 15px);
            right: 0px;
            width: 30px;
            margin-right: 12px;
            img {
                background: none;
            }
        }
        
        .button {
            display: none;
            position: absolute;
            height: 100%;
            width: 107px;
            top: 0;
            div {
                position: absolute;
                width: 107px;
                height: 4px;
                background: white;
                border-radius: 1px;
                bottom: 24px;
                opacity: 0.65;
            }
           
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 3px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%);
        }
    }
    
    .small-mode {
        min-width: 0;
    }
    
}