<div [ngClass]="{'small-mode': smallMode}" class="photo-slieder">
  <div *ngIf="photos.length > 1" (click)="back()" class="left-button">
    <img src="assets/img/slider_left.svg" alt="">
  </div>
  <div *ngIf="photos.length > 1" (click)="next()" class="right-button">
    <img src="assets/img/slider_right.svg" alt="">
  </div>
  <!--<img src="{{activePhoto}}" alt="">-->
  <div class="activePhoto">
    <img *ngIf="activePhoto" [src]="activePhoto" alt="">
  </div>

  <div *ngFor="let photo of photos; let i=index" [style.left]="(24 + (i * (width + 24))) + 'px'" [style.width]="width + 'px'"
    (mouseenter)="mouseenter(photo, i)" class="button">
    <div [style.width]="width + 'px'" [style.opacity]="i == activeIndex ? 1 : 0.65"></div>
  </div>
</div>