@import '../../../../../variables.scss';

.container {
  .header {
    height: 80px;
    /*margin-bottom: 24px;*/
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-light-gray;

    &-title {
      font-size: 24px;
      font-weight: 600;
    }

    &-back-button {
      margin-right: 12px;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #e8e8e8;
      border-radius: 9999px;
      cursor: pointer;

      svg {
        fill: #b0b9c2;
      }
    }
  }

  .master-container {
    display: flex;
    padding: 16px;
    align-items: center;
    border: 1px solid $color-light-gray;
    box-shadow: 0 2px 2px rgba(#000, 0.1);

    .edit-icon {
      display: flex;
      padding-left: 8px;

      svg {
        fill: #b0b9c2;
      }
    }

    .select-master {
      display: flex;
      align-items: center;
      margin-left: 16px;
      cursor: pointer;
      position: relative;

      .selected-master-img {
        width: 32px;
        height: 32px;
        margin-right: 8px;
        border-radius: 50%;
      }
      .arrow {
        margin-left: 8px;
      }

      .custom-select-items {
        position: absolute;
        max-height: 230px;
        overflow: auto;
        top: 38px;
        left: -25px;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
        min-width: 200px;
        z-index: 100;
      }
      .custom-select-item {
        padding: 16px;
        border-bottom: 1px solid $color-light-gray;
        display: flex;
        align-items: center;

        &:hover {
          background-color: $color-bg-blue-dk;
        }
      }
    }
  }

  .date-container {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-light-gray;
  }

  .time-container {
    .time-content {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $color-light-gray;
      margin-bottom: 16px;
      .time-head {
        display: flex;
        align-items: center;
        margin-bottom: 20px;

        img {
          margin-right: 16px;
        }
      }
    }
  }
  .time-items {
    display: flex;
    flex-wrap: wrap;

    button {
      width: 100%;
      max-width: 115px;
      margin-right: 16px;
      margin-bottom: 16px;
    }
    button:nth-child(6n + 6) {
      margin-right: 0;
    }
  }

  .stub-container .time-container {
    padding-top: 16px;
    width: 100%;
    
    .time-items {
      flex-wrap: nowrap;
      justify-content: center;
    }
  }

  .classes-container-items {
    width: 100%;
    padding-bottom: 24px;

    .show-all-categories {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 16px;
      margin-bottom: 32px;
      a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 600;
        white-space: nowrap;
        padding: 0px 16px;
      }
      .line {
        width: 100%;
        border-top: 1px solid $color-brand-blue-trans-35;
      }
    }
    .class-item {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 16px 0;
      //border-bottom: 1px solid $color-light-gray;
      border: 1px solid #f5f5f5;
      box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
      border-radius: 3px;
      padding: 16px 16px;
      margin-bottom: 8px;

      &:last-of-type {
        margin-bottom: 24px;
      }

      .class-left {
        width: 100%;
        display: flex;

        .time {
          display: flex;
          align-items: center;
          padding-left: 8px;
          padding-right: 24px;
          border-right: 1px solid #f5f5f5;
          margin-right: 24px;

          font-size: 16px;
          font-weight: 600;
        }

        .class-info {
          width: 100%;
          display: flex;
          justify-content: space-between;
        }

        .info {
          display: flex;
          align-items: center;
          margin-top: 4px;

          .master-info {
            display: flex;
            align-items: center;
            padding-right: 12px;
            border-right: 1px solid #f5f5f5;
            img {
              width: 24px;
              height: 24px;
              margin-right: 8px;
              border-radius: 50px;
            }
          }
          .time-info {
            display: flex;
            align-items: center;
            margin-left: 12px;
            padding-right: 12px;
            border-right: 1px solid #f5f5f5;

            img {
              margin-right: 8px;
            }
          }
          .member-info {
            margin-left: 12px;
          }
        }
      }
      .class-right {
        display: flex;
        align-items: center;

        p {
          margin-right: 16px;
        }
        .sub {
          cursor: pointer;
          color: #186fda;
          padding-right: 14px;
        }
      }
    }
    .class-item:nth-last-of-type {
      border-bottom: 1px solid $color-light-gray;
    }
  }
  .classes-container-personal {
    padding-top: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    border-top: 1px solid $color-light-gray;
    .classes-heading {
      margin-bottom: 24px;
    }

    .accordion {
      padding-bottom: 8px;
    }
  }
}

.stub-container {
  padding-bottom: 32px;
}

.stub-text {
  padding-top: 16px;
  max-width: 370px;

  span {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    .master-container {
      display: flex;
      align-items: center;
      border-top: 1px solid $color-light-gray;
      border-bottom: 1px solid $color-light-gray;

      .select-master {
        display: flex;
        align-items: center;
        margin-left: 16px;
        cursor: pointer;
        position: relative;

        .selected-master-img {
          width: 32px;
          height: 32px;
          margin-right: 8px;
          border-radius: 50%;
        }
        .arrow {
          margin-left: 8px;
        }

        .custom-select-items {
          position: absolute;
          max-height: 230px;
          overflow: auto;
          top: 38px;
          left: -25px;
          background-color: white;
          border-radius: 3px;
          box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
          min-width: 200px;
          z-index: 100;
        }
        .custom-select-item {
          padding: 16px;
          border-bottom: 1px solid $color-light-gray;
          display: flex;
          align-items: center;

          &:hover {
            background-color: $color-bg-blue-dk;
          }
        }
      }
    }

    .time-container {
      .time-content {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid $color-light-gray;
        margin-bottom: 16px;
        .time-head {
          display: flex;
          align-items: center;
          margin-bottom: 20px;

          img {
            margin-right: 16px;
          }
        }
      }
    }
    .time-items {
      display: flex;
      button {
        width: calc(50% - 16px);
        margin-right: 8px;
        margin-bottom: 16px;
        margin-left: 8px;
        max-width: none;
      }
      button:nth-child(6n + 6) {
        margin-right: 8px;
      }
    }

    .classes-container-items {
      width: 100%;
      padding-bottom: 16px;

      .show-all-categories {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        margin-bottom: 32px;
        a {
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          white-space: nowrap;
          padding: 0px 16px;
        }
        .line {
          width: 100%;
          border-top: 1px solid $color-brand-blue-trans-35;
        }
      }
      .class-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 16px 0;
        border-bottom: 1px solid $color-light-gray;
        flex-direction: column;

        .class-left {
          width: 100%;
          align-items: flex-start;

          .class-info {
            flex-wrap: wrap;
          }

          .time {
            min-height: 56px;
            margin-top: 14px;
            padding-left: 16px;
            padding-right: 16px;
            margin-right: 16px;
          }

          .info {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            .master-info {
              width: 100%;
              display: flex;
              align-items: center;
              min-width: 0;
              padding-top: 4px;
              padding-bottom: 6px;
              border-right: 0;

              img {
                width: 24px;
                height: 24px;
                margin-right: 8px;
                border-radius: 50px;
              }
            }
            .time-info {
              display: flex;
              align-items: center;
              margin-left: 0;

              p {
                white-space: nowrap;
              }

              img {
                margin-right: 8px;
              }
            }
          }
        }
        .class-right {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          padding-top: 1.6rem;
          padding-right: 1.6rem;
          p {
            margin-left: 16px;
          }
        }
      }
    }
    .classes-container-personal {
      padding-bottom: 32px;
      margin-bottom: 32px;
      .classes-heading {
        margin-bottom: 24px;
      }

      .accordion {
        padding-bottom: 8px;
      }
    }
  }
}

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 32px;
}

.accordion-groups {
  border-bottom: 1px solid $color-light-gray;

  &-header {
    padding: 24px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.accordion-groups-button {
  margin-right: 0.8rem;
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(#D7DEE5, 0.5);
  border-radius: 9999px;
  transition: background-color ease-out 0.2s;
  cursor: pointer;

  img {
    transition: transform ease-out 0.2s;
    transform: rotate(-90deg);
  }

  &.open {
    background-color: rgba(#d7dee5, 0.25);
    transition: background-color ease-out 0.2s;

    img {
      transition: transform ease-out 0.2s;
      transform: rotate(0);
    }
  }
}
