<div class="container">
  <div class="header">
    <div *ngIf="!isWidget" class="header-back-button" (click)="prevStep()">
      <svg class="svg-icon svg-icon--size-m svg-icon--color-gray" style="transform: rotate(90deg)">
        <use xlink:href="assets/icons/icons-sprite.svg#ArrowDown"></use>
      </svg>
    </div>
    <div *ngIf="isWidget" class="header-title">
      {{companyTitle}}
    </div>
    <ng-container *ngIf="!isWidget">
      <div *ngIf="isService || (productId && isPersonal)" class="header-title">
        {{ 'booking-time-step-date-time-title' | translate }}
      </div>
      <div *ngIf="isGroup && !isPersonal" class="header-title">{{ 'booking-time-step-group-title' | translate }}</div>
    </ng-container>
  </div>
  <app-widget-tabs *ngIf="isWidget"></app-widget-tabs>
  <!-- Выбор сотрудника -->
  <div
    class="master-container"
    *ngIf="!isIndividualBusiness && (isService || (productId && isPersonal))"
    (click)="goToEmployeeSelect()"
  >
    <p class="paragraph-regular-lightened">{{ 'booking-time-specialist' | translate }}</p>
    <div class="select-master">
      <ng-container *ngIf="selectedEmployee == null">
        <!--<img src="assets/demoAvatar.png" alt="" class="selected-master-img">-->
        <p class="paragraph-regular">{{ 'booking-employee-step-any-allowed' | translate }}</p>
      </ng-container>
      <ng-container *ngIf="selectedEmployee != null">
        <img
          src="{{ apiUrl }}/company/employee/avatar?employee_id={{ selectedEmployee?.id }}"
          alt=""
          class="selected-master-img"
        />
        <p class="paragraph-regular">{{ selectedEmployee['first_name'] }} {{ selectedEmployee['last_name'] }}</p>
      </ng-container>
    </div>

    <div class="edit-icon">
      <svg class="svg-icon svg-icon--size-m svg-icon--color-gray">
        <use xlink:href="assets/icons/icons-sprite.svg#Edit"></use>
      </svg>
    </div>
  </div>

  <div class="date-container">
    <app-date-picker
      #datePicker
      (selectedDate)="setSelectDateInterval($event)"
      [selectStartDay]="selectedDate"
    ></app-date-picker>
  </div>

  <app-booking-filters *ngIf="isGroup"
          [data]="bookingFilterData"
          (result)="filterResult($event)"
  ></app-booking-filters>

  <div *ngIf="isService || (productId && isPersonal)" class="time-container">
    <div
      class="stub-container"
      *ngIf="!morningTime.length && !dinnerTime.length && !eveningTime.length && !isTimesLoading"
    >
      <app-stub
        class="stub-container"
        [mode]="'min'"
        [img]="'assets/icons/no-appointments.svg'"
        [text]="eventsNextDate && eventsNextDate.next_date.length ? null : 'card-services-empty'"
      >
        <div class="stub-text" *ngIf="eventsNextDate && eventsNextDate.next_date.length">
          <ng-container *ngIf="!eventsNextDate?.label">
            <span>{{ 'card-classes-next-date' | translate }}</span
            > <span class="link" (click)="datePicker.goCalendarDate(eventsNextDate.next_date)">{{ nextDate }}</span>
          </ng-container>
          <ng-container *ngIf="eventsNextDate?.label">
            <span>{{ 'card-classes-next-date' | translate }}</span
            > <span class="link" (click)="datePicker.goCalendarDate(eventsNextDate.next_date)">{{
              eventsNextDate.label | translate
            }}</span>
          </ng-container>
        </div>
        <!--<div class="time-container">
          <div class="time-items">
            <button
              *ngFor="let item of eventsNextDate?.times"
              (click)="selectedTime(item)"
              class="btn-regular btn-ghost mr-3"
            >
              {{ item['from_time'] | amDateFormat : 'HH:mm' }}
            </button>
          </div>
        </div>-->
      </app-stub>
    </div>
    <ng-container *ngIf="!isTimesLoading">
      <div *ngIf="morningTime?.length > 0" class="time-content">
        <div class="time-head">
          <img src="assets/icons/morning.svg" alt="" />
          <h5 class="heading-6">{{ 'booking-time-morning' | translate }}</h5>
        </div>
        <div class="time-items">
          <button *ngFor="let item of morningTime" (click)="selectedTime(item)" class="btn-regular btn-ghost">
            {{ item['from_time'] | amDateFormat : 'HH:mm' }}
          </button>
        </div>
      </div>
      <div *ngIf="dinnerTime?.length > 0" class="time-content">
        <div class="time-head">
          <img src="assets/icons/day.svg" alt="" />
          <h5 class="heading-6">{{ 'booking-time-day' | translate }}</h5>
        </div>
        <div class="time-items">
          <button *ngFor="let item of dinnerTime" (click)="selectedTime(item)" class="btn-regular btn-ghost">
            {{ item['from_time'] | amDateFormat : 'HH:mm' }}
          </button>
        </div>
      </div>
      <div *ngIf="eveningTime?.length > 0" style="border: none" class="time-content">
        <div class="time-head">
          <img src="assets/icons/evening.svg" alt="" />
          <h5 class="heading-6">{{ 'booking-time-evening' | translate }}</h5>
        </div>
        <div class="time-items">
          <button *ngFor="let item of eveningTime" (click)="selectedTime(item)" class="btn-regular btn-ghost">
            {{ item['from_time'] | amDateFormat : 'HH:mm' }}
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="isTimesLoading">
      <div class="loading">
        <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
      </div>
    </ng-container>
  </div>

  <div *ngIf="isGroup && !isPersonal" class="classes-container-items">
    <div class="stub-container" *ngIf="groups?.length == 0">
      <app-stub
        class="stub-container"
        *ngIf="groups?.length == 0"
        [mode]="'min'"
        [img]="'assets/icons/no-appointments.svg'"
        [text]="eventsNextDate && eventsNextDate.next_date.length ? null : 'card-classes-empty'"
      >
        <div class="stub-text" *ngIf="eventsNextDate && eventsNextDate.next_date.length">
          <ng-container *ngIf="isFiltered">
            <span>{{ 'booking-filters-no-match' | translate }}</span>
          </ng-container>
          <ng-container *ngIf="!isFiltered">
            <ng-container *ngIf="!eventsNextDate?.label">
            <span>{{ 'card-classes-next-date' | translate }}</span
            > <span class="link" (click)="datePicker.goCalendarDate(eventsNextDate.next_date)">{{ nextDate }}</span>
            </ng-container>
            <ng-container *ngIf="eventsNextDate?.label">
            <span>{{ 'card-classes-next-date' | translate }}</span
            > <span class="link" (click)="datePicker.goCalendarDate(eventsNextDate.next_date)">{{
              eventsNextDate.label | translate
              }}</span>
            </ng-container>
          </ng-container>
        </div>
      </app-stub>
    </div>

    <!-- Букинг на занятия -->
    <ng-container *ngFor="let group of groups">
      <app-accordion2
        [data]="group"
        (selectItem)="selectedTime($event, true)"
        [isClasses]="true"
        [currency]="companyInfo['currency']"
        [isOpen]="isFiltered"
        (showPassInfo)="subModalProductData = $event; isShowSubModal = true"
      ></app-accordion2>
    </ng-container>
  </div>
  <div *ngIf="isGroup && personalGroups?.length > 0" class="classes-container-personal">
    <div class="classes-heading">
      <h2 class="heading-2">{{ 'card-personal-classes' | translate }}</h2>
    </div>
    <div class="booking-content">
      <div *ngFor="let group of personalGroups" class="accordion">
        <ng-container>
          <!--<app-accordion2
            [data]="group"
            (selectItem)="selectedTime($event)"
            [category]="group.category_title"
            [currency]="currency"
          ></app-accordion2>-->
        </ng-container>
      </div>
    </div>
  </div>
</div>

<app-subscriptions-modal
  *ngIf="isShowSubModal"
  [product]="subModalProductData"
  [data]="companyInfo.currentBranch['subscriptions']"
  [currency]="companyInfo['currency']"
  (closeModalEvent)="isShowSubModal = false"
></app-subscriptions-modal>
