@import '../../../../../variables.scss';

.block-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  border-top: 1px solid $color-light-gray;

  & > * {
    width: 100%;
  }
}

.phone-number-container {
  margin-bottom: 25px;

  .phone-number {
    display: flex;
    align-items: center;
    border: 2px solid $color-stroke;
    border-radius: 3px;
    max-height: 48px;

    .select-header {
      min-height: 44px !important;
      border-radius: 0 !important;
    }

    .code-phone {
      display: flex;
      align-items: center;
      height: 44px;
      padding-left: 8px;
    }

    &:hover {
      border: 2px solid $color-stroke-hover;
    }

    input {
      margin: 0;
      border: 0;
    }
  }

  .phone-number-error {
    border: 2px solid $color-warn-red !important;

    .code-phone {
      border-left: 2px solid $color-warn-red !important;
    }
    input {
      color: $color-warn-red !important;
      &::placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }

      &:-ms-input-placeholder {
        color: $color-warn-red-65;
      }
    }
  }
}