<div [formGroup]="loginForm">
  <div class="block-wrapper">
    <app-input
      formControlName="password"
      type="password"
      [placeholder]="'auth-modal-your-password' | translate"
      [icon]="'password'"
      [iconPosition]="'left'"
      [errors]="isSubmitted && loginForm.get('password').errors"
    ></app-input>

    <button (click)="onSubmit()" class="btn-large btn-def">{{ 'sign-in' | translate }}</button>
  </div>

  <div class="block-wrapper">
    <div class="flex justify-center">
      <p class="paragraph-small">{{ 'auth-modal-forgot-password' | translate }} &nbsp;</p>
      <a class="link" (click)="goToRestorePassword()">{{ 'auth-modal-restore-password' | translate }}</a>
    </div>
  </div>
</div>
