.selected-value {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-list-item-name {
  padding-right: 8px;
  padding-left: 8px;
}

.phone-list-item-code {
  color: #828282;
}
