<ng-select
  [items]="phoneCodes"
  [searchable]="false"
  [clearable]="false"
  [(ngModel)]="selectedPhoneCode"
  class="custom-select phone-select"
  (change)="onChangeHandler($event.value)"
  [appendTo]="appendTo"
  [disabled]="disabled"
>
  <ng-template ng-label-tmp let-item="item">
    <div class="selected-value">
      <i class="flag flag-{{ item.code }}"></i>
    </div>
  </ng-template>
  <ng-template ng-header-tmp>
    <input type="text" (input)="searchPhoneCode($event.target.value)" />
  </ng-template>
  <ng-template ng-option-tmp let-item="item">
    <i class="flag flag-{{ item.value.code }}"></i>
    <div class="phone-list-item-name">{{ item.value.name }}</div>
    <div class="phone-list-item-code">+{{ item.value.phone_code }}</div>
  </ng-template>
</ng-select>
