@import "../../../variables";

.container-businesses {
  display: flex;
  justify-content: center;
  padding-top: 64px;
  border-bottom: 1px solid $color-light-gray;
  .content-container {
    width: 1280px;
    .content {
      padding: 0 55px 0 55px;
      .businesses-container {
        display: flex;
        flex-direction: column;
        .heading-2 {
          .region {
            font-size: 24px;
            color: $color-brand-blue;
          }
        }
        .businesses {
          margin-top: 32px;
          display: flex;
          justify-content: space-between;
          .businesses-column {
            cursor: pointer;
            .businesses-column-header {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 270px;
              max-width: 270px;
              height: 170px;
              overflow: hidden;
              img {
                height: auto;
                width: 100%;
              }
              border-radius: 3px;
            }
            .businesses-column-body {
              width: 100%;
              max-width: 270px;
              word-break: break-word;
              margin-top: 16px;

              h3 {
                margin-bottom: 8px;
              }

              p {
                max-width: 270px;
              }
            }

            &:hover {
              h3 {
                color: $color-brand-blue;
              }
              .businesses-column-header {
                box-shadow: 0px 5px 20px rgba(10, 55, 112, 0.05);
              }
            }
          }
        }
        a {
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          white-space: nowrap;
          margin-top: 32px;
          margin-bottom: 64px;
        }
      }
    }
  }
}

.no-border {
  border: none !important;
}

.bg-enabled {
  background-color: $color-weak-light-gray;
}

@media only screen and (max-width: 1024px) {
  .container-businesses {
    padding-top: 32px;

    .content-container {
      .content {
        padding: 0 24px 0 24px !important;
      }
    }
  }

  .businesses-container {

    .businesses {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .businesses-column {
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .businesses-column-header {
          text-align: center;
          overflow: hidden;
          img {
            width: 100%;
            height: auto !important;
            max-width: 327px !important;
            max-height: 205px !important;
          }
        }
      }
    }

    .link {
      margin-top: 0 !important;
      margin-bottom: 32px !important;
    }
  }
}
