<div *ngIf="data.length" class="container-businesses" [ngClass]="{ 'bg-enabled': (enableBackground) }">
    <div class="content-container">
        <div class="content">
            <div class="businesses-container">
                <h2 class="heading-2">{{'popular-for-you' | translate}} <span class="region">{{locationService.selectedLocation['city'] | translate}}, {{locationService.selectedLocation['country'] | translate}}</span></h2>
                <div class="businesses">
                    <div *ngFor="let business of data" class="businesses-column" routerLink="/card/{{business['company_id']}}/{{business['id']}}">
                        <div class="businesses-column-header">
                            <img src="{{(!business['photo']) ? '/assets/img/no-pic.png' : business['photo']}}"
                                 alt="">
                        </div>
                        <div class="businesses-column-body">
                            <h3 class="heading-3">{{ business['company_name'] }}</h3>
                            <p class="paragraph-regular-lightened">{{ business['city'] }}, {{ business['street'] }}</p>
                            <p class="paragraph-regular-lightened">{{ business['industry'] | translate }}</p>
                        </div>
                    </div>
                </div>
                <a class="link" (click)="search()" href="javascript:;" routerLinkActive="router-link-active" >{{'popular-explore' | translate}}</a>
            </div>
        </div>
    </div>
</div>