<div
  class="search-result"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()"
>
  <div *ngIf="isMobileFilters" class="mobile-open-filter">
    <div *ngIf="!isMobileCategoryFilters" class="body-container">
      <!--            <div (click)="isMobileCategoryFilters = true" class="category-filter">-->
      <!--                <h4 class="heading-4">{{'search-filter-category' | translate}}</h4>-->
      <!--                <img src="assets/icons/Select.svg" alt="">-->
      <!--            </div>-->
      <div class="mobile-filter-section">
        <div class="mobile-filter-section-head">
          <h2 class="heading-4">{{ 'search-filter-location' | translate }}</h2>
          <a (click)="clearLocationFilter()" class="link">{{ 'cancel' | translate }}</a>
        </div>
        <div class="location-body">
          <div id="head-location-filter" class="filter-location-mobile">
            <span class="paragraph-regular">{{
              this.locationFilter != '' ? this.locationFilter : ('choose-button' | translate)
            }}</span>
            <img
              [ngStyle]="{ transform: isShowLocationMenu == true ? 'rotate(-180deg)' : 'rotate(0deg)' }"
              class="arrow-icon"
              src="assets/icons/Select.svg"
              alt=""
            />
            <div id="location-menu" *ngIf="isShowLocationMenu" class="filter-menu-mobile">
              <div class="filter-body">
                <ng-container *ngFor="let item of locations">
                  <div
                    *ngFor="let city of item['cities']"
                    (click)="selectLocationFilter(city)"
                    class="filter-menu-item filter-menu-item-border"
                  >
                    <span class="paragraph-regular">{{ city }}, {{ item['country'] }}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mobile-filter-section">
        <div class="mobile-filter-section-head">
          <h2 class="heading-4">{{ 'search-filter-rating' | translate }}</h2>
          <a (click)="clearLocationFilter()" class="link">{{ 'cancel' | translate }}</a>
        </div>
        <div class="mobile-rating-body">
          <bar-rating
            [rate]="mobileRating"
            (rateChange)="changeMobileRating($event, true)"
            [readOnly]="false"
            [max]="5"
          >
          </bar-rating>
        </div>
      </div>
    </div>
    <!--        <div *ngIf="isMobileCategoryFilters" class="body-container">-->
    <!--            <div (click)="opendMobileCategoryFilterBeauty = !opendMobileCategoryFilterBeauty" class="category-filter">-->
    <!--                <h4 class="heading-4">{{'explore-beauty' | translate}}</h4>-->
    <!--                <img src="assets/icons/Select.svg" alt="">-->
    <!--            </div>-->
    <!--            <div *ngIf="opendMobileCategoryFilterBeauty" class="check-filter-menu">-->
    <!--                <div class="filter-menu-item filter-menu-item-border">-->
    <!--                    <div class="checkbox-container">-->
    <!--                        <div class="checkbox checkbox-regular">-->
    <!--                            <input #selectAllBeauty [(ngModel)]="isCheckAllIndEducation"-->
    <!--                                (change)="selectAllIndustriesFilter((selectAllBeauty).checked, 'company_industry_category_beauty')"-->
    <!--                                type="checkbox" id="checkbox-regularBeauty" />-->
    <!--                            <label for="checkbox-regularBeauty" class="icon-success icon-small icon-left"></label>-->
    <!--                        </div>-->
    <!--                        <label for="checkbox-regularBeauty"-->
    <!--                            class="paragraph-regular">{{'search-filter-all' | translate}}</label>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--                <div class="filter-items">-->
    <!--                    <div *ngFor="let item of industries['company_industry_category_beauty']; let i = index" class="filter-menu-item">-->
    <!--                        <div class="checkbox-container">-->
    <!--                            <div class="checkbox checkbox-regular">-->
    <!--                                <input [checked]="isSelectedIndFilerItem(item['id'])" #indCheckBox-->
    <!--                                    (change)="onSaveIndFilter((indCheckBox).checked, item)" type="checkbox"-->
    <!--                                    id="checkbox-regular{{i}}" />-->
    <!--                                <label for="checkbox-regular{{i}}" class="icon-success icon-small icon-left"></label>-->
    <!--                            </div>-->
    <!--                            <label for="checkbox-regular{{i}}"-->
    <!--                                class="paragraph-regular">{{item['title'] | translate}}</label>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div (click)="opendMobileCategoryFilterHealth = !opendMobileCategoryFilterHealth" class="category-filter">-->
    <!--                <h4 class="heading-4">{{'explore-health' | translate}}</h4>-->
    <!--                <img src="assets/icons/Select.svg" alt="">-->
    <!--            </div>-->
    <!--            <div *ngIf="opendMobileCategoryFilterHealth" class="check-filter-menu">-->
    <!--                    <div class="filter-menu-item filter-menu-item-border">-->
    <!--                        <div class="checkbox-container">-->
    <!--                            <div class="checkbox checkbox-regular">-->
    <!--                                <input #selectAllHealth [(ngModel)]="isCheckAllIndHealth"-->
    <!--                                    (change)="selectAllIndustriesFilter((selectAllHealth).checked, 'company_industry_category_health')"-->
    <!--                                    type="checkbox" id="checkbox-regularHealth" />-->
    <!--                                <label for="checkbox-regularHealth" class="icon-success icon-small icon-left"></label>-->
    <!--                            </div>-->
    <!--                            <label for="checkbox-regularHealth"-->
    <!--                                class="paragraph-regular">{{'search-filter-all' | translate}}</label>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="filter-items">-->
    <!--                        <div *ngFor="let item of industries['company_industry_category_health']; let i = index" class="filter-menu-item">-->
    <!--                            <div class="checkbox-container">-->
    <!--                                <div class="checkbox checkbox-regular">-->
    <!--                                    <input [checked]="isSelectedIndFilerItem(item['id'])" #indCheckBox-->
    <!--                                        (change)="onSaveIndFilter((indCheckBox).checked, item)" type="checkbox"-->
    <!--                                        id="checkbox-regular{{i}}" />-->
    <!--                                    <label for="checkbox-regular{{i}}" class="icon-success icon-small icon-left"></label>-->
    <!--                                </div>-->
    <!--                                <label for="checkbox-regular{{i}}"-->
    <!--                                    class="paragraph-regular">{{item['title'] | translate}}</label>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            <div (click)="opendMobileCategoryFilterSport = !opendMobileCategoryFilterSport" class="category-filter">-->
    <!--                <h4 class="heading-4">{{'explore-sport' | translate}}</h4>-->
    <!--                <img src="assets/icons/Select.svg" alt="">-->
    <!--            </div>-->
    <!--            <div *ngIf="opendMobileCategoryFilterSport" class="check-filter-menu">-->
    <!--                    <div class="filter-menu-item filter-menu-item-border">-->
    <!--                        <div class="checkbox-container">-->
    <!--                            <div class="checkbox checkbox-regular">-->
    <!--                                <input #selectAllSport [(ngModel)]="isCheckAllIndSport"-->
    <!--                                    (change)="selectAllIndustriesFilter((selectAllSport).checked, 'company_industry_category_sport')"-->
    <!--                                    type="checkbox" id="checkbox-regularSport" />-->
    <!--                                <label for="checkbox-regularSport" class="icon-success icon-small icon-left"></label>-->
    <!--                            </div>-->
    <!--                            <label for="checkbox-regularSport"-->
    <!--                                class="paragraph-regular">{{'search-filter-all' | translate}}</label>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="filter-items">-->
    <!--                        <div *ngFor="let item of industries['company_industry_category_sport']; let i = index" class="filter-menu-item">-->
    <!--                            <div class="checkbox-container">-->
    <!--                                <div class="checkbox checkbox-regular">-->
    <!--                                    <input [checked]="isSelectedIndFilerItem(item['id'])" #indCheckBox-->
    <!--                                        (change)="onSaveIndFilter((indCheckBox).checked, item)" type="checkbox"-->
    <!--                                        id="checkbox-regular{{i}}" />-->
    <!--                                    <label for="checkbox-regular{{i}}" class="icon-success icon-small icon-left"></label>-->
    <!--                                </div>-->
    <!--                                <label for="checkbox-regular{{i}}"-->
    <!--                                    class="paragraph-regular">{{item['title'] | translate}}</label>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            <div (click)="opendMobileCategoryFilterEducation = !opendMobileCategoryFilterEducation" class="category-filter">-->
    <!--                <h4 class="heading-4">{{'explore-education' | translate}}</h4>-->
    <!--                <img src="assets/icons/Select.svg" alt="">-->
    <!--            </div>-->
    <!--            <div *ngIf="opendMobileCategoryFilterEducation" class="check-filter-menu">-->
    <!--                    <div class="filter-menu-item filter-menu-item-border">-->
    <!--                        <div class="checkbox-container">-->
    <!--                            <div class="checkbox checkbox-regular">-->
    <!--                                <input #selectAllEducation [(ngModel)]="isCheckAllIndEducation"-->
    <!--                                    (change)="selectAllIndustriesFilter((selectAllEducation).checked, 'company_industry_category_education')"-->
    <!--                                    type="checkbox" id="checkbox-regularEducation" />-->
    <!--                                <label for="checkbox-regularEducation" class="icon-success icon-small icon-left"></label>-->
    <!--                            </div>-->
    <!--                            <label for="checkbox-regularEducation"-->
    <!--                                class="paragraph-regular">{{'search-filter-all' | translate}}</label>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="filter-items">-->
    <!--                        <div *ngFor="let item of industries['company_industry_category_education']; let i = index" class="filter-menu-item">-->
    <!--                            <div class="checkbox-container">-->
    <!--                                <div class="checkbox checkbox-regular">-->
    <!--                                    <input [checked]="isSelectedIndFilerItem(item['id'])" #indCheckBox-->
    <!--                                        (change)="onSaveIndFilter((indCheckBox).checked, item)" type="checkbox"-->
    <!--                                        id="checkbox-regular{{i}}" />-->
    <!--                                    <label for="checkbox-regular{{i}}" class="icon-success icon-small icon-left"></label>-->
    <!--                                </div>-->
    <!--                                <label for="checkbox-regular{{i}}"-->
    <!--                                    class="paragraph-regular">{{item['title'] | translate}}</label>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--        </div>-->
    <div *ngIf="!isMobileCategoryFilters" class="bottom-container">
      <button (click)="saveMobileFilters()" class="btn-regular btn-def">{{ 'search-filter-apply' | translate }}</button>
    </div>
    <div *ngIf="isMobileCategoryFilters" class="bottom-container">
      <button (click)="selectIndustriesFilter(true)" class="btn-regular btn-def">
        {{ 'search-filter-apply' | translate }}
      </button>
    </div>
  </div>
  <div class="top-container">
    <div class="top-content-container">
      <div class="top-content">
        <div class="heading-content">
          <app-search (search)="searchEvent($event)" [mode]="2"></app-search>
        </div>
      </div>
    </div>
  </div>
  <div class="container-filters">
    <div class="content-container">
      <div class="content">
        <div class="left-filters">
          <!--                    <div id="head-category-filter" class="filter">-->
          <!--                        <span class="paragraph-regular">{{'search-filter-category' | translate}}</span>-->
          <!--                        <img [ngStyle]="{'transform': isShowCategoryMenu == true ? 'rotate(-180deg)' : 'rotate(0deg)'}"-->
          <!--                            class="arrow-icon" src="assets/icons/Select.svg" alt="">-->
          <!--                        <div id="category-menu" *ngIf="isShowCategoryMenu" class="filter-menu">-->
          <!--                            <div *ngFor="let item of industries | keyvalue" (click)="selectCategoryFilter(item.key)"-->
          <!--                                class="filter-menu-item filter-menu-item-border">-->
          <!--                                <span class="paragraph-regular">{{item.key | translate}}</span>-->
          <!--                                <img class="arrow-icon" src="assets/icons/Select.svg" alt="">-->
          <!--                            </div>-->
          <!--                            <div (click)="clearIndustriesFilter()" class="filter-menu-item filter-menu-item-border">-->
          <!--                                <span class="paragraph-regular">{{'search-filter-reset' | translate}}</span>-->
          <!--                            </div>-->
          <!--                            <ng-container *ngIf="categoryFilter != ''">-->
          <!--                                <div class="check-filter-menu">-->
          <!--                                    <div class="filter-menu-item filter-menu-item-border">-->
          <!--                                        <div class="checkbox-container">-->
          <!--                                            <div class="checkbox checkbox-regular">-->
          <!--                                                <input #selectAll [(ngModel)]="isCheckAllInd"-->
          <!--                                                    (change)="selectAllIndustriesFilter((selectAll).checked, categoryFilter)"-->
          <!--                                                    type="checkbox" id="checkbox-regular999" />-->
          <!--                                                <label for="checkbox-regular999"-->
          <!--                                                    class="icon-success icon-small icon-left"></label>-->
          <!--                                            </div>-->
          <!--                                            <label for="checkbox-regular999"-->
          <!--                                                class="paragraph-regular">{{'search-filter-all' | translate}}</label>-->
          <!--                                        </div>-->
          <!--                                    </div>-->
          <!--                                    <div class="filter-items">-->
          <!--                                        <div *ngFor="let item of industries[categoryFilter]; let i = index"-->
          <!--                                            class="filter-menu-item">-->
          <!--                                            <div class="checkbox-container">-->
          <!--                                                <div class="checkbox checkbox-regular">-->
          <!--                                                    <input [checked]="isSelectedIndFilerItem(item['id'])" #indCheckBox-->
          <!--                                                        (change)="onSaveIndFilter((indCheckBox).checked, item)"-->
          <!--                                                        type="checkbox" id="checkbox-regular{{i}}" />-->
          <!--                                                    <label for="checkbox-regular{{i}}"-->
          <!--                                                        class="icon-success icon-small icon-left"></label>-->
          <!--                                                </div>-->
          <!--                                                <label for="checkbox-regular{{i}}"-->
          <!--                                                    class="paragraph-regular">{{item['title'] | translate}}</label>-->
          <!--                                            </div>-->
          <!--                                        </div>-->
          <!--                                    </div>-->

          <!--                                    <div class="filter-iputs">-->
          <!--                                        <span-->
          <!--                                            (click)="closeIndustriesFilter()">{{'search-filter-cancel' | translate}}</span>-->
          <!--                                        <button (click)="selectIndustriesFilter()"-->
          <!--                                            class="btn-regular btn-def">{{'search-filter-apply' | translate}}</button>-->
          <!--                                    </div>-->
          <!--                                </div>-->
          <!--                            </ng-container>-->

          <!--                        </div>-->
          <!--                    </div>-->
          <!--<div id="head-location-filter" class="filter">
                        <span class="paragraph-regular">{{'search-filter-location' | translate}}</span>
                        <img [ngStyle]="{'transform': isShowLocationMenu == true ? 'rotate(-180deg)' : 'rotate(0deg)'}"
                            class="arrow-icon" src="assets/icons/Select.svg" alt="">
                        <div id="location-menu" *ngIf="isShowLocationMenu" class="filter-menu">
                            <div class="filter-body">
                                <ng-container *ngFor="let item of locations">
                                    <div *ngFor="let city of item['cities']" (click)="selectLocationFilter(city)"
                                        class="filter-menu-item filter-menu-item-border">
                                        <span class="paragraph-regular">{{city}}, {{item['country']}}</span>
                                    </div>
                                </ng-container>
                            </div>

                            <div (click)="clearLocationFilter()" class="filter-menu-item filter-menu-item-border">
                                <span class="paragraph-regular">{{'search-filter-reset' | translate}}</span>
                            </div>
                        </div>
                    </div>-->
          <div id="head-rating-filter" class="filter">
            <span class="paragraph-regular">{{ 'search-filter-rating' | translate }}</span>
            <img
              [ngStyle]="{ transform: isShowRatingMenu == true ? 'rotate(-180deg)' : 'rotate(0deg)' }"
              class="arrow-icon"
              src="assets/icons/Select.svg"
              alt=""
            />
            <div id="rating-menu" *ngIf="isShowRatingMenu" class="filter-menu rating-menu">
              <ng-container>
                <div class="check-filter-menu rating-filter-menu">
                  <div class="filter-menu-item filter-menu-item-border">
                    <div class="checkbox-container">
                      <div class="checkbox checkbox-regular">
                        <input
                          #selectAllRating
                          [(ngModel)]="isCheckAllInd"
                          (change)="selectAllFilterFilter(selectAllRating.checked)"
                          type="checkbox"
                          id="checkbox-regular9991"
                        />
                        <label for="checkbox-regular9991" class="icon-success icon-small icon-left"></label>
                      </div>
                      <label for="checkbox-regular999" class="paragraph-regular">{{
                        'search-filter-all' | translate
                      }}</label>
                    </div>
                  </div>
                  <div class="filter-items rating-items">
                    <div class="filter-menu-item">
                      <div class="checkbox-container rating-filter-item">
                        <div class="checkbox checkbox-regular">
                          <input
                            [checked]="isSelectedRatingFilerItem(1)"
                            #indCheckBox1
                            (change)="onSaveRatingFilter(indCheckBox1.checked, 1)"
                            type="checkbox"
                            id="checkbox-rating-1"
                          />
                          <label for="checkbox-rating-1" class="icon-success icon-small icon-left"></label>
                        </div>
                        <label for="checkbox-rating-1" class="paragraph-regular">
                          <bar-rating [rate]="1" [readOnly]="true" [max]="5"></bar-rating>
                        </label>
                      </div>
                    </div>
                    <div class="filter-menu-item">
                      <div class="checkbox-container rating-filter-item">
                        <div class="checkbox checkbox-regular">
                          <input
                            [checked]="isSelectedRatingFilerItem(2)"
                            #indCheckBox2
                            (change)="onSaveRatingFilter(indCheckBox2.checked, 2)"
                            type="checkbox"
                            id="checkbox-rating-2"
                          />
                          <label for="checkbox-rating-2" class="icon-success icon-small icon-left"></label>
                        </div>
                        <label for="checkbox-rating-2" class="paragraph-regular">
                          <bar-rating [rate]="2" [readOnly]="true" [max]="5"></bar-rating>
                        </label>
                      </div>
                    </div>
                    <div class="filter-menu-item">
                      <div class="checkbox-container rating-filter-item">
                        <div class="checkbox checkbox-regular">
                          <input
                            [checked]="isSelectedRatingFilerItem(3)"
                            #indCheckBox3
                            (change)="onSaveRatingFilter(indCheckBox3.checked, 3)"
                            type="checkbox"
                            id="checkbox-rating-3"
                          />
                          <label for="checkbox-rating-3" class="icon-success icon-small icon-left"></label>
                        </div>
                        <label for="checkbox-rating-3" class="paragraph-regular">
                          <bar-rating [rate]="3" [readOnly]="true" [max]="5"></bar-rating>
                        </label>
                      </div>
                    </div>
                    <div class="filter-menu-item">
                      <div class="checkbox-container rating-filter-item">
                        <div class="checkbox checkbox-regular">
                          <input
                            [checked]="isSelectedRatingFilerItem(4)"
                            #indCheckBox4
                            (change)="onSaveRatingFilter(indCheckBox4.checked, 4)"
                            type="checkbox"
                            id="checkbox-rating-4"
                          />
                          <label for="checkbox-rating-4" class="icon-success icon-small icon-left"></label>
                        </div>
                        <label for="checkbox-rating-4" class="paragraph-regular">
                          <bar-rating [rate]="4" [readOnly]="true" [max]="5"></bar-rating>
                        </label>
                      </div>
                    </div>
                    <div class="filter-menu-item">
                      <div class="checkbox-container rating-filter-item">
                        <div class="checkbox checkbox-regular">
                          <input
                            [checked]="isSelectedRatingFilerItem(5)"
                            #indCheckBox5
                            (change)="onSaveRatingFilter(indCheckBox5.checked, 5)"
                            type="checkbox"
                            id="checkbox-rating-5"
                          />
                          <label for="checkbox-rating-5" class="icon-success icon-small icon-left"></label>
                        </div>
                        <label for="checkbox-rating-5" class="paragraph-regular">
                          <bar-rating [rate]="5" [readOnly]="true" [max]="5"></bar-rating>
                        </label>
                      </div>
                    </div>
                  </div>

                  <div class="filter-iputs">
                    <span (click)="closeRatingFilter()"> {{ 'search-filter-cancel' | translate }}</span>
                    <button (click)="selectRatingFilter()" class="btn-regular btn-def">
                      {{ 'search-filter-apply' | translate }}
                    </button>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
          <div class="mobile-filter">
            <ng-container *ngIf="!isMobileFilters">
              <p (click)="isMobileFilters = true" class="paragraph-regular-accent">
                {{ 'search-filter-mobile' | translate }}
              </p>
            </ng-container>
            <ng-container *ngIf="isMobileFilters && !isMobileCategoryFilters">
              <div class="mob-filter-head">
                <img (click)="isMobileFilters = false" src="assets/icons/arrow-back.svg" alt="" />
                <h2 class="heading-2">{{ 'search-filter-mobile' | translate }}</h2>
              </div>
            </ng-container>
            <ng-container *ngIf="isMobileFilters && isMobileCategoryFilters">
              <div class="mob-filter-head">
                <img (click)="isMobileCategoryFilters = false" src="assets/icons/arrow-back.svg" alt="" />
                <h2 class="heading-2">{{ 'search-filter-mobile' | translate }}</h2>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="right-filters">
          <ng-container *ngIf="!isMobileFilters">
            <span class="paragraph-regular">{{ 'search-filter-showmap' | translate }}</span>
            <label class="switch">
              <input [(ngModel)]="mode" type="checkbox" />
              <span class="slider round"></span>
            </label>
          </ng-container>
          <ng-container *ngIf="isMobileFilters && !isMobileCategoryFilters">
            <button (click)="clearAllFilters()" class="btn-regular btn-smooth">{{ 'cancel-all' | translate }}</button>
          </ng-container>
          <ng-container *ngIf="isMobileFilters && isMobileCategoryFilters">
            <button (click)="clearIndustriesFilter()" class="btn-regular btn-smooth">{{ 'cancel' | translate }}</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="container-body">
    <div class="content-container">
      <div class="content">
        <div *ngIf="(!mode && mobile) || !mobile" class="body-left">
          <div
            *ngFor="let item of searchResult; let i = index"
            [ngClass]="{ 'item-result-full': mode == false }"
            class="item-result"
          >
            <div class="mode">
              <div [attr.data]="i" class="card scroll-object">
                <div class="head">
                  <div class="title-container">
                    <img
                      [routerLink]="'/card/' + item['company_id'] + '/' + item['branch_id']"
                      src="{{item['logo']}}"
                      alt=""
                    />
                    <div [routerLink]="'/card/' + item['company_id'] + '/' + item['branch_id']" class="title-info">
                      <h2 class="heading-2">{{ item['title'] }}</h2>
                      <p class="paragraph-regular-lightened">
                        <ng-container *ngFor="let industry of item['industries']; let i = index">
                          <ng-container *ngIf="i <= 2">{{ industry | translate }}</ng-container>
                          <ng-container *ngIf="i < 2 && item['industries'].length > 1">, </ng-container>
                        </ng-container>
                        <ng-container *ngIf="item['industries'].length > 3">...</ng-container>
                      </p>
                    </div>
                  </div>
                  <div class="raiting-container">
                    <div class="rating-info">
                      <bar-rating [rate]="item['rating']" [readOnly]="true" [max]="5"> </bar-rating>
                      <p class="paragraph-small-lightened reviews">
                        {{ item['comments_count'] }} {{ 'reviews' | translate }}
                      </p>
                    </div>
                    <div
                      class="favorites"
                      *ngIf="!apiService.isFavorites(item['company_id'])"
                      (click)="addToFavorites(item['company_id'], item['branch_id'])"
                    >
                      <img src="assets/icons/Heart.svg" alt="" />
                    </div>
                    <div
                      class="favorites"
                      *ngIf="apiService.isFavorites(item['company_id'])"
                      (click)="deleteFavorites(item['company_id'])"
                    >
                      <img src="assets/icons/active-heart.svg" alt="" />
                    </div>
                  </div>
                </div>
                <div class="rating-info-mobile">
                  <bar-rating [rate]="item['rating']" [readOnly]="true"></bar-rating>
                  <p class="paragraph-small-lightened reviews">
                    {{ item['comments_count'] }} {{ 'reviews' | translate }}
                  </p>
                </div>
                <div *ngIf="mode || mobile" class="images">
                  <app-photo-slider [smallMode]="true" [photos]="item['photos']"> </app-photo-slider>
                </div>
                <div class="body-result">
                  <div class="info-container info-container-first">
                    <img src="assets/icons/Location.svg" alt="" />
                    <p class="paragraph-regular">{{ item['city'] }}, {{ item['street'] }}</p>
                  </div>
                  <div class="info-container">
                    <img src="assets/icons/Clock.svg" alt="" />
                    <p *ngIf="workTime(item) != false" style="color: #4fbc6d" class="paragraph-regular">
                      {{ 'open_today_to' | translate }} {{ workTime(item) }}
                    </p>
                    <p *ngIf="workTime(item) == false" style="color: #ff552d" class="paragraph-regular">
                      {{ 'not_working_today' | translate }}
                    </p>
                  </div>
                  <div class="description">
                    <p class="paragraph-regular" [innerText]="item['description']"></p>
                  </div>
                  <div class="booking-container">
                    <p class="paragraph-extra-small-accent-lightened">
                      {{ 'search-bizservices' | translate }}
                    </p>
                    <div *ngIf="item['session'] == 0" class="booking-items">
                      <ng-container *ngFor="let bookItem of item['products']; let idx = index">
                        <div *ngIf="idx < 3" class="booking-item">
                          <div class="left-container">
                            <div class="booking-title paragraph-regular-accent">
                              {{ bookItem['title'] }}
                            </div>
                            <div class="booking-pricing">
                              <p class="paragraph-small-lightened">
                                {{ bookItem['duration'] }} {{ 'min' | translate }}
                              </p>
                            </div>
                          </div>
                          <div class="right-container">
                            <p *ngIf="bookItem['price_max'] == 0" class="paragraph-small">
                              {{ 'from' | translate }} {{ bookItem['price'] / 100 }} {{ item['currency_code'] }}.
                            </p>
                            <p *ngIf="bookItem['price_max'] > 0" class="paragraph-small">
                              {{ bookItem['price'] / 100 }} - {{ bookItem['price_max'] / 100 }}
                              {{ item['currency_code'] }}.
                            </p>
                            <!-- <button class="btn-regular btn-smooth"> Записаться </button> -->
                          </div>
                        </div>
                      </ng-container>
                    </div>
                    <div *ngIf="item['session'] == 1" class="classes-content">
                      <div class="classes-container-items">
                        <ng-container *ngFor="let itemProduct of item['products']; let idx = index">
                          <div class="class-item" *ngIf="idx < 3">
                            <div class="class-left">
                              <p class="paragraph-regular-accent">{{ itemProduct['title'] }}</p>
                              <!-- <div class="time-info">
                                                                    <img src="assets/icons/Clock.svg" alt="">
                                                                    <p class="paragraph-small">{{getTime(itemProduct['fromDate'])}}
                                                                        – {{getTime(itemProduct['toDate'])}}</p>
                                                                </div> -->
                              <div class="info">
                                <!-- <div class="master-info">
                                                            <img src="{{apiUrl}}/company/employee/avatar?employee_id={{item['employeeId']}}" alt="">
                                                            <p class="paragraph-small">{{item['employeeName']}}</p>
                                                          </div> -->
                                <!-- <div class="time-info">
                                                            <img src="assets/icons/Clock.svg" alt="">
                                                            <p class="paragraph-small">{{getTime(item['fromDate'])}} – {{getTime(item['toDate'])}}</p>
                                                          </div> -->
                              </div>
                            </div>
                            <!-- <div class="class-right">
                              <p style="white-space: nowrap;" class="paragraph-small">
                                {{'from' | translate}} {{itemProduct['price'] / 100}}
                                {{item['currency_code']}}</p>

                            </div> -->
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    <div class="link-more">
                      <a [routerLink]="'/card/' + item['company_id'] + '/' + item['branch_id']" class="link" href="">{{
                        'search-showservices' | translate
                      }}</a>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="!mode && !mobile" class="mode-full">
                <div class="images">
                  <app-photo-slider [smallMode]="true" [photos]="item['photos']"> </app-photo-slider>
                </div>
              </div>
            </div>
          </div>
          <div class="search-empty" *ngIf="searchResult.length <= 0">
            <div *ngIf="!isLoaded" class="loading">
              <i class="pi pi-spin pi-spinner" style="font-size: 5rem"></i>
            </div>
            <ng-container *ngIf="isLoaded">
              <div>
                <img src="assets/icons/search-empty.svg" alt="" />
              </div>
              <h2 class="heading-2">{{ 'search-empty-title' | translate }}</h2>
              <p class="paragraph-regular">{{ 'search-empty-info' | translate }}</p>
            </ng-container>
          </div>
        </div>
        <div *ngIf="mode" class="body-right">
          <agm-map
            *ngIf="searchResult.length > 0"
            [zoom]="13"
            [latitude]="searchResult[scrolledObject - 1]['latitude']"
            [longitude]="searchResult[scrolledObject - 1]['longitude']"
          >
            <agm-marker
              *ngFor="let item of searchResult; let i = index"
              [latitude]="item['latitude']"
              [longitude]="item['longitude']"
              [iconUrl]="i != scrolledObject - 1 ? '/assets/icons/marker.svg' : '/assets/icons/marker-active.svg'"
            >
              <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
                <ng-template>
                  <div class="info-window-content">
                    <div class="info-head">
                      <img src="{{ apiUrl }}/company/logo?company_id={{ item['company_id'] }}" alt="" />
                      <div class="info-company">
                        <h4 class="heading-4">{{ item['title'] }}</h4>
                        <p class="paragraph-small-lightened">{{ item['industry_title'] }}</p>
                      </div>
                    </div>
                    <div class="info-rating">
                      <bar-rating [rate]="item['rating']" [readOnly]="true" [max]="5"> </bar-rating>
                      <p class="paragraph-small-lightened">{{ item['comments_count'] }} {{ 'reviews' | translate }}</p>
                    </div>
                    <div class="info-location">
                      <img src="assets/icons/Location.svg" alt="" />
                      <p class="paragraph-regular">{{ item['city'] }}, {{ item['street'] }}</p>
                    </div>
                  </div>
                </ng-template>
              </agm-snazzy-info-window>
            </agm-marker>
          </agm-map>
          <agm-map *ngIf="searchResult.length == 0" [latitude]="47.00016" [longitude]="8.01427"> </agm-map>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-popular-content [enableBackground]="true"></app-popular-content>
<app-recommended-content [enableBackground]="true"></app-recommended-content> -->
