@import "../../../variables.scss";
.search-result {
    .top-container {
        display: flex;
        justify-content: center;
        background-color: $color-light-gray;
    
        .top-content-container {
            width: 1280px;
    
            .top-content {
                padding: 24px 55px;
    
                .heading-content {
    
                    .heading-text {
                        h4 {
                            font-weight: normal;
                            margin-top: 16px;
                            margin-bottom: 32px;
                        }
                    }
                }
            }
        }
    }
    
    .container-filters {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $color-light-gray;
        position: -webkit-sticky; /* Safari */
        position: sticky;
        background: white;
        z-index: 2;
        top: 0;
        .content-container {
            width: 1280px;
            .content {
                height: 68px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 55px 0 55px;

                .left-filters {
                    display: flex;
                    align-items: center;
                    .filter {
                        display: flex;
                        align-items: center;
                        margin-right: 28px;
                        position: relative;
                        cursor: pointer;

                        .arrow-icon {
                            margin-left: 8px;
                        }
                    }
                    .mobile-filter {
                        display: none;
                    }
                }
                .right-filters {
                    display: flex;
                    align-items: center;
                    span {
                        padding-right: 8px;
                    }
                }
            }
        }
    }

    .container-body {
        display: flex;
        justify-content: center;

        .content-container {
            width: 1280px;
            .content {
                padding: 0 55px 0 55px;
                display: flex;

                .body-left {
                    display: flex;
                    flex-direction: column;
                    padding-top: 32px;
                    max-width: 570px;

                    .search-empty {
                        width: 570px;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        height: 100%;

                        .loading {
                            display: flex;
                            justify-content: center;
                            padding-top: 10em;
                            align-items: flex-start;
                            height: 100%;
                        }

                        h2 {
                            margin-top: 32px;
                        }
                        p {
                            margin-top: 16px;
                        }
                    }
                    
                    .item-result-full {
                        border-bottom: 1px solid $color-light-gray;
                        margin-bottom: 64px;
                    }
                    .item-result {
                        display: flex;
                        flex-direction: column;
                        border: 1px solid #F5F5F5;
                        box-sizing: border-box;
                        box-shadow: 0px 1px 2px rgba(10, 55, 112, 0.05);
                        border-radius: 3px;
                        margin-bottom: 24px;

                        .card {
                            min-width: 570px;
                            padding: 24px 26px 0 24px;
                        }
                        .mode {

                            .mode-full {
                                padding-left: 32px;
                            }

                            display: flex;
                            .head {
                                display: flex;
                                justify-content: space-between;
                                margin-bottom: 24px;
                                
                                .title-container {
                                    display: flex;
                                    img {
                                        width: 56px;
                                        height: 56px;
                                        border-radius: 33px;
                                        cursor: pointer;
                                    }
                                    .title-info {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        margin-left: 16px;
                                        cursor: pointer;
                                    }
                                }
                                .raiting-container {
                                    display: flex;
                                    align-items: center;
                                    .rating-info {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        bar-rating {
                                            margin-top: -8px;
                                        }
                                        p {
                                            margin-top: -15px;
                                            text-align: right;
                                            width: 100%;
                                            padding-top: 8px;
                                            padding-right: 6px;
                                        }
                                    }
                                    .favorites {
                                        cursor: pointer;
                                        display: flex;
                                        width: 48px;
                                        height: 48px;
                                        justify-content: center;
                                        align-items: center;
                                        margin-left: 24px;

                                        &:hover {
                                          background-color: $color-light-gray;
                                          border-radius: 50%;
                                        }
                                    }
                                }
                            }
    
                            .images {
    
                            }
                            .body-result {
                                display: flex;
                                flex-direction: column;
                                margin-bottom: 24px;

                                .info-container {
                                    display: flex;
                                    align-items: center;
                                    margin-top: 16px;
                                    border-bottom: 1px solid $color-light-gray;
                                    padding-bottom: 16px;
    
                                    img {
                                        margin-right: 10px;
                                    }
                                }
                                .info-container-first {
                                    margin-top: 28px;
                                }
    
                                .description {
                                    margin-top: 24px;
                                }
                                .booking-container {
                                    margin-top: 24px;
                                    .link-more {
                                        padding-top: 16px;
    
                                        a {
                                            font-size: 16px;
                                            line-height: 24px;
                                        }
                                        
                                    }
    
                                    .booking-items {
    
                                        .booking-item {
                                            display: flex;
                                            justify-content: space-between;
                                            padding: 16px 0;
                                            border-bottom: 1px solid $color-light-gray;
    
                                            .left-container {
                                                display: flex;
                                                flex-direction: column;
    
                                                .booking-pricing {
                                                    display: flex;
                                                }
                                            }
                                            .right-container {
                                                display: flex;
                                                align-items: center;
                                                
                                                p {
                                                    margin-right: 16px;
                                                }
                                            }
                                        }
                                    }

                                    .classes-content {
                                        display: flex;
                                        flex-wrap: wrap;
                                        width: 100%;
            
                                        app-date-picker {
                                            width: 100%;
                                        }
            
                                        .classes-container-items {
                                            width: 100%;
                                            .show-all-categories {
                                                display: flex;
                                                justify-content: center;
                                                align-items: center;
                                                margin-top: 16px;
                                                margin-bottom: 32px;
                                                a {
                                                    font-size: 16px;
                                                    line-height: 24px;
                                                    font-weight: 600;
                                                    white-space: nowrap;
                                                    padding: 0px 16px;
                                                }
                                                .line {
                                                    width: 100%;
                                                    border-top: 1px solid $color-brand-blue-trans-35;
                                                }
                                            }
                                            .class-item {
                                                display: flex;
                                                justify-content: space-between;
                                                width: 100%;
                                                padding: 16px 0;
                                                border-bottom: 1px solid $color-light-gray;
                                                .class-left {
                                                    width: 100%;
                                                    display: flex;
                                                    p {
                                                        width: 100px;
                                                    }
                                                    .time-info {
                                                        display: flex;
                                                        align-items: center;
                                                        margin-left: 48px;
        
                                                        img {
                                                            margin-right: 8px;
                                                        }
                                                    }
                                                    .info {
                                                        display: flex;
                                                        align-items: center;
                                                        .master-info {
                                                            display: flex;
                                                            align-items: center;
                                                            min-width: 175px;
                                                            img {
                                                                width: 24px;
                                                                height: 24px;
                                                                margin-right: 8px;
                                                                border-radius: 50px;
                                                            }
                                                        }
                                                       
                                                    }
                                                }
                                                .class-right {
                                                    display: flex;
                                                    align-items: center; 
            
                                                    p {
                                                        margin-right: 16px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            .rating-info-mobile {
                                display: none;
                            }
                        }
                        
                    }
                }
                .body-right {
                    width: 100%;
                    position: -webkit-sticky; /* Safari */
                    position: sticky;
                    top: 68px;
                    height: 100vh;
                    padding-left: 30px;
                    margin-top: 32px;
                    agm-map {
                        height: calc(100vh - 25px);

                        .info-window-content {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            .info-head {
                                display: flex;
                                width: 100%;
                                img {
                                    height: 40px;
                                    width: 40px;
                                    border-radius: 3px;
                                }
                                .info-company {
                                    display: flex;
                                    flex-direction: column;
                                    margin-left: 16px;

                                    h4 {
                                        line-height: 22px;
                                    }
                                }
                              
                            }
                            .info-rating {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                // padding-bottom: 16px;
                                border-bottom: 1px solid $color-light-gray;;

                                // p {
                                //     margin-left: 16px;
                                // }
                            }
                            .info-location {
                                display: flex;
                                margin-top: 15px;
                                p {
                                    margin-left: 10px;
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1024px) {
    .search-result {
        .mobile-open-filter {
            position: fixed;
            background: white;
            width: 100%;
            height: calc(100vh - 140px);
            z-index: 1;
            display: flex;
            top: 140px;
            flex-direction: column;
            justify-content: space-between;
            padding: 16px 24px;

            .body-container {
                display: flex;
                flex-direction: column;
                overflow: auto;
                height: 100%;
                .check-filter-menu {
                    background: #FFFFFF;
                    width: 100%;
                    .filter-menu-item {
                        min-height: 51px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        span {
                            padding-left: 16px;
                        }
                        img {
                            margin-right: 18px;
                            transform: rotate(-90deg);
                        }
                        .rating-filter-item {
                            display: flex;
                            align-items: center;
                        }
                    }
                    
                    .filter-menu-item:hover {
                        background: #F4F8FC;
                    }
                    .filter-menu-item-border {
                        border-bottom: 1px solid $color-light-gray;
                    }
                    .rating-items {
                        height: 255px !important;
                    }
                }
                .category-filter {
                    display: flex;
                    justify-content: space-between;
                    padding-bottom: 12px;
                    padding-top: 12px;
                    border-bottom: 1px solid #F5F5F5;

                    img {
                        transform: rotate(-90deg);
                    }
                }

                .mobile-filter-section {
                    display: flex;
                    flex-direction: column;
                    margin-top: 24px;
                    .mobile-filter-section-head {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }
                    .location-body {
                     
                        .filter-location-mobile {
                            display: flex;
                            position: relative;
                            justify-content: space-between;
                            background: #F2F5F8;
                            height: 48px;
                            align-items: center;
                            border-radius: 3px;
                            margin-top: 8px;
                            span {
                                margin-left: 16px;
                            }
                            img {
                                margin-right: 16px;
                            }
                            .filter-menu-mobile {
                                position: absolute;
                                top: 55px;
                                width: 100%;
                                left: 0;
                                background: #FFFFFF;
                                border-radius: 3px;
                               
                                z-index: 20;
                            
                                .filter-body {
                                    max-height: 400px;
                                    overflow: auto;
                                }
                            
                                
                            
                                .filter-menu-item {
                                    min-height: 51px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: space-between;
                                    span {
                                        padding-left: 16px;
                                    }
                                    img {
                                        margin-right: 18px;
                                        transform: rotate(-90deg);
                                    }
                            
                                    .checkbox-container {
                                        margin-left: 15px;
                            
                                        
                                    }
                                    .rating-filter-item {
                                        display: flex;
                                        align-items: center;
                                    }
                                }
                                
                                .filter-menu-item:hover {
                                    background: #F4F8FC;
                                }
                                .filter-menu-item-border {
                                    border-bottom: 1px solid $color-light-gray;
                                }
                                .rating-filter-menu {
                                    left: 0 !important;
                                }
                                .check-filter-menu {
                                    position: absolute;
                                    background: #FFFFFF;
                                    z-index: 25;
                                    width: 280px;
                                    top: 0;
                                    left: 200px;
                                   
                                    border-radius: 3px;
                                    box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
                            
                                    .filter-items {
                                        height: 380px;
                                        overflow: auto;
                                    }
                                    .rating-items {
                                        height: 255px !important;
                                    }
                                }
                                .filter-iputs {
                                    height: 60px;
                                    display: flex;
                                    justify-content: space-between;
                                    padding: 0 16px;
                                    align-items: center;
                                    border-top: 1px solid #F5F5F5;
                                    button {
                                        height: fit-content;
                                    }
                                    span {
                                        font-size: 14px;
                                        line-height: 21px;
                                        color: #3E3E3E;
                                        opacity: 0.65;
                                        font-weight: 600;
                                    }
                                    span:hover {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                        
                    }
                }
            }
            .bottom-container {
                display: flex;
                width: 100%;
                button {
                    width: 100%;
                }
            }
        }
        .top-container {
            position: relative;
            display: flex;
            justify-content: center;
            display: none;
            .background-fake {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $color-light-gray;
                z-index: -2;
            }
        
            .top-content-container {
                width: 1280px;
                position: relative;
        
                .top-content {
                    padding: 24px 24px;
        
                    .heading-content {
        
                        .heading-text {
                            h4 {
                                font-weight: normal;
                                margin-top: 16px;
                                margin-bottom: 32px;
                            }
                        }
                    }
                }
            }
        }
        
        .container-filters {
            top: 72px;
            .content-container {
                width: 1280px;
                .content {
                    padding: 0 24px 0 24px;
    
                    .left-filters {
                        .filter {
                            display: none;
                        }
                        .mobile-filter {
                            display: block;
                            cursor: pointer;

                           .mob-filter-head {
                               display: flex;

                               h2 {
                                   margin-left: 30px;
                               }
                           }
                        }
                       
                    }
                    
                }
               
            }
        }
    
        .container-body {
            display: flex;
            justify-content: center;
    
            .content-container {
                width: 1280px;
                .content {
                    padding: 0 24px 0 24px;
                    display: flex;
    
                    .body-left {
                        width: 100%;
                        max-width: 100%;
                        display: flex;
                        flex-direction: column;
                        padding-top: 32px;

                        .search-empty {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            text-align: center;

                            .loading {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                                padding-bottom: 10em;
                            }
    
                            h2 {
                                margin-top: 32px;
                            }
                            p {
                                margin-top: 16px;
                            }
                        }
                        
                        .item-result-full {
                            border-bottom: 1px solid $color-light-gray;
                            margin-bottom: 64px;
                        }
                        .item-result {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            
                            .mode {
                                width: 100%;
                                .card {
                                    width: 100%;
                                    min-width: 0px;
                                }
                                .mode-full {
                                    padding-left: 32px;
                                }
    
                                display: flex;
                                .head {
                                    display: flex;
                                    justify-content: space-between;
                                    margin-bottom: 24px;
                                    
                                    .title-container {
                                        display: flex;
                                        img {
                                            width: 48px;
                                            height: 48px;
                                        }
                                        .title-info {
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;
                                            margin-left: 16px;

                                            h2 {
                                                font-size: 20px;
                                                line-height: 24px;
                                                color: #3E3E3E;
                                            }
                                            p {
                                                font-size: 14px;
                                                line-height: 21px;
                                                color: rgba(62, 62, 62, 0.65);
                                            }
                                        }
                                    }
                                    .raiting-container {
                                        display: flex;
                                        align-items: center;
                                        .rating-info {
                                            display: none;
                                        }
                                       
                                        .favorites {
                                            cursor: pointer;
                                            display: flex;
                                            width: 48px;
                                            height: 48px;
                                            justify-content: center;
                                            align-items: center;
                                            margin-left: 24px;
    
                                            &:hover {
                                              background-color: $color-light-gray;
                                              border-radius: 50%;
                                            }
                                        }
                                    }
                                }
        
                                .images {
                                    width: 100%;

                                    img {
                                        width: 100%;
                                    }
                                }
                                .body-result {
                                    display: flex;
                                    flex-direction: column;
                                    margin-bottom: 64px;
    
                                    .info-container {
                                        display: flex;
                                        align-items: center;
                                        margin-top: 16px;
                                        border-bottom: 1px solid $color-light-gray;
                                        padding-bottom: 16px;
        
                                        img {
                                            margin-right: 10px;
                                        }
                                    }
                                    .info-container-first {
                                        margin-top: 28px;
                                    }
        
                                    .description {
                                        margin-top: 24px;
                                    }
                                    .booking-container {
                                        margin-top: 24px;
                                        .link-more {
                                            padding-top: 16px;
        
                                            a {
                                                font-size: 16px;
                                                line-height: 24px;
                                            }
                                            
                                        }
        
                                        .booking-items {
        
                                            .booking-item {
                                                display: flex;
                                                justify-content: space-between;
                                                padding: 16px 0;
                                                border-bottom: 1px solid $color-light-gray;
        
                                                .left-container {
                                                    display: flex;
                                                    flex-direction: column;
        
                                                    .booking-pricing {
                                                        display: flex;
                                                    }
                                                }

                                                .right-container {
                                                    display: flex;
                                                    flex-direction: column-reverse;
                                                    align-items: flex-end;
                                                    
                                                    p {
                                                     margin: 0;
                                                     margin-top: 8px;
                                                    }
                                                }
                                            }
                                        }
                                        .classes-content {
                                            display: flex;
                                            flex-wrap: wrap;
                                            width: 100%;
                
                                            app-date-picker {
                                                width: 100%;
                                            }
                
                                            .classes-container-items {
                                                width: 100%;
                                                .show-all-categories {
                                                    display: flex;
                                                    justify-content: center;
                                                    align-items: center;
                                                    margin-top: 16px;
                                                    margin-bottom: 32px;
                                                    a {
                                                        font-size: 16px;
                                                        line-height: 24px;
                                                        font-weight: 600;
                                                        white-space: nowrap;
                                                        padding: 0px 16px;
                                                    }
                                                    .line {
                                                        width: 100%;
                                                        border-top: 1px solid $color-brand-blue-trans-35;
                                                    }
                                                }
                                                .class-item {
                                                    display: flex;
                                                    justify-content: space-between;
                                                    width: 100%;
                                                    padding: 16px 0;
                                                    border-bottom: 1px solid $color-light-gray;
                                                    .class-left {
                                                        width: 100%;
                                                        .info {
                                                            display: flex;
                                                            align-items: center;
                                                            .master-info {
                                                                display: flex;
                                                                align-items: center;
                                                                min-width: 175px;
                                                                img {
                                                                    width: 24px;
                                                                    height: 24px;
                                                                    margin-right: 8px;
                                                                    border-radius: 50px;
                                                                }
                                                            }
                                                            .time-info {
                                                                display: flex;
                                                                align-items: center;
                                                                margin-left: 48px;
                
                                                                img {
                                                                    margin-right: 8px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    .class-right {
                                                        display: flex;
                                                        align-items: center; 
                
                                                        p {
                                                            margin-right: 16px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .rating-info-mobile {
                                    display: flex;
                                    margin-top: -10px;
                                    bar-rating {
                                        margin-top: -16px;
                                    }
                                    p {
                                        padding-left: 16px;
                                    }
                                }
                            }
                        }
                    }
                    .body-right {
                        width: 100%;
                        position: -webkit-sticky; /* Safari */
                        position: sticky;
                        top: 68px;
                        height: 100vh;
                        padding-left: 0;
                        padding-top: 16px;
                        agm-map {
                            height: calc(100vh - 99px);
                        }
                    }
                }
            }
        }
    }
}

.rating-menu {
    left: 0 !important;
}
.filter-menu {
    position: absolute;
    top: 40px;
    width: 200px;
    background: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);
    z-index: 20;

    .filter-body {
        max-height: 400px;
        overflow: auto;
    }

    

    .filter-menu-item {
        min-height: 51px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
            padding-left: 16px;
        }
        img {
            margin-right: 18px;
            transform: rotate(-90deg);
        }

        .checkbox-container {
            margin-left: 15px;

            
        }
        .rating-filter-item {
            display: flex;
            align-items: center;
        }
    }
    
    .filter-menu-item:hover {
        background: #F4F8FC;
    }
    .filter-menu-item-border {
        border-bottom: 1px solid $color-light-gray;
    }
    .rating-filter-menu {
        left: 0 !important;
    }
    .check-filter-menu {
        position: absolute;
        background: #FFFFFF;
        z-index: 25;
        width: 280px;
        top: 0;
        left: 200px;
       
        border-radius: 3px;
        box-shadow: 0px 1px 3px rgba(10, 55, 112, 0.2);

        .filter-items {
            height: 380px;
            overflow: auto;
        }
        .rating-items {
            height: 255px !important;
        }
    }
    .filter-iputs {
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;
        border-top: 1px solid #F5F5F5;
        button {
            height: fit-content;
        }
        span {
            font-size: 14px;
            line-height: 21px;
            color: #3E3E3E;
            opacity: 0.65;
            font-weight: 600;
        }
        span:hover {
            opacity: 1;
        }
    }
}
