@import "../../../variables.scss";

.typography-styles {
    display: flex;

    div {
        margin-left: 30px;
        margin-top: 30px;
    }
}

.colors {
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 550px;
    flex-wrap: wrap;

    div {
        width: 100px;
        height: 100px;
        margin-top: 10px;
        border-radius: 3px;
    }
    .div-blue {
        background-color: $color-brand-blue;
    }
    .div-green {
        background-color: $color-brand-green;
    }
    .div-red {
        background-color: $color-warn-red;
    }
    .div-yellow {
        background-color: $color-yellow;
    }
    .div-black {
        background-color: $color-text-black;
    }
    .div-bg-blue-dk {
        background-color: $color-bg-blue-dk;
    }
    .div-bg-blue-lt {
        background-color: $color-bg-blue-lt;
    }
    .div-icon-gray {
        background-color: $color-icon-gray;
    }
    .div-light-gray {
        background-color: $color-light-gray;
    }
    .div-white {
        background-color: $color-pure-white;
        border: solid 1px #F5F5F5;
    }
}

.buttons {
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;

    .buttons-block {
        display: flex;
     

        .buttons-container {
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }
        
        button {
            margin-bottom: 10px;
        }
    }
}

.chackboxes {
    margin-left: 30px;
    margin-top: 30px;
}
.inputs {
    margin-left: 30px;
    margin-top: 30px;
    width: 400px;

    .input-margin {
        margin-bottom: 10px;
    }
}

.select-container {
    margin-left: 30px;
    margin-top: 30px;
    width: 300px;
}