
<div class="select-container">
    <app-select 
    [(ngModel)]="test"
    [data]="testSelectData"
    [mode]="'normal'"
    >
    </app-select>
    {{test}}
</div>

<div class="select-container">
    <app-select 
    [(ngModel)]="test2"
    [data]="countries"
    [mode]="'countries'"
    >
    </app-select>
    {{test2}}
</div>

<div class="typography-styles">
    <div>
        <h1 class="heading-1">Heading 1</h1>
        <h2 class="heading-2">Heading 2</h2>
        <h3 class="heading-3">Heading 3</h3>
        <h4 class="heading-4">Heading 4</h4>
        <h4 class="heading-5">Heading 5</h4>
        <h5 class="heading-6">Heading 6</h5>
      </div>
      <br>
      <div>
        <p class="paragraph-large">Paragraph Large</p>
        <br>
        <p class="paragraph-regular">Paragraph Regular</p>
        <p class="paragraph-regular-lightened">Paragraph Regular Lightened</p>
        <p class="paragraph-regular-accent">Paragraph Regular Accent</p>
        <p class="paragraph-regular-accent-lightened">Paragraph Regular Accent Lightened</p>
        <br>
        <p class="paragraph-small">Paragraph Small</p>
        <p class="paragraph-small-lightened">Paragraph Small Lightened</p>
        <p class="paragraph-small-accent">Paragraph Small Accent</p>
        <p class="paragraph-small-accent-lightened">Paragraph Small Accent Lightened</p>
        <br>
        <p class="paragraph-extra-small">Paragraph Extra Small</p>
        <p class="paragraph-extra-small-lightened">Paragraph Extra Small Lightened</p>
        <p class="paragraph-extra-small-accent">Paragraph Extra Small Accent</p>
        <p class="paragraph-extra-small-accent-lightened">Paragraph Extra Small Accent Lightened</p>
      </div>
</div>

<div class="colors"> 
  <div class="div-blue"></div>
  <div class="div-green"></div>
  <div class="div-red"></div>
  <div class="div-yellow"></div>
  <div class="div-black"></div>
  <div class="div-bg-blue-dk"></div>
  <div class="div-bg-blue-lt"></div>
  <div class="div-icon-gray"></div>
  <div class="div-light-gray"></div>
  <div class="div-white"></div>
</div>


<div class="chackboxes">
    <div class="checkbox-container">
        <div class="checkbox">
            <input type="checkbox" id="checkbox" />
            <label for="checkbox" class="icon-success icon-small icon-left"></label>
        </div>
        <label for="checkbox" class="paragraph-small">Включить</label>
    </div>
    <div class="checkbox-container">
        <div class="checkbox checkbox-regular">
            <input type="checkbox" id="checkbox-regular" />
            <label for="checkbox-regular" class="icon-success icon-small icon-left"></label>
        </div>
        <label for="checkbox-regular" class="paragraph-regular">Включить</label>
    </div>
    <div class="radio-container">
        <div class="radio">
            <input name="radio" type="radio" id="radio" />
            <label for="radio"></label>
        </div>
        <span class="paragraph-small">Включить</span>
    </div>
    <div class="radio-container">
        <div class="radio">
            <input name="radio" type="radio" id="radio1" />
            <label for="radio1"></label>
        </div>
        <span class="paragraph-small">Включить</span>
    </div>
    <div class="radio-container">
        <div class="radio radio-regular">
            <input name="radio1" type="radio" id="radio2" />
            <label for="radio2"></label>
        </div>
        <span class="paragraph-regular">Включить</span>
    </div>
    <div class="radio-container">
        <div class="radio radio-regular">
            <input name="radio1" type="radio" id="radio3" />
            <label for="radio3"></label>
        </div>
        <span class="paragraph-regular">Включить</span>
    </div>
</div>

<div class="inputs">
    <div class="input-margin">
        <div class="input-icon-container">
            <div class="icon-input icon-edit icon-left"></div>
            <input class="input" type="text" placeholder="Input" />
        </div>
    </div>
    
    <div class="input-margin">
        <div class="input-icon-container">
            <div class="icon-input  icon-input-error icon-edit icon-left"></div>
            <input class="input input-error" type="text" placeholder="Input" />
            <p class="paragraph-small error-lable">Parameter that you entered, unfortunately, is incorrect!</p>
        </div>
    </div>
    <div class="input-margin">
        <div class="input-icon-container">
            <div class="icon-input-small icon-edit icon-left"></div>
            <input class="input input-small" type="text" placeholder="Input" />
        </div>
    </div>
    
    <div class="input-margin">
        <div class="input-icon-container">
            <div class="icon-input-small  icon-input-error icon-edit icon-left"></div>
            <input class="input input-small input-error" type="text" placeholder="Input" />
        </div>
    </div>
    
    

    <div class="input-margin">
        <div class="input-icon">
            <div class="input-icon-container">
                <div class="icon-input icon-edit icon-left"></div>
                <input class="input" type="text" id="input-label" placeholder="Input" />
            </div>
            <div class="input-labels">
                <label class="paragraph-regular" for="input-label"> Caption </label>
            </div>
        </div>
    </div>
    
    <div class="input-margin">
        <div class="input-icon">
            <div class="input-icon-container">
                <div class="icon-input icon-edit icon-left"></div>
                <input class="input" type="text" id="input-label" placeholder="Input" />
            </div>
            <div class="input-labels">
                <label class="paragraph-regular" for="input-label"> Caption </label>
                <label class="paragraph-regular-lightened" for="input-label"> (необязательное поле) </label>
            </div>
        </div>
    </div>

    <div class="input-margin">
            <div class="input-icon">
                <div class="input-icon-container">
                    <div class="icon-input icon-edit icon-left"></div>
                    <input disabled class="input" type="text" id="input-label" placeholder="Input" />
                </div>
                <div class="input-labels">
                    <label class="paragraph-regular" for="input-label"> Caption </label>
                    <label class="paragraph-regular-lightened" for="input-label"> (необязательное поле) </label>
                </div>
            </div>
        </div>
    
</div>

<div class="buttons">
  <div class="buttons-block">
      <div class="buttons-container">
          <button class="btn-regular btn-def"> Active </button>
          <button disabled class="btn-regular btn-def"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-regular btn-smooth"> Active </button>
          <button disabled class="btn-regular btn-smooth"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-regular btn-ghost"> Active </button>
          <button disabled class="btn-regular btn-ghost"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-regular btn-positive"> Active </button>
          <button disabled class="btn-regular btn-positive"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-regular btn-warn"> Active </button>
          <button disabled class="btn-regular btn-warn"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-regular btn-attent"> Active </button>
          <button disabled class="btn-regular btn-attent"> Active </button>
      </div>
      <div class="buttons-container">
       <button class="btn-regular btn-attent icon-calendar icon-small icon-left"> Active </button>
       <button class="btn-regular btn-attent icon-calendar icon-small icon-right"> Active </button>
      </div>
  </div>
  <div class="buttons-block">
      <div class="buttons-container">
          <button class="btn-large btn-def"> Active </button>
          <button disabled class="btn-large btn-def"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-large btn-smooth"> Active </button>
          <button disabled class="btn-large btn-smooth"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-large btn-ghost"> Active </button>
          <button disabled class="btn-large btn-ghost"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-large btn-positive"> Active </button>
          <button disabled class="btn-large btn-positive"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-large btn-warn"> Active </button>
          <button disabled class="btn-large btn-warn"> Active </button>
      </div>
      <div class="buttons-container">
          <button class="btn-large btn-attent"> Active </button>
          <button disabled class="btn-large btn-attent"> Active </button>
      </div>
      <div class="buttons-container">
            <button class="btn-large btn-attent icon-edit icon-left"> Active </button>
            <button class="btn-large btn-attent icon-edit icon-right"> Active </button>
      </div>
  </div>
</div>



